[2021-09-07 23:10] JonathanYuan900 opened #2201 "Typo on new HTML lesssons"
### Description
`Links to pages op other websites` contains a typo

![image](https://user-images.githubusercontent.com/76597944/132421263-569177fc-c905-4030-9cef-aa74ea09ef76.png)

#### Steps to Reproduce
[link to lesson](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/links-and-images)
The typo lies in the `Absolute Links` paragraph

#### Expected Behaviour
`Links to

[2021-09-08 01:48] #2195 closed

[2021-09-08 09:19] OkomoJacob opened #2202 "Enable Dark Mode on Odin Project Website"
#### Description

I suppose enabling(Or providing for) Dark Mode/Theme in our homepage will enable users with all vision requirements to study at their own comfort zone with little vision strain.I  can help collaborate to implement that if incorporated in the project.
#### Acceptance Criteria:

#### Additional Information:

[2021-09-08 10:58] twalton83 commented on #2202
duplicate of #908

[2021-09-08 10:58] #2202 closed

[2021-09-08 13:36] martinsmars opened #2203 "Lack of margin after CodePen scripts"
### Description
Lack of margin after CodePen scripts.

### Lessons:

https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/working-with-text

https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/lists

https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/links-and-images

https://www.theodinproject.com/paths/foundations/courses

[2021-09-08 16:17] piotrnajda3000 opened #2204 "Foundation Flex exercises layout 2 - part of the solution is not marked as such"
I'll be glad to tackle this.

In [solution.css](https://github.com/TheOdinProject/css-exercises/blob/main/flex/07-flex-layout-2/solution/solution.css) file, there are two parts:

- CSS code extracted from `style.css` that we are supposed to work from
- the `/* Solution */` part.

The problem:

In solution.css, `.card`'s `width: 300px` which is part of the solution, is added to the `.card` in the p

[2021-09-08 17:14] Maheshkumar-novice opened #2205 "Rename needed for Developer Tools 2 - Foundations"
### Description
After the new HTML & CSS lessons' arrival, Developer Tools 2 needs to be Renamed to something suitable. Because Developer Tools lesson will be deleted with the old lessons.

[2021-09-09 19:41] JuanDCeballos opened #2209 "fix the title of a section."
### Description
If you are in the block and inline lesson (the last lesson at the CSS Foundations) and you press the button move to the next lesson you are directly move to introduction but, introduction to what?

#### Steps to Reproduce
1. you  must be in the lesson block and inline (the last lesson at the CSS Foundations).
2. You press the button move to the next lesson.
3. You are directly move

[2021-09-10 21:50] johnhitz203 opened #2211 "Small issue in Foundations GitHub Basics"
### Description
In the Add Another File section step 1 says “Create a new file in the git_test folder called hello_world.txt. In the terminal, type git status, and notice hello_world.txt is not staged.” I think it should say “…type git status, and notice hello_world.txt is not tracked.” The next 2 step are to make a change in README.md and check the status “…and notice that README.md is now shown

[2021-09-12 14:06] msespos opened #2215 "Set Complete button in lessons to immediately show Completed! when clicked and rename Incomplete state"
#### Description
(I know that this is not the first time this has been addressed, but I did not see a current issue for it. I hope that this issue is not too redundant.)

Currently when you click on the Complete button in a lesson, the immediate view of the button states Incomplete, which then only changes to Completed! when you have moved the cursor away from the button. I realize that the idea i

[2021-09-12 14:13] KevinMulhern commented on #2215
Note: Blocked until the design refresh starts

[2021-09-12 14:49] #2203 closed

[2021-09-12 14:50] Janak2401 commented on #2209
I'd like to fix this issue.

[2021-09-15 11:38] kashura commented on #2209
Fixed and merged, thanks @Janak2401 and @JuanDCeballos

[2021-09-15 11:38] #2209 closed

[2021-09-20 17:45] marvka opened #2244 "Feature: Hide student solutions by default with a toggle"
#### Description
As it is discouraged to peek at other students solutions while working on a project, it might be beneficial to hide student solutions in project pages behind a toggle, rather than showing them by default.
Hopefully, the small barrier of having to click a button first to show completed solutions provides further discouragement of using other peoples finished code to the users detri

[2021-09-20 21:49] rlmoser99 commented on #2244
Thanks for taking the time to submit this issue. I am curious on what other maintainers think about this idea, but I know that we are working on a few high priority things right now, so we have time to talk this idea through.

I like the intent behind this idea, but I think it would be cool to utilize a pop-up alert when someone (who has not submitted a project) clicks on **View Code** that says s

[2021-09-23 03:24] twalton83 opened #2247 "Ruby track Javascript course is out of order"
### Description

Per the below discussion, the order of lessons in the Ruby track appears to put React first over testing.
https://discord.com/channels/505093832157691914/690590001486102589/890432063231098880

#### Steps to Reproduce

Compare the Ruby track JS course and the Nodetrack JS course.

#### Expected Behaviour

The two courses are identical.

Example:
1. Log in
2. Visit a lesson page
3.

[2021-09-23 22:51] #2247 closed

[2021-09-30 12:59] #2107 closed

[2021-09-30 12:59] #2020 closed

[2021-09-30 13:00] #2019 closed

[2021-09-30 13:00] #2018 closed

[2021-10-07 09:28] superspike7 commented on #2244
can I work on this issue?

[2021-10-08 12:04] #2244 closed

[2021-10-11 22:07] KevinMulhern opened #2302 "Admin Flashes Interface in the Admin Dashboard"
### The Problem
We have the ability to create flash messages to inform all users about about changes and events happening on TOP. They look similar to the flash message that appears after logging in:

<img width="1601" alt="Screenshot 2021-10-11 at 22 48 33" src="https://user-images.githubusercontent.com/7963776/136859651-727ec736-5ef3-46d7-8536-6db9903cead6.png">

At the moment, to create an admi

[2021-10-15 00:18] ThorOnTheRocks commented on #1560
Would love to contribute on that

[2021-10-15 00:23] twalton83 commented on #1560
@ThorOnTheRocks As stated above, this issue is resolved.

[2021-10-18 07:38] Ektakanojia opened #2313 "Fixed the postion of menu bar"
Hello
I would like to contribute by fixing the ,position of menu bar it will be fixed throughout the scrolling of page, it will stick at top of  webpage when you scroll down.

[2021-10-18 11:49] #2313 closed, assigned to nobody

[2021-10-19 09:01] xari4808 opened #2314 "Update section description of "Asynchronous JavaScript and APIs""
The current description is set to "Asynchronous JavaScript" which is not descriptive enough compared to other section descriptions on the same webpage.

I suggest updating this description to "This section explores asynchronous JavaScript and event loops.  And how its useful in fetching data from web servers using APIs."

I am opening the issue for suggestions to improve the description before mak

[2021-10-20 05:50] #2314 closed

[2021-10-21 17:32] I3uckwheat opened #2317 "Images are not able to be opened in a larger view on curriculum pages"
### Description

Images are not clickable and the content can be hard to see. Especially on this page: https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/inspecting-html-and-css#testing-styles-in-the-inspector

#### Steps to Reproduce

1. Find a lesson page with an image: [eg](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/inspecting-html-and

[2021-10-23 21:58] wise-king-sullyman opened #2321 "Lesson preview tool lacks support for knowledge check links testing"
### Description

When putting lesson content into the preview tool knowledge check links cannot be adequately checked because the links are broken.

#### Steps to Reproduce

1. Go to [this preview](www.theodinproject.com/lessons/preview?content=IyMjIEludHJvZHVjdGlvbgpXaXRoIGFsbCB0aGUgY29uY2VwdHMgd2UgaGF2ZSBsZWFybmVkIGluIHRoaXMgc2VjdGlvbiwgeW91IGFyZSBtb3JlIHRoYW4gcmVhZHkgdG8gY3JlYXRlIHlvdXIgb3duIFJ

[2021-10-25 03:12] watkins656 opened #2322 "Change the "Complete" button to avoid confusion"
#### Description
The word complete can be a verb or a noun and the ambiguity can cause the user to confuse this button with a status indicator.  The user can easily assume this is a green or red indicator of the current status of the lesson, especially since it is only seen once the user has reached the end of the lesson.

#### Acceptance Criteria:
The button should make it clear that it should be

[2021-11-02 18:49] tiagoheras opened #2343 "Add effect to curriculum tiles on hover"
#### Description

The curriculum tiles in the section under the title "Learn everything you need to know to become a web developer" in the homepage don't have any noticeable on hover effect contrary of the rest of the clickables on the page. You can see the demonstration below:

https://user-images.githubusercontent.com/65797374/139926039-eb152c93-db6e-4fda-b492-0908a1337557.mp4

Adding some sort

[2021-11-02 19:04] twalton83 commented on #2343
Thanks for the suggestion, the team will hash it out to see if this is something we want to implement.

[2021-11-05 22:04] itspatrickchoi opened #2344 "Link to article in Fundamentals Part 3 doesn't work"
![image](https://user-images.githubusercontent.com/70690276/140583565-c4615411-e666-476a-a680-99920b733aba.png)
https://www.javascripttutorial.net/javascript-call-stack/ This link doesn't work anymore, Fundamentals Part 3

[2021-11-05 22:09] #2344 closed

[2021-11-08 11:37] #2322 closed

[2021-11-08 22:25] #2215 closed

[2021-11-09 02:47] ZachPoole opened #2356 "Section titles/links duplicating"
### Description
I'm on this page: https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/objects-and-object-constructors and when I navigate to my dashboard (or settings) and then hit the back button, the section titles/links are duplicated. I can repeat this multiple times to keep on doubling the section title/links.

#### Steps to Reproduce

1. Go to this link (mig

[2021-11-09 03:12] ZachPoole commented on #2356
Maybe something in these two functions:

1. https://github.com/TheOdinProject/theodinproject/blob/e9accb007280412a0029b4a8ad7b2598b5728d62/app/javascript/src/js/lessons.js#L102
2. https://github.com/TheOdinProject/theodinproject/blob/e9accb007280412a0029b4a8ad7b2598b5728d62/app/javascript/src/js/lessons.js#L129

[2021-11-09 03:16] twalton83 opened #2357 "Olivia's Success story redirects to bad domain"
### Description

See title.

#### Steps to Reproduce
Navigate to Success Stories and click her link.

#### Expected Behavior

 #### Additional Information
Should just be removed and/or updated with someone else.

[2021-11-09 14:19] CouchofTomato commented on #2356
@ZachPoole Thanks for bringing this to our attention. The JS is currently being reviewed for an overhaul so this should get caught then. I'll leave this open as a reminder though that we need to make sure this works as intended once the JS is updated.

[2021-11-09 21:58] KevinMulhern commented on #2357
Looks like that fix is on production now, thanks @twalton83

[2021-11-09 21:58] #2357 closed

[2021-11-10 03:07] wise-king-sullyman commented on #2356
Seems to me like this was fixed in TheOdinProject/curriculum#23042, does it seem like it works properly now to you @ZachPoole?

[2021-11-10 03:26] ZachPoole commented on #2356
Yep!

[2021-11-10 03:26] #2356 closed

[2021-11-11 00:10] thatblindgeye opened #2360 "Add proper styling to knowledge check links"
#### Description
The links for knowledge checks in lessons are difficult to recognize as links due to the link styling being removed, causing them to look like plain text. Proper styling needs to be added back.

#### Acceptance Criteria:
Based on the number of previously completed and current/ongoing PR's, lesson rewrites, and issues for the curriculum repo that added the `knowledge-check-link` cl

[2021-11-11 21:17] thomss23 commented on #2360
I am interested to do my first contribution during this weekend. Would it be ok to try to pick this up as i have finished the foundations course and 25% of js track from full stack js?

[2021-11-11 21:22] redelephant8 commented on #2360
I'm not entirely sure how this works as I'm new but I really agree with "thatblindguy" on this issue. I didn't realize that the questions were links until I accidentally clicked on one so I think this is an important thing to bring up

[2021-11-15 13:15] CouchofTomato opened #2375 "Update Javascript handling the Admin Flash"
#### Description
Some of the legacy Javascript can now be updated so we can eventually remove the depedency on jquery.

As part of this we need to update [this file](https://github.com/TheOdinProject/theodinproject/blob/main/app/javascript/src/js/admin_flash.js) to use a Stimulus Controller.

Suggest reading to help you: https://stimulus.hotwired.dev/ and https://www.betterstimulus.com/

#### Acce

[2021-11-15 14:16] CouchofTomato opened #2376 "Update Javascript handling the FAQ page"
#### Description
Some of the legacy Javascript can now be updated so we can eventually remove the depedency on jquery.

As part of this we need to update [this file](https://github.com/TheOdinProject/theodinproject/blob/main/app/javascript/src/js/faq.js) to use a Stimulus Controller.

Suggest reading to help you: https://stimulus.hotwired.dev/ and https://www.betterstimulus.com/

#### Acceptance C

[2021-11-15 14:18] CouchofTomato opened #2377 "Update Javascript handling the New User Form Validations"
#### Description
Some of the legacy Javascript can now be updated so we can eventually remove the depedency on jquery.

As part of this we need to update [this file](https://github.com/TheOdinProject/theodinproject/blob/main/app/javascript/src/js/formValidations.js) to use a Stimulus Controller.

Suggest reading to help you: https://stimulus.hotwired.dev/ and https://www.betterstimulus.com/

####

[2021-11-15 14:20] CouchofTomato opened #2378 "Update Javascript handling the Navbar interaction"
#### Description
Some of the legacy Javascript can now be updated so we can eventually remove the depedency on jquery.

As part of this we need to update [this file](https://github.com/TheOdinProject/theodinproject/blob/main/app/javascript/src/js/navbar.js) to use a Stimulus Controller.

Suggest reading to help you: https://stimulus.hotwired.dev/ and https://www.betterstimulus.com/

#### Acceptanc

[2021-11-15 14:22] CouchofTomato opened #2379 "Update Javascript handling the Odin Dropdown Menu"
#### Description
Some of the legacy Javascript can now be updated so we can eventually remove the depedency on jquery.

As part of this we need to update [this file](https://github.com/TheOdinProject/theodinproject/blob/main/app/javascript/src/js/odinDropDownMenu.js) to use a Stimulus Controller.

Suggest reading to help you: https://stimulus.hotwired.dev/ and https://www.betterstimulus.com/

####

[2021-11-15 14:23] CouchofTomato opened #2380 "Update Javascript handling the user settings page"
#### Description
Some of the legacy Javascript can now be updated so we can eventually remove the depedency on jquery.

As part of this we need to update [this file](https://github.com/TheOdinProject/theodinproject/blob/main/app/javascript/src/js/settings.js) to use a Stimulus Controller.

Suggest reading to help you: https://stimulus.hotwired.dev/ and https://www.betterstimulus.com/

#### Accepta

[2021-11-19 15:19] #1509 closed

[2021-11-23 06:36] Ishmam156 commented on #2360
If no one has started working on this yet, would like to be assigned to this :)

[2021-11-25 22:38] HiddenOgre28 commented on #2343
Hi! Could I take on this task?

[2021-12-01 12:10] thatblindgeye commented on #2360
@Ishmam156 Thanks for commenting, you've been assigned! Let us know if you have any questions :)

[2021-12-01 18:25] Conor-Developer opened #2414 "Adjust Minor Content Error"
### Description

The wording in "Additional Resources" states there are more methods than covered in the lesson (with the example of #one). However, the lesson does in-fact cover the "**#one?**" enumerable method. Students will learn this during the exercise and within the article you read as part of the assignment.

#### Steps to Reproduce

#### Expected Behavior

https://www.theodinproject.com/p

[2021-12-03 22:22] charliebarger opened #2417 "Make Progress Tiles Responsive"
### Description

This problem pertains to the tile that displays the section a user is in, as well as the percentage of that section the user has completed on hover.

The tile's sizing breaks when the default font size is changed in the browser.

![Screen Shot 2021-12-03 at 2 13 53 PM](https://user-images.githubusercontent.com/72449213/144678658-d76482e2-f7ff-4c62-a2fa-b2bc71c9f156.png)

![Screen

[2021-12-03 22:25] charliebarger commented on #2417
Can I take this one?

[2021-12-03 23:38] KevinMulhern commented on #2417
Thanks for reporting. It's all yours @charliebarger 💪

[2021-12-08 01:12] #2360 closed

[2021-12-23 02:28] xari4808 opened #2461 "Edge Case - Submitting a solution when there's already a solution set as private"
### Description

A user can submit their project solution and mark it as private. If solution marked public, there's no "Add Solution" button on the project page. If marked private, there's an "Add Solution" button. When URL's are entered, the "submit" button doesn't seem to do anything, and the console logs an error (Status code: 422).

#### Steps to Reproduce

1. Log in
2. On the dashboard, ther

[2021-12-23 21:22] CouchofTomato commented on #2461
Is this something you want to work on @xari4808

[2021-12-24 23:16] linkonsat commented on #2376
Could i take this up?

[2021-12-26 21:21] CouchofTomato commented on #2376
@linkonsat All yours

[2021-12-30 18:32] KevinMulhern commented on #2461
Thanks for reporting this @xari4808

Resolved with https://github.com/TheOdinProject/theodinproject/pull/2474

[2021-12-30 18:32] #2461 closed

[2022-01-03 00:17] ZachPoole commented on #1682
Hey just an issue I found with some contrast that sounds related.
The 404 page needs more contrast for the text.
For this specific page I went to https://www.theodinproject.com/dashboard

![image](https://user-images.githubusercontent.com/46611063/147893001-8fe15910-79ed-4b65-99d8-827fa4383e99.png)

[2022-01-03 18:41] linkonsat opened #2486 "RSpec test failure on main branch."
### Description
When running RSpec tests on the main branch one of the tests will consistently fail.
#### Steps to Reproduce
1. Run ```git fetch upstream``` to ensure the local branch is up to date with the remote main.
2. Run ```RSpec```
#### Expected Behavior
All tests should pass consistently upon running RSpec.
 #### Additional Information
Here is the full message from RSpec and the accompanyi

[2022-01-04 21:22] CouchofTomato commented on #2486
Hey @linkonsat

Thanks for reaching out.

I'm not getting any errors running the latest specs and CI is passing ok for us. Not sure on the issue but it's not a wider problem as far as I can see.

[2022-01-04 21:22] #2486 closed

[2022-01-10 20:20] ManonLef opened #2511 "Lesson Navigation sidemenu missing in safari"
In safari the "lesson navigation" is missing on the left side of the screen.
This happens in all sizes of the browser window. Here's a preview with safari on the left and chrome on the right:

![Screenshot 2022-01-09 at 20 10 12](https://user-images.githubusercontent.com/81025586/148833336-acd204a3-6422-4f75-8fb7-502fb1cc50a1.png)

I will share the inspector for both below.

Safari:
![Screenshot 2

[2022-01-13 15:05] scheals opened #2536 "About page has incomplete styling"
On [the About page](https://www.theodinproject.com/about) there are three elements that are white:

- `div .contribute`
- ` section .overview`
- an alternate logo of TOP

I sadly have no idea how to contribute to this project _yet_ :(

[2022-01-14 02:15] khunhour opened #2532 "links blend in with text when focused"
When links are focused, they blend in with the text which might cause a bit of a problem to pick up where you left off (coming back from a link you just went to). Here are some screenshots to demonstrate.
![Screenshot_20220113_205404_com.android.chrome.jpg](https://user-images.githubusercontent.com/12671115/149439956-b0ebb336-f8ed-41d9-a1bb-101043b47ba0.jpg)
![Screenshot_20220113_205414_com.androi

[2022-01-15 16:18] 01zulfi opened #2506 "Feature: Installations (appendix) page on the website"
## Description

A static webpage that has a list of all the lessons where The Odin Project invites the user to install a technology. A link to the webpage will be available on the footer of the website called "appendix".

## Suggested Implementation (outdated: look at this issue's comments for proposed implementation)

 - Put all the lesson links in a markdown file. At the bare minimum, it has lin

[2022-01-16 23:44] KevinMulhern commented on #2506
I love this idea @01zulfi ❤️

Just a couple of suggestions on the implementation.

* I think we can use an HTML page instead of markdown for this. Unless there's a really good reason to use markdown instead?
* We could add a new `installation_lesson` column to the lessons table which would hold a boolean value set to false by default. Then in the seeds, we would set any of the specific installatio

[2022-01-16 23:48] KevinMulhern commented on #2506
Another benefit and the biggest reason we should be using the database to handle this instead is if any of the installation lessons get removed or have their name changed etc the links on the appendix would change automatically to reflect whatever changes happen. Whereas if the links are hardcoded we would have to remember to manually update them on the appendix instead.

[2022-01-17 03:08] #2417 closed

[2022-01-17 06:29] ezrahnyanat commented on #2511
Hmm something to do with the JS here? https://github.com/TheOdinProject/theodinproject/blob/main/app/javascript/src/js/lessons.js#L81

Doesn't even look like the navigationElement markup is getting set on the page in Safari.

Quick google "safari innerhtml" shows some results where people have run into issues with .innerhtml on Safari.

Maybe .innerhtml needs to be replaced? https://marian-caikovs

[2022-01-17 15:49] KevinMulhern commented on #2511
Resolved by: https://github.com/TheOdinProject/theodinproject/pull/2512

[2022-01-17 15:49] #2511 closed

[2022-01-18 04:37] Cambuchi opened #2530 "Live preview links should not be accepted in JavaScript: (Testing Practice) solutions submissions."
### Description
In JavaScript: (Testing Practice) solutions submissions, it is possible to submit a valid live preview link. Client side form validation normally prevents this:

![image](https://user-images.githubusercontent.com/49548018/149871482-618da64e-c139-43f3-b0fa-e6c201da1ad9.png)

But since AJAX is available for access from the browser console it is relatively easy to spoof a PUT request

[2022-01-21 01:30] twalton83 commented on #908
A beta was released that differs from the final designs seen above in #2202.

[2022-01-21 02:01] drossano opened #2535 "Dark Mode Low Contrast Elements"
### Description
Certain elements in dark mode don't have enough contrast with their backgrounds:

- The `tracking-wide underline` class  on the [home page](https://www.theodinproject.com/)
 ![brave_2022-01-20_20-26-28](https://user-images.githubusercontent.com/72749793/150452051-c48e0081-0576-4519-b723-9803a9ec47a2.png)
- The `course-card-header__sub-title` class on the [Ruby ](https://www.theodin

[2022-01-21 02:01] drossano opened #2538 "Dark Mode Low Contrast Elements"
### Description
Certain elements in dark mode don't have enough contrast with their backgrounds:

- The `tracking-wide underline` class  on the [home page](https://www.theodinproject.com/)
 ![brave_2022-01-20_20-26-28](https://user-images.githubusercontent.com/72749793/150452051-c48e0081-0576-4519-b723-9803a9ec47a2.png)
- The `course-card-header__sub-title` class on the [Ruby ](https://www.theodin

[2022-01-21 02:19] Maheshkumar-novice opened #2537 "Color inconsistency throughout the site"
Different kind of pages in the dark mode follows a little different approach in colors. Some pages use `dark-bg-color` for the whole page, some use `dark-bg-color` for whole bg and `dark-bg-accent` for `containers` and some use reverse approach of the previous one. The images are attached for reference. I think it'll be good if we make the colors consistent throughout the site.

My suggestion is t

[2022-01-21 11:24] 01zulfi commented on #2506
@KevinMulhern Thanks for the feedback. I agree with your implementation and it would certainly make the appendix easily maintainable. Unfortunately, I'm not versed in databases as of yet, and I'm afraid I lack the knowledge of where and how to make the changes you propose.

[2022-01-21 20:41] dm-murphy opened #2540 "Dark Mode in Lesson Preview Tool makes font hard to read"
### Description
Dark mode stays active when you open Lesson Preview Tool. But the text inside the Write window pane is a bit challenging to read and work with.

#### Steps to Reproduce

1. Visit Lesson Preview Tool (https://www.theodinproject.com/lessons/preview)
2. Make sure Dark Mode is active
3. Start typing into the Write window pane and the font gets darker

#### Expected Behavior

1. Visit L

[2022-01-21 20:50] dm-murphy opened #2541 "Resizing in hamburger menu on desktop causes dialog popup"
### Description
If you click into the hamburger menu on desktop and then resize the browser window, a dialog popup appears. It is especially odd if you are in Dark Mode

#### Steps to Reproduce
1. Visit any page of theodinproject.com on a desktop browser
2. Size the browser window down until the hamburger menu appears
3. Click the hamburger menu
4. Resize the browser window wide again
5. A dialog

[2022-01-21 21:15] devcheckmo opened #2542 "Missing dark mode toggle switch in hamburger menu (Desktop)"
### Description
The dark mode toggle switch does not remain when one zooms in and a hamburger icon replaces the regular nav section.

#### Steps to Reproduce

1. Zoom in until the hamburger iron replaces the standard site nav.
2. Click on the hamburger icon.
3. There is no dark mode toggle switch.

#### Expected Behavior
Dark mode should be toggled at any zoom level.

 #### Additional Information

[2022-01-23 22:13] #2542 closed

[2022-01-23 22:14] CouchofTomato commented on #2542
This should be resolved now

[2022-01-23 22:14] #2541 closed

[2022-01-23 22:14] CouchofTomato commented on #2541
This should be resolved now

[2022-01-23 23:28] DevlinRocha commented on #2538
This is also present on the [FAQ page](https://www.theodinproject.com/faq), but only under the Code of Conduct question:

![cocOdin](https://user-images.githubusercontent.com/72491344/150702421-c252fc34-174d-47d2-89f7-7c89e719ae39.png)

[2022-01-23 23:33] DevlinRocha commented on #2537
I think this belongs here, these images on the [contributing page](https://www.theodinproject.com/contributing) need to have their background-colors changed:

![contOdin](https://user-images.githubusercontent.com/72491344/150702604-7ba7ad12-21d8-4ca3-b863-25b6c9a5660c.png)

[2022-01-23 23:43] DevlinRocha opened #2547 "Footer doesn't display correctly"
### Description
The footer at the very bottom of the [Contributing](https://www.theodinproject.com/contributing) and [Success Stories](https://www.theodinproject.com/success_stories) pages (and possibly some others) doesn't display correctly. I've tested this on Firefox and Chrome.

Image of footer:

![footerOdin](https://user-images.githubusercontent.com/72491344/150702888-ddbb31d4-38e6-4adb-b20e

[2022-01-24 02:17] KevinMulhern commented on #2547
Resolved https://github.com/TheOdinProject/theodinproject/pull/2548

[2022-01-24 02:17] #2547 closed

[2022-01-25 10:42] arito7 opened #2565 "Possibly misleading example"
![top](https://user-images.githubusercontent.com/64824933/150961458-b6aa5d6d-aa6b-4d19-bc07-611d9d7020e0.png)

### Description
In Full Stack JS > Intermediate HTML and CSS > Form Basics lesson
The example code under 'Checkboxes' uses radio buttons.

[Form Basics](https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/form-basics)

#### Expected Behavio

[2022-01-26 12:44] thatblindgeye opened #2567 "Lesson Content CSS: ordered lists render as unordered lists"
#### Description
A recent updated to the [lesson content CSS](https://github.com/TheOdinProject/theodinproject/blob/921c10767855dbd416ed18fb98aa807409c782c4/app/assets/stylesheets/components/lesson/lesson_content.scss) fixed some spacing/margin styling on lists. A declaration block to add back the correct list style for ordered lists was done so incorrectly, however.

#### Acceptance Criteria:
1.

[2022-01-26 12:55] DigitalKnight0 commented on #2567
@thatblindgeye can i work on this?

[2022-01-26 12:59] jmmarco commented on #2567
I would like to take this one if possible 🙂

[2022-01-26 13:34] #2378 closed

[2022-01-26 17:33] Maheshkumar-novice opened #2570 "The Odin Project title text color is not orange"
### Description
Color of **The Odin Project** text in the nav bar is black but it was orange before

#### Steps to Reproduce
1. Open the current site
2. In the top nav near the icon we will see the text **The Odin Project** in black color
3. Open this [link](https://web.archive.org/web/20210101152756/https://www.theodinproject.com/)
4. This shows the color in orange and this color is consistent wi

[2022-01-27 02:26] thatblindgeye commented on #2567
@jmmarco I will assign you, and thank you for attempting to take on the first website contribution!

For context for others who come by, this issue arose from https://github.com/TheOdinProject/curriculum/pull/23402

[2022-01-27 10:49] CouchofTomato commented on #2570
The colour change is intentional as part of the redesign but thanks for reaching out

[2022-01-27 10:49] #2570 closed

[2022-01-27 11:08] rahulshawdev opened #2573 "Intermediate HTML+CSS Section Card Text Is Overflowing"
![the-odin-project-issue](https://user-images.githubusercontent.com/82671048/151347027-2d5a956a-946e-4c86-bd4a-19ac1d3ae2ec.png)

### Description
Intermediate HTML+CSS Section Card Text Is Overflowing on mobile devices.

#### Steps to Reproduce
You have to change the height of that card

#### Expected Behavior
It should look good as rest of the cards below.

[2022-01-27 14:35] jmmarco commented on #2567
@thatblindgeye I got the fix ready but I'm currently finishing an upgrade to Mac OS Monterey (which is taking forever) as soon as it's done, I'll make the pull request.

[2022-01-27 18:20] desperatecareershifter opened #2731 "Steps on Step 3: Install and Enable Guest Additions on https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/prerequisites is in bullet form in browser"
![image](https://user-images.githubusercontent.com/98516435/151419818-2fca446a-d240-4063-8b8e-b60a7164ec70.png)

In the code/preview the steps are numbered but it's in bullet form on the website. This makes going back to previous steps a hassle. Also the text "Steps on Step 3: Install and Enable Guest Additions" itself appears on FireFox but not on Google Chrome.

[2022-01-28 05:43] ChargrilledChook opened #2574 "Asset pipeline deprecation warning when running tests"
I got an asset pipeline deprecation warning while running tests locally.

At a quick glance it seems to be coming from this spec:
`spec/components/user/avatar_component_spec.rb`

as this is the only place the file in the warning seems to show up.

### Steps to reproduce
running `bundle exec rspec spec/components/user/avatar_component_spec.rb`

should produce the following warning

[code]

[2022-01-28 19:10] nguyens20 commented on #2532
Can you describe what it means by focused? I'm having trouble reproducing this issue.

[2022-01-28 19:34] Flinner commented on #2532
hover your mouse?

[2022-01-28 19:41] iawong commented on #2532
Would it be sufficient to just change all link text to yellow so that when you hover, only the underline disappears?

[2022-01-28 19:44] hoad211 commented on #2538
Can I take this one?

[2022-01-28 22:39] jmmarco commented on #2567
Pull request #2575 ready for review 👍

[2022-01-29 01:22] khunhour commented on #2532
@nguyens20 focus refers to the pseudo class :focus in css. The css changes when when you click on it, but return to original when click else where.

@Flinner Yes, but in this case, with hover you'd probably know where you are in the paragraph so it might not be a problem

@iawong again, just to clarify, this is not a problem with hover, but a problem with when a link is focused (Clicked),but yeah

[2022-01-29 02:00] #2567 closed

[2022-01-29 04:44] DevlinRocha commented on #2573
A potential solution is adjusting the `width` and `max-width`. The minimum to avoid overflow (with the current wording) is 285px. It's currently set to 270px.

[2022-01-29 13:58] CouchofTomato commented on #2573
Hey. Thanks for raising this issue. We're currently in the middle of a redesign of some parts of the site and this will get picked up in that.

[2022-01-29 13:58] #2573 closed

[2022-01-29 19:07] 01zulfi opened #2580 "Add an installation_lesson column to the lessons table in the db"
related to #2506

### Task

Add an `installation_lesson` column to the lessons with a boolean value set to false by default

[2022-01-29 19:08] 01zulfi opened #2581 "Set the installation_lesson property of the installation lessons as true"
related to #2506

### PR Instruction:

Add the closes keyword in this issue's PR: "closes #XXXX". Replace the X's with this issue's id (2581)

### Task:

Navigate to the directory `db/fixtures/lessons/`.

Find these lessons in the seeds and set their `installation_lesson` property as `true`:

1. Installation Overview (already marked true)
2. Prerequisites (already marked true)
3. Text Editors (alr

[2022-01-29 19:08] 01zulfi opened #2582 "Style installation lessons appendix page"
related to #2506

### PR Instruction

Add this line somewhere in this issue's PR: "closes #XXXX". Replace the X's with this issue's id (2582)

### Task:

~~Create a new html file in app/views directory.~~
~~Add a webpage title and heading called Appendix.~~
~~Loop over the lessons and display titles of lesson with `installation_lesson` as true. Also add a link to the lesson.~~

Above tasks already

[2022-01-29 19:11] 01zulfi opened #2583 "Add an "appendix" link to the footer of the website"
related to #2506

### PR Instruction:

Add this in the PR description to automatically close this issue: "closes #XXXX" (where X's must be replaced with this issue's id i.e 2583)

### Task:

- Navigate to the file `app/views/shared/_footer.html.erb`
- Add a link called "Appendix" between the "Contribute" and "Terms of Use" links
- Make sure to follow the same syntax as the surrounding links
- Use

[2022-01-30 01:26] KevinMulhern commented on #2580
Hey @01zulfi, I have the db changes done: https://github.com/TheOdinProject/theodinproject/pull/2584

I set up a view and marked a couple of foundation lessons as installation lessons to make sure everything is hooked up properly:
 https://odin-feature-set-instal-oea8co.herokuapp.com/lessons/installation_lessons

[2022-01-30 17:33] jmmarco opened #2586 "Wiki page "Running The Odin Project Locally" displays incorrect ruby version"
### Description

Wiki page "[Running The Odin Project Locally](https://github.com/TheOdinProject/theodinproject/wiki/Running-The-Odin-Project-Locally)" contains an `rbenv` example code snippet that shows an incorrect ruby version under the section "[Installing Gems and Migrating the Database](https://github.com/TheOdinProject/theodinproject/wiki/Running-The-Odin-Project-Locally#installing-gems-and

[2022-01-31 01:08] I3uckwheat opened #2587 "Bug: Darkmode clicked links are difficult to see"
### Description

When middle clicking a link on a course page to open the lesson in a new tab, the text turns black and is difficult to read. This was identified in Firefox.

https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript

#### Steps to Reproduce

1. Navigate to: https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript
2. middle mouse click on an

[2022-01-31 05:58] Pratik-Karale opened #2588 "slight gramatical error in "form basic" chapter"
slight grammatical error in "checkboxes" section from "form basics" chapter of "intermediate html & css"
![image](https://user-images.githubusercontent.com/74715140/151745433-1b9c4633-09bb-49e6-9029-2b1ea4a90ad0.png)

line:
Checkboxes are similar to radio buttons in **that that** they allow users to choose from a set of predefined options.

probably the needed fix:
Checkboxes are similar to radio

[2022-01-31 07:34] jay4170 opened #2589 "Edit codepen links to an imgur"
### Description
on https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/css-functions there is a link that looks like it is supposed to take us to a codepen page. It instead takes us to an imgur link picture of the codepen logo

What steps need to be taken in order to reproduce this bug?

Example:
1. Log in
2. Visit a [https://www.theodinproject.com/

[2022-01-31 11:13] 01zulfi commented on #2580
@KevinMulhern Thanks for doing this :rocket:

Once this PR (#2584) is merged, I'll rewrite the other issues to account for these changes and have more detailed instructions for anyone to pick up.

[2022-01-31 15:52] #2580 closed

[2022-01-31 16:03] KevinMulhern commented on #2580
@01zulfi sounds good 😄 merged and ready to go 🚀

If you need/want me to help with anything else don't hesitate to reach out mate.

[2022-01-31 16:39] jmmarco commented on #2586
I suspect this might be an easy Wiki edit, however this might only be available to members only.

[2022-02-01 11:15] CouchofTomato commented on #2586
Thanks. I've updated it.

[2022-02-01 11:15] #2586 closed

[2022-02-01 13:03] StoicScript opened #2600 "Missing project submissions in new Intermediate HTML & CSS Module"
The Sign Up Form & Admin Console Projects are missing project submissions.
All other projects on TOP have project submissions and I think they're of great help for new students who need inspiration or to get unstuck.

https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/sign-up-form

https://www.theodinproject.com/paths/full-stack-javascript/courses/

[2022-02-01 13:56] leinierperez commented on #2587
Would like to tackle this

[2022-02-01 14:14] LeoKirasic commented on #2581
Hey, I'd like to take this on!

[2022-02-01 14:14] 01zulfi commented on #2581
@LeoKirasic Thanks :rocket:

[2022-02-01 14:22] JJJ4032002 commented on #2582
Can I take it ?

[2022-02-01 14:24] 01zulfi commented on #2582
@JJJ4032002 Yes, thank you! :rocket:

[2022-02-01 17:10] JJJ4032002 commented on #2582
@O1zulfi hi i tried running Odin locally and ran rspec in the command line. It says in the guide that all test should be green but several test are failing by shows F. Is it normal or am I doing something wrong.

[2022-02-01 17:16] 01zulfi commented on #2582
@JJJ4032002 Unfortunately, I'm unable to help with that. You should ask in the discord chat 😄

[2022-02-01 17:17] JJJ4032002 commented on #2582
Ok thanks

[2022-02-01 19:15] JJJ4032002 commented on #2582
@01zulfi Hi again it seems a very stupid question to ask but i have served the site locally but where to preview the changes that i have made. Thanks again

[2022-02-01 19:24] KevinMulhern commented on #2379
This was done with the new tailwind nav bar 😄

[2022-02-01 19:24] #2379 closed

[2022-02-01 19:27] KevinMulhern commented on #2587
We're in the middle of a major rewrite of the site's CSS and will be fixing this alongside it.

[2022-02-01 19:27] KevinMulhern commented on #2540
We're in the middle of a major rewrite of the site's CSS and will be fixing this alongside it.

[2022-02-01 19:28] KevinMulhern commented on #2537
We're in the middle of a major rewrite of the site's CSS and will be fixing this alongside it.

[2022-02-01 19:29] KevinMulhern commented on #2532
We're in the middle of a major rewrite of the site's CSS and will be fixing this alongside it.

[2022-02-01 19:36] KevinMulhern commented on #2536
Duplicate of https://github.com/TheOdinProject/theodinproject/issues/2537

[2022-02-01 19:36] #2536 closed

[2022-02-01 20:21] dm-murphy commented on #2540
Thanks Kevin, sounds good! Let me know if I can be of any help.

[2022-02-01 20:31] KevinMulhern commented on #2540
Will do and thanks for reporting this @dm-murphy, it's much appreciated  😄

[2022-02-01 21:42] KevinMulhern commented on #2530
Thanks for reporting, resolved with https://github.com/TheOdinProject/theodinproject/commit/cac3a9b2763a1605592e9d4ff8b41557713431a9

[2022-02-01 21:42] KevinMulhern commented on #2530
Thanks for reporting, resolved with https://github.com/TheOdinProject/theodinproject/commit/cac3a9b2763a1605592e9d4ff8b41557713431a9

[2022-02-01 21:42] #2530 closed

[2022-02-02 01:25] 01zulfi commented on #2582
@JJJ4032002 Thanks for asking. Definitely an oversight on my part by not linking in the issue.

After running the local server, you should be able to see this page at http://localhost:3000/lessons/installation_lessons

[2022-02-02 02:52] Maheshkumar-novice commented on #2537
Okay. All the best!

[2022-02-03 04:43] Ishmam156 commented on #2600
@thatblindgeye I was looking through the repo yesterday to get a sense of what could solve this and haven't run TOP locally yet. I believe a little change in the lesson fixtures might solve this.

For example, this is what it looks for a project that has the submission link:

[code]

And this is how it looks like for the intermediate HTML and CSS courses which don't have the view currently:
[code]

[2022-02-03 14:29] Ishmam156 commented on #2600
Since it wasn't much work and just wanted to test my own understanding, adding those two booleans made this appear and doesn't seem to have broken anything else in the local install of TOP.

<img width="1186" alt="Screen Shot 2022-02-03 at 8 27 15 PM" src="https://user-images.githubusercontent.com/64395142/152362157-4603aa7f-5903-4305-84de-4a624626bcb4.png">

[2022-02-03 14:56] thatblindgeye commented on #2600
Very nice! I'm going to assign you @Ishmam156 . Just make sure to follow any other steps for running locally (such as tests and whatnot) and feel free to make a PR when you're ready 🙂

[2022-02-03 23:37] #2581 closed

[2022-02-04 09:14] DigitalKnight0 commented on #2583
Can i work on this?

[2022-02-04 09:14] 01zulfi commented on #2583
@DigitalKnight0 Yes, thanks for taking this on 🚀

[2022-02-04 11:24] #2600 closed

[2022-02-04 11:32] #2583 closed

[2022-02-04 11:46] 01zulfi commented on #2582
resolved with #2599

[2022-02-04 11:46] #2582 closed

[2022-02-04 11:47] 01zulfi commented on #2506
Closing this now since all tasks have been completed :rocket:

[2022-02-04 11:47] #2506 closed

[2022-02-04 14:21] webdevphilh opened #2604 "wrong content in "/intermediate-html-and-css/lessons/css-functions""
### Description

The content in said file has the wrong link.
Instead of showing a codepen project it goes to a imgur image.
It can be found at the end of the "calc()" section, right before the "min()" section begins.

Link:
https://www.theodinproject.com/paths/full-stack-javascript/courses/intermediate-html-and-css/lessons/css-functions

Code:
<p>I encourage you to take a moment and edit the code

[2022-02-04 14:29] DigitalKnight0 commented on #2604
I assume it's the wrong `src` link being used in the lesson's markdown. The correct link should be
https://i.imgur.com/CYWhhis_d.webp?maxwidth=640&shape=thumb&fidelity=medium

[2022-02-04 20:53] LisandroFilloy opened #2605 "Visited link colors in dark mode"
### Description

Visited link colors of dark mode in the course overview turn black, lacking contrast with the background. It's nearly impossible to see them unless you hover them.

#### Steps to Reproduce

#### Expected Behavior

 #### Additional Information

[2022-02-05 08:14] DigitalKnight0 opened #2606 "Separate out View path from path selection"
#### Description

Currently, when a user is logged in, pressing the `view path` button will also switch their path entirely. So considering a scenario when they have to go back to, say foundations to review some past concept or to help someone with their query from a specific lesson, their path selection will change too
#### Acceptance Criteria:

There should be two buttons for every path, one `Vi

[2022-02-07 17:07] ZachBaird commented on #2343
![image](https://user-images.githubusercontent.com/30800863/152836647-e4f21769-3177-456e-ad38-6cb5a14e43c2.png)
How does this look for a hover effect?

[2022-02-07 22:56] thatblindgeye commented on #2532
Issue #2605 relates to this @KevinMulhern

[2022-02-07 22:58] thatblindgeye commented on #2605
Thank you for mentioning this. I'm going to close this since there's already an issue #2532  opened for the link color, but I've linked this issue in that one for visibility.

[2022-02-07 22:58] #2605 closed

[2022-02-07 23:00] thatblindgeye commented on #2606
To confirm, is the "select path" button you're referring to the one on the right side of the screenshot below?

![image](https://user-images.githubusercontent.com/70952936/152886544-bb10b151-beb6-463a-8f81-a87999022211.png)

[2022-02-08 01:20] DigitalKnight0 commented on #2606
@thatblindgeye Yes

[2022-02-08 01:48] KevinMulhern commented on #2606
Thanks for opening this issue @DigitalKnight0, I'm actuall working on implementing a redesign of this page so this is very good timing lol https://github.com/TheOdinProject/top-meta/issues/102

The card itself is clickable at the moment which brings the user to a path without selecting. But the only indication of that is a box-shadow and the cursor changes.

There is probably something more we cou

[2022-02-10 19:43] FrancisJTR7 opened #2623 "Implementation of "Previous Lesson" button"
--#### Description
--I believe there should be an implementation of a "Previous Lesson"  button on the lesson button group. As I have gone through this curriculum many times have I needed to go back and revisit previous material but to do so I've had to go through "View Course" and manually find where I needed to go. This to me is a problem because sometimes I'll just need to go back to one lesson

[2022-02-11 03:27] alamsameer opened #2624 "# curriculum-title not responsive"
### Description

The title of the * Intermediate HTML+CSS* section is coming out of the box in mobile

![IMG_20220211_085712.jpg](https://user-images.githubusercontent.com/84589782/153533299-dcb3f702-37e3-48c3-8e4d-873e4ab152d6.jpg)

[2022-02-11 12:45] CouchofTomato commented on #2624
Thanks @alamsameer

We are aware of this issue but the entire page is currently being rewritten to use tailwind and this will be addressed then.

[2022-02-11 12:45] #2624 closed

[2022-02-11 12:46] CouchofTomato commented on #2623
@KevinMulhern

Wasn't this discussed recently elsewhere? Was there a consensus on whether we would bring back the button?

[2022-02-11 12:53] 01zulfi commented on #2623
I'm fully onboard with adding a previous lesson button

[2022-02-12 00:27] KevinMulhern commented on #2623
Yeah, we'll be bringing it back. But we still need an easy and accessible way to return to the course. We're going to implement that as part of the refresh. Leave it with me 😄

[2022-02-12 06:24] ls-madhu opened #2627 "Navbar issue in dark mode."
### Description
Unnecessary margin and unequal padding on the navbar.

#### Screensot

![navbar_issue](https://user-images.githubusercontent.com/90919727/153699807-4815001e-2c95-49d2-aaad-b3f579d8cc7a.png)

#### Steps to Reproduce

1. Go to any path.
2. Visit any course page.
3. You can see the navbar.

[2022-02-12 15:04] Justin-Bento commented on #2627
Hey @01zulfi  I think I fixed the issue, in Firefox. I removed the spacing from the Nav added the spacing to the banner section, where should I upload the code? Sorry I am new to this.

![Screenshot from 2022-02-12 10-02-41](https://user-images.githubusercontent.com/44421842/153716488-67173360-b6f1-4c0a-8453-7bdde710aa9f.png)

[2022-02-12 15:58] KevinMulhern commented on #2627
I'm addressing this in a story I'm working on atm:

The margin was a temporary solution to get the new navbar in place until we could have a look at replacing the bootstrap container we use on every page. It looked fine on the light theme but I agree it doesn't work well with the dark theme.

To solve this, we'll be Including some top padding on a new container so it's consistent among all pages 😄

[2022-02-13 14:57] #2574 closed

[2022-02-14 01:03] Funk3 opened #2630 "Strange webpage behaviour on Chrome when restoring tabs"
### Description
Whenever I log into Linux (Ubuntu Budgie 21.10) or Mac (macOS 12 Monterey) from suspend, I will open up Chrome and if I restore a odin project page, the top buttons take up the entire page and I have to manually refresh.

#### Steps to Reproduce
Boot from suspend on Mac or Linux and restore tabs on Chrome.

#### Expected Behavior
Page should load as normal when restoring tabs.

###

[2022-02-14 16:05] crespire opened #2644 "Bug: Dark Mode Issue - Table Content Not Easily Visible"
![image](https://user-images.githubusercontent.com/36272822/153899705-206d9754-dcb2-4e7b-8e2e-78ef9844999e.png)

Using Odin Dark Mode, this table in the [Rails Active Record Associations lesson](https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/active-record-associations#source) is not readable.

[2022-02-14 23:15] haskar1 opened #2643 "Change global link hover color"
#### Description
Currently, the global link hover color is black. On mobile, after a link is clicked it stays black until you scroll the webpage. Whenever I click on a link in a lesson and finish reading the article, I come back to the TOP webpage and can’t remember where the link I clicked is (until I scroll up or down) because the black color blends in with surrounding text. Changing it to a mor

[2022-02-14 23:33] KevinMulhern commented on #2643
Duplicate of https://github.com/TheOdinProject/theodinproject/issues/2532

[2022-02-14 23:33] #2643 closed

[2022-02-15 12:03] KevinMulhern commented on #2630
Hey @Funk3, Thanks for reporting, it's much appreciated. We've pushed out a fix that should hopefully fix this 😄

[2022-02-15 12:03] #2630 closed

[2022-02-17 01:19] thatblindgeye opened #2647 "Course tile box shadow should not be white for dark mode"
#### Description

PR #2619 recently added a box shadow effect on hover to course tiles (when not logged in). While this works fine on light mode, in dark mode the color used for this box shadow is white. Box shadows should not be white in use cases such as this, and should remain as a dark color.

If the intent is to have the box shadow still stand out against the background, then the background b

[2022-02-17 01:19] thatblindgeye commented on #2343
Closing as a PR was merged for this issue.

[2022-02-17 01:19] #2343 closed

[2022-02-18 15:55] LeastAntelope opened #2650 "Dark mode grey text to dark mode dark blue? text"
#### Description
I am proposing to change how some of the text is displayed in dark mode. Currently some of the text shows up as grey, against a black background. This makes it a bit hard to read.  I was thinking maybe dark blue for these pieces of text instead.

#### Acceptance Criteria:
This feature would be accepted universally without any acceptance steps needed.

#### Additional Information:

[2022-02-18 22:44] KevinMulhern commented on #2650
If the fix can be limited to the [dark mode CSS file](https://github.com/TheOdinProject/theodinproject/blob/main/app/assets/stylesheets/dark-mode.css) I think this will be worth doing. Otherwise, if it requires a lot of changes across the app, it may conflict with the [UI overhaul](https://github.com/TheOdinProject/top-meta/projects/7) we are currently undertaking. We'll be completely redoing the

[2022-02-19 04:50] LeastAntelope commented on #2650
I believe it will be limited to a couple lines in a couple places in just the css. But I haven't looked at it yet.

[2022-02-21 17:27] LeastAntelope commented on #2650
I know exactly how to change the code to get it looking right I believe. that is to add this to the css file.

.profile-card__link,
.skill__sub-title {
  color: var(--dark-font-color);
}

However I'm having quite a bit of trouble getting the site to run locally.  I invite someone else that has the infrastructure already in place to add the code.  I'm going to stop trying to get that running for no

[2022-02-22 04:59] #2650 closed

[2022-02-23 14:00] eltonbautista opened #2664 "Bug - : Website: Extremely large icons"

[2022-02-23 15:57] dm-murphy commented on #2664
This issue has been transferred to the main site repo

[2022-02-23 20:04] xandora commented on #2664
I think this was supposed to be fixed in #2642 ?

[2022-02-23 21:39] KevinMulhern commented on #2664
Thanks for reporting @eltonbautista, and thanks for including the video, it is immensely helpful.

@xandora I think those changes might have only reduced the frequency of it unfortunately 😓

I believe the issue is that we are loading two stylesheets and one of them is being blocked,
* The first stylesheet is through the asset pipeline for our older sass and bootstrap CSS.
* The second is through w

[2022-02-23 23:11] eltonbautista commented on #2664
I just noticed that 2 parts of the I sent were commented out. I have updated the original post, my comments for "How to Reproduce" as well as "Expected Behavior" are now visible if that might help you guys out solving it.
Note: I've never experienced it when loading onto the site by clicking "next lesson" or just going directly to a lesson from the curriculum list. This bug only happens when I res

[2022-02-26 22:30] TruePadawan commented on #2647
_Use the same color for the box shadow in dark mode as is used in light mode_

I don't understand. The current color for the darkmode box shadow (which is the same as lightmode' box shadow) shouldn't be changed? Then that means we should be changing the background color instead or what?

[2022-02-27 20:34] thatblindgeye commented on #2647
@TruePadawan The dark mode box shadow should be the same color as the light mode box shadow (so the same shade of black). I should actually wait to see what @KevinMulhern has to say and whether this is something that should just be fixed in the Tailwind conversion (since this isn't a *major* issue).

[2022-02-28 06:39] linkonsat opened #2672 "Project submission with white space fails silently solution concept proposal."
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [x] I would like to be assigned this i

[2022-03-02 20:32] ZuriPL opened #2685 "Bug: In dark mode, the text in add and edit solution pop-up have white color on white background making them unreadable"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-03-05 02:19] dkurus opened #2694 "Bug: Embedded codepen in lesson not editable"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [] I woul

[2022-03-05 16:07] KevinMulhern commented on #2672
Hey @linkonsat, thanks for making this issue. We could trim whitespace instead of creating a flash. We use [yup](https://github.com/jquense/yup) to validate the submission form fields [here](https://github.com/TheOdinProject/theodinproject/blob/main/app/javascript/components/project-submissions/schemas/project-submission-schema.js). They have a [`trim()` function](https://github.com/jquense/yup#st

[2022-03-06 08:33] linkonsat commented on #2672
That looks perfect. I can take that up and make a PR with that change!

[2022-03-08 07:44] #2685 closed

[2022-03-08 07:45] KevinMulhern commented on #2672
I agree with adding a test case for it, that should catch any regressions in the future.

[2022-03-08 23:22] linkonsat commented on #2672
Sweet! I'll hop onto that then!

[2022-03-13 00:33] swaubhik commented on #2644
I would like to work with this issue.

[2022-03-13 12:17] swaubhik opened #2717 "Bug: lesson preview does not allow to write more than one alphabet"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [x] I wou

[2022-03-13 19:52] KevinMulhern commented on #2717
Thanks for reporting @swaubhik

We recently updated the react tabs dependency https://github.com/TheOdinProject/theodinproject/commit/5b9f5ebf3675d0056c8e33a4203d25caadef6868 it's likely related to that. This PR on the react tabs repo specifically https://github.com/reactjs/react-tabs/pull/448.

[2022-03-13 20:00] erasmorojastech opened #2718 "Bug: Bad display of content on iPad using Safari"
Complete the following REQUIRED checkboxes:

-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-03-13 23:20] KevinMulhern commented on #2718
We've tested this on 4 different iPads within the maintainer team @erasmorojastech, none of us can reproduce this issue 😅

Is there anything different about your setup which could potentially cause this?

[2022-03-14 00:44] erasmorojastech commented on #2718
Maybe I'm using an old version of safari and iOS. I'm using an iPad Mini 1st gen, iOS 9.3.5 on Safari

[2022-03-14 00:48] KevinMulhern commented on #2718
You mentioned it was happening on an iPad pro as well, can you take a screenshot of that please? just so we can see if there are any differences/clues as to what's going on.

[2022-03-14 01:05] erasmorojastech commented on #2718
I can't do that because I sold that iPad and only have the old one... But I checked on an iPhone 12 Pro Max and goes well

But check this... Look how the content is displayed...

![Foto 13-3-22 10 52 58 p m](https://user-images.githubusercontent.com/73343862/158088205-4b5ffc76-d16b-4150-9a47-c44b71cbcf75.png)

[2022-03-14 13:20] sagapsy opened #2730 "Bug: Links to courses on the homepage do not link properly"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-03-14 23:26] KevinMulhern commented on #2730
Thanks for reporting @sagapsy 💯

Sorry @swaubhik, I've already done it here https://github.com/TheOdinProject/theodinproject/pull/2732. We need to get a fix out for this asap since it's on the homepage.

[2022-03-14 23:32] #2376 closed

[2022-03-14 23:34] #2730 closed

[2022-03-16 12:01] Connair19 opened #2737 "Bug: JavaScript Fundamentals Part-3 has a broken link"
Complete the following REQUIRED checkboxes:

-   [x ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ x] I

[2022-03-16 21:13] linkonsat commented on #2672
@KevinMulhern had a question to ask mate. So from reading the yup gem docs it should from my understanding be able to be called like so
[code]
this should be called on the string and be trimmed first before the URL and matches validations are run. However, for this test, I added based on how the other tests were built it still says it's an invalid URL.
it { is_expected.to allow_value(' https://www

[2022-03-17 01:08] #2731 closed

[2022-03-17 02:01] linkonsat commented on #2375
If this is available I would love to take it on. I know there are rewrites of the site happening so I'm not sure if that will affect it at all.

[2022-03-17 15:00] CouchofTomato commented on #2375
@KevinMulhern

Is there anything you're doing with the revamp that would block this?

[2022-03-17 22:59] KevinMulhern commented on #2672
Hey @KevinMulhern, the trim in the up schema only applies to the front end. We'll need to test that in these tests: https://github.com/TheOdinProject/theodinproject/blob/main/app/javascript/components/project-submissions/components/__tests__/create-form.test.jsx

If we want to ignore white space in urls when validating on the backend, we can do something like this in the [url validator](https://gi

[2022-03-17 23:18] linkonsat commented on #2672
Ah! Okay i was getting the 'Must be a valid URL' I'm the RSpec failed test so i assumed it must have been running it through the yup file in order to get that message. That's quite interesting. I can go ahead and write it in the frontend end mate! I would rather just get rid of them to make sure the data is more clean. Appreciate it!

[2022-03-19 18:30] KevinMulhern commented on #2375
We'll be updating the styles at some point. But the JS can be moved to stimulus now with no issues. It's all yours @linkonsat

[2022-03-21 23:25] ArudoPE opened #2760 "Bug: Progress percentage text not showing when hovering in dark mode"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-03-21 23:43] ArudoPE commented on #2760
This also affects the dashboard page, in this case, you don't have to hover, you can't see your progress percentage:
![image](https://user-images.githubusercontent.com/74159611/159380601-72014b22-1ecb-4bdf-b8fe-abeff7c51c9a.png)
**2. How To Reproduce:**

1. Log in
2. Activate Dark Mode
3. Visit  [https://www.theodinproject.com/](https://www.theodinproject.com/)
4. The progress percentage text does

[2022-03-22 19:30] bappyasif opened #2764 "Bug - : keep showing unable to complete modal, after clicking 'mark complete' from lesson"
Complete the following REQUIRED checkboxes:
-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `Bug - location of bug: brief description of bug` format, e.g. `Bug - React section: Knowledge Checks don't link to resource`

The following checkbox is

[2022-03-22 20:27] KevinMulhern commented on #2764
Is this still happening for you @bappyasif?

This is expected behaviour if there are any network or db issues.

[2022-03-22 22:05] #2672 closed

[2022-03-22 22:50] Samuelodan commented on #2760
I noticed the exact same issue since last week or so, I hope it gets fixed soon enough.

[2022-03-23 11:58] bappyasif commented on #2764
interestingly , not anymore!! but can t be certain why was that happening at that time though!! it was keep happening for a while until i decided to open an issue!! closing this, thanks @KevinMulhern

[2022-03-23 11:58] #2764 closed

[2022-03-23 20:29] #2627 closed

[2022-03-23 20:51] KevinMulhern commented on #2717
This has been resolved

[2022-03-23 20:51] #2717 closed

[2022-03-24 00:09] joe-mccann-dev commented on #2760
I see Kevin is on top of this, I was playing around and just thought I'd share what I found. Because the percentage display (`class="bold progress-circle__content"`) is contained within a paragraph tag, the following style, applied in dark-mode, is overriding its color:

Toggling this style `p { color: var(--dark-font-color) !important; }` shows what's happening.

If a darker background, e.g. gray

[2022-03-24 18:37] #2760 closed

[2022-03-24 18:49] bappyasif commented on #2664
just a note: im also facing this 'extremely enlarged icons' issue when i'm 'opening chrome, with "start where i left off" option enabled', and i also asked this in discord as well [message link](https://discord.com/channels/505093832157691914/540903304046182425/956523529191448627),  thanks to leo for introducing me to this issue initially, much appreciated....

![image](https://user-images.githubu

[2022-03-24 19:41] GCENdel opened #2777 "Bug: Inspecting HTML and CSS chapter assignment link broken"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [x] I wou

[2022-03-25 19:03] bappyasif opened #2780 "Bug: Skill Progress subtext for 'Foundations' path in 'User' dashboard should be removed"
Complete the following REQUIRED checkboxes:

-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-03-25 20:11] KevinMulhern commented on #2780
Yeah thats right, just an if around the [paragraph element here](https://github.com/TheOdinProject/theodinproject/blob/main/app/views/users/show.html.erb#L16)

I'm not sure, I've never used that service before. I would try setting it up locally, I can help if you run into any issues but I won't be able to help with any issues encountered with gitpod due to lack of familiarity.

[2022-03-25 23:45] jonro2955 commented on #2647
Hi, I'm new at contributing and this seems like something I'd like to take on as an assignment to the USING GIT IN THE REAL WORLD lesson of the JS track.

So let me see if I understand the goal here. The box-shadow properties in both modes are currently the same at rgba(0, 0, 0, 0.15), so we just want to change the background color in dark mode only to make the box shadow in dark mode stand out mo

[2022-03-26 13:30] bappyasif commented on #2780
how do i access 'course' name in that 'if' statement, im guessing something like this (' :course ')?!

im using 'windows 10' now, as my VM for some reason became way too much memory heavy, so much so that my terminal keeps freezing over frequently!! so, i suppose my question would be, is there any [guides](https://github.com/TheOdinProject/theodinproject/wiki/Running-The-Odin-Project-Locally) for

[2022-03-26 15:33] KevinMulhern commented on #2780
You'll have access to the current user and through that their path and how many courses it contains, something like this:
`current_user.path.courses.size > 1`

We don't have any guides for Windows unfortunately, only mac and linux(ubuntu).

[2022-03-26 16:27] bappyasif commented on #2780
oh well, lets just focus on writing code for now to fix this, maybe i'll try again to revive my vm or wsl to run top repo locally

im considering to try this, as a fix, `<% current_user.path.courses.size > 1 ?  'The following courses should be taken in order' : null %>`

would that be enough, or should i just stick to 'if' conditionals strictly

thanks again @KevinMulhern for looking into this, mu

[2022-03-26 22:23] jonro2955 commented on #2647
Hi, I see that I can resolve this by changing the box-shadow color of the `.curriculum-details-tile:hover` selector in our `dark_mode.css` file to the same color of `rgba(0, 0, 0, 0.05)` that is used for the same selector in the light mode scss file `curriculum_details.scss`. May I be assigned this issue?

[2022-03-27 14:09] thatblindgeye commented on #2647
@jonro2955 you're assigned!

[2022-03-28 21:15] #2647 closed

[2022-03-28 21:16] #2780 closed

[2022-04-02 19:12] bappyasif opened #2807 "Bug: chapters link gets darker when clicked, while in dark mode!!"
Complete the following REQUIRED checkboxes:

-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-04-03 00:53] PotaytoDev opened #2809 "Bug: Link directs to a page that no longer works as intended"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-04-03 15:49] ArudoPE commented on #2807
I think this is already reported on issue #2587:
"We're in the middle of a major rewrite of the site's CSS and will be fixing this alongside it."

_Originally posted by @KevinMulhern in https://github.com/TheOdinProject/theodinproject/issues/2587#issuecomment-1027206778_

[2022-04-03 19:27] bappyasif commented on #2807
@ArudoPE i had a feeling, it must have been reported before!! but couldn't find it from 'open' issues, that why i opened this, should i just simply close it then?!

[2022-04-03 20:58] ArudoPE commented on #2807
Yes, that would be a good idea, to avoid having a duplicate report.

[2022-04-04 12:55] bappyasif commented on #2807
closing as duplicated [issue](https://github.com/TheOdinProject/theodinproject/issues/2587)

[2022-04-04 12:55] #2807 closed

[2022-04-06 20:59] bappyasif commented on #2664
@KevinMulhern is this issue solved, cause i'm not seeing this from 'initial browser start view-with where left off option'

[2022-04-06 22:54] KevinMulhern commented on #2664
I don't think so @bappyasif, we haven't released anything recently which could resolve it.

[2022-04-07 19:21] bappyasif commented on #2664
well, if that makes it any better or worse, im not seeing that on my end from that scenario, where i start chrome, with "start where i left off", option enabled, is no longer showing me 'extremely large' icons which it was used to. just so you know, and happy coding :) @KevinMulhern

[2022-04-12 19:03] #2375 closed

[2022-04-12 19:07] linkonsat commented on #2380
@CouchofTomato curious about why this issue was put on hold. If the situation has changed in regards to why this is on hold I can start working on this one.

[2022-04-12 19:40] CouchofTomato commented on #2380
I honestly can't remember mate. I should probably have made a note. I think it's because of a lot of other changes that were happening. I don't have an issue with it being worked on though.

[2022-04-12 20:01] linkonsat commented on #2380
Sweet. I'll start work on this one next then!

[2022-04-12 21:25] KevinMulhern commented on #2380
It would be worth researching a bit how others are doing this with Stimulus @linkonsat if you don't mind? It will be difficult and clunky adapting our existing form validation code to a Stimulus controller.

[2022-04-12 21:59] linkonsat commented on #2380
All good @KevinMulhern ! I'll pick it up eventually I'm sure if it's still around. I'll take a look at the other two stimulus issues.

[2022-04-20 10:34] qazip commented on #908
The dark mode implemented in the TOP site is not really eye-friendly, in my opinion. The contrast is too big. The white too white, the dark too dark. I have sensitive eyes, and it gets tiring very fast. I would suggest changing the white to some off-white color.

[2022-04-20 21:30] KevinMulhern opened #2860 "Chore: Upgrade to Latest Version of Ruby"
**1. Acceptance Criteria:**
The App is running on the latest version of Ruby - 3.1.2

**3. Additional Information:**

Our CI ruby image will also need to be updated: https://github.com/TheOdinProject/theodinproject/blob/main/.circleci/config.yml#L7

[2022-04-21 00:16] ChargrilledChook commented on #2860
Happy to take this one on 🤙

[2022-04-21 07:17] ChargrilledChook commented on #2860
@KevinMulhern Are you happy to go straight from 2.7 to 3.1 in a single PR?

I can do the intermediate step of updating to 3.0 and checking deprecation warnings first, or we could upgrade to 3.0, let it sit for a week, and then complete the upgrade to 3.1. Happy to go with whatever you think is best.

[2022-04-21 14:29] KevinMulhern commented on #2860
Happy to go with the intermediary approach you've suggested @ChargrilledChook 💪

[2022-04-22 04:52] ChargrilledChook commented on #2860
Not an issue for Ruby 3, but for 3.1, `circleci` Ruby images are deprecated.

They are recommending the use of `cimg` instead, but the structure looks slightly different - there only appear to be node or browser versions, not both. I'm unsure what other changes might be required here, so I'd appreciate some guidance here for the best approach.

There is some information here about the changes from

[2022-04-22 04:54] ChargrilledChook commented on #2860
PR for Ruby 2.7 -> 3.0 https://github.com/TheOdinProject/theodinproject/pull/2861

[2022-04-22 11:34] KevinMulhern commented on #2860
Thanks for the detailed write-up and links @ChargrilledChook, this is brilliant!

We need the chrome driver for system tests, I think we'll need the browsers version of the ruby image as well as the browser-tools orb with the [chrome install](https://circleci.com/developer/orbs/orb/circleci/browser-tools#usage-install_browsers).

[2022-04-26 04:56] ChargrilledChook commented on #2860
@KevinMulhern  Outside of needing to tweak the CI config, there have been a few minor hiccups for 3.0 -> 3.1:

A handful of gems were removed from the core library and need to be explicitly declared - there's a fix for this in Rails 7.0.1 but I've simply added them manually in the meantime. [More info](https://stackoverflow.com/questions/70500220/rails-7-ruby-3-1-loaderror-cannot-load-such-file-ne

[2022-04-28 22:57] KevinMulhern commented on #2860
Hey, @ChargrilledChook, thanks for another detailed write-up. Autocorrecting those sounds great to me mate. Excited to get that hash shorthand syntax available in the app. That's always been an annoyance when switching between JS and Ruby for me 😆

[2022-05-02 13:13] ChargrilledChook commented on #2860
PR for part 2: https://github.com/TheOdinProject/theodinproject/pull/2882

I've never used Circleci before working on this so let me know my changes to the config are kosher. I did my best to follow the example [here](https://circleci.com/developer/orbs/orb/circleci/browser-tools)

[2022-05-02 23:24] KevinMulhern opened #2883 "Chore"
**1. Description**
On the TOP homepage we have a section to highlight the different courses we offer
<img width="1175" alt="Screenshot 2022-05-03 at 00 04 26" src="https://user-images.githubusercontent.com/7963776/166340218-5834d489-260d-492e-ac80-02705e1e9032.png">

These are populated by an [`available_courses` helper method](). However, this has proven to be fragile since we hardcode the course

[2022-05-03 11:41] ChargrilledChook commented on #2883
Happy to take a tilt at this one next if it's free.

Is there still plans to do a self contained Git course, or is that on the back burner?

[2022-05-03 22:07] #2860 closed

[2022-05-03 22:10] KevinMulhern commented on #2883
It's all yours 😄

No plans at the moment for a stand-alone Git course @ChargrilledChook.

[2022-05-04 08:34] ChargrilledChook opened #2884 "Chore: Remove temporary gems from Gemfile"
As part of the Ruby 3.1 updgrade, I temporarily added several gems to fix a broken dependency introduced by some gems changing from default to bundled.

This issue is fixed in Rails 7.0.1. Once the Odin app has been updated to use this version (or greater) the following code should be removed from the Gemfile.

[code]

See [here](https://stackoverflow.com/questions/70500220/rails-7-ruby-3-1-loader

[2022-05-07 04:00] ChargrilledChook commented on #2883
@KevinMulhern Got a draft PR for this; would love to hear your thoughts on the Git badge edge case. After that's thrashed out it shouldn't be too far off.

[2022-05-07 17:06] tommaho opened #2891 "Easy Fix: Duplication in FAQ, under Which technologies..."
Complete the following REQUIRED checkboxes:

-   [ x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I w

[2022-05-07 19:07] kumokuro opened #2893 "Add Keyboard Accessibility and Conduct Keyboard Testing"
Complete the following REQUIRED checkboxes:

-   [x ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ x] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [ x] I would like to be assigned thi

[2022-05-07 19:21] KevinMulhern commented on #2893
Thanks for taking the time to outline this @kumokuro 💪 I don't believe there should be too much work involved in this. We don't have that many forms fortunately.

But we're converting all the CSS on the site over to Tailwind at the moment so there is quite a bit of churn happening with the front end of the app which would conflict with this if it is worked on at the same time. Once the Tailwind pr

[2022-05-09 19:20] mothodical opened #2903 "Reorder links on Installation Lessons Appendix page"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [x] I would like to be assigned this i

[2022-05-11 14:22] Pratik-Karale opened #2906 "Add git repo link,referred to in intermediate git"
https://www.theodinproject.com/lessons/javascript-a-deeper-look-at-git
in "Getting Set Up" there is a git repo being referred to but there isn't a link to the repo
![image](https://user-images.githubusercontent.com/74715140/167872501-83057978-a421-4e89-a7fb-b129cc5da236.png)

[2022-05-12 17:48] #2906 closed

[2022-05-16 06:16] yogesh200002 opened #2909 "Bug: The buttons of log in with github and google are transparent in log in page"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`
<hr>

**1. Description of the Bug:**

The buttons a

[2022-05-16 21:19] takinabradley commented on #2909
I noticed this too, and though I'd report the same issue. Additionally, in dark mode, the 'create new account' button and 'log in with' text are a bit hard to read.

[2022-05-18 18:11] mothodical commented on #2903
I finally have TOP running locally on my machine, so I can work on this once assigned :)

[2022-05-19 14:37] yogesh200002 commented on #2909
The issue is fixed, Now the buttons are visible in both the themes.

[2022-05-20 20:10] KevinMulhern commented on #2903
Sorry for the delay @mothodical, you've been assigned 😄

[2022-05-20 22:13] afkus3r commented on #2891
I would like to work on this issue

[2022-05-20 22:22] afkus3r commented on #2891
I'm available to work on this issue

[2022-05-21 20:46] #2903 closed

[2022-05-21 20:50] KevinMulhern commented on #2891
Thanks @afkus3r, I've assigned to you.

[2022-05-28 19:52] DevlinRocha opened #2937 "Add guest sign-in to final NodeJS project"
Complete the following REQUIRED checkboxes:

-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [X] I would like to be assigned this i

[2022-06-02 22:10] ashoofly opened #2948 "All Projects: Default option to order submissions by latest submitted"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-06-04 22:00] #2891 closed

[2022-06-06 15:19] linkonsat opened #3045 "Add dropdown menu to navigate to other lessons in a path"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-06-09 18:13] ashoofly opened #2968 "Enhancement: add search to Odin Project site"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [x] I would like to be assigned this i

[2022-06-09 18:55] KevinMulhern commented on #2968
Thanks for taking the time to put this together @ashoofly ⭐

There was [some discussion](https://discord.com/channels/505093832157691914/540903304046182425/938925049392541706) about this in the suggestions channel on discord a couple of months ago.

I think this would be a very valuable feature and wouldn't be that difficult to implement if we used https://github.com/Casecommons/pg_search. The har

[2022-06-09 19:05] KevinMulhern commented on #2948
Thanks for the suggestion @ashoofly; this is something we've talked about quite a bit internally.

Instead of defaulting to one specific order, I think we should give users the option to sort by different attributes.

Off the top of my head, we could have these sort options:
* Most liked
* Least Liked
* Newest
* Oldest

The design would be the blocker for this one as well. I'll talk to our designe

[2022-06-13 13:28] CouchofTomato opened #2975 "Chore: Remove Mailchimp from The app"
1. Description

Mailchimp was used by Viking to collected user email information but is no longer done this way.

We need to therefore remove any references to mailchimp

2. Acceptance Criteria:

- [x] Remove gibbon gem
- [x] Remove mailchimp API key references from env files
- [ ] Remove mailchimp services tests
- [ ] Remove mailchimp subscription creation job
- [ ] Remove mailchimp controller te

[2022-06-15 11:33] #2975 closed

[2022-06-16 14:46] KevinMulhern opened #2981 "Chore: Fix Remaining Rubocop RSpec issues"
### Description
We have a few rubocop RSpec violations to fix in the rubocop_todo file.

[2022-06-17 15:47] KevinMulhern opened #2985 "Chore: Update Bin Files to Match Latest Rails Recommendations"
### Description
Our app was started with Rails 3, some of the bin files haven't been updated since then, but have had changes/improvements made to them in subsequent releases of Rails.

[2022-06-17 21:28] KevinMulhern commented on #2985
Closed by https://github.com/TheOdinProject/theodinproject/pull/2986

[2022-06-17 21:28] #2985 closed

[2022-06-17 23:39] #2981 closed

[2022-06-19 01:05] ChargrilledChook opened #2992 "Feature: Add "seed curriculum" button to admin"
### Description
This will be useful when we need to add new lessons to the site and want to test them via review apps. Currently to get the review app's to reseed lesson content we either have to do it manually through the console on Heroku or destroy and recreate the review app. Having a button to do it, will cut down on a lot of time and effort.

### Acceptance Criteria
1. Remove content for a l

[2022-06-19 01:08] ChargrilledChook commented on #2992
@KevinMulhern I'm reasonably comfortable with background jobs so can have a crack at this one.

To clarify, do we want to run `db:seed` (or the live equivalent) as well as the curriculum import, or just the latter?

[2022-06-19 03:39] ChargrilledChook opened #2993 "Feature: Store Announcement Creator"
### Description
We should store who creates announcements for auditing purposes.

We should add a `created_by` column to announcements that will automatically be populated when creating an announcement.

### Acceptance Criteria
1. Go to admin
2. Create an announcement
3. It will redirect you to the announcements index page
4. The "Created By" column should contain your user name.

[2022-06-19 13:30] ChargrilledChook opened #2995 "Chore: Rename Lesson url to git_path"
### Description
Lessons have a url attribute with stores the file path of the lesson Github, we should rename the `url` attribute to `github_path` as it better represents what the data is and will help avoid confusion.

[2022-06-19 23:03] KevinMulhern commented on #2992
Ahh sorry @ChargrilledChook, I should have been clearer with the title/description of this. We just need to import the content with the button.No need to do a `db:seed`.

[2022-06-20 03:42] #2995 closed

[2022-06-23 00:41] ChargrilledChook opened #3008 "Chore: Remove remaining rails controller tests"
### Description
We have a very comprehensive system test suite which covers most if not all of the controller behaviour. The Rails team considers controller tests as depreciated so we should remove any we have remaining and the associated rails-controller-tests gem.

[2022-06-23 23:01] thatblindgeye opened #3009 "Separate out form lessons to their own section in Intermediate HTML/CSS"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [ ] I would like to be assigned this i

[2022-06-25 12:32] ChargrilledChook commented on #3009
@thatblindgeye Were you planning on putting this out for public contributions, or would you like me to whip it out?

A new section will also require some new copy for the tagline ie

""Forms are a crucial building block of web dev for getting input from your users. In this section you'll learn the basics and get some hands on practice."

as a rough first sketch

[2022-06-25 15:45] thatblindgeye commented on #3009
@ChargrilledChook Either would work! I just put the help wanted tag in case, but if you'd want to tackle it definitely feel free. As for the copy, tweaking your rough sketch:

"Forms are a crucial building block for getting input from your users. In this section you'll learn some of the basics you'll need to create a functioning form."

Mainly removing the "web dev" bit to make it a bit more gener

[2022-06-25 18:26] binarygit commented on #3009
Hey! I was looking for a issue to work on. If it's ok with @ChargrilledChook I could take this on!

[2022-06-26 11:33] #2993 closed

[2022-06-26 12:24] #3008 closed

[2022-06-26 12:35] KevinMulhern opened #3014 "Chore: Update App Config to be Inline with Recent Rails Updates"
### Description
Our app was created when Rails 3 was the latest release. The config in versions of Rails released since has changed quite a bit. It will help us with upgrades and more to ensure our config is inline with the latest Rails developments.

The idea for doing this, came out of this fix: https://github.com/TheOdinProject/theodinproject/pull/2946

The latest version of Rails includes a gi

[2022-06-26 12:36] ChargrilledChook opened #3015 "Chore: Remove old Migrations"
### Description
We recommend contributors to use `db:schema:load` when setting up the app because we have a few old migrations that are broken due to also being data migrations.

We don't need to keep these old migrations when we have the option of using `db:schema:load`

### Acceptance Criteria
Remove any migrations more than 1 year old.

[2022-06-26 12:59] #3015 closed

[2022-06-26 14:31] binarygit commented on #2948
Hello!
This looks like something I can handle. After the designs have been finalized, could you give me a ping @KevinMulhern? I could take it up if nobody else is available.

[2022-06-26 19:42] KevinMulhern commented on #2948
Will do @binarygit, it may be a while though. Summertime is usually a bit slower with everyone taking time off/vacationing.

[2022-06-26 20:20] #3014 closed

[2022-06-26 20:55] KevinMulhern opened #3017 "Chore: Decide what to do about Webpacker"
Do we go to the effort of upgrading to Webpacker 6.X.X or switch to something like esbuild which should be faster?

[2022-06-26 20:59] CouchofTomato commented on #3017
The options are outlined [here](https://github.com/rails/jsbundling-rails/blob/main/docs/switch_from_webpacker.md) and should be pretty easy to spike either jsbundling or shakapacker to get webpacker working with webpack 5

[2022-06-26 21:28] liridonloku opened #3018 "Bug: Project submissions buttons at dashboard break for projects with long names"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-06-26 22:00] KevinMulhern commented on #3018
Thanks for reporting @liridonloku 💪

The react components for submissions were recently switched over to fully use Tailwind. This is probably just a hangover from that.

[2022-06-27 03:03] binarygit commented on #2948
That's alright. I'll be around.

[2022-06-27 21:41] #3009 closed

[2022-06-28 13:39] ChargrilledChook opened #3028 "Chore: Remove Facebook Tracking Pixel"
### Description
This was added by Thinkful, but is no longer needed.

[2022-06-28 19:04] #3028 closed

[2022-06-30 15:59] thatblindgeye opened #3033 "Update dark mode contrast between background and text"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [ ] I would like to be assigned this i

[2022-06-30 18:06] joayo13 commented on #3033
Hi, I'd like to help with this issue if possible. My idea was to use the same background-color/ text color values that reddit uses in threads. It isn't too drastic a change from what the website already uses so I thought it was a good fit.

[2022-06-30 18:13] KevinMulhern commented on #3033
If it's just updating the color values that should be fine. But if it involved changing markup or classes in any of the views it probably isn't worth the effort. We're working on converting everything over to Tailwind and that will involve a complete overhaul of the dark mode system https://github.com/TheOdinProject/top-meta/projects/7#card-76439405

[2022-07-01 20:37] #3033 closed

[2022-07-01 20:41] KevinMulhern commented on #3045
We've got a story for spiking this on the board https://github.com/orgs/TheOdinProject/projects/12

No ETA of when that'll be started, as with most things lately, after the TW move most likely 😆

[2022-07-02 07:20] ChargrilledChook opened #3046 "Chore: Switch to Pagy on the All Submissions Page"
### Description
We only have pagination on the [all submissions page](https://www.theodinproject.com/lessons/781/project_submissions) and are currently using kaminari for pagination, but [pagy](https://github.com/ddnexus/pagy) is better and more popular. We should adopt in now before we need pagination for something else such as the new admin in the near future.

[2022-07-02 08:13] ChargrilledChook opened #3048 "Chore: Investigate Ignoring User Generated JS Errors in Sentry"
### Description
We have been seeing quite a few JS errors that appear to be from users causing errors in the web inspector console. There may be a way of filtering these out by implementing the ignore rules here: https://docs.sentry.io/clients/javascript/tips/

Example:
https://sentry.io/organizations/the-odin-project-web-app/issues/3028197428/events/efd51eef95364dde981c3729edae3fc4/?project=57219

[2022-07-02 08:17] ChargrilledChook commented on #3048
Did a little bit of a look, found some recommendations to filter out JS noise [here](https://blog.sentry.io/2017/03/27/tips-for-reducing-javascript-error-noise)

The suggestion to turn on [data filters](https://blog.sentry.io/2016/09/14/reduce-noise-inbound-data-filters) is very straightforward but needs admin permissions.

Can find the relevant part of the settings [here](https://sentry.io/settin

[2022-07-02 08:36] ChargrilledChook opened #3049 "Chore: Update app to Rails 7"
Given we're now teaching Rails 7 it would be good to have parity with the app too.

[Official upgrade guide](https://guides.rubyonrails.org/upgrading_ruby_on_rails.html)

**Todo**

* [x] Chore: Update config files for Rails 7 -> https://github.com/TheOdinProject/theodinproject/pull/3608
* [x] #3797
* [ ] Chore: Prepare app for Devise / Turbo incompatibility issues - [reference for one solution to

[2022-07-02 08:39] ChargrilledChook commented on #3049
There's a somewhat vague instruction in the upgrade guide

But no obvious info on where to find relevant versions. It is probably worth removing UJS, though

[2022-07-02 13:32] KevinMulhern commented on #3048
Thanks for finding that data filters suggestioin @ChargrilledChook. I enabled it all, I have noticed quite a few errors from a handful of Opera users so this should have a decent impact.
<img width="1166" alt="Screenshot 2022-07-02 at 14 30 42" src="https://user-images.githubusercontent.com/7963776/177003024-26838346-6dec-4ede-88a1-a63bef381967.png">

[2022-07-02 13:46] #2992 closed

[2022-07-02 14:22] #3046 closed

[2022-07-02 18:04] KevinMulhern commented on #3048
Been doing a bit more digging https://github.com/getsentry/sentry-javascript/issues/5179

We could wait for the Chromium fix to roll out or try implementing some of those workarounds.

[2022-07-02 18:34] KevinMulhern opened #3054 "Chore: Add Not Null Constraint to Path Badge Uri"
### Description
To ensure a path always has a badge set.

### Notes
Can be done after this goes out: https://github.com/TheOdinProject/theodinproject/pull/3053

[2022-07-02 19:01] KevinMulhern commented on #3049
Thanks for getting this started @ChargrilledChook 💪

Should we break some chores out of this?
* Chore for fixing the oauth2 depreciation
* Maybe another for getting Hotwire in the app with turbo turned off.
* Another for replacing any Rails ujs behaviour we use.
etc

[2022-07-02 21:44] DataMoshing opened #3055 "Bug: Dark Mode in "Add Solution" difficult to read."
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-07-03 03:24] ChargrilledChook commented on #3049
My pleasure

Great idea, I'll spin up a few issues out of this and keep track of them in this one

[2022-07-03 07:14] ChargrilledChook opened #3057 "Chore: Update Oauth2"
**Because**
Our current version (1.x) has reached EOL and is no longer supported.

**Acceptance Criteria**
- [ ] The app is using oauth2 and there are no deprecation warnings

**Notes**

`bundle outdated` can be used to  check gems that are out of date. Adjacent gems (ie GitHub / Google Oauth) should be checked too.

Deprecation warning:
[code]

[2022-07-03 14:55] linkonsat commented on #3045
@KevinMulhern cool beans. I can take that up then after the TW move is finished.

[2022-07-03 18:33] joayo13 commented on #3055
I changed the dark-mode color values recently in an issue, so that would be the cause behind this happening. I see that if I apply a var to the background-color of the input elements to apply the dark-input-bg-color it's then readable. I'd like to be assigned this issue as it would only be changing one css property to include dark-input-bg-color when necessary.

[2022-07-03 19:28] KevinMulhern commented on #3055
It's all yours @DataMoshing

[2022-07-03 21:48] #3055 closed

[2022-07-06 06:04] ashoofly commented on #2968
I've got some more time now, so I'd like to give it a shot once we agree on a design!

[2022-07-06 08:39] ChargrilledChook commented on #3048
@KevinMulhern Do you have a preference for the workaround options? 3 seems like a pretty easy to implement and reverse fix, I'm not sure there's a ton of value in those errors regardless of browser

[code]

[2022-07-06 21:31] #3054 closed

[2022-07-07 14:54] vndrewhk opened #3068 "Bug: Dark Mode colour inconsistency on Login Form"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [x] I wou

[2022-07-08 07:36] ChargrilledChook commented on #2606
Closed by #3053

[2022-07-08 08:09] ChargrilledChook opened #3069 "Outstanding CSS issues to close or fix once Tailwind conversion is complete"
There are a number of outstanding CSS issues that have been put on hold while the Tailwind conversion takes place. I'm collecting them here for greater visibility / easier ability to tick them off once the site has completely migrated to Tailwind.

**CSS Todo**

- [x] #3068
- [x] #3018
- [x] #2718
- [x] #2664
- [x] #2644
- [x] #2587
- [x] #2540
- [x] #2537
- [x] #2538
- [x] #2532
- [x] #908

[2022-07-08 08:12] ChargrilledChook commented on #3069
Feel free to comment any other issues that belong here too and I'll add them to the list :memo:

[2022-07-08 21:55] KevinMulhern commented on #3069
This is super helpful, thanks for taking the time to do this @ChargrilledChook 🏅

[2022-07-09 01:51] ChargrilledChook commented on #3068
Hi @vndrewhk , cheers for the report. We're currently making a number of improvements to the site's design and updating the CSS to use Tailwind - this should be covered by the work being done there. Thanks for letting us know!

[2022-07-09 02:06] ChargrilledChook commented on #2718
Hey @erasmorojastech, since no one on the team can reproduce this and we're not seeing any other reports, I'm going to close this. We're currently making some updates to the site's CSS that may also address these issues.

If you can give us any other information / ways we can reproduce this then feel free to share it here and we can open this and have a look again.

Thanks for the report!

[2022-07-09 02:06] #2718 closed

[2022-07-09 02:20] ChargrilledChook commented on #2644
Thanks heaps for the report @crespire. The site is currently migrating all its CSS to use Tailwind, so the fix for this should be covered by the work being done there. We'll keep this open to track it and make sure a fix gets in.

[2022-07-09 05:57] ChargrilledChook commented on #2321
I've just tried this out and it seems to be working as intended, so it looks like it's been fixed somewhere along the way :shrug:

[2022-07-09 05:57] #2321 closed

[2022-07-09 07:06] Anikaaasingh opened #3071 "UI enhancement in dark mode"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [X] I wo

[2022-07-09 07:20] #3071 closed

[2022-07-09 07:24] ChargrilledChook commented on #3071
Hi @Anikaaasingh, thanks very much for reporting this. Currently the site is undergoing some major changes to its CSS, and the issues you're seeing are related to that. They should be fixed once that project is complete.

Since we've seen some of these reports before in #2537, I'm closing this to keep the issues focused, but I really appreciate you taking the time to make a report. :clap:

[2022-07-09 12:57] #3048 closed

[2022-07-09 18:24] KevinMulhern opened #3073 "Feature: Improved Share Lesson Preview"
### Description
The share feature on our lesson preview page works by hashing the content and generating a url with the hash appended as a param. This works fine when there isn't a lot of content, but it breaks when there is a lot of content.

We need something which will persist the preview for a period of time. Think of a link shortener service, we will store the content against a UUID which can

[2022-07-10 05:10] ChargrilledChook commented on #1682
Probably be good to have a look at again once Tailwind conversion is complete, although perhaps most of this work could be rolled into #2893

[2022-07-11 08:53] 1Popla commented on #3069
odin exercise comment

[2022-07-11 21:06] KevinMulhern opened #3084 "Chore: Create and Destroy Heroku Review Apps Using GH Labels"
### Description
We have to log into Heroku and manually create review apps for pull requests originating from forks - https://devcenter.heroku.com/articles/github-integration-review-apps#automatic-creation

Being able to create and destroy review apps from the pull request itself will save us time.

### Acceptance Criteria
Creating
1. Add `create-review-app` label to a PR
2. A review app will be c

[2022-07-12 12:26] JacobMarq commented on #3057
@ChargrilledChook I would like to take on this chore if possible!

[2022-07-12 22:49] #3084 closed

[2022-07-14 20:58] #3017 closed

[2022-07-15 09:14] ChargrilledChook opened #3092 "Feature: Automate adding issues to project board"
As a maintainer, I would like to automate adding issues to the project board, so that we spend less time manually managing it.

This can be easily achieved by using an official GitHub action:

[code]
The only prerequisite is a [PAT that has repo and project permissions](https://github.com/marketplace/actions/add-to-github-projects#inputs).

**Notes**

- This is a planned native feature for project

[2022-07-15 10:58] KevinMulhern commented on #3092
Great idea! this has been bugging me too haha

[2022-07-15 20:37] KevinMulhern opened #3093 "New Footer"
### Why?
We have been adding more ancillary pages lately like the [Installations Appendix](https://www.theodinproject.com/lessons/installation_lessons) and have more planned.

The current footer links to these pages along the bottom, but this space will soon run out:
![Image](https://user-images.githubusercontent.com/7963776/176905910-3bd8c1ec-80c4-4626-80e1-612e037834b5.png)

We could maybe use t

[2022-07-15 20:38] adachiu commented on #3093
Consider adding Open Source logo

[2022-07-15 20:38] KevinMulhern opened #3094 "Paths/Course Headers"
### Why?
Currently we only have a brief description of the path/course followed by the syllabus. This doesn't offer a lot of insight into the path/course and may be leaving a lot of questions unanswered for learners.

### What information could we display in the headers?

**Paths**
* Path overview/description
* Number of courses in the path
* Number of projects in the path
* Select/switch to path

[2022-07-16 21:50] KevinMulhern commented on #3093
During the meeting this kind of layout is what we thought would be best. It's close to what we have already, the right cta on our current footer would just be replaced with columns for links.

<img width="1452" alt="Screenshot 2022-07-16 at 22 49 05" src="https://user-images.githubusercontent.com/7963776/179372884-f03e5c7a-e7c2-4064-b1ac-6b556626f6cd.png">

[2022-07-21 02:07] abarnes1 opened #3121 "Bug: Drop downs not expanding/collapsing intended areas"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-07-21 03:37] #3121 closed

[2022-07-23 05:48] ChargrilledChook commented on #3057
Hi @JacobMarq, thanks for your interest, I've assigned it to you.

It's possible that this is blocked by other dependencies since we aren't directly using Oauth2, but it won't hurt to try updating the relevant gems. Let me know if you have any questions or problems.

[2022-07-25 19:11] KevinMulhern opened #3133 "Discussion: Lesson Page Layout"
We've received feedback on discord about the recent lesson page layout changes making the content harder to read. Link to that discussion - https://discord.com/channels/505093832157691914/1000388686690648104

I wanted to open up this issue to collect any more feedback.

### Reasoning behind the changes
There were two goals with the layout changes.

The first  goal was to align the contents of the

[2022-07-25 21:37] xandora commented on #3133
Idea: Float the header, so it's always obvious what the content is inline with.

[2022-07-25 22:58] ChargrilledChook commented on #3133
I think the floating menu is nice to have, not crucial. Sample size of one, but I personally can't remember using it at all.

Spiking removing it would be my vote for option A, but I would be curious if people felt strongly about it / made good use of it

[2022-07-26 07:38] 01zulfi commented on #3092
@ChargrilledChook Like this a lot. Just for confirmation, [https://github.com/marketplace/actions/add-to-github-projects](https://github.com/marketplace/actions/add-to-github-projects) this is the action right? The links you provided seem to be dead.

[2022-07-26 07:46] ChargrilledChook commented on #3092
@01zulfi Yep, that's the one. Looks like they have changed it from `projects-beta` to just `projects` in the last week or so. Have updated with the correct links

[2022-07-26 19:00] VenkaSri opened #3138 "[DARK MODE]Change the font color of input fields from Upload Your Project form card"
Complete the following REQUIRED checkboxes:

-   [ x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x ] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [ x] I would like to be assigned thi

[2022-07-27 11:08] roiceee commented on #3133
I think its easier to the eyes if the article is centered. The right side of the page (the bullet thingy) occupies a lot of real estate on the page and in my experience, it draws some attention to the readers and may distract them from reading the material thoroughly.

In my opinion, I think the older design is easier to read and has no distractions whatsoever. I don't know about the other learner

[2022-07-28 00:02] GabrielRuizVarela commented on #3138
Can i work on this?

[2022-07-28 00:14] KevinMulhern commented on #3138
@VenkaSri do you still want to work on this one or would you mind if @GabrielRuizVarela worked on it?

[2022-07-28 03:38] VenkaSri commented on #3138
@KevinMulhern I would like to make a contribution, is that okay?

[2022-07-28 13:31] KevinMulhern commented on #3138
@VenkaSri yeah it's all yours

[2022-07-28 18:53] GabrielRuizVarela commented on #3073
Can I give it a try?

[2022-07-29 04:47] ChargrilledChook commented on #3057
@JacobMarq Thanks for investigating this for us. The pace of changes on that gem seemed to have slowed right down, so perhaps longer term we may need to look at an alternative.

Good idea checking the source, I'll put your PR here so we can keep some visibility on it
https://github.com/zquestz/omniauth-google-oauth2/pull/428

[2022-07-29 13:52] KevinMulhern commented on #3073
All yours @GabrielRuizVarela 💪

[2022-07-30 15:01] #3138 closed

[2022-08-02 17:02] GabrielRuizVarela commented on #3073
How should I go about storing it, so it can persist? Should I install a plugin like node-Postgresql?

[2022-08-02 17:32] KevinMulhern commented on #3073
It needs to be stored in the existing db through Rails @GabrielRuizVarela

[2022-08-03 18:52] scheals opened #3169 "Bug: Broken formatting on Markdown preview and How to Ask Pages"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [] I woul

[2022-08-03 19:00] scheals opened #3171 "Bug: Inconsistent behaviour with "Improve this lesson" link"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-08-04 06:11] KevinMulhern commented on #3169
Thanks for reporting @scheals 💪

[2022-08-04 08:43] #3169 closed

[2022-08-06 21:55] arco-web opened #3177 "Bug: Section on table of contents of SVG lesson doesn't lead to anything"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-08-06 22:02] xandora commented on #3177
Should be resolved in #3176.

[2022-08-06 22:02] #3177 closed

[2022-08-07 07:56] bscottnz commented on #2377
Hey am I able to take this?

[2022-08-07 08:08] KevinMulhern commented on #2377
All yours @bscottnz,

It might be worth using something off the shelf like https://github.com/jwald1/stimulus-validation rather than rolling our own for this.

[2022-08-10 07:31] KevinMulhern opened #3193 "Bug: Create review apps label does not create review apps originating from forks"
### Description
The Github Action we use for this has a check to stop PR's originating from forks from triggering this action: https://github.com/fastruby/manage-heroku-review-app/blob/main/src/index.ts#L30

* Is there an alternative action available for creating Heroku review apps we can use?
* Should we fork the action and remove that check?

### Steps to reproduce
1. Fork the TOP web app repo
2

[2022-08-10 07:33] KevinMulhern opened #3194 "Chore: Dashboard Button Tracking in Google Analytics"
### Description
We don't have any visibility of dashboard button usage in GA.

### Acceptance Criteria
* Track "Resume" button clicks
* Track "Start" button clicks
* Track "Open" button clicks

### Additional Information
All of our GA tracking code is in this file: https://github.com/TheOdinProject/theodinproject/blob/main/app/javascript/src/js/analytics.js

example event:
`_gaq.push(['_trackEvent

[2022-08-11 14:49] chuaindia opened #3201 "Bug: Lesson complete button does not update on click`"
Complete the following REQUIRED checkboxes:

-   [The Odin Project Contributing Guide ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [Bug: brief description of bug] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not updat

[2022-08-11 14:53] #3201 closed

[2022-08-11 15:07] chuaindia opened #3202 "Needs Review"
Complete the following REQUIRED checkboxes:

-   [ The Odin Project Contributing Guide] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [Add dark mode to website ] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkb

[2022-08-11 15:07] #3202 closed

[2022-08-11 15:11] chuaindia opened #3203 "Bug:"
Complete the following REQUIRED checkboxes:

-   [ ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-08-11 15:12] #3203 closed

[2022-08-11 22:09] FnControlOption commented on #3194
On a somewhat related note, I had this question when I looked at `analytics.js`: Is there any significant performance hit from using that many `$` calls instead of, say, using the `onclick` attribute? There's a good Stack Overflow answer for this question: https://stackoverflow.com/questions/19973329/jquery-performance-on-versus-onclick (Sorry in advance if this an already known fact, I'm new to t

[2022-08-12 08:57] Cherifi-Houdaifa opened #3206 "Bug: The website is not working when i log in with google"
Complete the following REQUIRED checkboxes:

-   [x ] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-08-12 09:18] KevinMulhern commented on #3206
Hey @Cherifi-Houdaifa, it's working for me at the moment. What are you seeing on your end? can you fill in the
"1. Description of the Bug:"  bug report item please? if you have any screenshots those will be very helpful.

[2022-08-12 23:04] scheals opened #3208 "Bug: ToS page refers to Contact page that does not exist"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-08-13 11:51] KevinMulhern commented on #3194
Thats a good call out @FnControlOption. We haven't noticed anything significant in our performance monitoring tools. But it is likely having some impact.

The tracking code could do with being refactored and modernised. We could also get rid of the trackers for every internal and external link. Those have never been useful in all the time I've been here.

[2022-08-13 23:05] bscottnz opened #3215 "Bug: password reset works if you enter a wrong current password."
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

-   [ ] I would like to be assigned this issue to work on it

<hr>

**1. Description of the Bug

[2022-08-14 09:38] KevinMulhern commented on #3215
Thanks for making this report @bscottnz, I'll sort this out alongside moving this page to Tailwind https://github.com/TheOdinProject/top-meta/issues/223

[2022-08-17 12:18] 4015-dev opened #3226 "Bug: Cantact/Chat feature is inaccisible!"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-08-17 19:27] KevinMulhern commented on #3226
Hi @4015-dev, sorry you're having trouble accessing the community.

We recently reenabled phone verification due to an increase of trolls creating alt accounts to get around bans. They were degrading the community experience for our leaners and harassing our staff. Phone verification is the only tool we have at our disposal to curtail this kind of thing unfortunately.

However, we can grant access

[2022-08-20 23:02] ssolunna opened #3230 "Bug: Foundations Resume button doesn't work as intended"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-08-21 07:33] KevinMulhern commented on #3230
Thanks for taking the time to report this. However it isn't a bug, this is the intended behaviour. That button is really only an indicator for what path the user is correctly on when they are viewing all paths.

But I can see how the "resume" wording can be confusing. We're planning on moving path selection to the paths themselves as part of this story - https://github.com/TheOdinProject/theodinpr

[2022-08-21 07:33] #3230 closed

[2022-08-21 11:49] ssolunna commented on #3230
Then why does the **Resume** button in the Dashboard page takes you to the current working lesson and this one doesn’t? It seems to me that both buttons are intended to do the same thing.

Also why have a **View** button next to it that takes you to the same page as the **Resume** button?

I'm not sure if I completely understood you or if I didn't describe the bug correctly.

[2022-08-21 16:16] KevinMulhern commented on #3230
Somebody asked about the same thing on Discord on recently - https://discord.com/channels/505093832157691914/997169784955342890/997179166594179112

https://github.com/TheOdinProject/theodinproject/issues/3094 is going to be how we tackle it, that will allow us to remove the "Resume" and "Select" buttons on the path cards.

[2022-08-21 16:34] ssolunna commented on #3230
I see. Thanks for the clarification.

[2022-08-21 18:16] Akumarch opened #3232 "Bug: Hyperlink leads to a page with no content in FAQ"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-08-22 19:22] KevinMulhern commented on #3226
Sorry about this, we have an email link on the about page, but it seems the styling has regressed so its blending into the surrounding text. We'll get that fixed and add the contact email on a few other spots around the site to make it easier to find.

Totally understandable, we don't like putting any unnecessary obstacles in our learners way. But in this case it really was necessary for the healt

[2022-08-23 12:14] 91Flavio91 opened #3245 "Inaccurate info. in the "Project: Landing Page" chapter in Foundations"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [x] I would like to be assigned this i

[2022-08-25 03:34] bscottnz commented on #3194
I could work on this. Would it be worth removing the jquery at the same time?

[2022-08-25 08:23] KevinMulhern commented on #3194
I didn't want to saddle anyone with that when creating the story 😆
But if you're up for doing it, absolutely mate.

[2022-08-25 08:35] bscottnz commented on #3194
yeah its cool, ill wash my hands after don't worry

[2022-09-03 09:30] JacobMarq commented on #3057
Update on more recent PR to allow compatibility up to v2.0.6 of Oauth2. There was a small mistake but the owner has officially acknowledged the PR and is preparing to merge after correction: (already corrected now)
[zquestz/omniauth-google-oauth2#429](https://github.com/zquestz/omniauth-google-oauth2/pull/429)

[2022-09-03 14:28] #3194 closed

[2022-09-03 20:39] Enntek commented on #3232
This seems simple enough for me to understand how to fix, can I please be assigned this bug fix.

[2022-09-04 08:59] KevinMulhern commented on #3232
All yours @Enntek

[2022-09-07 14:15] rimoomey opened #3281 "Bug: Text Issues in Advanced Forms - Prepopulating Select Tags with Collections"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [x] I wou

[2022-09-07 14:37] #3281 closed

[2022-09-07 14:38] rimoomey commented on #3281
Created in the wrong place--sorry about that.

[2022-09-11 13:02] #2377 closed

[2022-09-12 15:01] eslang50 opened #3298 "Bug: Link under Javascript Classes section"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [x] I wou

[2022-09-13 14:27] anaysharma commented on #3133
Idea: another solution can be heading breadcrumbs, sticky top header that represents current lesson heading between horizontally aligned headers separated by arrows.
![quick mockup](https://user-images.githubusercontent.com/56938211/189927659-da379972-c085-4081-8394-3b41fdaa385a.png)

[2022-09-15 14:39] kevinmonisit commented on #3208
What would the contact page even look like? Is this a page that needs to be created or is it already created?

[2022-09-15 14:44] KevinMulhern commented on #3208
Our about page is the closest thing to a contact page. But to solve this issue, I think we should just display our contact email:

[2022-09-15 20:53] #3208 closed

[2022-09-16 17:57] #3171 closed

[2022-09-16 21:16] GitBoatyy commented on #3232
If Enntek is unable to progress this bug may I be assigned it?
Thank you

[2022-09-20 18:03] KevinMulhern commented on #3232
@Enntek are you still working on this?

[2022-09-20 21:29] Enntek commented on #3232
Sorry I got caught up working on other Odin assignments. Yes, I submitted a pull request.

[2022-09-21 04:48] kckuei opened #3342 "Bug: Hyperlinks lead to 404 error in Ruby Wiki Contributing-Guide"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-09-22 06:53] #3232 closed

[2022-09-25 10:50] KevinMulhern commented on #3342
Thanks for reporting @kckuei, those have been fixed.

[2022-09-25 10:50] #3342 closed

[2022-09-25 10:50] KevinMulhern commented on #3206
Closing due to no response.

[2022-09-25 10:50] #3206 closed

[2022-09-25 10:50] #3226 closed

[2022-09-25 10:51] KevinMulhern commented on #3073
Hey @GabrielRuizVarela, just checking in. How are you getting on mate?

[2022-09-30 09:11] Lofty-Brambles commented on #3069
Adding to this. Please check out this [Discord forum post](https://discord.com/channels/505093832157691914/1024715614062907573) for the issue regarding there not being an on-focus colour for the dark-mode for the lesson links in the course pages. @ChargrilledChook

[2022-09-30 10:14] KevinMulhern commented on #3069
Thanks for letting us know @Lofty-Brambles 💪
I replied on that forum post.

[2022-09-30 12:18] ChargrilledChook commented on #3069
Cheers @Lofty-Brambles, it's already on the list under #2587

[2022-10-01 03:33] rlmoser99 opened #3362 "Bug: Long username overflowing in Solutions"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:
-   [ ] I would

[2022-10-02 22:59] KevinMulhern commented on #2380
Completed with: https://github.com/TheOdinProject/top-meta/issues/223

[2022-10-02 22:59] #2380 closed

[2022-10-03 09:29] rtins commented on #3362
Hi. I was looking for that username but couldn't find him. Has this been fixed?
![img2](https://user-images.githubusercontent.com/112586034/193544931-6207d783-07f5-456e-a0e3-14d087c0ad12.jpg)

[2022-10-03 12:16] rlmoser99 commented on #3362
I do not believe that this has not been fixed, but it looks like the user might have changed their username or whoever liked their solution could have unliked it and it now it would be buried in the 83 pages of solutions.

[2022-10-03 12:48] Mynameisfrostwalker commented on #3362
I reproduced this using chrome devtools.
![issue](https://user-images.githubusercontent.com/85758325/193580286-c0495f88-8594-4570-8c46-89af832e716e.png)

[2022-10-03 13:33] Mynameisfrostwalker commented on #3362
Can I be assigned to this issue?

[2022-10-03 14:05] Mynameisfrostwalker commented on #3362
I would like to be assigned on this issue

[2022-10-03 18:07] rlmoser99 commented on #3362
Before I assign it to @Mynameisfrostwalker, I want to first offer it to @rtins. Just in case they were asking about it being fixed before asking to be assigned this issue.

[2022-10-03 22:43] ChargrilledChook commented on #3068
Solved by recent rework of forms

[2022-10-03 22:43] #3068 closed

[2022-10-03 22:48] ChargrilledChook commented on #2587
Solved by recent Tailwind updates

[2022-10-03 22:48] #2587 closed

[2022-10-03 22:49] ChargrilledChook commented on #2540
Solved by recent Tailwind fixes

[2022-10-03 22:49] #2540 closed

[2022-10-03 22:55] ChargrilledChook commented on #2537
Largely fixed by Tailwind updates. SVG's will be fixed in #3150. Dashboard probably needs a few minor tweaks to use the grey inside cards

[2022-10-04 01:13] Maheshkumar-novice commented on #2537
Nice Work!

[2022-10-04 14:03] ChargrilledChook opened #3379 "Chore: Refactor BeliefComponent"
**Context:**
As part of the contributing page Tailwind update, we re-used the `AboutPage::BeliefComponent` because the cards there shared a very similar structure. However, the specific naming convention no longer makes sense.

**Task**
The component should be refactored to have a more general name, and be slightly more flexible. Currently it is only a single component that renders several childre

[2022-10-07 11:50] rtins commented on #3362
Sorry, That PR is not meant to close this. The reason this appeared here is that I mentioned the issue there (because of a similar issue). I will be working on this now.

[2022-10-08 03:39] hattima-tim opened #3391 "Bug: 'View full list of solutions' links are not colored"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-10-08 07:22] ChargrilledChook commented on #3391
Thanks for the report @hattima-tim, well spotted. I've opened a fix here https://github.com/TheOdinProject/theodinproject/pull/3392

[2022-10-08 10:59] ChargrilledChook commented on #3057
@JacobMarq Thanks for following that up, awesome work getting a result from the Oauth maintainer. Did you want to open a PR to  update Oauth here?

[2022-10-08 11:58] #3391 closed

[2022-10-08 12:58] BLooDBRothER commented on #2537
## Hi! I would like to inform a dark theme bug

# Description
* Hovering on `View Code` and `Live Preview` button under project section makes the text colour brighter. As the background colour is also brighter the text is not visible

# Screenshot

![image](https://user-images.githubusercontent.com/63643748/194708684-789da031-ca90-488f-90b6-4a94efe5ce84.png)

[2022-10-09 00:19] ChargrilledChook commented on #908
Closing as will be resolved soon by #3385 :tada:

[2022-10-09 00:19] #908 closed

[2022-10-09 00:22] ChargrilledChook commented on #899
@KevinMulhern I'm assuming this is no longer planned? Can we close it out? We can convert it to a discussion if we'd like to keep the conversation around it for posterity

[2022-10-09 00:23] ChargrilledChook commented on #1116
@KevinMulhern is this still relevant  or has it been covered now? Should we close this and open a fresh ticket when / if needed?

[2022-10-09 00:28] ChargrilledChook commented on #2538
Thanks to everyone who contributed with reports. All of these have now been fixed by updates in the Tailwind conversion

[2022-10-09 00:28] #2538 closed

[2022-10-09 07:54] scheals opened #3397 "Bug: Broken <code> element formatting"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:
-   [ ] I woul

[2022-10-09 10:24] #3397 closed

[2022-10-09 10:26] KevinMulhern commented on #899
@ChargrilledChook Yeah lets close it, haven't been hearing much about learners requesting certs lately aha.

[2022-10-09 10:28] #899 closed

[2022-10-09 10:30] KevinMulhern commented on #1116
Hey @ChargrilledChook, yeah it's still relevant. I need to catch up with Ada about this and other designs. We're probably going to go with something a little different from the original screenshots but It will still be a complete refresh of the current dashboard.

[2022-10-11 06:28] #3362 closed

[2022-10-13 18:26] KevinMulhern commented on #2644
This has been fixed with the [new dark mode](https://github.com/TheOdinProject/top-meta/issues/235)
<img width="760" alt="Screenshot 2022-10-13 at 19 25 24" src="https://user-images.githubusercontent.com/7963776/195676661-c3a906f6-fbd1-49aa-8063-4c830ea47662.png">

[2022-10-13 18:26] #2644 closed

[2022-10-13 18:27] KevinMulhern commented on #2537
Thank you for reporting these issues everyone. They have all been fixed in the [new dark mode](https://github.com/TheOdinProject/top-meta/issues/235)

[2022-10-13 18:27] #2537 closed

[2022-10-13 18:29] KevinMulhern commented on #2532
Thank you for reporting this, link focus has been fixed.

[2022-10-13 18:29] #2532 closed

[2022-10-13 18:30] KevinMulhern commented on #2664
I haven't heard of this one occurring again since the upgrade to Tailwind 3. Closing.

[2022-10-13 22:07] ChargrilledChook commented on #3018
Seems to be resolved via recent Tailwind fixes
![image](https://user-images.githubusercontent.com/58506115/195719797-9dbaa683-a439-4061-9aa6-ad5e552b6707.png)

[2022-10-13 22:07] #3018 closed

[2022-10-13 22:10] ChargrilledChook commented on #3069
Closing since everything on this list is done :tada:

[2022-10-13 22:10] #3069 closed

[2022-10-14 08:30] KevinMulhern opened #3420 "Chore: Run Erblint in CI"
### Description
We have erblint installed in the app - https://github.com/Shopify/erb-lint. It lints erb views and ensures they follow style guidelines. However, we do not currently run it during our CI build process.

**Note**
This is best done after we are finished with the move to Tailwind as many of the views will be changed during that project.

### Acceptance Criteria
- [x] Fix all issues th

[2022-10-14 15:32] ChargrilledChook opened #3423 "Chore: Create Lesson Contents Table"
_Originally by @KevinMulhern_

### Description

Inspired by how Rails [stores content for action text ](https://guides.rubyonrails.org/action_text_overview.html#installation)- in a separate table instead of on the model table that uses it.

Storing our lesson content in a separate table would have the following benefits:
1. We only use the lessons content on the lesson show page but use lessons ob

[2022-10-15 06:42] #3420 closed

[2022-10-15 07:31] ChargrilledChook opened #3431 "Feature: Different Note Boxes in Lesson Content"
_Originally by @KevinMulhern_

### Why?
We are already using a standard note box which draws attention to important information https://www.theodinproject.com/lessons/foundations-installations#introduction

We could have different note boxes with different styles to give the information more context. For example
Tip - green icon/background
Warning - red icon/background
note - yellow or blue icon/b

[2022-10-15 10:46] syedubaid11 opened #3434 "Bug: The website is highly zoomed in when I open my browser again with the TOP tab open."
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-10-15 10:49] KevinMulhern commented on #3434
Sounds like it may be related this issue: https://github.com/TheOdinProject/theodinproject/issues/2664#issuecomment-1278019437

Can you fill out the browers and OS information in the bug report please @syedubaid11?

[2022-10-15 11:01] syedubaid11 commented on #3434
Done.

And yes it's similar to the bug you mentioned

[2022-10-15 11:34] KevinMulhern commented on #3434
Thanks @syedubaid11 💪

[2022-10-15 18:47] avetisovi commented on #3434
I had the same bug when I was using Brave on Ubuntu 22. Can't reproduce it though.

[2022-10-17 01:21] GabrielRuizVarela commented on #3073
Hey, sorry, I've been super busy. It's better that someone else get assigned to the issue.

[2022-10-17 07:54] KevinMulhern commented on #3073
No worries @KevinMulhern, thanks for letting us know.

[2022-10-17 08:56] scheals opened #3444 "Bug: Can't jump to headers nested in summary elements, discrepancy in lesson contents generation"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [ ] I wou

[2022-10-17 11:33] Maheshkumar-novice commented on #2537
Nice work everyone! @KevinMulhern @ChargrilledChook !

[2022-10-20 03:30] crespire opened #3450 "feat: Add Installing PSQ Lesson to Course"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:
-   [x] I would like to be assigned this iss

[2022-10-20 12:18] cleicar commented on #3431
@ChargrilledChook @01zulfi can we give this a try?

[2022-10-20 12:28] cleicar commented on #3073
@KevinMulhern @01zulfi can I give it a try on this one? Thanks

[2022-10-20 13:00] KevinMulhern commented on #3073
Absolutely @cleicar, I've assigned it to you.

[2022-10-20 20:47] #3450 closed

[2022-10-21 14:14] ChargrilledChook commented on #3092
@KevinMulhern I'm happy to rig this up over the weekend, but I think I'll need you or someone else with admin access to make a Personal Access Token and add it to the repo / org. I assume you've done it before but I can dig up my spike and put down the details if that makes it easier :chicken:

[2022-10-21 23:19] ChargrilledChook commented on #3444
@scheals Did you want to have a go at implementing Kevin's suggested fix? I'm happy to assist if you need help getting the app running locally :wrench:

[2022-10-22 05:37] kazuhirodk commented on #3444
Hi folks! If no interest is expressed, can I work on this issue?

[2022-10-22 10:28] scheals commented on #3444
@ChargrilledChook I am happy to leave this to @kazuhirodk :) I'm going to be setting the app locally in the coming days since there's a fix I want to make that probably is as easy as slapping two key-value pairs but I want to do it the "proper" way :D So look out for my request for help!

[2022-10-22 15:53] KevinMulhern commented on #3444
It's all yours @kazuhirodk

[2022-10-22 17:33] kazuhirodk commented on #3444
Hi folks! I'll submit the @KevinMulhern quick fix suggestion and work on the enhanced solution (auto-open sections for nested collapsed content).
A question: How is the content of a lesson sent? I mean, the issue that @scheals has mentioned on `You are not taken to the section you clicked on, even if it is open` occurs because the nested sections don't contain any `id` for the anchor link. I wante

[2022-10-22 18:00] KevinMulhern commented on #3444
@kazuhirodk It's a limitation of our markdown converter implementation. To keep it simple, we're only breaking the content into sections for top level h3's and ignoring any nested h3's: https://github.com/TheOdinProject/theodinproject/blob/main/lib/kramdown/converter/html_sections.rb#L14

[2022-10-22 18:21] #3444 closed

[2022-10-24 20:00] cleicar commented on #3431
@ChargrilledChook @01zulfi can I work on this one too?

[2022-10-24 21:32] cleicar commented on #3431
@KevinMulhern  @ChargrilledChook @01zulfi can I work on this one next?

[2022-10-25 05:26] KevinMulhern commented on #3431
I think @01zulfi is working on this one @cleicar

[2022-10-25 09:03] KevinMulhern commented on #3092
Sorry @ChargrilledChook, just seeing this. Yeah I can add a token no problem, dm me whatever you need mate, I'll be about all weekend.

[2022-10-25 14:09] 01zulfi commented on #3431
I haven't started any substantial work on this one yet. I'm happy to let you tackle this one @cleicar :rocket:

I don't think we had any note boxes set in stone, but below is a prototype of what I had in mind:

![image](https://user-images.githubusercontent.com/85733202/197795961-0c11f5ac-7b20-4147-ae7b-9494c9031d0d.png)

[2022-10-27 19:16] KevinMulhern opened #3468 "Feature: Installation Appendix Style Refresh"
### Why?
The [installations appendix](https://www.theodinproject.com/lessons/installation_lessons) is just a list of un styled links, we can do better!

### Acceptance Criteria
We don't need anything too fancy, but turning each list item into a box with an icon and good hover effects will go a long way.

Just some ideas I've had for it:
* A layout [like this](https://tailwindui.com/components/appl

[2022-10-27 20:13] JuanVqz opened #3469 "Bug: dev installation documentation"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `Bug: brief description of bug` format, e.g. `Bug: Lesson complete button does not update on click`

The following checkbox is OPTIONAL:

-   [x] I wou

[2022-10-27 20:35] ChargrilledChook commented on #3469
Hi @JuanVqz, your're right that this is something that could be improved. You can find more details for local installation on the wiki - it sounds you need an API token for the GH content  -https://github.com/TheOdinProject/theodinproject/wiki/Running-The-Odin-Project-Locally#get-a-github-api-token

I'm about to start on a larger refresh of some of the documentation and improving access to this in

[2022-10-28 01:00] mgrigoriev8109 commented on #3468
Would love to take this one on @KevinMulhern

[2022-10-29 14:35] JuanVqz commented on #3469
If you have it already in track to solving it, you can close this issue, thanks!

[2022-10-29 14:45] JuanVqz commented on #3193
There is a blog post about it

https://www.ombulabs.com/blog/heroku/github/managing-review-apps-from-github-pr.html

[2022-10-29 14:54] KevinMulhern commented on #3193
@JuanVqz nice! thats the guide I used to set set up these review app labels 😄

But unfortunately, the action [has a limitation](https://github.com/fastruby/manage-heroku-review-app/blob/main/src/index.ts#L29) with creating review apps for PR's originating from forks.

[2022-10-29 14:58] JuanVqz commented on #3193
Let's ask them why they added that limitation and if it could be optional. 💎

[2022-10-30 01:48] ChargrilledChook opened #3470 "Feature: Improve README / Documentation"
**Why?**

There are a number of useful tools and guides for working with the app that could be highlighted better. We could also provide more information and context about the web app itself, rather than general Odin information which is covered well in a number of other places.

**How?**

- [ ] Highlight useful tools for setting up and working on the app
  - [ ] `bin` scripts
    - [ ] test
    -

[2022-10-30 07:35] ChargrilledChook commented on #3469
No worries at all :+1: I've opened a fresh issue here #3470 and have a draft PR up to get the ball rolling. If you have any feedback or ideas, please feel free to comment on either one :raised_hands:

[2022-10-30 12:20] #3092 closed

[2022-10-30 12:44] ChargrilledChook opened #3475 "Test: Issue to project automation"

[2022-10-30 12:45] ChargrilledChook commented on #3475
It works :+1:

[2022-10-30 12:45] #3475 closed

[2022-10-30 16:48] JuanVqz commented on #3469
I'll check it, I want to still contribute on this project :)

[2022-10-31 01:19] JuanVqz commented on #3469
I went to the wiki you shared [Get a GitHub Token](https://github.com/TheOdinProject/theodinproject/wiki/Running-The-Odin-Project-Locally#get-a-github-api-token).

Let's add a paragraph saying that it's okay if we don't select any scope from the `Select scopes` section, it is still working (I tested it).

[2022-10-31 14:25] ChargrilledChook commented on #3469
Happy to add something there, I believe this was originally written before the fine grained PATs were a feature

[2022-10-31 15:00] ChargrilledChook opened #3482 "Docs: Remove Docker instructions from wiki"
**Because**
There's no longer a docker / docker compose file in the repo, so the instructions no longer work

**Notes**
Simple change to make, but wanted to get a quick second opinion first since it's difficult to code review wiki changes

[Relevant page](https://github.com/TheOdinProject/theodinproject/wiki/Docker-Setup)

[2022-11-02 09:17] KevinMulhern commented on #3482
Lets do it @ChargrilledChook, Docker has been long gone from the app haha.

[2022-11-02 10:16] ChargrilledChook commented on #3482
:wastebasket: Done :heavy_check_mark:

[2022-11-02 10:16] #3482 closed

[2022-11-04 00:13] JuanVqz commented on #3470
What do we want/need to do in the `bin` scripts?
can we remove the `bin/setup` file? it seems like is pretty much the same content as `bin/update`

[2022-11-04 01:01] JuanVqz commented on #3431
Where can I find an example of the following lesson-note type?
1 Tip - green icon/background
2 Warning - red icon/background

[2022-11-04 08:10] KevinMulhern commented on #3431
We don't have anything in the system like those atm @JuanVqz. The couple of examples on this issue is the kind of thing we're looking for.

[2022-11-05 00:18] ChargrilledChook commented on #3470
They're both based on the original `bin/scripts` that Rails generates but with some small tweaks. The main difference is that with `update` `db:seed` will always run; on `setup` last time I tested it it would skip seeding if there was already a database

[2022-11-05 00:20] ChargrilledChook commented on #3469
Going to close this one but please feel free to continue this discussion in #3470 :speech_balloon:

[2022-11-05 00:22] #3469 closed

[2022-11-05 22:56] KevinMulhern opened #3486 "Chore: Replace any extra config with arbitrary-values after the TW 3 upgrade"
https://tailwindcss.com/docs/width#arbitrary-values

[2022-11-06 11:34] Asmatzaile opened #3489 "clarify fibonacci assignment in ruby recursion project"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [x] I would like to be assigned this i

[2022-11-06 13:38] #3486 closed

[2022-11-08 23:02] ChargrilledChook commented on #3470
Have made a few updates in the wiki with more to come. So far have added a sidebar with more thematic navigation as well as a footer.

Looking to add some of the suggestions from #3471 next

[2022-11-10 02:28] jogo1818 opened #3497 "Fix: Incorrect theme button behaviour"
https://github.com/TheOdinProject/theodinproject/blob/c4d7cd8478250b7c4c5875af66c9fc670a6d47d1/spec/components/theme/switcher_component_spec.rb#L5

I'm just starting the program so I don't have the ability to suggest a fix for this myself yet. I noticed the app is not behaving as this code seems to intend, and as I would assume it is meant to. Currently, when dark mode is enabled it is the dark mo

[2022-11-10 04:33] ChargrilledChook commented on #3497
Hi @jogo1818, I believe the intent of this test is not about the icon but the behaviour of the button - ie, if you're in dark mode you should have a button that toggles to the opposite.

Although I've had the same thought myself before, it does seem to be a common convention to display the icon of the current mode, not the one you're switching to. Two quick examples:

https://tailwindcss.com/
http

[2022-11-10 07:53] KevinMulhern commented on #3497
Showing the current theme instead of what the theme it will switch to when clicked was indeed ~~taken~~ inspired by the how the theme switcher works on the Tailwind site.

I've seen a few people bring this same up in chat and I wouldn't be against changing this if it's more intuitive to show what theme will be switched to.

Otherwise, I think you're right in regards to the tests not being clear wi

[2022-11-10 16:19] jogo1818 commented on #3497
@ChargrilledChook @KevinMulhern thank you for the feedback! I see what you're saying. I still think the tailwinds example is more intuitive as, while it does display the current theme icon, a drop down appears allowing the user to click on the icon of the theme they want. Our current UI forces the user to click on a dark mode icon to get light mode, and vice versa - which (to me - for what that's

[2022-11-10 17:54] KevinMulhern opened #3498 "Spike: Sidebar Navigation"
### Why?
A sidebar navigation will allow us to use more of the screen on desktops and open up room for some new navigation features.

### Additional Information
Do we show the side nav for logged out users or stick with the traditional top navigation?

[2022-11-10 17:55] KevinMulhern commented on #3497
I _really_ like this option. At the moment, the theme switcher is located in a different place depending on if the user is logged in/out or on a mobile devise. It's a pain for UX and just to maintain. We've discussed moving to a sidebar nav to open up room for some new features, I think we can roll this change into that. I'll start [spiking it](https://github.com/TheOdinProject/theodinproject/issu

[2022-11-10 18:05] jogo1818 commented on #3497
@KevinMulhern ah I see what you mean, yeah when logged out this is actually already as I had described. Sounds good - thank you!

[2022-11-11 08:00] ChargrilledChook commented on #3468
Hey @mgrigoriev8109, how's this one coming along?

I don't ask to create pressure or urgency, more just checking in. I'm more than happy to offer assistance if I can :slightly_frowning_face:

[2022-11-12 10:42] ChargrilledChook commented on #3470
Added a signifcant contributors section to the wiki - perhaps ultimately the team page is a better spot, but this is a good / easy to change place to put it for now

https://github.com/TheOdinProject/theodinproject/wiki/Significant-Contributors

[2022-11-13 02:51] ChargrilledChook commented on #3470
Added notable technologies section to wiki, will flesh out with some references and maybe short explanations. Goal here is to help (especially beginner) contributors get their bearings

https://github.com/TheOdinProject/theodinproject/wiki/Notable-Technologies

[2022-11-21 19:45] KevinMulhern opened #3517 "Discussion: Add Dependabot Bumps to Project"
**1. Description:**
The add to project GH action is failing with Dependabots PR's due to those PR's not having access to GH secrets. There [are ways around it](https://github.com/actions/add-to-project). But do we want dependabot PR's in our project board?

[2022-11-21 19:46] KevinMulhern commented on #3517
I could go either way, but because they are a weekly maintenance thing that don't hang around long, I think I'm leaning towards not having them on our project board and excluding them from our add to project action.

[2022-11-24 07:46] KevinMulhern commented on #3517
This sounds good to me, what's your thoughts on adding a guard clauses to the action so we don't run it for PR's? we'll only use it for issues.

Here for it, I can see this being very useful on the curriculum repo.

[2022-11-24 15:30] Overlandcoder opened #3518 "Add link to go back to project on Solutions page"
Complete the following REQUIRED checkboxes:

-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [x] The title of this issue follows the `brief description of request` format, e.g. `Add dark mode to website`

The following checkbox is OPTIONAL:

-   [ ] I would like to be assigned this i

[2022-11-26 03:48] ChargrilledChook commented on #3517
Done :heavy_check_mark: Basic config for this is very easy, so an easy one to revisit if we change our minds

Absolutely, I think the more that can be automated and streamlined the easier it will be to manage for both maintainers and contributors

[2022-11-28 21:44] CouchofTomato opened #3528 "Feature: Update section lesson complete button to use turbo"
### Why?

Currently we use a stimulus controller to handle updating the lesson complete icon on the course page as shown in the screenshot below and also the individual lesson complete buttons as shown in the second screenshot

![Image](https://user-images.githubusercontent.com/12649577/204387772-1c358650-7e30-4b3a-954a-103d0fdbb87b.png)

![image](https://user-images.githubusercontent.com/12649577

[2022-11-29 12:19] CouchofTomato opened #3529 "Feature: Explore using turbo streams to update the notification icon when a notificaiton is sent to a student"