[2017-09-29 14:06] KevinMulhern opened #761 "Redesign: Fix Issues Raised at Last Review"
**Badges**
- [x] reverse hover states, always show the badge.

**Overview section**
- [x] Typo in the title, space out the Odin Project
- [x] margin bottom 60px for title

**Buttons**
- [x] 1em font size

[2017-09-29 14:23] #761 closed

[2017-10-01 21:52] kawaqui opened #764 "CSS lessons in Codecademy are poor."
After finishing the CSS courses in Codecademy I found out that the content is not enough, and the explanations are not detailed.
I had to do the CSS course on https://www.w3schools.com/ and I found it better.
More detailed and better explained.
Why not include it in the HTML and CSS Basics, maybe as (optional ?)
Same goes for HTML and Javascript. Codecademy is good but not enough even for the basi

[2017-10-01 22:40] KevinMulhern commented on #764
Hi @kawaqui 👋

I agree that the codecademy courses aren't comprehensive, Most students have found them to be fairly decent introductory resources for their respective subject though.

I think its also worth bearing in mind that each of the lessons in the Web Development 101 course are designed to be shallow introductions to each subject so students can get an overview of everything and then learn

[2017-10-01 22:42] KevinMulhern commented on #764
Oh I'm just noticing this is on the main site repo, the curriculum repo would be a better place for this. Do you mind opening this as an issue over on that repo instead please? https://github.com/TheOdinProject/curriculum

[2017-10-01 22:42] #764 closed

[2017-10-11 16:28] #419 closed

[2017-10-11 16:31] KevinMulhern opened #767 "Redesign: Style Welcome Email"
The welcome email hasn't gotten any attention during the redesign. It could use a spruce up with styling so it fits in more with the new design of the site. We don't have any mock ups for this at the moment so use your best judgment when styling it, as long as it fits in with the design of the site it will be fine.

---
### Working on this task

- [ ] If you want to work on this task, please claim

[2017-10-12 00:13] 105ron commented on #767
I will take this.

[2017-10-12 07:02] KevinMulhern commented on #767
🎉 Thanks @105ron

[2017-10-14 17:32] mindovermiles262 opened #772 "Chat Icon: Click to close"
Expected chat icon in lower right corner to toggle chat window. Currently, the icon does not close the chat window if open

[2017-10-14 17:41] mindovermiles262 opened #773 "On Screen Chat: Active Focus colors"
When clicked, (:active && :hover), the close button of the chat turns a purple color (see photo).  Removing `outline:focus` resolves this issue, but maybe interferes with accessability (@codyloyd ?)

<img width="581" alt="screen shot 2017-10-14 at 10 32 54 am" src="https://user-images.githubusercontent.com/14863257/31577947-27831962-b0cc-11e7-8def-3590c4db568d.png">

[2017-10-14 17:45] mindovermiles262 commented on #773
http://www.outlinenone.com/

Possible Alternatives: http://a11yproject.com/posts/never-remove-css-outlines/

[2017-10-18 11:35] KevinMulhern commented on #772
Nice spot @mindovermiles262 😄

[2017-10-18 11:37] KevinMulhern commented on #773
I'll leave this to our resident accessibility expert @codyloyd  to decide on which solution we should go with 😄

[2017-10-18 11:37] #760 closed

[2017-10-18 11:37] #635 closed

[2017-10-18 11:40] CouchofTomato commented on #772
There is an x in the top right corner that closes it. Do we want to also add the toggle feature?

[2017-10-18 13:12] codyloyd commented on #773
this happens because they're using a filter to turn the button red when it's focused.. which as a side effect turns the focus ring that dumb pink color.

solution: override this rule in our CSS somewhere
[code]

just say `filter: none` and `-webkit-filter: none;`

If I have time this afternoon I can solve the issue.. but someone else might be able to get to it sooner.

[2017-10-18 14:24] CouchofTomato commented on #772
I believe this issue is now fixed

[2017-10-18 14:24] #772 closed

[2017-10-18 15:02] mindovermiles262 commented on #773
I will knock this out momentarily

[2017-10-19 00:44] #773 closed

[2017-10-22 03:22] AkshayRameshAppDEV commented on #662
@KevinMulhern  Hey Kevin Mulhern. I would like to work on implementing the Lesson Page Nav, can I work on it ?
Thank You!

[2017-10-23 04:21] 105ron opened #780 "Login page has incorrect title"
On the staging [site](https://staging-odin-project.herokuapp.com/login?ref=homenav) the login page directs you to the U-auth provides with a `Sign up with` instead of `Log in with`.

[2017-10-23 04:42] JonathanYiv commented on #780
I would like to battle this issue

[2017-10-23 04:57] KevinMulhern commented on #780
Thanks @JonathanYiv 😄

[2017-10-23 05:30] KevinMulhern opened #781 "List alignment in lesson content"
Lists should be flush left aligned with the rest of the content in a lesson, but currently they are not.

Check out this lesson for an example https://staging-odin-project.herokuapp.com/courses/getting-hired-as-a-web-developer/lessons/it-starts-with-you

[2017-10-23 11:40] ayushkamadji opened #782 "Course emblem popping out of location"
The course emblem is displaced when using a mobile size window. It will go back to normal position after hovering into the element.

![image](https://user-images.githubusercontent.com/8255357/31886889-67950b2c-b820-11e7-8494-abb5c38e1bc0.png)

Reproduce:
1. Open a mobile wide browser window
2. Login to account
3. Go to curriculum page

Broswer build:
Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:56.0

[2017-10-23 17:02] merlin2049er commented on #780
Hmm, can I fix this?

[2017-10-23 18:08] mindovermiles262 commented on #780
@merlin2049er it looks like @JonathanYiv has already claimed this issue

[2017-10-24 22:22] KevinMulhern opened #788 "Redirect for deleted Introduction to web development course"
We have been getting a lot of errors from outside links directing users to the deleted "Introduction to web development" course.

It would be good to redirect these users to the web dev 101 course instead.

**Task:**
* Set up a redirect to the Web development 101 course for any routes that match `/courses/introduction-to-web-development/`

---
### Working on this task

- [ ] If you want to work on

[2017-10-25 03:31] JonathanYiv commented on #780
Sorry I took so long. I will try to do this right now.

[2017-10-25 04:58] ayushkamadji commented on #782
@KevinMulhern I tried this in chrome and it seems to work as intended. I think the issue here is having a position: absolute element inside a flex-box. The flexbox layout spec seemed to have a back and forth on this issue. I can see how some browsers may implement things differently.

I'll play around but I'm not sure if I can fix this. I'll make a PR if I manage to.

[2017-10-25 04:59] KevinMulhern commented on #782
No problem @ayushkamadji, thanks for looking into this one 😄

[2017-10-25 05:44] JonathanYiv commented on #788
I would like to lay claim to this one

[2017-10-25 17:12] KevinMulhern commented on #788
Its all yours @JonathanYiv, thank you 😄

[2017-10-25 17:12] #780 closed

[2017-10-25 22:20] leosoaivan commented on #781
Is this in regards to the numbered lists?

[2017-10-25 22:56] KevinMulhern commented on #781
@leosoaivan yeah exactly, when it gets to double digits the alignment gets all screwed up 😄

[2017-10-26 03:23] DuncanSage opened #792 "error 404 for links on Web Development 101 Project: HTML/CSS"
Links in this lesson that lead to other Odin project lessons take you instead to the 'are you lost page?'.
<a href="https://www.theodinproject.com/lessons/html-css">https://www.theodinproject.com/lessons/html-css</a>

[2017-10-26 03:40] OscarLawton opened #793 "Issue with the new Odin site"
On this page - https://www.theodinproject.com/courses/web-development-101/lessons/javascript-and-jquery

... The link to the Google home page leads to a dead end, here https://www.theodinproject.com/web-development-101/html-css

[2017-10-26 04:32] JonathanYiv commented on #793
Thank you, will fix

[2017-10-26 04:41] mindovermiles262 commented on #792
Thanks for letting us know, @DuncanSage 👍

[2017-10-26 04:42] JonathanYiv commented on #792
@mindovermiles262 just made a PR a second ago so you don't waste your time

[2017-10-26 11:29] leosoaivan commented on #781
It appears to be a simple fix, but the indents of the list items follows the alignment of the numbering.

![image](https://user-images.githubusercontent.com/13614862/32050080-94052ecc-ba1d-11e7-8609-7bb4590cd545.png)

It might be possible to re-indent the list items if they are wrapped in a padded `<span>` element, but I'm not sure how that would work since the content is piped in from the curricu

[2017-10-26 15:34] #788 closed

[2017-10-26 20:09] #793 closed

[2017-10-26 20:09] #792 closed

[2017-10-26 20:59] KevinMulhern opened #796 "Remove unique validation on Username field on User model"
We are getting quite a few New Relic errors about this. We don't really need this to be unique though so removing this validation would be a good idea.

You will need to remove the unique validation for username on the user model and remove the unique constraint in the username index on the database as well.

---
### Working on this task

- [ ] If you want to work on this task, please claim it by

[2017-10-26 21:28] JonathanYiv commented on #796
What are New Relic errors?

[2017-10-26 21:39] KevinMulhern commented on #796
New relic is an application monitoring service. I can give you access if you like. Its a really good thing to know about.

[2017-10-27 01:55] code-io commented on #796
Hi! I would like to solve this issue. Can I claim it?

[2017-10-27 02:25] KevinMulhern commented on #796
Yeah its all yours @code-io, thank you

[2017-10-27 03:30] KevinMulhern opened #798 "Clean up resume course logic"

[2017-10-27 03:30] KevinMulhern commented on #798
on it

[2017-10-28 06:08] mindovermiles262 opened #803 "Code of Conduct"
As TOP grows we should implement some code of conduct. Something that outlines our views for the project and what we will not tolerate.

[2017-10-28 22:46] leosoaivan commented on #803
Agreed, had a similar thought yesterday after an interesting incident in the Gitter chat. I pulled the following from various sources:

Just something to kick this off.

[2017-10-29 00:24] mindovermiles262 commented on #803
🔨

[2017-10-30 17:44] mindovermiles262 commented on #803
I didn't even look before making this Issue :see_no_evil:

There is already a code of conduct in both the main repo and the curriculum repo

[2017-10-30 18:17] KevinMulhern commented on #803
I seen this as more chat oriented code of conduct, I think its something we should make a page for on the site like the terms of use. We could then direct users who violate it towards it as a warning.

[2017-10-31 12:45] codyloyd commented on #803
we should also link it in the /help command on the bot

[2017-10-31 14:00] mindovermiles262 commented on #803
Is this worth adding to the footer of the main site? or just in the FAQ?

[2017-10-31 21:26] OmarMoataz opened #806 "Make section title clickable"
can you guys make Ruby Programming clickable like the old site

![image](https://user-images.githubusercontent.com/12211990/32249749-c70d55e6-be92-11e7-89d0-49083e738dcc.png)
I would like to be able to click on Ruby Programming to get to the entire lessons list

[2017-10-31 22:14] KevinMulhern commented on #806
Thanks for raising this issue @OmarMoataz, agreed that this would be useful.

[2017-10-31 23:08] KevinMulhern commented on #803
The Faq would be the easiest and quickest way of getting it on the site, it gets my vote 👍

[2017-11-01 00:04] KevinMulhern opened #808 "Fix broken Google analytics event trackers"
With a lot of selectors changed in the redesign a lot of the google analytics event trackers are no longer working.

It would be good to get these functioning again so we can monitor things properly.

The code for the event triggers is here https://github.com/TheOdinProject/theodinproject/blob/master/app/assets/javascripts/analytics.js.erb

The task here will be to cross reference the selectors us

[2017-11-01 00:06] #806 closed

[2017-11-01 00:13] #796 closed

[2017-11-01 02:10] mindovermiles262 commented on #803
I'll knock this out

[2017-11-01 16:36] mindovermiles262 commented on #803
#810

[2017-11-01 21:58] #803 closed

[2017-11-02 04:40] Deetss opened #811 "Make check marks on course page clickable"
Just as a quality of life addition, i would personally like to be able to click on the check circle on the course page and change the state from incomplete to complete or vice versa.

[2017-11-02 12:06] JonathanYiv commented on #811
I got this!

[2017-11-02 12:07] JonathanYiv commented on #811
Thanks for pointing this out. Lemme know if there's more QoL changes you miss. One thing I personally miss is the little navigation bar at the top of each lesson that you can jump from lesson to lesson with

[2017-11-02 12:14] KevinMulhern commented on #811
We had this in the old design, after tracking it with google analytics we discovered that it wasn't used that all often compared to the complete button on the lesson page. So we deemed it not worth the development time during the redesign with so much other things to do.

But it wouldn't hurt to include that feature again 😄

@JonathanYiv we should talk about the breadcrumbs bar, a few people have

[2017-11-02 12:16] JonathanYiv commented on #811
Sounds good!
I'm trying to familiarize myself with the code base anyway so things like this are helpful for me.

[2017-11-02 12:44] Deetss commented on #811
I tried to do it myself last night but it it seems like it would take too much of my time

[2017-11-03 06:15] arun1595 opened #812 "Remove contact route"
Error report from New Relic:

**Action and Type:**

`ErrorsController#not_found AbstractController::ActionNotFound`

**Message:**

`AbstractController::ActionNotFound | The action 'contact' could not be found for StaticPagesController`

We've removed `contact` action and view in https://github.com/TheOdinProject/theodinproject/commit/59ed19957abc3751ee64274ee50da7f4a52927a2 but missed to remove th

[2017-11-03 06:45] arun1595 opened #815 "Fix undefined local variable or method `title' for nil:CourseDecorator"
**URL**

`/courses/introduction-to-web-development/lessons/web-development-jobs-and-careers`

[2017-11-03 06:56] arun1595 commented on #815
The issue is because we removed the **Introduction to Web Development** course. We'll have to update the course ids of the lessons which don't belong to a course currently.

[code]

[2017-11-03 07:00] arun1595 opened #816 "ActiveRecord::RecordInvalid in OmniauthCallbacksController#github"
**Error Message:**

`ActiveRecord::RecordInvalid: Validation failed: Learning goal is too long (maximum is 100 characters)`

Some users have added a learning goal which is greater than 100 characters before the validation was enforced. The issue pops up when a user with a long learning goal(length > 100) tries to login with github.

[code]

[2017-11-03 12:22] #816 closed

[2017-11-03 12:24] KevinMulhern commented on #815
This could also be happening due to outside referral links, I think the quickest and best solution to this would be creating a route that redirects users trying to access the Intro to Web Development course to Web Development 101.

[2017-11-03 12:30] KevinMulhern commented on #812
I remember removing all the unused routes in a pr recently 😖 I'm not sure what happened to them.

[2017-11-03 12:31] #812 closed

[2017-11-10 23:55] JonathanYiv commented on #811
Is this more of a JS thing than Rails? If so, it might take me a little while to get to it while I learn JS

[2017-11-11 19:53] KevinMulhern commented on #811
It can be done in rails with minimal js. It would be good to have a look at how we do it on individual lesson pages for an idea of how to do it.

[2017-11-12 07:30] ChadKreutzer opened #821 "When not logged in, logo link to "home" is broken."
When you are not logged in, the Odin Project logo in the top left hand corner links to https://www.theodinproject.com/home which does not work (I've tried on all the main browsers) I'm looking at it to fix, but it has been a long time since I've played with Rails. :)
we either need to fix it to point to https://www.theodinproject.com or make https://www.theodinproject.com/home point to something.

[2017-11-12 07:36] ChadKreutzer commented on #821
hmm. looks like it wants to be '/' or 'root'?

[2017-11-12 16:08] leosoaivan commented on #821
Looking into it!

[2017-11-12 17:06] KevinMulhern commented on #821
This might be due to the split test thats running. We will be turning it off this week.

[2017-11-14 09:17] #811 closed

[2017-11-14 17:10] OmarMoataz opened #824 "Ruby Programming - A Deeper Look at Git"
![image](https://user-images.githubusercontent.com/12211990/32793439-974f120e-c96e-11e7-88ca-48aeb7308974.png)

"this section" doesn't go anywhere, it takes me to the "You're lost odinite" page. I am not sure where it should or whether or not it should be a link in the first place.

Thanks in advance.

[2017-11-14 17:15] JonathanYiv commented on #824
When we redesigned Odin, we also changed the way course and lesson paths are structured, so it broke a lot of links. This is one of those cases.
For reference, it was just linking to the next lesson: "Using Git in the Real World."

[2017-11-14 17:17] OmarMoataz commented on #824
Yeah, I figured that had something to do with it. Thanks, Jonathan.

[2017-11-14 17:18] JonathanYiv commented on #824
Thank you for pointing it out!

[2017-11-14 17:43] KevinMulhern commented on #824
We should move this to the ruby course.

[2017-11-14 17:45] KevinMulhern commented on #824
oops, it already has.
Thanks for fixing this @JonathanYiv

[2017-11-14 17:45] #824 closed

[2017-11-20 05:29] mindovermiles262 commented on #782
https://github.com/TheOdinProject/theodinproject/pull/828

[2017-11-20 09:40] JonathanYiv commented on #821
Closed because test is complete!

[2017-11-20 09:40] #821 closed

[2017-11-20 17:32] #782 closed

[2017-11-22 16:02] bishisht opened #830 "Broken link"
In https://www.theodinproject.com/courses/ruby-programming/lessons/introduction-to-rspec page I am trying to follow link to Web Dev 101 rspec  intro ( which is in assignment section ) I clicked the link ( https://www.theodinproject.com/courses/ruby-programming/lessons/introduction-to-rspec ) and I got 404. Thanks. Please fix this asap.

[2017-11-22 16:19] mindovermiles262 commented on #830
Fixed https://github.com/TheOdinProject/ruby_course/commit/e33d62c3e515dc29ab66fa319880f3c83b5aef97

[2017-11-22 16:19] #830 closed

[2017-11-22 16:19] mindovermiles262 commented on #830
Thanks for bringing this up, @bishisht :+1:

[2017-11-23 15:00] bishisht commented on #830
Thanks man :)

[2017-12-05 03:59] sgbasaraner opened #833 "broken link"
Link to Ruby Course is broken in this link:

https://www.theodinproject.com/courses/javascript-and-jquery/lessons/tic-tac-toe

[2017-12-05 04:43] arun1595 commented on #833
@sgbasaraner Thanks for letting us know. The issue has been fixed :)

[2017-12-05 04:43] #833 closed

[2017-12-31 10:20] 105ron commented on #808
@KevinMulhern can we close this now?

[2018-01-01 10:59] OmarMoataz opened #844 "W3Schools course database might have changed"
![image](https://user-images.githubusercontent.com/12211990/34467176-247f681a-eef2-11e7-933d-b5cc10d49688.png)

This is part of the [Databases and SQL](https://goo.gl/UNXcsW) course.

![image](https://user-images.githubusercontent.com/12211990/34467183-9b94e650-eef2-11e7-9dec-f8261c3eca22.png)

This screenshot shows that there isn't a NumberOfOrders Column.

I might be doing something wrong. Feel

[2018-01-01 21:41] KevinMulhern commented on #808
@105ron oops, yeah this can be closed.

[2018-01-01 21:41] #808 closed

[2018-01-02 00:34] arun1595 opened #845 "Forms in settings page all have the same id"
Profile, Learning goal and password forms all have the same id(`edit_user_#{user_id}`) generated by `form_for` helper.

Error message:

[code]

[2018-01-03 19:31] #845 closed

[2018-01-05 15:32] #662 closed

[2018-01-08 18:59] wycats opened #848 "Offering The Odin Project a free Skylight account"
Hello maintainers of The Odin Project's website!

We’re planning on making [Skylight](https://www.skylight.io/) free for open source projects this year and want to offer you a free beta account to use Skylight on your Rails app for free.

If you’re not already familiar with [Skylight](https://www.skylight.io/), it is a smart profiler for Ruby on Rails apps. Skylight makes it easy to pinpoint perfo

[2018-01-09 12:04] KevinMulhern commented on #848
Hi @wycats, we would definitley be interested in trying Skylight out. I'll send an email to the support address.

[2018-01-10 00:06] KevinMulhern commented on #844
Hey @OmarMoataz, sorry it took so long to have a look at this.

You are indeed correct. It looks like w3 have changed that example.

This will need fixed.

This repo is not the place for this issue though. It belongs in this repo https://github.com/TheOdinProject/mini_courses

I'll make an issue for it over there.

Thanks for reporting this

[2018-01-10 00:06] #844 closed

[2018-01-10 00:08] #781 closed

[2018-01-10 00:12] KevinMulhern opened #850 "Lesson Navigation tweaks"
There are some lessons where there are no headings to populate the lesson navigation. This makes the page look odd as the content seems to be indented for no reason.

 This page is a good example https://www.theodinproject.com/courses/web-development-101/lessons/conclusion-web-development-101

The solution for this is to hide the column for lesson navigation if there are **less than 2**  navigatio

[2018-01-14 14:08] #850 closed

[2018-01-14 14:09] KevinMulhern commented on #848
We've signed up 😄

[2018-01-14 14:09] #848 closed

[2018-01-16 21:27] KevinMulhern opened #854 "Dropdown for the Forum"
To fit the forum link in the nav bar, we should convert the current "Chat" menu item in the nav bar to a dropdown with the heading "Community". We can then have two links in the dropdown. The existing "Chat" link and  a new "Forum" link, which will go to www.forum.theodinproject.com

If you have any questions or need any clarification about anything please let me know 😄

[2018-01-16 22:24] KevinMulhern commented on #854
@RobPando is working on this 💪

[2018-01-21 18:56] BryanSingh commented on #656
Who is working on this?

[2018-01-21 19:28] KevinMulhern commented on #656
Hey @BryanSingh 👋

It's all mostly been done, we just need to add an optional step to the [installation guides](https://github.com/TheOdinProject/theodinproject/wiki) to set it up locally. Thats up for grabs if you'd like to work on it?

[2018-01-21 19:33] BryanSingh commented on #656
@KevinMulhern

You mean to write the docs for setting up the Google OAuth locally, or setting up the entire application locally? (I am open to both, just wanted to clarify which one you meant!)

[2018-01-21 19:42] KevinMulhern commented on #656
No worries @BryanSingh, just setting up Google OAuth locally. We have instructions for the everything else already in the guides 😄

[2018-01-22 10:51] mftaff commented on #815
@KevinMulhern I am new-ish to open source contributing. May I have a go at this?

[2018-01-22 12:36] KevinMulhern commented on #815
Hey @mftaff, yeah it looks like this one has been solved. It isn't showing up in newrelic anymore. Thank you for wanting to contribute to the project. I have a bunch of other issues that I'll be putting up soon.

[2018-01-22 12:36] #815 closed

[2018-01-24 22:50] #854 closed

[2018-01-25 00:46] mindovermiles262 opened #856 "Community Hover Action"
With the roll-out of the Forum, we should add a JS hover event for the "Community" button, similar to the Odin log when logged in

[2018-01-29 02:20] James-N-M opened #857 "Potential Scam Email"
Hi I got an email from http://www.microverse.org/#faq you guys should look into this potential scam. to avoid potential students from falling into this and losing potentially thousands of dollars they could spend on school or anything..... seems like a scam maybe it isn't I dunno sorry In advance just looking out for the fellow students like me. http://www.microverse.org/#faq

[2018-01-29 03:37] KevinMulhern commented on #857
Hi @James-N-M thanks for opening this issue. I don't quite understand though, how does this have anything to do with Odin?

[2018-01-29 05:01] James-N-M commented on #857
I’ll close the issue and pr you the emails

[2018-01-29 05:01] #857 closed

[2018-01-29 10:32] KevinMulhern commented on #857
No problem, thanks @James-N-M

[2018-02-06 14:24] talihomz opened #859 "Change "Learning Outcomes" to "Points to Ponder" in the Ruby Lessons"
In the "Test Yourself" section of [Ruby Building Blocks](https://www.theodinproject.com/courses/ruby-programming/lessons/ruby-building-blocks), there is an instruction to "look at all the questions from the “Points to Ponder” section" which doesn't seem to exist.

This is also happens at the [Advanced Ruby Building Blocks] lesson (https://www.theodinproject.com/courses/ruby-programming/lessons/adv

[2018-02-06 14:37] codyloyd commented on #859
this refers to "Learning Outcomes"  we have been changing the wording across the site from Points to Ponder to Learning Outcomes.... and must have missed this reference.

[2018-02-06 15:00] talihomz commented on #859
Is this issue available for me to resolve?
I'm learning about contributing to open source, and would like to use this to make my first PR if its agreeable.

[2018-02-06 15:08] codyloyd commented on #859
@talihomz DO IT.

may the force be with you.

[2018-02-07 11:39] talihomz commented on #859
Thanks @codyloy. I'm working on this.

[2018-02-07 12:38] talihomz commented on #859
I've gone through the codebase and cant find "Learning Outcomes" in any markup file on the project. Is this being populated from a database?

[2018-02-07 13:04] KevinMulhern commented on #859
Hey @talihomz, yeah the lesson content is pulled in from this repo https://github.com/TheOdinProject/curriculum

We've also been splitting out some of the courses to individual repos
Javascript - https://github.com/TheOdinProject/javascript_curriculum
Ruby - https://github.com/TheOdinProject/ruby_course
Rails - https://github.com/TheOdinProject/rails_course

[2018-02-07 13:54] talihomz commented on #859
Ok @KevinMulhern. I'l will look for files where changes are needed in the ruby course repo.

[2018-02-08 18:40] mindovermiles262 commented on #767
https://foundation.zurb.com/emails.html

[2018-02-08 19:17] chrislabarge commented on #856
https://drive.google.com/file/d/181zt5mJGFyD9NBd0ABc4t0FshjSx1l8L/view?usp=sharing duplicate the dropdown on hover?

[2018-02-08 20:28] KevinMulhern commented on #856
Hey @chrislabarge, yeah duplicating the behaviour and style of the user dropdown on the community dropdown.

[2018-02-08 20:45] chrislabarge commented on #856
@KevinMulhern ok awesome. I can work on this if no one else is.

[2018-02-14 20:51] leosoaivan commented on #856
Closing. Resolved with #860

[2018-02-14 20:51] #856 closed

[2018-02-14 20:53] leosoaivan commented on #859
Closed. Resolved with TheOdinProject/ruby_course/pull/148

[2018-02-14 20:54] #859 closed

[2018-03-01 11:02] nidalaa opened #865 "Wrong # in link for RoR lesson: getting your feet wet"
If you go to assigments of this lesson (https://www.theodinproject.com/courses/ruby-on-rails/lessons/getting-your-feet-wet#assignment) and click _Web Development Frameworks section._ link in point 3 you will be get to https://www.theodinproject.com/courses/web-development-101/#section-web-development-frameworks and element with `section-web-development-frameworks` does not exist on the page.

[2018-03-01 12:03] talihomz commented on #865
Hmmm, I tried it out @nidalaa, and saw the issue.

The link targets `section-web-development-frameworks` but should target `web-development-frameworks`.  If no one is working on this already, I can go ahead and submit a PR with the fix.

[2018-03-01 15:21] mindovermiles262 commented on #865
All yours, @talihomz

[2018-03-01 16:15] talihomz commented on #865
Thanks @mindovermiles262 😉.

I've made a [PR for this](https://github.com/TheOdinProject/rails_course/pull/68) that fixes the issue.

[2018-03-05 17:15] I3uckwheat opened #866 "fourm link broken"
In the hamburger menu, under community, the form link takes you to '#' instead of the fourms

[2018-03-05 23:10] jmooree30 commented on #866
I put in a PR with a fix.

[2018-03-06 12:06] KevinMulhern commented on #866
Nice catch @I3uckwheat, thanks for raising this issue 😄

Thanks for the submitting a fix @jmooree30 🎉

[2018-03-07 20:36] PolarisTLX opened #868 "Linux Installation Guide - change order of instructions"
On this link:
https://github.com/TheOdinProject/theodinproject/wiki/Linux-Installation-Guide

This instruction:

"If you encounter an error, could not connect to server or PG::ConnectionBad, you will need to start the PG server:
`sudo service postgresql start`"

Should go above:

"Next we need to create our role. Run the following:
`$ sudo -u postgres createuser yourusername -s
$ sudo -i -u postgr

[2018-03-09 22:41] #866 closed

[2018-03-09 22:42] KevinMulhern commented on #868
Nice spot @PolarisTLX, thanks for your detailed issue report. This would be a good issue for a first timer.

[2018-03-09 22:43] #865 closed

[2018-03-09 22:44] #624 closed

[2018-03-11 22:45] KevinMulhern opened #877 "Re-architect the Projects Component"
Currently the projects component on the lesson page is quite complicated with lots of conditional logic. Making it more straight forward will ensure it is more extensible and maintainable.

[2018-03-11 22:45] KevinMulhern commented on #877
I'm working on this

[2018-03-11 22:51] KevinMulhern opened #878 "Convert Create Project Controller Action to an API Endpoint"
Currently the create project controller action and create.js are heavily coupled this makes both more complicated.

Converting the create action into a simple API endpoint and moving the frontend logic for the create project feature to ajax functions in the assets folder will make the code leaner and much simpler.

[2018-03-11 22:52] KevinMulhern commented on #878
@arun1595 I don't suppose you want this one?

[2018-03-11 23:35] arun1595 commented on #878
@KevinMulhern I'll work on it :)

[2018-03-12 03:09] PolarisTLX commented on #868
Is it just a matter of editing that text file right in its Github page?  If so then I went ahead and did so. If there is anything else required I'm happy to give that a shot as well.

[2018-03-12 04:56] KevinMulhern commented on #868
Brilliant, thanks a lot for contributing @PolarisTLX 😄

[2018-03-12 04:56] #868 closed

[2018-03-12 17:16] GauravDhanuka opened #879 "Stories page shows Sign-Up button even when user is signed in."

[2018-03-14 00:20] goliveira-dev commented on #879
Newbie here!
The file is https://github.com/TheOdinProject/theodinproject/blob/master/app/views/static_pages/success_stories.html.erb

Needs to make an IF Check about user session.

[2018-03-14 11:56] KevinMulhern commented on #879
Thanks for reporting this @GauravDhanuka and thank you for linking to the file @goliveira-dev.

The sign_up_button helper call just needs to be replaced with a call to [this helper](https://github.com/TheOdinProject/theodinproject/blob/master/app/helpers/application_helper.rb#L185) to fix this issue 😄

[2018-03-14 12:06] KevinMulhern opened #880 "Javascript not Loading on Lesson Pages"
There is a bug on lesson pages where the Javascript isn't working.

### To Recreate

1 Refresh a lesson page
2. Access a lesson page through an external link such as this one: https://www.theodinproject.com/courses/ruby-programming/lessons/advanced-ruby-building-blocks

### Notes
There doesn't seem to be any Javascript errors in the dev tools console, I suspect this is a issue with turbo links.

[2018-03-15 17:39] heyalvaro opened #882 "Broken link in https://www.theodinproject.com/lessons/oop"
Inside https://www.theodinproject.com/lessons/oop there's a paragraph that says

The link for _this file_ is [https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/intermediate_ruby/oop_project.md](url) and it's broken. I'll fix it as soon as I can

[2018-03-15 22:23] heyalvaro commented on #882
Basically the link has to be changed from:
https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/intermediate_ruby/oop_project.md
to:
https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/intermediate_ruby/project_oop.md

[2018-03-15 22:26] heyalvaro commented on #882
@KevinMulhern I've forked theOdinProject website repo and followed the steps of the wiki. When I run rspec I pass all the unit tests but with cucumber that's not the case. What am I missing to be able to fix the link? Thanks! (I'm attaching the output of the cucumber command)
[output.txt](https://github.com/TheOdinProject/theodinproject/files/1817310/output.txt)

[2018-03-16 12:59] KevinMulhern commented on #882
Hi @heyalvaro, the cucumber tests have been broken since the redesign. We've been planning on replacing them with RSpec feature tests. Thats why we haven't fixed them.

For the broken link, you'll have to edit it on the ruby_course repo instead of this repo. This is the file where the lesson content for that project lives https://github.com/TheOdinProject/ruby_course/blob/master/ruby_programming/i

[2018-03-16 13:56] Deetss commented on #656
I'd like to take over the Google OAuth task

[2018-03-16 14:00] KevinMulhern commented on #656
Hey @Deetss, thanks for offering to take this on 😄

Theres not much left to do on this issue. The only thing left to close this issue is documentation on the installation guides for the app.

[2018-03-16 18:52] Deetss commented on #880
I want to take care of this instead lol

[2018-03-18 17:27] KevinMulhern commented on #880
aha no worries @Deetss

[2018-03-19 09:22] OmarMoataz opened #883 "White characters on white background in Active Record Queries lesson"
Hey, the characters here are very hard to read.

<img width="868" alt="image" src="https://user-images.githubusercontent.com/12211990/37587246-7624ea44-2b67-11e8-8e46-804e85f4f4e5.png">

Link: https://www.theodinproject.com/courses/ruby-on-rails/lessons/active-record-queries

This might be browser specific. if so, I'm using Firefox.

[2018-03-19 10:35] KevinMulhern commented on #883
Hey @OmarMoataz, thanks for the report. I think this is might be due to the async attribute on the javascript include tag here: https://github.com/TheOdinProject/theodinproject/blob/master/app/views/shared/_head.html.erb#L35

Removing that to see if it fixes the problem would be worth a shot.

[2018-03-19 14:08] mindovermiles262 commented on #883
Have we figured out how to reproduce this issue?

[2018-03-19 14:12] OmarMoataz commented on #883
I tried it on chrome, the problem is that it doesn't render the black background on Firefox. I suspect you guys have already figured that out but I thought I should point it out anyway.

[2018-03-19 21:51] OmarMoataz commented on #883
I'm gonna close this for now because it seems to be working correctly on Firefox (without changing anything on my side). I can not reproduce the issue. Thanks!

[2018-03-19 21:51] #883 closed

[2018-03-20 16:49] #879 closed

[2018-03-20 21:44] #882 closed

[2018-04-05 14:35] Deetss commented on #880
@KevinMulhern I'm having a hard time recreating the bug here, the only thing i'm noticing is that the lesson is'nt centered after the refresh

[2018-04-05 17:25] Deetss commented on #880
Addressed in #884

[2018-04-07 22:42] KevinMulhern commented on #880
Hey @Deetss it still seems to be there unfortunately 😞 If you go to a lesson page and refresh the navigation on the left side disappears.

[2018-04-08 03:36] Demo318 opened #886 "Facebook URL preview"
<img width="475" alt="screen shot 2018-04-07 at 10 33 53 pm" src="https://user-images.githubusercontent.com/18633311/38462925-f1aa81dc-3ab3-11e8-8f21-865631c6c82c.png">
Here's how Facebook previews the website's homepage every time I post the URL.

Is there anything that can be done to put the epic TOP logo there instead?

[2018-04-08 15:25] KevinMulhern commented on #886
I've noticed this too, I'm not sure how @RobPando feels about being the face of TOP 😂

It looks like we just need to add a meta tag in the head of the site https://www.adhesion.co.nz/blog/how-to-change-website-thumbnail-in-facebook-post/

[2018-04-09 21:00] tomdracz commented on #880
@Deetss @KevinMulhern Seen something similar recently, could be related to this https://github.com/turbolinks/turbolinks/issues/28

[2018-04-09 21:05] KevinMulhern commented on #880
Thanks @tomdracz, that looks like our problem. I put an `async: true` option in the `javascript_include_tag` around the time this all started happening 🙈

[2018-04-09 21:10] tomdracz commented on #880
@KevinMulhern Possibly also fixed in https://github.com/turbolinks/turbolinks/pull/274 which is in Turbolinks 5.1 but your mileage may vary. Still running bundle on the repo to try it myself!

[2018-04-09 22:47] KevinMulhern commented on #880
Interesting, I didn't know this was an issue 😄

I don't think we got that much of performance gain from deferring the scripts being loaded anyway. If the easiest fix is to get rid of the `async` I won't raise any objections.

[2018-04-10 14:48] Deetss commented on #880
@KevinMulhern Oh wow, thats interesting.

[2018-04-10 19:55] tomdracz commented on #886
Had a go at this one but Facebook preview does not accept .svg files. If there's a jpg/png logo that can be linked, this can be sorted quickly

[2018-04-10 22:42] #880 closed

[2018-04-10 22:45] KevinMulhern commented on #886
We've got some png's in the public folder that might be suitable.

[2018-04-11 03:05] mindovermiles262 commented on #886
https://github.com/TheOdinProject/theodinproject/blob/master/public/apple-touch-icon-152x152.png

This is the largest icon in the `public` directory

[2018-04-11 09:49] KevinMulhern commented on #886
I _think_, that should be big enough. I might be able to get a bigger one from @adachiu if she's available.

[2018-04-14 18:07] KevinMulhern opened #891 "Remove Eager Loading From UserController#show Action"
As @chancancode discovered and explained in this PR https://github.com/TheOdinProject/theodinproject/pull/890 using includes to eager load lessons is a bad idea due to the size of the content column on each lesson.

As a follow up to what Chan has done we should also remove eager loading lessons from the UsersController#show action as well.

[2018-04-14 18:15] chancancode commented on #891
@KevinMulhern my apologies, I just realized I am somewhat wrong about this: the `CoursesController#show` does in fact need to use the lesson title for the list, so the eager loading is probably justified. Normally you can use [`select`](http://api.rubyonrails.org/classes/ActiveRecord/QueryMethods.html#method-i-select) to prevent it from including the `content` (since it's not needed) but I'm not s

[2018-04-14 18:24] KevinMulhern commented on #891
Ah of course, that makes sense @chancancode. I'll update this issue to address the dashboard instead.

[2018-04-22 15:56] #767 closed

[2018-04-25 16:14] loudmouse commented on #886
Hey all. Will either of these work?
![the_odin_project_1200x630_v2](https://user-images.githubusercontent.com/16002468/39258544-d93e0852-4879-11e8-95a0-478eb37670a3.png)
![the_odin_project_1200x630](https://user-images.githubusercontent.com/16002468/39258545-d9526aa4-4879-11e8-8a2b-9089bdde5c6d.png)

[2018-04-25 16:25] tomdracz commented on #886
@loudmouse Yup, the top one should do it, probably better if you hit some centre cropping. Will push a PR later and we'll see how it goes

[2018-04-25 16:34] loudmouse commented on #886
@tomdracz no problem. Here's one with a 1:1 aspect ratio.

![the_odin_project_850x850](https://user-images.githubusercontent.com/16002468/39259639-8e00f180-487c-11e8-90db-ef2b8bb4d9b8.png)

[2018-04-26 08:28] #886 closed

[2018-05-09 18:47] merlin2049er commented on #798
what does clean up mean?

[2018-05-10 06:26] KevinMulhern commented on #798
Hey @merlin2049er, good question. I should have put more detail on this.

We have a class for finding the next lesson on a course the user can complete https://github.com/TheOdinProject/theodinproject/blob/master/app/services/next_lesson.rb

It's a bit hard to understand and not all that efficient. I want to refactor it to a better design.

[2018-05-15 17:57] adachiu opened #899 "Design: Certificate for completion of TOP courses"
I designed a certificate for graduates of the Full Stack course. @KevinMulhern please review the content of the certificate to see if we need to add more information.

This is letter size so students could actually print it out if they want. We can provide the print-ready file for them to download.

![odin certificate sample](https://user-images.githubusercontent.com/13413986/40074444-38a3b00c-58a

[2018-05-15 18:02] KevinMulhern commented on #899
It looks perfect @adachiu 😍

The only thing that needs changed in the final version is my signature replaced with something else 😂 Maybe something like "The Odin Project Team".

[2018-05-15 18:05] KevinMulhern commented on #899
@TheOdinProject/odinmods what do you guys think about the design?

We still need to talk a lot more to hash out implementation details and requirements for getting a certificate.

[2018-05-15 18:07] codyloyd commented on #899
i think it looks great

[2018-05-15 18:08] adachiu commented on #899
@KevinMulhern The stamp side says "issued by TOP" so it would be redundant if we had "The Odin Project Team" on the left side (or maybe not). I find it to be more authentic if it was a moderator name who verifies the student. The downside to having an actual name for verification is that it always needs to be changed.

Or if we want it to be more fun, we could just use the name "Odin" as the verif

[2018-05-15 18:17] leosoaivan commented on #899
:100:

[2018-05-15 18:20] KevinMulhern commented on #899
ahh I see @adachiu, good point about authenticity. In that case I reckon the signature will depend on how we implement this.

If it's one certificate for the entire curriculum I think it should be a Mod's name chosen at random.

If its a certificate per course then the name of owner of that course should be on it imo.

The verification stuff adds another dynamic. Theres a few differing opinions on

[2018-05-15 21:34] miarhost commented on #899
Looks good

вт, 15 мая 2018 г., 21:20 Kevin Mulhern <notifications@github.com>:

[2018-05-17 05:13] adachiu commented on #899
@KevinMulhern How many owners are there for a single course? would these owners change? Should certificates only be handed out to completion of the Full Stack instead of individual courses?

[2018-05-18 05:47] adachiu commented on #899
@KevinMulhern One certificate for the curriculum would be perceived as more valuable than having separate ones for each course. Also, since the home page says` "Our full stack curriculum is free and supported by a passionate open source community."` I think that we just want to focus on awarding students with the completion of "full stack curriculum."

[2018-05-18 06:43] KevinMulhern commented on #899
@adachiu Great points, we should maybe start a conversation about the verification process in the forum.

[2018-05-18 14:19] adachiu commented on #899
@KevinMulhern Maybe we could consider recreating this certificate with html and css and just change the verification name and student name each time.

[2018-05-18 14:57] KevinMulhern commented on #899
@adachiu definitley lets do that 😄 it would be nice if it was accessible from the students dashboard once they've got it.

[2018-05-20 03:57] Anthonyntilelli opened #901 "Dead Link: Web Development 101 PROJECT: PRACTICING GIT BASICS"
There is a link on the web page that leads to a 404 in the Odin lesson.

Web Page: https://www.theodinproject.com/courses/web-development-101/lessons/practicing-git-basics
Dead Link: https://www.theodinproject.com/web-development-101/installations

The line on the web page is: "Create your repository on Github
You should have created a GitHub account in the `installations` project. If you haven’t

[2018-05-21 07:03] KevinMulhern commented on #901
Thanks for reporting this @Anthonyntilelli

Dead link needs to be changed to: https://www.theodinproject.com/courses/web-development-101/lessons/installations

[2018-05-21 07:44] Anthonyntilelli commented on #901
I have created a merge request for it: https://github.com/TheOdinProject/curriculum/pull/7949

[2018-05-21 13:52] KevinMulhern commented on #901
Thanks so much for fixing that @Anthonyntilelli 🙂

[2018-05-21 13:52] #901 closed

[2018-05-25 03:53] Anthonyntilelli opened #902 "DEAD LINK: Web Development 101: HTML AND CSS BASICS"
There is a link on the web page that leads to a 404 in the Odin lesson.
PAGE: https://www.theodinproject.com/courses/web-development-101/lessons/html-and-css-basics
DEAD LINK: https://skillcrush.com/2012/06/24/html-2/

Line: ( At top of page):

As you’ve hopefully `learned before,` HTML is the markup that contains all the actual stuff that a web page has. All the text on this page you’re reading r

[2018-05-25 18:47] OkuboTV opened #903 "Bug: Section side bar highlighting not working as intended"
**The side bar for each section has a section which fails to embolden.**

**The section in particular is the Intermediate Array Magic Section**

![selection_014](https://user-images.githubusercontent.com/27530602/40561167-383662ec-602a-11e8-947a-d3a6c6dc18a6.png)

**The section also, when clicked, stays bold even when in other sections.**

![selection_015](https://user-images.githubusercontent.com

[2018-05-26 05:12] Anthonyntilelli commented on #902
Correction made, I have made the merge request at:
https://github.com/TheOdinProject/curriculum/pull/7958

[2018-05-26 17:55] KevinMulhern commented on #902
Thanks again for fixing that @Anthonyntilelli

[2018-05-26 17:55] #902 closed

[2018-05-30 15:30] dvik1950 opened #905 "Feature request: Leaderboard for Ruby exercises"
My idea was to implement a leaderboard on the website or in the ruby course that would list all TOP members on Exercism and the amount of exercises completed ( maybe a point system too, where completed exercises who use methods that are faster (less iterations) would be awarded more points, but those are just details).

This could be a nice motivation to do ruby exercises on a daily/weekly basis a

[2018-05-31 09:10] CouchofTomato commented on #905
Hi @dvik1950

Thanks for the idea. I really like it and could be part of our drive for gamification features to try to interact more with the wider community.

I will make a note to explore the exercism api and see and when I've got an idea of feasibility will reach out to you if you are interested in helping.

[2018-06-01 01:45] cheukyin699 commented on #903
This looks like an issue with parsing headers in Markdown vs parsing them in Javascript - in particular, the function `kebabCase` in `lesson.js`.

I can help with this.

[2018-06-01 11:56] OmarMoataz commented on #905
I'd like to tag along on this if and where you start working on it.

[2018-06-04 07:01] KevinMulhern commented on #899
Thanks for pitching into this discussion, @I3uckwheat. I completely agree with all you've said. @RobPando had similar thoughts about this. I was planning on putting this idea forward after we finish the current batch of sprints (Codys JS one, and the rspec one).

If you're free then we'd love to have your help with it.

[2018-06-05 13:37] AREEBAISHTIAQ commented on #899
The certificate looks great

[2018-06-05 13:46] AREEBAISHTIAQ commented on #877
yes, you are right @KevinMulhern the project component on the lesson page are little complicated.

[2018-06-07 21:46] I3uckwheat commented on #899
@KevinMulhern I'd love to help with this.

[2018-06-11 14:45] adachiu opened #908 "Design: Dark theme"
I've created the dark theme for the lesson page. Since most of the reading is on the lesson pages, I think we can have the dark theme implemented on lesson pages first. The component underneath consisting of "view course" and "next lesson" may or may not need a dark theme. Let's have a discussion around this.

*Edit*
Will have a mock for another lesson page with more page variety. Ie. code blocks,

[2018-06-11 14:51] Deetss commented on #908
:+1:

[2018-06-11 14:57] CouchofTomato commented on #908
@adachiu It looks amazing and will definitely be a nice choice to give users. Thanks for putting this together.

[2018-06-11 15:01] adachiu opened #909 "Page Consistency"
1. This page is not following the current Odin UI for the "Assignment" section
https://www.theodinproject.com/courses/web-development-101/lessons/clean-code
It should look like this page
https://www.theodinproject.com/courses/web-development-101/lessons/html-and-css-basics

2. Side navigation for "Assignment" also needs to be consistent throughout all the pages. Let's just keep "Assignment" instea

[2018-06-11 16:21] mindovermiles262 commented on #908
Hey @adachiu this looks really good. Thanks for putting it together :smiley:

A few suggestions from the peanut gallery over here:

- The top SVG round icon for "ruby on rails" looks very out of place. I don't know much about SVG graphics but if it's simple to replace the colors it may be worth looking into - something closer to the dark gray of the background so it's not so flashy.

- The very li

[2018-06-12 14:18] adachiu commented on #908
Thanks for the input @mindovermiles262 !

- There are pros and cons for the badge (top SVG icon) to have a different color. The con would be that the dark theme badge may be confusing from the original set of badges. The pro would be the whole page aligning more to the dark theme if the badge was darker. Or we can try to keep the original badge and adjust the top to allow a smooth transition into

[2018-06-12 14:54] CouchofTomato commented on #908
I think that looks awesome @adachiu

Thanks for putting this together.

[2018-06-13 23:41] KevinMulhern commented on #908
This looks fantastic @adachiu, great work 🎉

[2018-06-15 04:29] adachiu commented on #899
Included verification # in this version. Also reduced the student name sizing so we could accommodate names that are longer.

![odin certificate sample v2](https://user-images.githubusercontent.com/13413986/41450033-857bf03a-7097-11e8-8d6a-9cfa2ff1ced9.jpg)

[2018-06-16 07:03] I3uckwheat commented on #899
I feel this should be a PDF that is generated and tied to the users Odin account. That would make verification numbers easy to track and link to a user.

[2018-06-16 07:11] lujanfernaud commented on #909
I can work on this.

[2018-06-16 12:06] AREEBAISHTIAQ commented on #909
Can I help you ? @adachiu

[2018-07-11 14:17] #909 closed

[2018-07-12 00:59] I3uckwheat opened #920 "Drop-downs on installations should have a more heading type style"
Currently the drop-downs on [this](https://www.theodinproject.com/courses/web-development-101/lessons/prerequisites) page are styled like they are part of normal text. They should stand out a bit more like a heading.

Attached is an image of the problem areas. A possible solution would be to add a class to the `<summary>` html tag and edit the CSS to make them more heading-like. Below are the sect

[2018-07-12 01:13] IrritatedEllipses commented on #920
I'd be more than happy to take a crack at this.

[2018-07-12 01:18] I3uckwheat commented on #920
@IrritatedEllipses Great! I'll self assign this so nobody else takes it!

[2018-07-12 01:18] I3uckwheat commented on #920
@adachiu Might have some valuable input here as well.

[2018-07-14 19:01] #920 closed

[2018-08-11 18:32] sampsonmao opened #1002 "Adding a "previous lesson" button"
I think it would be really helpful to have a button to go back a lesson, rather than having view course. I find myself opening the assignment page and needing to reference something in the previous lesson but have to go through many pages and scrolling before finding the one I need to reference.

[2018-08-26 17:41] BonfaceKilz opened #930 "Redirection issues: Bug"
Someone should redirect https://theodinproject.com/ to point to https://www.theodinproject.com/

https://theodinproject.com/ currently points nowhere.

[2018-08-27 22:21] mindovermiles262 commented on #930
@KevinMulhern do you know who manages the DNS for the site? The fix would just be a new DNS A record.

[2018-08-29 20:43] KevinMulhern commented on #930
@mindovermiles262 yeah Thinkful handles the DNS stuff.

@adamelevenson would it be possible for you guys to do as @mindovermiles262 suggested to fix this issue please?

[2018-09-02 09:36] akaswen opened #931 "view course button bug for html and css lessons"
Hey guys,

I'm in the middle of the course and I just noticed the view course button is not directing back to the course but only for the html and css course.  The link works fine to the html and css course from the dashboard, but not for any of the lessons within it.  I did some messing around with the app on my machine, and it worked fine as downloaded in development.  However, I was able to rep

[2018-09-03 14:55] KevinMulhern commented on #931
Thanks for opening this issue @akaswen, looks like a side effect from when we changed the html and css course name.

[2018-10-02 07:24] NLferdiNL opened #936 "Design: FAQ Accordion Paragraph Padding"
The text feels a little annoying to read when it is so close to the edge of the cards. Below an example of on vs. off with the CSS shown.(With quick and dirty css) I do not know Ruby(on Rails) well enough to fix this myself.

https://i.imgur.com/HztNwBl.png

[2018-10-02 13:24] #936 closed, assigned to nobody

[2018-10-02 15:41] chgedlxk opened #939 "odin page display issues"
I am currently using I3wm when the screen is splitted 50|50, the odin page look like this.
![selection_001](https://user-images.githubusercontent.com/42925146/46359786-f6263480-c637-11e8-8015-d9bea67bc9f1.png)

when the screen is splitted 50%+2px|50%-2px, The odin page looks fine.
![selection_002](https://user-images.githubusercontent.com/42925146/46359305-f70a9680-c636-11e8-8861-7a6e8c31a739.png)

[2018-10-02 15:46] codyloyd commented on #939
pretty sure I know what's going on here... testing a fix right now

[2018-10-02 17:52] #939 closed

[2018-10-05 14:20] #903 closed

[2018-11-01 11:44] meansh commented on #899
Yeah ! That's perfect.

[2018-11-06 21:40] marko-avlijas opened #951 "Make "Student Solutions" Section Expandable"
Student Solutions section is taking up lots of space. It's making it hard to see how far I have progressed and even if there are remaining projects left or not.

I suggest you hide it behind bootstrap collapse element: https://getbootstrap.com/docs/4.0/components/collapse/
It should be hidden by default.

[2018-11-07 17:35] KevinMulhern commented on #951
Hey @marko-avlijas, We have an ongoing project to solve this problem, hiding them behind a collapsable element would be a good short term solution. But I'd worry about students missing the solutions because they are hidden.

[2018-11-08 07:46] marko-avlijas commented on #951
I don't think that's a concern. I think just text saying `Show Student Solutions` which changes into `Hide Student Solution` is enough. If not,  perhaps a paragraph of text could explain that you can view student solutions here and why you should do it or whatever.

What kind of solution did you have in mind?

[2018-11-08 11:34] 02zchen commented on #951
I am a student learning from TOP and I agree with marko on this issue. I am still a novice at bootstrap, but here are my two cents: If you really are worried about the students missing the information, I feel like you could have a few good examples listed straight out and then have the rest in a collapsible element.

[2018-11-08 12:10] CouchofTomato commented on #951
Thanks for the input. The ongoing project isn't just around how to hide student solutions but where they should be stored. Currently they are just entered as an input on the markdown file on github but we are considering storing them in the db so that for any user you can see their submitted solutions in one place. It would allow us to let people vote for the solutions they like and sort the stude

[2018-11-13 15:04] CouchofTomato commented on #951
You can read the install guide to get set up.

[Linux](https://github.com/TheOdinProject/theodinproject/wiki/Linux-Installation-Guide)
[Mac](https://github.com/TheOdinProject/theodinproject/wiki/OSX-Installation-Guide)

[2018-12-09 01:46] CrispyCB opened #958 "Allow users to see start date and end date for sections (ex. Web Development 101) or individual lessons"
Motivation: I'd like to be able to see when I started and when I finished sections or lessons in order to chart personal learning goals (ex. it took me 6 months to do Web Development 101, but only 3 months to JavaScript, etc) but it would also be good to use in place of certificates or similar for those that need to put _something_ on a resume.

Definition of done: I can either go into a user view

[2018-12-10 08:03] AREEBAISHTIAQ commented on #951
Hi guys, I created [this issue](https://github.com/TheOdinProject/curriculum/issues/8896) and i thought that adding the bootstrap collapse element the solution for this.
but @105ron said **I think the solution to this will be moving the student solutions to a resource in the app and having a react front end** and maybe it's much better than adding bootstrap collapse.
so, are we going to do what @1

[2018-12-10 13:53] CouchofTomato commented on #951
Hi @AREEBAISHTIAQ

There is work in progress to make the student solutions submittable through the site rather than a github request. Once that is done we will have a better idea about displaying them.

[2018-12-30 23:34] OmarMoataz commented on #951
I would like to further expand upon this suggestion. Would it be possible to add integration to the forum next to every project submission so it makes it easier for people to discuss the code in a specific submission because I tend to look at other people's code and might have feedback that I could give if it were easier to do so. I'm not saying this should be listed as forum posts. Maybe we could

[2019-01-07 23:59] mindovermiles262 opened #960 "Navbar out of alignment"
While browsing the site with my screen split, the navbar is out of alignment:

![screenshot_2019-01-07 dashboard the odin project](https://user-images.githubusercontent.com/14863257/50800411-f10afe00-1294-11e9-839b-b3b39d94e4ee.png)

Also effects users that are not logged in.

Browser Resolution: 952x932
Effects: Chrome, FireFox (Not tested on others)
OS: Linux

[2019-01-09 14:07] jcwimer opened #963 "Sign up bug"
When signing up, I was redirected to an error page. I received an email and was able to sign in successfully. Seems to be an issue with the sign up redirection.

I signed up with email and password.

[2019-01-09 23:12] mindovermiles262 commented on #656
9 months later - has anyone written this in the guides yet?

[2019-01-10 00:15] KevinMulhern commented on #656
@mindovermiles262 nope 😅

[2019-01-10 07:31] JMikeW commented on #963
I tried by signing up through github - same results.

[2019-01-10 14:05] KevinMulhern commented on #963
Thanks for reporting @jcwimer, we'll get this fixed asap.

@JMikeW your's is a different problem, your github name "JM" is failing our validations, we have a minimum of 4 characters for the name field in our system.

[2019-01-10 14:16] KevinMulhern commented on #963
@jcwimer that should be fixed now.

[2019-01-10 14:16] #963 closed

[2019-01-10 19:47] dos077 commented on #960
I found the issue in css. The ::after element in .dropdown-toggle class uses vertical-align: 0.255em to align itself. That throws off the padding calculation of <a.nav-link> in tablet mode. Testing in chrome using position:relative and top: -0.255em seems to fix the issue by isolation the vertical offset to only the ::after element. I cannot find the css file in the odinproject repo though.

[2019-01-10 22:14] dos077 commented on #960
Pull request sent. I am in the middle of the "Using Git in the Real World" section. I tried to follow all the steps, hopefully there's no screw up.

[2019-01-15 17:51] javierojeda94 commented on #905
I would like to help too!

[2019-02-01 20:50] #960 closed

[2019-02-02 05:09] morrowdavidson opened #973 "Project: Restaurant - add info about debugging with webpack"
concerning: [https://www.theodinproject.com/courses/javascript/lessons/restaurant-page](https://www.theodinproject.com/courses/javascript/lessons/restaurant-page)

I struggled using webpack at first because I couldn't debug my javascript with Firefox Developer Tools.

Adding: **mode: 'development'** and **devtool: 'eval-source-map'** to my webpack.config.js helped me get through my project. Maybe

[2019-02-03 20:15] codyloyd commented on #973
why is this an issue instead of a pull request? 😝

this is indeed very helpful.. add it to the lesson!

[2019-02-06 09:40] morrowdavidson commented on #973
thanks @codyloyd for the response. I definitely put this in the wrong area. Still trying to figure out GitHub :)

[2019-02-06 09:40] #973 closed

[2019-02-14 11:00] morrowdavidson commented on #731
I'm working on adding internal links like [MDN docs](https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Building_blocks/Looping_code#Keep_me_in_the_loop) So you can click the heading and it will redirect you to a hash url. Let me know if you think this is worth developing...
![internallink](https://user-images.githubusercontent.com/44884803/52782708-93d93980-3004-11e9-89b0-6781ff45bc11.jpg)

[2019-02-15 07:20] morrowdavidson opened #979 "anchor links"

[2019-02-15 07:20] #979 closed

[2019-02-16 10:57] morrowdavidson commented on #656
Updated OSX install wiki, let me know if this looks good and I'll update the other.

[2019-02-17 10:11] morrowdavidson opened #981 "Feature request: lesson completion tracker"
![git_hub_contributions](https://user-images.githubusercontent.com/44884803/52911440-9d5adf80-3258-11e9-9d79-34a8c050996a.png)

I set a goal to try and commit something every day to github, I only do this because of the contribution tracker. I think a similar feature for lesson completion for TOP would be a neat gamifying feature.

[2019-02-17 17:12] KevinMulhern commented on #981
I think something like this would be useful too, I don't know if lesson completions is the best metric for it though as some lessons can take more than one day to complete, especially projects. Maybe we could integrate this with the proposed points system we want to include on the site in the future.

Helping on chat will be one of the ways a user will be able to get a point so that could be a way

[2019-02-18 00:07] morrowdavidson commented on #981
Cool. Yeah, I think lessons would be the wrong thing to track too. I wonder if an honor system would work, maybe you could just check-in if you haven't completed a lesson that day.

I'm going to mock something up for fun.

[2019-02-18 00:21] KevinMulhern commented on #656
@morrowdavidson looks good to me 😄

[2019-02-18 04:22] morrowdavidson commented on #656
Just a few months later...  Done! :) https://github.com/TheOdinProject/theodinproject/wiki/Linux-Installation-Guide#setting-up-google-oauth-optional

[2019-02-19 12:38] KevinMulhern commented on #656
Thanks @morrowdavidson, very much appreciated

[2019-02-19 12:38] #656 closed

[2019-02-20 07:02] morrowdavidson commented on #981
@KevinMulhern Do you know what the average time someone spends on odin, in months? When working on the mock-up I felt a year might be too long to show in a tracker.

[2019-02-20 12:14] KevinMulhern commented on #981
@morrowdavidson we used to have a quip on the faq that it would take 6 months full time study or a year or over of part time study.

It varies widely though.

[2019-02-20 22:12] morrowdavidson opened #986 "Upgrade to FontAwesome 5"
Font Awesome 5 has some neat new features but upgrading seems like [a bit of work](https://fontawesome.com/how-to-use/on-the-web/setup/upgrading-from-version-4). If there is interest I could try to work on it.

[2019-02-20 22:44] KevinMulhern commented on #986
I'm not opposed to upgrading, looks like there isn't a gem so that would be one less gem to bundle.

[2019-02-21 08:43] morrowdavidson commented on #986
@KevinMulhern So would putting the Font Awesome's CDN in `_head.html.erb` work?
[code]

[2019-02-21 09:13] KevinMulhern commented on #986
It should do, it will need to come before the application stylesheet though. Just so we can use fontawesome within our css.

[2019-02-22 16:21] #986 closed

[2019-02-22 16:23] KevinMulhern opened #988 "New 404 Page Image"
New image can be found here: https://www.dropbox.com/s/pdsfqwovdpyamhy/404-island.svg?dl=0

[2019-02-22 22:52] morrowdavidson commented on #951
A easy quick solution in the mean time might be to hide the solutions behind a `<details>` element. I made a [pull request]https://github.com/TheOdinProject/curriculum/pull/9673/commits where I did this for Lessons with 2 assignments. I could do it everywhere if there is interest.

[2019-02-28 15:22] TheBrianGuy opened #991 "Broken link to codeacademy Ruby courses in the Ruby Programming How this Course Will Work section"
In the Ruby Programming [How this Course Will Work section](https://www.theodinproject.com/courses/ruby-programming/lessons/how-this-course-will-work-ruby-programming) there is a header for "**Our Primary Textbooks**". The first list item has a broken codeacademy link to http://www.codecademy.com/tracks/ruby.

The new link should be to https://www.codecademy.com/catalog/language/ruby.

[2019-03-01 13:02] KevinMulhern commented on #991
Thanks for reporting this @TheBrianGuy, @jamhog has fixes this:
https://github.com/TheOdinProject/curriculum/pull/9767

[2019-03-01 13:02] #991 closed

[2019-03-25 21:57] morrowdavidson commented on #951
Can be closed with a curriculum merge https://github.com/TheOdinProject/curriculum/pull/9999

[2019-03-26 11:52] KevinMulhern commented on #951
Thanks @morrowdavidson

[2019-03-26 11:52] #951 closed

[2019-03-31 17:21] xavierleonardo opened #1001 "rbenv: command not found on linux"
I had an error rbenv command not found following the steps from [this guide](https://www.theodinproject.com/courses/web-development-101/lessons/installing-ruby?ref=lnav). Especifically in this command: `mkdir -p "$(rbenv root)"/plugins`.

So i assumed that it was wrong installed and followed this steps:

from [this issue](https://github.com/rbenv/rbenv/issues/976) in [rbenv repo](https://github.co

[2019-04-02 15:05] I3uckwheat commented on #1001
@xavierleonardo Did you close and re-open your terminal after `echo`ing the commands to your `.bashrc`?

[2019-04-02 15:10] xavierleonardo commented on #1001
Yes, @I3uckwheat. But I only got it working after follow that steps.

[2019-04-02 15:29] I3uckwheat commented on #1001
@xavierleonardo Those are basically the steps we use.

[2019-04-02 15:33] I3uckwheat commented on #1001
Maybe exiting and re-opening the terminal didn't reload the .bashrc somehow. Depending how things are sourced.

We'll keep an eye on this issue, however, it's likely that it was a typo somewhere.

[2019-04-02 16:03] xavierleonardo commented on #1001
I didn't fully understand all the configuration matters about terminal, mas I've also had sourced `.bashrc` before searching for another way to achieve this.

Maybe that's not a typo, but something that had changed from the time you wrote and now. Or maybe something specifically about my OS and terminal config. I just thought it was a good idea let you all know.

[2019-04-03 14:13] KevinMulhern commented on #1001
Our [discord](https://discordapp.com/channels/505093832157691914/505093832157691916) or [forum](https://forum.theodinproject.com/) is the more appropriate place for this type of support.

Closing due to it not being related to this repo.

[2019-04-03 14:13] #1001 closed

[2019-04-21 08:31] MoonKingArthur commented on #1002
While I wouldn't really care too much to have a previous lesson button, I will admit that I often peek ahead at the next lesson to see what's to come, only to go back to the lesson I'm working on

[2019-04-21 08:44] #1002 closed

[2019-04-21 13:31] #988 closed

[2019-05-02 20:28] I3uckwheat opened #1004 "Make clickable dropdowns more enticing to click"
![image](https://user-images.githubusercontent.com/4411701/57104791-e4506100-6cee-11e9-924f-451559bf7cb6.png)

[2019-06-26 12:25] tarnalcock opened #1010 "Auto-Next on Lesson Completion click"
It seems pointless to have to click both "Complete" and then "Next Lesson" each time one completes a lesson. It makes sense to go to the next lesson without completing if one is simply browsing the lessons, but when completing a lesson - I  feel it would be logical, and more "responsive", to move on to the next lesson automatically.

[2019-06-27 12:38] KevinMulhern commented on #1010
We can test definitley test this out, I think we'll have to add a previous button as well, just incase the user didn't want to be taken to the next lesson just yet.

[2019-07-02 11:11] g051051 opened #1014 "Typo on nodejs course page"
On page https://www.theodinproject.com/courses/nodejs: "You'll learn everything you need to take you're JavaScript skills to the server-side."

The word "you're" should be "your".

[2019-07-02 13:10] KevinMulhern commented on #1014
Thanks for reporting @g051051

[2019-07-02 13:13] #1014 closed

[2019-07-02 13:14] I3uckwheat opened #1015 "View Curriculum points to wrong page"
Currently points to https://www.theodinproject.com/courses , where it should point to https://www.theodinproject.com/tracks

When adding the tracks feature, the courses page shows ALL the courses without a definite path the student should take, this can be confusing to people unsure

[2019-07-02 14:38] wadie commented on #1015
Why ?

[2019-07-02 20:34] KevinMulhern commented on #1015
@wadie we recently changed to a tracks model for the curriculum.

[2019-07-03 09:57] KevinMulhern opened #1016 "Add Badge for New Node Course"
We recently added a new Node course to the curriculum. However it does not have a badge yet.

@adachiu has generously created a node badge we can use. It can be found [here](https://www.dropbox.com/sh/3y7iwe8zrq4o568/AABpRQFpVlwH1PqCbqt8hviVa?dl=0)

[2019-08-09 17:45] jakedallinson commented on #1016
@KevinMulhern I can take this

[2019-08-13 11:59] CouchofTomato commented on #1016
@jakedallinson Go ahead mate.

[2019-08-18 17:36] jakedallinson commented on #1016
Unable to complete this issue. Can someone else take over?

[2019-08-20 21:43] JoeVinten opened #1021 "Profile card on Dashboard stretches"
At different sizes the profile card stretches the image inside.

I believe this could be solved just by adding a `<div>` around in it. Happy to work on this.

![image](https://user-images.githubusercontent.com/33879422/63386773-bf662380-c39b-11e9-88d9-23775e278f4b.png)

[2019-09-05 07:24] dvik1950 opened #1023 "Michael Hartl's Ruby on Rails tutorial is not free anymore"
Yesterday (or earlier) the new versions of the Ruby on Rails tutorial by Michael Hartl were released (covering Rails 6). Unfortunately they are not free anymore. The old versions are still working (the ones in the Rails curriculum) but it's now a matter of time before they are deprecated.

The links are also broken on the website, as they are linking to the new tutorials instead of the old version

[2019-09-05 11:35] dvik1950 commented on #1023
https://github.com/TheOdinProject/curriculum/issues/12098 Already opened in the curriculum repo.

[2019-09-05 11:35] #1023 closed

[2019-10-01 18:48] rubynho commented on #1004
I think one way of doing it is to change those triangles by something like `^` closed and `v` opened. Just an idea.

[2019-10-01 18:57] a6macleod opened #1026 "Broken link for Happy Bear Software article"
In https://www.theodinproject.com/lessons/strategy the link to https://www.happybearsoftware.com/how-to-get-a-programmer-job.html goes to the heroku "no such app" page. It looks like perhaps Happy Bear Software has closed. This will probably need a new article to replace it.

[2019-10-02 13:39] rubynho commented on #1010
I don't think the previous button is really necessary, the buttons says `Next Lesson`, I think it's auto descriptive that the user will be moved to where it's saying. Just like [CodeCademy](https://www.codecademy.com/) does at the end of the lessons:

![image](https://user-images.githubusercontent.com/24780712/66048860-ad31e600-e500-11e9-94d5-83092cfed59c.png)

[2019-10-04 03:52] tfantina commented on #1026
I'm trying to contact the Happy Bear people to see if we can repost this article elsewhere.

[2019-10-04 03:56] tfantina commented on #981
Anyone working on this? I  could take a stab at it.

[2019-10-07 06:38] mvedataydin opened #1029 "Issue with the badge of the new Node Course"
If you login to TOP, you can see that there is still a placeholder instead of new badge of Node Course. After logging out from website, badge of  Node Course is coming back.

![Screen Shot 2019-10-07 at 09 33 34](https://user-images.githubusercontent.com/44524609/66289502-8f3ff900-e8e5-11e9-99ca-637d7f03241f.png)

[2019-10-08 00:50] leila-alderman commented on #1026
@a6macleod @tfantina Thanks for posting and working on this issue! There is already an issue open for this article open in our curriculum repo (https://github.com/TheOdinProject/curriculum/issues/12374), so I'm going to close this issue so that we aren't duplicating work. Feel free to jump in over there!

[2019-10-08 00:50] #1026 closed

[2019-10-11 13:11] tfantina commented on #981
I'm going to open a PR for this in a few days if I can learn enough SVG to effectively copy what GitHub does.

[2019-10-12 01:09] leosoaivan opened #1034 "Courses displayed twice in User dashboard"
See https://github.com/TheOdinProject/curriculum/issues/12636.

Are there duplicates in the DB? The user dashboard views all look ok to me on the Rails side of things.

[2019-10-12 01:11] arku commented on #1034
@leosoaivan Ah, I ran `rails db:seed` earlier which seems to have caused this issue. I was under the assumption that the seed would always `create_or_update` resources.

Let me fix it.

[2019-10-12 01:12] leosoaivan commented on #1034
👍 get those Hacktoberfest PRs in!

[2019-10-12 01:23] arku commented on #1034
@leosoaivan hahaha.

The issue should be fixed now. Can you please confirm and close the issue?

Thanks!

[2019-10-12 01:27] arku opened #1035 "Duplicate `TrackCourse`s are created when seeding the database"
When we run `rails db:seed` mutiple times, it looks like duplicate `TrackCourse`s are getting created.

Please see #1034 for more context.

[2019-10-12 01:28] arku commented on #1034
@leosoaivan I created https://github.com/TheOdinProject/theodinproject/issues/1035 to fix the seeding script. Feel free to add more information to the issue.

[2019-10-12 01:46] leosoaivan commented on #1034
Confirmed, and closed!

[2019-10-12 01:46] #1034 closed

[2019-10-12 14:34] CouchofTomato commented on #1035
Thanks to @catalindrg this issue seems to be resolved.

[2019-10-12 14:34] #1035 closed

[2019-10-12 15:34] mindovermiles262 commented on #1035
Do we need to go in and manually delete duplicates?

[2019-10-12 15:37] mindovermiles262 commented on #930
Pinging @adamelevenson

Is it possible for one of TOP maintainers to manage theodinproject domain?

[2019-10-12 17:18] CouchofTomato commented on #1035
@mindovermiles262

Yes. If you can handle it then great otherwise I’ll look when I’m home. It’s the courses linked to tracks 2 and 3 as far as I can tell

[2019-10-12 18:05] arku commented on #1035
@mindovermiles262 The duplicates should be gone now.

[2019-10-14 19:42] Amit-Naudiyal commented on #107
I am also getting this issue and as reported earlier by @vimalkurup, it works in incognito window.

[2019-10-18 17:59] tfantina commented on #981
@KevinMulhern && @morrowdavidson I've mocked up a version of this: [fork'd here](https://github.com/tfantina/theodinproject-1/tree/feature/daily-calendar
).  It has some issues (see the commit message) which I am aware of but I'm wondering what your thoughts are on this.  I created the heatmap with vanilla JS but I've seen some interesting libraries out there, would you be opposed to using one of

[2019-10-23 03:53] tfantina commented on #1029
I'm opening a PR for this.

[2019-11-04 00:02] mindovermiles262 commented on #1029
It should show the NodeJS Badge, and then % complete when the mouse hovers

[2019-11-04 00:05] #1029 closed

[2019-11-04 00:12] mindovermiles262 opened #1041 "Heroku Update"
Looks like our server on heroku is shutting down May 1, 2020

We need to follow the instructions to upgrade our stack

[code]

[2019-11-04 00:21] mindovermiles262 commented on #1015
I think this has been taken care of. closing

[2019-11-04 00:21] #1015 closed

[2019-11-04 00:22] mindovermiles262 commented on #1016
Closing with https://github.com/TheOdinProject/theodinproject/pull/1039

[2019-11-04 00:22] #1016 closed

[2019-11-13 11:11] BosEriko opened #1044 "Different versions of Ruby in instructions and in the code provided"
On the page [Installing Ruby](https://www.theodinproject.com/lessons/installing-ruby), Step 3.3: Install Ruby of the MacOS instructions says it recommends 2.6.4 but all the code provided is for 2.6.5. Is this intentional?

[2019-11-30 14:28] dvik1950 commented on #1044
The instructions will usually install the latest stable version, sometimes the results in the curriculum aren't updated to the latest version. You can make a PR to change the version to the latest in the curriculum :)

[2019-11-30 23:44] dvik1950 commented on #905
Could exercism be replaced with CodeWars? Their [API endpoint](https://dev.codewars.com/#authentication) seems pretty straight forward. Is a feature like this still an option and if it is, would anyone be interested in exploring this option with me and eventually implementing it ?

[2019-12-01 11:00] BosEriko commented on #1044
It seems like it has been updated. 😃
https://github.com/TheOdinProject/curriculum/commit/c1f6def2dc96684f4a9fea557bf011cfae7b935a

[2019-12-02 13:53] dvik1950 commented on #1044
I guess you can close the issue then :)

[2019-12-03 03:04] #1044 closed

[2019-12-16 22:32] kashura commented on #908
Wow this would be awesome!

[2019-12-18 08:15] nearmint commented on #930
Sad that the Thinkful guys don't react. @adamelevenson doesn't seem to be very active on Github. Maybe send them an email?

[2020-01-04 21:40] nearmint opened #1054 "Enable Line Numbers for Code Snippets"
In the TOP lessons, code snippets are frequently referred to by line number. This is currently inconvenient, because line numbers are not shown.

As far as I know we use kramdown for markdown conversion. And I found a potential solution to enable line numbers here: https://github.com/jekyll/jekyll/issues/4619
[code]

I have a setup of TOP locally, but I don't know where to insert that code.

[2020-01-05 01:35] arku commented on #1054
@nearmint Thanks for creating this issue!

We use [Prism](https://prismjs.com/) for code syntax highlighting. We had to setup line numbers plugin in Prism for this to work. I just submitted a [PR](https://github.com/TheOdinProject/theodinproject/pull/1055) tackling this. Take a look and let me know what you think.

Thanks again!

[2020-01-06 16:22] nearmint commented on #1054
@arku I tested your PR locally and it works for me!

For any others, who review this issue:
One example, where code snippets are referred to by line numbers is here: https://www.theodinproject.com/courses/javascript/lessons/factory-functions-and-the-module-pattern

[2020-01-09 15:14] hasithsen opened #1056 "Username length validation fails without JavaScript"
Minimum username length is not validated if JavaScript is disabled in browser when signing up with email.

[2020-01-18 16:28] #1054 closed

[2020-02-16 06:44] scottrobel commented on #1056
This is because the validations on the client-side don't match the validations on the server-side.

[2020-02-20 16:16] scottrobel commented on #1056
@KevinMulhern I think my PR Fixed this issue

[2020-02-22 14:13] KevinMulhern commented on #1056
Thanks again @hasithsen

[2020-02-22 14:13] #1056 closed

[2020-02-25 15:25] bobrecio commented on #107
The same thing just happened to me in Chrome.
Thanks to @Amit-Naudiyal I was able to resolve it.
Recently, I installed the chrome extension called "Markdown Viewer". It was set to work on all pages. I changed the setting so that it only works when I click the extension and GitHub renders fine, now.

[2020-02-27 15:37] zachmmeyer commented on #798
@KevinMulhern Does this issue need to stay open?

[2020-03-04 21:03] IvanDerlich opened #1063 "Doesn't show line number in code snippets"
[This](https://www.theodinproject.com/courses/javascript/lessons/factory-functions-and-the-module-pattern) Javascript Lecture says:

"Because of the concept of scope, neither of the functions created inside of FactoryFunction can be accessed outside of the function itself, which is why lines 9 and 10 above fail..."

But the above code snippet doesn't show the numbers and to know which line is it.

[2020-03-26 18:18] KevinMulhern commented on #1063
![Screenshot 2020-03-26 at 18 17 37](https://user-images.githubusercontent.com/7963776/77681987-18c7ae00-6f8e-11ea-80f8-bc2426c9b264.png)

It's displaying line numbers for me @IvanDerlich. Can you provide a screen shot of what you are seeing please :)

[2020-03-26 18:19] KevinMulhern commented on #1041
Looks like our stack is upgraded on Heroku @mindovermiles262, I'm not sure if anyone did that or if Heroku did it automatically. But we can close this issue now 🎉

[2020-03-26 18:19] #1041 closed

[2020-03-26 18:20] #1021 closed

[2020-03-26 21:47] KevinMulhern opened #1070 "**Upgrade to Rails 6**"
Upgrade notes: https://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-5-2-to-rails-6-0

[2020-03-27 03:44] #1070 closed

[2020-03-29 08:39] ezinah opened #1078 "car creation with my rails server"
please need help asap,have tried creating cars with my rails server but the localhost 3000 isn't opening.keeps getting the unable to connect error,please help cox am stuck
.

[2020-03-30 01:29] #1078 closed

[2020-03-30 01:30] 105ron commented on #1078
Did you start your server?

[2020-03-30 15:12] rizblie commented on #107
I had the same problem with e.g. https://github.com/Dash-Industry-Forum/dash.js/blob/development/README.md

I also had the Markdown viewer installed, and changing the setting as described by @bobrecio fixed it. Thanks!

[2020-04-08 21:18] jordanliu commented on #1063
Also displaying line numbers for me
![image](https://user-images.githubusercontent.com/9423525/78834671-f20d6c80-79bc-11ea-889d-f5f67e194b9d.png)

[2020-04-16 15:14] I3uckwheat opened #1095 "As a student, I would like to have a link to the github page the lesson is reading from"
This will make it a lot easier for people to find the lesson and make PRs to. It can be a bit difficult for students to find the github repo in the first place, let alone find the lesson as the title of the page can be different from the name of the file. Automatically generating links to the specific page could be super helpful.

[2020-04-16 21:25] #798 closed

[2020-04-16 21:25] #877 closed

[2020-04-16 21:26] #878 closed

[2020-04-17 16:22] I3uckwheat commented on #1063
![image](https://user-images.githubusercontent.com/4411701/79591168-5ef7c500-8095-11ea-8b57-55740f92f004.png)

Also showing for me, closing for inactivity :)

[2020-04-17 16:22] #1063 closed

[2020-04-18 08:04] YesSeri opened #1099 "Dashboard - Ruby programming links wrong."
I am doing the full-stack course. I have completed Web Dev 101 and I am doing Ruby programming. When I press resume on ruby programming it always links me to [Building Blocks](https://www.theodinproject.com/lessons/building-blocks) in the course, even though I am 68 % done with the course.

[2020-04-18 13:58] AndruMace opened #1100 "Make tiles on main page hyperlinks."
As seen in the image, there are tiles on the main page that have section/subject titles on them. It would be really convenient and user friendly to make them hyperlinks to their corresponding sections. They already give the appearance of being such and I clicked on them multiple times before realizing that they aren't indeed interactive.

<img width="325" alt="hyperlinksugg" src="https://user-imag

[2020-04-18 14:17] Kshubhranshu commented on #1100
i will do it.

[2020-04-18 14:17] codyloyd commented on #1100
alright @Kshubhranshu have fun!

[2020-04-18 19:25] bcoffin9 commented on #1100
Going through the git workflow lesson on the Ruby course, so I'll also give it a shot!

[2020-04-18 23:50] KevinMulhern commented on #1099
Thanks for reporting this @YesSeri

[2020-04-18 23:52] KevinMulhern commented on #1095
Nice suggestion @I3uckwheat. We used to have something like this before, and it was very useful.

A link with the github icon right below the content on the page seems like the best place to put it. Do you have any thoughts on where we should put it on the page?

[2020-04-18 23:58] I3uckwheat commented on #1095
@KevinMulhern One place it could live is here:

![image](https://user-images.githubusercontent.com/4411701/79674178-64d4cf80-8195-11ea-810f-f1758e95752a.png)

People that find a typo or something may scroll to the bottom looking for contact information to let us know and happen across it.

Otherwise somewhere in the header could be nice.

[2020-04-18 23:59] KevinMulhern commented on #1095
I like that location 👍 thanks @I3uckwheat

[2020-04-19 00:01] KevinMulhern commented on #1095
For whoever picks this up, we have the url for the lesson on github stored for each lesson in the db so it should just be a matter of adding a rails link_to with that attribute of the lesson as the url.

[2020-04-19 02:37] #1095 closed

[2020-04-19 14:18] ezinah commented on #1078
no

On Mon, Mar 30, 2020 at 4:30 AM Rhys <notifications@github.com> wrote:

[2020-04-19 17:53] KevinMulhern opened #1109 "Fix DEPRECATION WARNING: Initialization autoloaded the constants ActionText::ContentHelper and ActionText::TagHelper."

[2020-04-19 19:40] KevinMulhern opened #1111 "Add stylesheets to Webpacker"
### Description
The next step in migrating to webpacker is moving all our stylesheets into a folder that is complied with webpacker.

### Acceptance Criteria
- [ ] All the css styles on the site should be complied with webpacker.

[2020-04-21 10:15] YesSeri commented on #1099
It works correctly now. I am unsure what has changed, but it is no longer behaving weird.

[2020-04-21 20:40] #1109 closed

[2020-04-22 00:45] mindovermiles262 opened #1112 "Add CI/CD to Staging and Prod"
Project to make an automated way of deploying changes to Staging and production environments.

[2020-04-22 00:48] mindovermiles262 commented on #1112
Work being tracked in https://github.com/orgs/TheOdinProject/projects/5

[2020-04-22 07:36] adachiu opened #1116 "Dashboard Redesign"
Awaiting @KevinMulhern and @arku to build the dashboard.

https://zpl.io/beJJYWY

![TOP-UI-Dashboard-full](https://user-images.githubusercontent.com/13413986/79947035-c0f46800-84a3-11ea-8536-089ac9808556.png)

[2020-04-22 16:40] mindovermiles262 commented on #1116
Hey @adachiu this looks great.

We're trying out a new way of managing projects. We have a weekly standup meeting where we discuss the projects we want to work on.

I'll add this to the agenda for the next meeting. If you're interested in joining the standup it's on Tuesdays at 1300 UTC (6am Pacific). Ping me if you want and I'll add you to the invite.

Thanks for putting this together!

[2020-04-22 23:51] arku commented on #1116
@adachiu This looks 😍

This is currently blocked by https://github.com/TheOdinProject/theodinproject/issues/1111.

Once @KevinMulhern migrates all the stylesheets to be compiled with webpacker in #1111, I can pick this up.

Can't wait to work on this!

[2020-04-23 04:32] arku opened #1118 "Project submissions updates"
TODOs:

- [ ] The feature uses Gitter as the communication medium for reporting issues with submissions.  Now that we are using Discord, we should replace the Gitter client with [Discord](https://github.com/discordrb/discordrb)
- [ ] Refactor

[2020-04-23 08:37] KevinMulhern commented on #1118
Hey @arku, check your DM's on discord please. We need to talk about this one 😃

[2020-04-23 23:52] #1100 closed

[2020-04-23 23:54] KevinMulhern commented on #1116
This is blocked until we get project submissions out.

[2020-04-24 19:10] arku opened #1124 "Fix Discord chat floating icon tracker"
**Note**: This issue is reserved for first-time contributors. Comment on the issue if you're interested in working on this.

### Description

https://github.com/TheOdinProject/theodinproject/blob/a04787982124a218847b6e97a820b21124f33560/app/javascript/src/js/analytics.js#L53-L55

The code above is supposed to track clicks on the floating chat button at the bottom right (See image).

<img width="16

[2020-04-24 19:13] logancderrick commented on #1124
I'll take it.

[2020-04-24 19:15] devmohy commented on #1124
I cab work on this

[2020-04-24 19:16] arku commented on #1124
@logancderrick Awesome, thanks! Just assigned it to you.

[2020-04-24 19:18] arku commented on #1124
@devmohy Sorry, this has already been picked up. But no worries!

How about working on another issue to track link clicks on the floating Forum icon? Let me know if you're interested.

[2020-04-24 19:54] eduardoramosdev commented on #1124
Firat time contributor here. Interested! Please forgive if I commit mistakes in advance

[2020-04-24 19:54] devmohy commented on #1124
Oh, that makes sense let me try it out

[2020-04-24 21:00] logancderrick commented on #1124
Give it to someone else I am having a hell of a time getting ruby to work right on my VM. I'll try to catch another one when I get all this sorted out.

[2020-04-24 21:31] arku commented on #1124
No problem @logancderrick. Thanks for the update.

[2020-04-24 22:05] I3uckwheat commented on #1124
@devmohy Are you still interested in this issue?

[2020-04-24 23:48] violetguos commented on #1124
Hi, if it's not too late, I can have a look.

[2020-04-25 03:24] devmohy commented on #1124
Yes am interested

[2020-04-25 03:38] I3uckwheat commented on #1124
@devmohy Alright, I will assign this to you! Please keep us updated with your progress.

[2020-04-25 15:25] KevinMulhern opened #1125 "Epic: Project Submissions"
### Description
Currently users can submit their solution to a project by editing the project file in the curriculum repo and making a pull request to add it.

This has a few drawbacks such as solutions not being formatted correctly as links which in turn is a big drain on maintainers time as they need to add solutions and make sure they are formatted correctly. It also limits us greatly with how

[2020-04-25 15:33] KevinMulhern opened #1126 "Display Project Submissions List on Lesson Page"
### Acceptance Criteria
1. Go to the HTML and CSS Project in the Browser.
2. A Submissions Component Should be Displayed above the Complete Button.

[2020-04-25 15:48] KevinMulhern commented on #1125
Hey @adachiu, heres the issue for keeping track of this project. Feel free to add the mock ups to the issue when you get a chance please 🤘

[2020-04-25 18:53] #1112 closed

[2020-04-25 22:27] KevinMulhern commented on #1118
Hey @arku, I'm going to close this since we are going a different direction with this as discussed today.

[2020-04-25 22:27] #1118 closed

[2020-04-26 20:19] Ochuba commented on #1124
i can do this

[2020-04-26 21:42] KevinMulhern opened #1130 "Implement Report Endpoint and Model."
### Acceptance Criteria
1. Endpoint should have one action - create
2. Model should store the following data:
* reported_content_id: int
* reporter_id: int
* reason: text
* status: enum
  * open
  * resolved

[2020-04-26 21:49] I3uckwheat commented on #1124
@Ochuba, @devmohy has already been assigned this. If he hasn't made progress, or checked in by tomorrow i'll assign this to you.

@devmohy Have you made any progress on this?

[2020-04-27 12:15] devmohy commented on #1124
I will submit today

[2020-04-28 21:27] #1126 closed

[2020-04-28 21:47] #1124 closed

[2020-05-07 15:31] ZachBaird opened #1154 "FAQ Dropdowns not dropping down on click"
URL: [FAQ]( https://www.theodinproject.com/faq?ref=homehav)

Clicking on the FAQs doesn't open them on Google Chrome and Chromium Edge. Unsure if this issue extends to Firefox or Safari but I assume it probably does.

[2020-05-07 18:28] mKawi commented on #1154
Can confirm, getting the error on Firefox too. It's a TypeError that's being logged in the console when an accordion is clicked.

Uncaught TypeError: Cannot convert object to primitive value
at RegExp.test ()
at HTMLDivElement. (bootstrap.js:1498)
at Function.each (core.js:209)
at e.fn.init.each (core.js:49)
at e.fn.init.e._jQueryInterface [as collapse] (bootstrap.js:1492)
at HTMLDivElement. (boot

[2020-05-07 18:32] ZachBaird commented on #1154
@mKawi Thanks for sharing the console error, I forgot to do so.

From researching it, it looks like it might be due to the jQuery version that's used on the site : https://stackoverflow.com/questions/61177140/uncaught-typeerror-cannot-convert-object-to-primitive-valuezone-evergreen-js1
I'm trying to confirm what version TOP uses.

[2020-05-07 20:09] ZachBaird commented on #1154
@KevinMulhern I have a local branch with the fix in package.json I can PR if you want to assign this to me.

[2020-05-07 23:20] #1154 closed

[2020-05-12 20:46] #1130 closed

[2020-05-20 08:17] martink-rsa commented on #1116
I'd like to contribute to this when it eventually opens. Spoke to @KevinMulhern about this a few weeks back. Please let me know once it's underway. Thanks.

[2020-05-22 00:00] KevinMulhern commented on #1116
I'll definitely let you know when its time @martink-rsa, the project submissions is a blocker because its the first feature we are using react with on the site. So theres a lot of set up and boiler plate stuff that will be added in that project that we will need for this one.

[2020-05-22 12:10] Rey810 opened #1175 "Duplicate material in JavaScript Track."
In the JavaScript track, there is a [JavaScript and Rails](https://www.theodinproject.com/courses/javascript#javascript-and-rails) module as well as a [JavaScript and the Backend](https://www.theodinproject.com/courses/javascript#javascript-and-the-backend) module which appears to house exactly the same content. Looks like you guys may have just forgotten to remove "JavaScript and Rails" when you

[2020-05-22 17:55] merrcury opened #1177 "Website is inaccessible"
I tried accessing the website from multiple platforms and multiple networks but I am unable to access the same.

I tried `traceroute` and `ping` to **theodinproject.com** but unable to reach.

[2020-05-22 17:58] merrcury commented on #1177
The website wasn't working from the last 30 mins. It just opened up after I posted this issue. LOL :laughing:

[2020-05-22 17:59] #1177 closed

[2020-05-22 18:04] merrcury commented on #1177
I tried below from a VM located in the USA. Ping Results:
[code]

[2020-05-22 19:10] KevinMulhern commented on #930
This has been resolved 🎉

[2020-05-22 19:10] #930 closed

[2020-05-22 19:19] KevinMulhern commented on #1175
Thanks for reporting @Rey810, this has been resolved.

[2020-05-22 19:19] #1175 closed

[2020-05-31 00:45] KevinMulhern opened #1192 "Faq Item "What Technologies does the Odin Project Teach?" Need Updated"
### Description
[Link To Faq Page](https://www.theodinproject.com/faq)

The information in this item is a bit outdated since we now offer three different tracks through the curriculum with Frontend, Full Stack with Rails and Full Stack with Node.

We also have updated the Javascript course and no longer teach Jquery or Backbone so we should remove any mentions of those in this item as well.

### A

[2020-05-31 00:57] bycdiaz commented on #1192
@KevinMulhern I'm thinking it might make sense to even change the phrasing of the question as well.

I think it is important for learners to understand that this is a self-paced and, more importantly, self-directed learning experience. I've seen instances where learners felt dissatisfied with the way content was "taught," with some learners expecting a sort of teacher/student dynamic. And even whe

[2020-05-31 00:59] KevinMulhern commented on #1192
Great point @bycdiaz, I definitely agree with all that.

[2020-05-31 01:23] tldalton1622 commented on #1192
What's the timeline for something like this?

[2020-05-31 01:35] KevinMulhern commented on #1192
Theres no rush with it @tldalton1622 😃

[2020-06-04 03:30] coolbrg opened #1200 "Webpacker can't find application.css"
First of all nice project 👍 Kudos to creator and maintainers 😄

I was going through the [`Running the TOP locally`](https://github.com/TheOdinProject/theodinproject/wiki/Running-The-Odin-Project-Locally) and able to complete all steps by God's grace in the first attempt. Some glitches in setting up Postgresql but it was my system issue.

However, when starting my own server `rails s` and hitting `

[2020-06-04 03:34] coolbrg commented on #1200
Although, I have updated the [Wiki](https://github.com/TheOdinProject/theodinproject/wiki/Running-The-Odin-Project-Locally#install-javascript-modules-npn-packages-required-by-webpacker) this issue is for reporting purpose.

Feel free to close it.

[2020-06-06 14:51] KevinMulhern commented on #1200
Thanks for reporting @coolbrg, and thanks for making that change on the wiki 💪

Hopefully that resolves that issue.

[2020-06-06 14:51] #1200 closed

[2020-06-07 05:33] coolbrg commented on #1200
Yes :)

[2020-06-07 17:59] saydus commented on #1004
I also think that the font-size should be smaller (to be consistent with the text), color could pale on hover, and possible small indentation.

[2020-06-08 22:32] peterchou3788 commented on #1192
Mind if I take on this issue?

[2020-06-08 22:33] CouchofTomato commented on #1192
@peterchou3788 It doesn't look like anyone else has so feel free.

[2020-06-08 22:34] CouchofTomato commented on #1192
@tldalton1622 Or are you working on this?

[2020-06-09 01:21] peterchou3788 commented on #1192
I will prepare the tools needed for the Odin Project in the meantime so I can practice forking.

[2020-06-17 18:00] peterchou3788 commented on #1192
I have submitted a pull request just now on a updated faq.

[2020-06-19 12:52] Di-Maas commented on #107
@Amit-Naudiyal  - Many thanks! Long lasting issue is resolved)

[2020-07-01 11:32] cdadityang opened #1221 "tiny UX issue(maybe) while clicking near the headers of a page"
Accidently I think I've found a small UX issue; when I mistakenly clicked near the title header of course content(applies to all pages), it sends me to the back page. This is because the full content is a `<a>` tag:

![Screenshot from 2020-07-01 16-53-24](https://user-images.githubusercontent.com/58929492/86238763-ba791f80-bbbb-11ea-902a-c3438aaebe08.png)

I think it's best to keep this link to th

[2020-07-06 18:57] redLocomotive opened #1392 "(minor issue) Firefox's 'reader view' misses entire sections on bootcamp site https://www.theodinproject.com/"
I initially posted this a as bug on firefox, and got this response: "I thought I'd add additional information. It seems to me, that it's not shown in reader mode, because a JavaScript event handler (i.e. Bootstrap's Scrollspy) is attached to the div of the Introduction section. If I remove the class from the element, it works as it should."

Eg. https://www.theodinproject.com/courses/web-developme

[2020-07-10 08:28] AJMcDee opened #1230 "Doubling of title on Frameworks page"
https://www.theodinproject.com/courses/javascript/lessons/introduction-to-frameworks-javascript

"What is a framework" title has been entered twice.

[2020-07-10 14:44] adam-goodrich commented on #1230
I can fix this one

[2020-07-10 15:19] CouchofTomato commented on #1230
All yours @adam-goodrich

[2020-07-10 16:34] adam-goodrich commented on #1230
Sorry I could not figure it out, I thought it was easier than it is I guess

[2020-07-18 02:14] Ramanjs commented on #1230
Hi! I want to work on this issue @CouchofTomato

[2020-07-19 21:45] themagicbean opened #1241 "Git Basics Issues"
I was using the basic Git course to review and noticed two minor things:

1.  [Setting Up Git](https://www.theodinproject.com/courses/web-development-101/lessons/setting-up-git):  There is a somewhat common issue where people cannot use SSH due to inability to use Port 22.  [Github tutorial](https://docs.github.com/en/github/using-git/which-remote-url-should-i-use#cloning-with-https-urls-recommend

[2020-07-20 23:35] themagicbean opened #1247 "Node.js not showing up in my dashboard though enrolled"
I'm primarily at TOP to do back-end because FCC was having problems there.  So I am enrolled in the nodejs.course.  I also enrolled in the Ruby on Rails fullstack track because I wanted to review Git and learn Ruby/Rails.

My dashboard never shows the Node course, only the Ruby-related courses I am in, despite having completed some of the Node material.  I have to search Google or TOP to find the

[2020-07-21 21:31] #1230 closed

[2020-07-22 21:14] CouchofTomato opened #1248 "Thinkful's privacy policy and terms of service need to be referenced in the terms of use"
As Thinkful owns the TOP brand and has access to user data their privacy policy and terms of service should be reflected in TOP's terms of use

[privacy policy](https://www.thinkful.com/privacy-policy/)
[terms of service](https://www.thinkful.com/terms-of-service/)

[TOP terms of use](https://github.com/TheOdinProject/theodinproject/blob/master/legal_terms_of_use.md)

These relevant links can be a

[2020-07-23 04:25] DaeguDude commented on #1248
I'm working on it.

[2020-07-23 06:12] DaeguDude commented on #1248
I've made a pull request, can you review them?

[2020-07-23 19:48] #1248 closed

[2020-07-23 19:51] CouchofTomato commented on #1247
Thanks @themagicbean

We only set up for users to take one track as that is what usually happens. I'll feed this back though

[2020-07-23 20:09] CouchofTomato commented on #1247
On review, we don't feel multiple tracks is beneficial to beginners learning to code and can confuse, especially as both tracks share many of the lessons between them so this isn't a change we can support.

You can go to https://www.theodinproject.com/tracks at any time to see the lessons of other tracks. I would recommend you to take one track in full before looking at any other.

Thanks for the

[2020-07-23 20:09] #1247 closed

[2020-07-23 22:01] themagicbean opened #1251 "No backend track?"
(found the node course is in the javascript track, which of course makes sense)

[2020-07-23 22:05] #1251 closed

[2020-07-24 15:39] I3uckwheat commented on #1241
1. I have not seen anybody complain about port 22, I however have seen people that have had issues connecting to github at all, http or not. Usually on public internet connections, outside the US. We will continue to monitor that. We don't want to add more to the directions in this case as people will get confused. It often happens that people will use the http link and then complain about having

[2020-07-24 15:40] I3uckwheat commented on #1241
Please keep one topic per issue as well.

[2020-07-25 16:22] #1192 closed

[2020-07-26 14:40] TildaDares opened #1252 "Postgresql Installation RoR"
The Deployment lesson in the RoR course mentions setting up Postgresql for Heroku but there is no guide on how to install it. I recommend using Postgresql as the default database right from the Installing Rails lesson and providing a guide alongside.

[2020-07-26 14:56] marvingay commented on #1252
This issue should be posted in our [curriculum repository](https://github.com/TheOdinProject/curriculum) . Please provide as much detail as possible, including but not limited to the lesson(s) where the problem exists, the lesson(s) that reference Postgres. Thank you!

[2020-07-26 17:05] #1252 closed

[2020-08-01 21:16] KevinMulhern commented on #1241
Hey @themagicbean, thanks for opening this. Can you open this issue on the [curriculum repo](https://github.com/TheOdinProject/curriculum) instead please? that repo is better suited to issues about content on the site.

[2020-08-01 21:16] #1241 closed

[2020-08-01 21:17] KevinMulhern commented on #1221
Thanks for reporting this @cdadityang. I agree that only the content should be clickable and not the entire div.

[2020-08-02 19:57] marvingay opened #1259 "Move Ruby Course's "Methods" lesson to its appropriate sequential place."
In reference to https://github.com/TheOdinProject/curriculum/issues/19544

The "Methods" lesson of the Ruby course is currently in the incorrect place. It belongs before the "Basic Enumerable Methods" lesson.

The person who takes ownership of this issue will need to:
- [ ] Edit the [Ruby course's seeds file](https://github.com/TheOdinProject/theodinproject/blob/master/db/seeds/02_ruby_course_seed

[2020-08-02 20:24] Mohammed-Sibahi commented on #1259
Hi. I'll take care of it.

[2020-08-02 20:25] marvingay commented on #1259
@Mohammed-Sibahi  Thanks! If you have questions do not hesitate to ask.

[2020-08-03 20:47] #1259 closed

[2020-08-11 07:26] jessicaawhy opened #1267 "Submission Issues in PROJECT: BUILDING YOUR PERSONAL WEBSITE"
Everything from Hammad Ahmed to Krzysztof Sordyl is duplicated twice.
Link [https://www.theodinproject.com/courses/getting-hired/lessons/building-your-personal-website](url)
<img width="617" alt="Screen Shot 2020-08-11 at 12 24 37 AM" src="https://user-images.githubusercontent.com/66457042/89869405-29597900-db69-11ea-8de0-1be7d55f97d9.png">

[2020-08-14 08:08] merrcury commented on #1267
Created Pull Request Against it @ https://github.com/TheOdinProject/curriculum/pull/20164

[2020-08-14 13:28] marvingay commented on #1267
@jessicaawhy Hello. Thank you for pointing that out. In the future, issues concerning the content of the lessons should be in our https://github.com/TheOdinProject/curriculum repository.

[2020-08-14 13:28] #1267 closed

[2020-08-15 22:10] KevinMulhern opened #1269 "Feature: When a Submission is Reported we Should Send a Notification to the Reports Channel in Discord"
**Description**
We need someway of alerting admins when a submission has been reported, since all admins are on Discord this seems like the best place to notify them.

We will send a notification to the reports channel which can only be accessed by admins. This channel has already been set up.

**Acceptance Criteria**
1. Go to the google home page project on web dev 101 and scroll to the bottom. Y

[2020-09-23 17:35] #1111 closed

[2020-09-28 13:11] clormor opened #1364 "Lesson completion button removes clickable link from progress badge"
Tested on Safari (14.0 (15610.1.28.1.9, 15610)) and Chrome (85.0.4183.121) on the [Advanced Concepts](https://www.theodinproject.com/courses/javascript/lessons/advanced-concepts) lesson page amongst others. I think this is a cross-browser issue affecting most/all lesson pages.

When a lesson page first loads, the course progress badge at the top is clickable, and navigates you back to the course's

[2020-09-28 13:14] clormor commented on #1364
It looks like when the page loads, the badge is contained inside an anchor element with class `course-card-header__link`. After the button is pressed, the badge is retained but the parent anchor link no longer exists.

[2020-09-28 16:38] clormor commented on #1364
Possibly cause by / related to https://github.com/TheOdinProject/theodinproject/pull/1286?

[2020-09-28 21:45] clormor commented on #1364
After some debugging, it appears the issue is something to do with the scoping/availability of `course` inside [_banner.html.erb](https://github.com/TheOdinProject/theodinproject/blob/master/app/views/courses/course/_banner.html.erb). When the page is first loaded, the `banner_badge` div holds a reference to the course. However after pressing the lesson completion button, the same div has no refer

[2020-09-28 22:13] KevinMulhern commented on #1364
Thanks for the detailed report @clormor 😄

I've just opened [this PR](https://github.com/TheOdinProject/theodinproject/pull/1367/files) to fix it.

[2020-09-28 22:19] clormor commented on #1364
Great! I was hoping I could fumble around and fix this myself (managed to get TOP running locally) but since I know nothing about Ruby/Rails I realised it probably needed someone else to fix this.

[2020-09-28 22:37] KevinMulhern commented on #1364
Sorry @clormor, I should have asked if you wanted to take this on first. Thanks again for reporting.

[2020-09-28 23:48] #1364 closed

[2020-10-05 01:44] #1125 closed

[2020-10-05 01:49] I3uckwheat commented on #1125
congrats on closing this!

[2020-10-08 02:52] I3uckwheat commented on #1010
In the codecademy screenshot, there is a "back" button. People would get frustrated if they clicked and were taken to the next lesson and had to figure out what lesson they were just on.

[2020-10-08 22:26] I3uckwheat commented on #905
I don't think we want this even though it would, indeed, be cool to see the amount of points some one has. Not only will it distract users from TOP, I don't think we want to have people comparing themselves with others in this way. It's one thing to see an alternative solution to a problem, and another thing to see someone's points on a leader-board.

I understand we have this in the chat, but it'

[2020-10-08 22:26] #905 closed

[2020-10-08 22:31] I3uckwheat commented on #981
@tfantina Thank you for taking a look at this, but I think we're going to go a different direction where we re-design the dashboard entirely. Please see the issue below.

https://github.com/TheOdinProject/theodinproject/issues/1116

[2020-10-08 22:31] #981 closed

[2020-10-08 22:34] I3uckwheat commented on #1004
@rubynho Currently the arrows do point downwards when opened.

@saydus Changing the font to be smaller may be more confusing as it makes it less obvious they are different.

I think changing the color slightly on hover is a good idea though. Additionally, some more content earlier on in the gearing up portions could explain what these are and how to use them.

[2020-10-08 22:35] I3uckwheat commented on #958
Thanks for the suggestion, this could be part of this feature.

https://github.com/TheOdinProject/theodinproject/issues/1116

[2020-10-08 22:35] #958 closed

[2020-10-08 22:43] KevinMulhern commented on #1392
We use Scrollspy for the navigation menu at the side of the lesson content, it needs that class to be able to scroll the user to the appropriate heading when they click one of the navigation items.

I'll leave this open for now incase anyone know's of a work around. But from previous experience with reader view's there might not be much we can do about this unfortunately.

[2020-10-14 03:45] I3uckwheat opened #1406 "Links to "tracks" now direct to 404 pages, including on Google"
![image](https://user-images.githubusercontent.com/4411701/95941078-83fb9500-0da5-11eb-9482-67926260683f.png)
![image](https://user-images.githubusercontent.com/4411701/95941082-86f68580-0da5-11eb-9d25-ce4f395f1379.png)

Curriculum > https://www.theodinproject.com/tracks
Full stack JS > https://www.theodinproject.com/tracks/full-stack-javascript

These now redirect to a 404 page, the `/tracks` rou

[2020-10-14 16:44] #1406 closed

[2020-10-14 16:52] KevinMulhern opened #1408 "Fix: Responsive Issues with Submissions Modals"
### Problem
The Edit submissions modal is too small for medium screen widths, causing the make submission public label to overflow.

### Steps to recreate
1. Visit the google home page project and upload a submission.
2. Open the edit modal and reduce the screen width to around 1300px.
3. 💥  the make submission public label is overflowing the modal container.

### Acceptance Criteria
1. Visit the

[2020-10-15 09:29] smcommits opened #1411 "Fix: Content overflowing out of the body when on tablet mode"
**Problem**

When on tablet mode or visiting the website from a tablet, the content (navbar) is overflowing out of the flow. It is disturbing the proper alignment of the page. It happens only on the chrome browser.

[Screenshot](https://imgur.com/a/VHsYYM1)

**To replicate the issue**

Use google chrome to visit the website using a tablet or visit the website using google chrome on a desktop and s

[2020-10-16 15:02] AJMcDee commented on #1411
I'd be happy to fix this as it seems relatively simple via the stylesheet.

[2020-10-16 15:13] AJMcDee commented on #1408
I'd be happy to look at this one as well if needed :)

[2020-10-16 15:32] smcommits commented on #1411
@AJMcDee

Hey! You can absolutely go ahead and try to fix that and create a pull request.

Although, I will have to look deeper into the problem as **we cannot straight away remove the padding** because the padding centering the navbar on large screens. A quick fix would be to remove the padding just on the media query used for medium screen sizes.

Good Luck!

[2020-10-16 15:50] ZachBaird commented on #1408
@AJMcDee Sure thing! Just let us know if you'll take it and we'll assign it to you 😃

[2020-10-17 14:22] ZachBaird commented on #1004
It doesn't look like somebody has committed code to this issue as of yet, so I'll add the hover CSS and link a pull request for now.

[2020-10-18 23:01] #1004 closed

[2020-10-19 07:01] AJMcDee commented on #1408
@ZachBaird Yes please!

[2020-10-19 07:01] AJMcDee commented on #1411
@smcommits I will have a look and try to ensure it's only applicable to the medium screens, that's no problem :)

[2020-10-19 13:27] DoviMaj commented on #899
Just my two cents. When issuing a certification it needs to mean something for real. that the person has at least made all the projects because the lessons I can just click complete on each one.

Now the problem with the projects is that no one is really checking to see if they pass all of the requirements. Correct me if I'm wrong. When browsing the solutions I often see solutions that don't even

[2020-10-19 13:31] I3uckwheat commented on #899
@DoviMaj This has been a hot-topic issue of debate for the last year in the core team.

It's likely that the certificate won't become reality here at TOP due to the exact reasons you've outlined. We can't certify somebody knows stuff, only completion. And completion certificates are pretty worthless. Most of us believe that things like this are worthless to employers unless it is a full degree. Th

[2020-10-19 13:38] I3uckwheat commented on #1010
I agree a "go-back" button could be useful, but auto moving to the next lesson could be confusing to some people.

[2020-10-19 13:38] #1010 closed

[2020-10-19 13:46] DoviMaj commented on #1010
What about 4 buttons? complete, complete-next, back and next buttons? Or a user setting that can chose auto next on complete?

[2020-10-19 13:49] I3uckwheat commented on #1010
@DoviMaj A setting seems like a very low reward for the amount of work that would need to be put in for it.

Redundancy isn't the name of the game either. Seems silly to have buttons that do the same things.

[2020-10-19 15:35] DoviMaj opened #1421 "Learning paths buttons overflow nav"
On mobile, https://www.theodinproject.com/paths resume and switch buttons overflow the top navigation bar.

Screenshots:
![Screenshot_2020-10-19-17-51-00-552_com android chrome](https://user-images.githubusercontent.com/36450233/96472946-bab82c00-1239-11eb-88a9-dc3e7f330253.jpg)
![Screenshot_2020-10-19-17-51-30-750_com android chrome](https://user-images.githubusercontent.com/36450233/96472947-bc8

[2020-10-19 17:10] DoviMaj commented on #1421
i think i resolved it by removing .card-main_buton z-index here:

https://github.com/TheOdinProject/theodinproject/pull/1422

[2020-10-19 18:00] ZachBaird commented on #1421
@DoviMaj Thanks for catching this! Can you share a screenshot of what it looks like with the change?

[2020-10-19 18:18] DoviMaj commented on #1421
a gif

![chrome-capture (2)](https://user-images.githubusercontent.com/36450233/96495188-2c9b7000-1250-11eb-99c4-c92f691e45b4.gif)

a screenshot

![chrome-capture](https://user-images.githubusercontent.com/36450233/96495270-4b9a0200-1250-11eb-9116-d5bf62441492.jpg)

my only concert is that this class is being used somewhere else but i coudnt find anywere.

[2020-10-19 19:26] ZachBaird commented on #1421
@DoviMaj You can actually do a search in Visual Studio Code if that's the editor you're using. It should be a magnifying glass icon or you can press CTRL + Shift + F to bring it up and search that class. It'll give you any instances where that code shows up.

I'd search for `.card-main_button` and `card-main_button` (was it one or 2 T's? in "buton")

[2020-10-19 19:59] DoviMaj commented on #1421
`.card-main__button` with two T's.

Just checked, didnt find any other instances of this class.

[2020-10-19 20:23] #1421 closed

[2020-10-19 22:00] I3uckwheat commented on #1004
@ZachBaird Thanks!

[2020-10-20 06:49] AJMcDee opened #1431 "Linux installation guide no longer includes Ruby installation information"
This page: https://github.com/TheOdinProject/theodinproject/wiki/Linux-Installation-Guide

It indicates that Ruby/Rails installation is assumed based on the installation guide from TOP, but that guide no longer includes Ruby/Rails. I am trying to install everything needed for some fixes and am cobbling my way through, but a step-by-step similar to the rest of that page would be advisable for futur

[2020-10-20 07:01] AJMcDee commented on #1431
I just saw that the guide still exists but is now located here: https://www.theodinproject.com/courses/ruby-programming/lessons/installing-ruby-ruby-programming

It would be a good first issue for someone if they could change the link in the installation guide to go to that page instead.

[2020-10-20 07:47] AJMcDee commented on #1411
@ZachBaird I'm having some trouble with this and the other issue, because I've actually never worked in Ruby before. These are both stylesheet fixes and I've found the stylesheets, so that's not a problem, but I have NO idea how to actually check my changes (e.g. see a preview of the site locally). Is there a specific build/run command similar to npm that I should be using?

[2020-10-20 08:50] KevinMulhern commented on #1411
@AJMcDee we have a guide for that https://github.com/TheOdinProject/theodinproject/wiki/Running-The-Odin-Project-Locally

[2020-10-21 03:36] I3uckwheat commented on #1431
The wiki has some nuances that aren't beginner friendly to PR, I have fixed this. Thank you for reporting!

[2020-10-21 03:36] #1431 closed

[2020-10-22 23:39] DoviMaj commented on #1411
how is this going @AJMcDee ?

adding this to https://github.com/TheOdinProject/theodinproject/edit/master/app/assets/stylesheets/components/navbar.scss
should solve it.

[code]

should i go ahead and do it?

[2020-10-22 23:51] DoviMaj commented on #1411
how is this going @AJMcDee ?

adding this to https://github.com/TheOdinProject/theodinproject/edit/master/app/assets/stylesheets/components/navbar.scss
should solve it.

[code]

should i go ahead and do it?

[2020-10-23 01:33] DoviMaj commented on #1411
took the liberty.. https://github.com/TheOdinProject/theodinproject/pull/1439

hope its ok

![Peek 2020-10-23 04-20](https://user-images.githubusercontent.com/36450233/96946346-c67d4a00-14e8-11eb-82cd-910eb80ec808.gif)

[2020-10-23 06:20] smcommits commented on #1411
@DoviMaj Hey! Yeah that should be it but The Odin Project seems to use some sort of framework. So, it will be better to add the same condition using a HTML class. I will try and dig into it tomorrow. What do you say?

[2020-10-23 19:40] ZachBaird commented on #1411
Hey @DoviMaj , we really appreciate you creating a pull request for this task and contributing to The Odin Project!

That being said, you helping has actually created an opportunity to talk about task management and courtesy when it comes to open-source development. While Anna hasn't provided an update yet on her progress with this work, this task and another are nevertheless assigned to her. Desp

[2020-10-24 16:06] DoviMaj commented on #1411
Oh. I see thanks for explaining and sorry Anna. Newbie here. @ZachBaird maybe add that to the contribution guide? or maybe not if it's the first time this happens

[2020-10-24 18:31] DoviMaj opened #1441 "fix lack of margin on contributing and on my path"
I feel there is a lack of margin on those places.
Adding margin-bottom of 40-50px should solve those, any opinions are welcome.
![contribute-issue](https://user-images.githubusercontent.com/36450233/97090095-29cdc000-1640-11eb-836c-e4cf5ed0ba83.png)

_fix to_

![contribute-fix](https://user-images.githubusercontent.com/36450233/97089196-ee7ec180-163e-11eb-8bf1-33eee296becc.png)

**this:**
![path-f

[2020-10-26 21:45] KevinMulhern commented on #1411
@DoviMaj it's the first item on our contributing guide

The implication being that if someone has commented on it to claim it they are working on it.

[2020-10-26 21:52] AJMcDee commented on #1411
@KevinMulhern @ZachBaird Thank you for saying something, as I probably wouldn't have kicked up a fuss myself but was definitely disappointed when I saw that someone else had worked onit. As it so happens I've actually been sick and so it's turned out for the best that the task was taken over, and I should probably relinquish the other one as well. Thank you for your support, though, and I will kee

[2020-10-26 22:18] KevinMulhern commented on #1411
Thanks for letting us know @AJMcDee, hope you feel better soon.

[2020-10-27 16:11] #1411 closed

[2020-10-27 16:39] DoviMaj commented on #1408
i can take this

[2020-10-27 16:41] KevinMulhern commented on #1408
Thanks @DoviMaj 💪

[2020-10-28 23:30] #1392 closed

[2020-10-31 02:00] PatrickMayoMoran opened #1458 "drop "learnlayout.com" link with expired domain from "Foundations/HTML & CSS Basics/Additional Resources""
Link is dead; sorry I couldn't contribute with a pull request, still figuring out how things work on my computer

[2020-11-01 22:09] leosoaivan commented on #1458
@PatrickMayoMoran could you open up this issue at [https://github.com/TheOdinProject/curriculum](https://github.com/TheOdinProject/curriculum)? And provide a link to the lesson page, for quick navigation.

This particular repository is for the website itself, not the content.

[2020-11-01 22:09] #1458 closed

[2020-11-02 10:07] PatrickMayoMoran commented on #1458
Will do!
Patrick Moran

On Sun, Nov 1, 2020 at 5:09 PM L. P. Soai-Van <notifications@github.com>
wrote:

[2020-11-11 00:42] I3uckwheat opened #1476 "Remove "Forum" references from the website and lessons."
We're shutting down the forum :( It's time.

Because we're doing this, we need to remove references to it throughout the site, for example, in the screenshot below:

![image](https://user-images.githubusercontent.com/4411701/98750718-81279c00-2373-11eb-8769-80942bcc86b0.png)

we'll also need to make sure we have removed all the content from the lessons that reference the forum. This is a good time

[2020-11-11 14:31] Amita-Roy commented on #1476
Hey I3uckwheat,

Just want to clarify, forum should be accessible from this dropdown only not from any other places which is referring to its link. Or we are completely removing this feature from this website?

[2020-11-11 16:11] I3uckwheat commented on #1476
@Amita-Roy Apologies, this has been completed. We are removing the "forum" link only.

[2020-11-11 16:11] #1476 closed

[2020-11-11 19:42] I3uckwheat opened #1480 "Flip Async and React section in seeds file."
![image](https://user-images.githubusercontent.com/4411701/98856710-d36bca00-2412-11eb-8e52-7870baaf6e31.png)
These two sections should be flipped so we're not making mental jumps between learning vanilla JS and a framework. In the future, this could mean we need to add an API project to the React stuff as well.

[2020-11-11 19:45] twalton83 commented on #1480
I’ll go ahead and handle this.

[2020-11-12 23:57] #1480 closed

[2020-11-12 23:59] #1441 closed

[2020-11-14 03:56] leosoaivan opened #1487 "Epic: Add test suite for React components"
Our React components need a comprehensive test suite, starting with full unit testing. This work should be encapsulated in an epic, with individual tickets/issues per component.

Using `react-testing-library` and `jest` (mainly for coverage reporting), we should write tests first for each of the following basic component, located in `app/javascript/component/project-submissions/components`:

- [ ]

[2020-11-14 22:34] BoxenOfDonuts opened #1489 "Unable to close "Thanks for updating your solution" popup on dashboard when you update a solution (chrome)"
On the main dashboard if you update a solution, you are unable to close the popup.

appears to be working in Firefox (version 80.1)

Keys, and clicks tried:
- Clicking close
- Clicking the 'x'
- Spacebar / Escape / Backspace

Browser: Chrome 86

The 'click' event listener is tied to  `class="button button--primary"`
following link to the minified js leads to an empty function `function sd() {}`

!

[2020-11-14 23:01] BoxenOfDonuts commented on #1489
Appears the issue only happens when you actually update the code / live preview. Just clicking Edit then Update allows you to close the popup. Reported non-issue with Firefox is incorrect as I didn't update the repo url when testing.

Steps to reproduce:

1. Go to hompage
2. Click 'Edit Solution'
3. Update the Repository URL
4. Click 'Update' to update the submission

[2020-11-18 22:48] twalton83 opened #1499 "Update Wiki to include note on Postgres.App installation"
Per my own experience (and snooping around [Stack Overflow](https://stackoverflow.com/questions/20224483/cannot-install-pg-gem-in-mavericks-with-postgres-app)), users taking the Postgres.App route may have issues installing the `pg` gem due to an incorrect path pointing to the installation of Postgres.

The wiki will need to be updated to include a note regarding this possible snag, and how users

[2020-11-19 18:24] leosoaivan opened #1503 "[Tests - JS/React] Add unit tests for create-form.js"
### Background:
The recent addition of the project submissions feature introduces React components to The Odin Project's website. In order to maintain a level of confidence on the feature's implementation, we would like to add tests, starting with unit tests.

For this issue, add unit tests for `component/create-form.js`.

### Suggestions:
1. Navigate to the TOP website, identify the component in

[2020-11-19 18:27] leosoaivan opened #1504 "[Tests - JS/React] Add unit tests for edit-form.js"
### Background:
The recent addition of the project submissions feature introduces React components to The Odin Project's website. In order to maintain a level of confidence on the feature's implementation, we would like to add tests, starting with unit tests.

For this issue, add unit tests for `component/edit-form.js`.

### Suggestions:
1. Navigate to the TOP website, identify the component in ne

[2020-11-19 18:28] leosoaivan opened #1505 "[Tests - JS/React] Add unit tests for flag-form.js"
### Background:
The recent addition of the project submissions feature introduces React components to The Odin Project's website. In order to maintain a level of confidence on the feature's implementation, we would like to add tests, starting with unit tests.

For this issue, add unit tests for `component/flag-form.js`.

### Suggestions:
1. Navigate to the TOP website, identify the component in ne

[2020-11-19 18:29] leosoaivan opened #1506 "[Tests - JS/React] Add unit tests for like.js"
### Background:
The recent addition of the project submissions feature introduces React components to The Odin Project's website. In order to maintain a level of confidence on the feature's implementation, we would like to add tests, starting with unit tests.

For this issue, add unit tests for `component/like.js`.

### Suggestions:
1. Navigate to the TOP website, identify the component in need of

[2020-11-19 18:30] leosoaivan opened #1507 "[Tests - JS/React] Add unit tests for modal.js"
### Background:
The recent addition of the project submissions feature introduces React components to The Odin Project's website. In order to maintain a level of confidence on the feature's implementation, we would like to add tests, starting with unit tests.

For this issue, add unit tests for `component/modal.js`.

### Suggestions:
1. Navigate to the TOP website, identify the component in need o

[2020-11-19 18:31] leosoaivan opened #1508 "[Tests - JS/React] Add unit tests for submission-title.js"
### Background:
The recent addition of the project submissions feature introduces React components to The Odin Project's website. In order to maintain a level of confidence on the feature's implementation, we would like to add tests, starting with unit tests.

For this issue, add unit tests for `component/submission-title.js`.

### Suggestions:
1. Using `react-testing-library`, write tests to addr

[2020-11-19 18:31] leosoaivan opened #1509 "[Tests - JS/React] Add unit tests for submission.js"
### Background:
The recent addition of the project submissions feature introduces React components to The Odin Project's website. In order to maintain a level of confidence on the feature's implementation, we would like to add tests, starting with unit tests.

For this issue, add unit tests for `component/submission.js`.

### Suggestions:
1. Navigate to the TOP website, identify the component in n

[2020-11-19 18:32] leosoaivan opened #1510 "[Tests - JS/React] Add unit tests for submissions-list.js"
### Background:
The recent addition of the project submissions feature introduces React components to The Odin Project's website. In order to maintain a level of confidence on the feature's implementation, we would like to add tests, starting with unit tests.

For this issue, add unit tests for `component/submissions-list.js`.

### Suggestions:
1. Navigate to the TOP website, identify the componen

[2020-11-19 18:34] leosoaivan opened #1511 "[Tests - JS/React] Add unit tests for visible-toggle.js"
### Background:
The recent addition of the project submissions feature introduces React components to The Odin Project's website. In order to maintain a level of confidence on the feature's implementation, we would like to add tests, starting with unit tests.

For this issue, add unit tests for `component/visible-toggle.js`.

### Suggestions:
1. Navigate to the TOP website, identify the component

[2020-11-19 18:40] #1487 closed

[2020-11-19 20:24] #1408 closed

[2020-11-20 02:04] #1499 closed

[2020-11-20 17:03] I3uckwheat opened #1516 "Node conclusion is missing from site"
https://github.com/TheOdinProject/curriculum/blob/master/nodeJS/conclusion.md

This file here should be referenced in the seeds file on the site in the proper location to allow it to show up on the site.

good goin oreo.

[2020-11-20 21:57] ZachBaird commented on #1489
Hey @BoxenOfDonuts can you retest? I'm trying to reproduce this on the live site on Firefox and Chrome and I'm just not getting the behavior. I'll ask for some other folks to test as well.

There's been a lot of code changes to the site the past week, so it's very plausible this bug got fixed along the way 👀

[2020-11-20 22:03] I3uckwheat commented on #1489
I am unable to replicate.

[2020-11-20 22:12] BoxenOfDonuts commented on #1489
I can only reproduce it when updating my Google Homepage submission, my other submissions appear to work fine. Tried Firefox and Chrome.

[2020-11-20 22:19] I3uckwheat commented on #1489
@BoxenOfDonuts I am also unable to reproduce on the google home page

[2020-11-20 22:19] ZachBaird commented on #1489
Reproduced in Firefox on the Google project **only**. No console errors.

[2020-11-21 03:05] jessicaawhy opened #1519 "Add link back to project page in project submission pages"
**Issue:**
I think the submissions pages for each projects is great so far but sometimes I find myself a few pages in and want to go back to the project description page more easily than hitting back a few times or navigating there again. It'd be useful if we were to add a button to link back to the project page.

**For example:**
https://www.theodinproject.com/lessons/library/project_submissions?

[2020-11-21 23:05] #1516 closed

[2020-11-24 13:27] #1511 closed

[2020-11-24 18:15] I3uckwheat commented on #1519
Ahhh, this is a great idea! We really just need a link at the top that says `Go back to lesson`

[2020-11-24 18:30] KevinMulhern commented on #1519
Making the lesson name under the solutions header a link might be a better approach, but I'm not 100% sure 🤔

[2020-11-24 18:30] I3uckwheat commented on #1519
@KevinMulhern Can we consult @adachiu ?

[2020-11-25 23:25] superspike7 opened #1532 "Small Readme changes"
## remove "Jquery" and add "Node" and "React" to the "We Teach:" list

![image](https://user-images.githubusercontent.com/65844337/100291342-7b0efd80-2fb8-11eb-8d7d-c7af95c82e77.png)

[2020-11-25 23:25] I3uckwheat commented on #1532
Nice, great catch!

[2020-11-26 01:29] fortypercenttitanium commented on #1508
I can take this one.

[2020-11-26 12:52] berubenic commented on #1532
I can fix this tonight!

[2020-11-26 18:18] erdemyigitoglu commented on #1532
If it is still available I can make the change.

[2020-11-26 18:37] ZachBaird commented on #1489
@BoxenOfDonuts Fix is out and the issue is resolved for me. Can you do some testing and see if your results line up with mine?

[2020-11-26 18:43] BoxenOfDonuts commented on #1489
@ZachBaird Looks good to me! Updated the Google Project in Firefox and Chrome without issue.

[2020-11-26 18:45] #1489 closed

[2020-11-28 17:49] #1506 closed

[2020-11-28 18:11] KevinMulhern commented on #1532
This has been resolved

[2020-11-28 18:11] #1532 closed

[2020-11-28 21:15] BoxenOfDonuts opened #1536 "Solutions formatting issue with long usernames"
When a username is longer than 18 characters and the width of the broswer is between 770px and 1000px, the formatting for the submission items breaks.

Steps to reproduce:

1. Open - https://www.theodinproject.com/courses/javascript/lessons/tic-tac-toe-javascript
2. Scroll down to solutions
3. Shrink width to range above 770 - 1000 px

![image](https://user-images.githubusercontent.com/7082618/100

[2020-11-28 22:07] tmannazy commented on #1536
I will love to fix it. How do I go about that?

[2020-11-28 22:09] I3uckwheat commented on #1536
@tmannazy You will have to edit the CSS on the site to fix. You should have some basic knowledge of getting things running. Contributing guide is here: https://github.com/TheOdinProject/theodinproject/wiki/Contributing-Guide

[2020-11-29 08:49] GiZmoFalcon commented on #1536
I tried to solve this issue quickly on devtools and here is my solution if that helps:
For this to work, the username needs to be put inside a `<span>` tag inside the `<div class="submissions__submission-title">` element.
[code]

[2020-11-29 09:49] shoebham commented on #1536
adding`white-space:nowrap` seems to work
[code]

[2020-11-29 10:55] aayushmau5 commented on #1507
Hey, i wanna take this one.

[2020-11-30 20:48] fortypercenttitanium opened #1550 "Solutions dashboard view with long titles breaks CSS"
When a project has a long name, the buttons to the right on the dashboard view break.

![image](https://user-images.githubusercontent.com/61510135/100662802-636ea680-3323-11eb-9c68-9d91614017c9.png)

[2020-11-30 20:51] KevinMulhern commented on #1550
Hi @fortypercenttitanium, thanks for reporting. This is a duplicate of https://github.com/TheOdinProject/theodinproject/issues/1536

[2020-11-30 20:51] #1550 closed

[2020-11-30 21:08] fortypercenttitanium commented on #1550
Sorry about that - I thought it was different because it was the dashboard view.

[2020-11-30 21:21] KevinMulhern commented on #1550
ahh I see. The same react component is used for both views. Fixing it one should sort out the other 🤞

[2020-12-01 15:17] leosoaivan opened #1553 "Setup ESLint with AirBnB rules."
## Description
The inclusion of React means we'd like to configure ESLint for code consistency and styling/syntactical correctness.

## Deliverables
1. Setup ESLint in a distinct `.eslintrc` file.

[2020-12-02 17:24] DoviMaj commented on #1536
is this solved?

[2020-12-02 17:25] I3uckwheat commented on #1536
Yes

[2020-12-02 17:27] DoviMaj opened #1557 "inconsistency in like button position"
on https://www.theodinproject.com/dashboard and any other project submission page

![Screenshot_2020-12-02 Project Battleship The Odin Project](https://user-images.githubusercontent.com/36450233/100908647-68268c80-34d4-11eb-941b-e37ff643177b.png)

[2020-12-02 18:23] DoviMaj opened #1558 "add navigation through submissions to project page"
Its not very nice to have to go into a diferent page to view all of the project submittions so...

i propose that instead of:
(_screenshot from project page_)
![Screenshot_2020-12-02 Project Battleship The Odin Project(1)](https://user-images.githubusercontent.com/36450233/100914129-51376880-34db-11eb-9092-3b42f289687a.png)

we have the full list of submitions show only 10 most recent submittions

[2020-12-02 18:28] DoviMaj commented on #1519
Guys, i think https://github.com/TheOdinProject/theodinproject/issues/1558 would solve this

[2020-12-02 18:28] I3uckwheat commented on #1558
This is intended, with the voting system we have coming new submissions will be shown alongside the most voted submissions. We can't move this page into that same component because the order will not line up.

[2020-12-02 18:28] #1558 closed

[2020-12-02 18:29] I3uckwheat commented on #1519
I have closed #1558, it is not a solution to this, but an issue.

[2020-12-02 18:35] DoviMaj commented on #1558
oh well. if we cant we cant.

[2020-12-02 18:37] I3uckwheat commented on #1558
@DoviMaj This *could* be implemented, but it defeats the purpose of having new submissions alongside top rated submissions.

We want to make sure we have good examples, while also allowing for new people a chance to get more exposure on their projects.

[2020-12-02 18:41] DoviMaj commented on #1558
makes sense @I3uckwheat. but i dont see how would two columns of solutions fit into the page, but i guess u guys have something in mind already...

[2020-12-02 18:42] I3uckwheat commented on #1558
@DoviMaj It wouldn't be two columns. They would be mixed within the results.

[2020-12-02 18:43] DoviMaj commented on #1558
and view all submitions page would be by newest?

[2020-12-02 18:44] I3uckwheat commented on #1558
Possibly, we have no comment on this and we have been working through plans.

[2020-12-02 18:44] DoviMaj commented on #1558
im trying to understand why would it not line up whithin the same component

[2020-12-02 18:46] DoviMaj commented on #1558
ah. what about having a sort by likes or newest option?

[2020-12-02 18:46] I3uckwheat commented on #1558
If you have old items mixed with new, you're going to break the sorting if you try to go to a "next page". This causes unnecessary load on the DB as well as adding load to the site to sort and filter the results.

Keeping it simple is important so we don't spend way too much time on this small thing and we can bring better content to everyone. Feel free to make a PR fo this.

[2020-12-02 19:03] DoviMaj commented on #1558
_you're going to break the sorting if you try to go to a "next page"_
cant sort the DB by random and then load them into the pages in order?

make a PR u mean an issue? cause i dont have the skills to implement that yet.

Also if a sorting button gets implemented then this issue could stay open for implementation and solves the other issue i mentioned too.

[2020-12-02 19:05] I3uckwheat commented on #1558
It's unnecessary overhead

By PR I mean,  make changes to the code and request they get added to the codebase. If you do not have the skills yet, you can gain them and do that then.

[2020-12-02 19:11] DoviMaj commented on #1558
maybe when i finish Node and then i'l need to learn Rails to do that

[2020-12-02 19:13] I3uckwheat commented on #1519
Waiting for @adachiu's response on this.

[2020-12-02 20:45] DoviMaj commented on #1557
im working on it. and talking to myself

[2020-12-02 20:45] CatQueenCodes opened #1560 "Change Course Titles in In Foundations"
A few lesson titles in Foundations were sort of misleading and would be better changed to:

The first chunk of lessons called **The Basics** would be better named **Introduction**

and the lesson **Gearing Up** would be better named **Motivation and Mindset**.

This was discussed in discord.

[2020-12-02 20:46] DoviMaj opened #1561 "Submissions break on media query 992px - 1200px"
on https://www.theodinproject.com/dashboard and any other project submission page the page breaks on media query 992px - 1200px (large devices breakpoint)

![Screenshot_2020-12-02 Dashboard The Odin Project(1)](https://user-images.githubusercontent.com/36450233/100929361-315e6f80-34f0-11eb-92fc-27c8c3e3c6ea.png)

[2020-12-02 21:00] GiacomoGitHub commented on #1560
@CatQueenCodes I’d like to help! It’s my first time, could you tell me what’s the procedure (or point me to the documentation)?

[2020-12-02 21:16] CatQueenCodes commented on #1560
@GiacomoGitHub  The seed files (https://github.com/TheOdinProject/theodinproject/blob/master/db/seeds/01_foundations_seeds.rb) need to be updated with the proper names!

[2020-12-02 22:22] CatQueenCodes commented on #1560
Additionally: The folder name 'the_basics'  in the curriculum repo will need to be updated and so will the md file name for the gearing up lesson there as well!  https://github.com/TheOdinProject/curriculum/tree/master/foundations

[2020-12-03 11:38] GiacomoGitHub commented on #1560
@CatQueenCodes I'm on it! 👍🏻

[2020-12-03 17:35] leosoaivan commented on #1507
Resolved by https://github.com/TheOdinProject/theodinproject/pull/1549.

[2020-12-03 17:35] #1507 closed

[2020-12-03 17:36] leosoaivan commented on #1508
Resolved by https://github.com/TheOdinProject/theodinproject/pull/1538

[2020-12-03 17:36] #1508 closed

[2020-12-03 17:57] GiacomoGitHub commented on #1560
@CatQueenCodes done!

It took me longer than I thought and it was a bit of a challenge. Is it always like this the first time? 😅

I hope everything I did is correct. Let me know if you need anything else or if I made a mistake, I'll fix it.

[2020-12-04 03:03] LE-HU commented on #908
Guys just to let you know what i've been using so far when coding @ night. These examples might provide you with some example and ideas in further development of in-app dark mode. Both are mozilla add-ons.
1. Custom TOP dark theme created solely for this website, unfortunatelly I dont know who's the creator. This add-on worked quite well but I've spot some issues like not seeing comments properly

[2020-12-04 15:32] mindovermiles262 commented on #908
Hey thanks @LE-HU ! I'm the creator of the dark mode plugins for firefox.

There is also one available for chrome: https://chrome.google.com/webstore/detail/the-odin-project-dark-the/omiecnmmajomefpodcdjkebeonieonef

[2020-12-08 15:00] GiZmoFalcon commented on #1536
![image](https://user-images.githubusercontent.com/16624267/101500054-f5b22280-3993-11eb-9af7-eb52bfb824d8.png)
I think the issue still exists or the resolution gave rise to another issue. The hearts don't align now if the names are too large.

@I3uckwheat

[2020-12-08 15:35] DoviMaj commented on #1536
https://github.com/TheOdinProject/theodinproject/pull/1562

[2020-12-08 15:43] BoxenOfDonuts commented on #1536
@DoviMaj I think there is an issue from the previous solution where the `max-width` property isn't tied to a breakpoint. It applies with the full width as well.

#1562

![image](https://user-images.githubusercontent.com/7082618/101505012-7b54b480-3939-11eb-8897-1343f382a841.png)

[2020-12-08 15:50] DoviMaj commented on #1536
yes @BoxenOfDonuts. which width is this screenshot on?

[2020-12-08 15:52] BoxenOfDonuts commented on #1536
@DoviMaj 1920px,

[2020-12-08 16:20] DoviMaj commented on #1536
ok @BoxenOfDonuts i updated this PR https://github.com/TheOdinProject/theodinproject/pull/1563 to solve that also

[2020-12-08 16:47] DoviMaj commented on #1557
![Screenshot_2020-12-08 Project Google Homepage The Odin Project](https://user-images.githubusercontent.com/36450233/101514311-d1e7e000-3985-11eb-8a53-370895cc645c.png)
solved image attached

[2020-12-08 20:08] #1561 closed

[2020-12-08 20:08] #1557 closed

[2020-12-08 20:11] #1560 closed

[2020-12-08 20:11] #1536 closed

[2020-12-09 01:48] I3uckwheat opened #1576 "Shareable link for MD preview feature"
We have a brand new feature to help debug MD issues!
---> https://www.theodinproject.com/lessons/preview <---

It's missing one thing that would be very nice to have however, and that would be a way to share what is in the body of that form with others in a way that's easy to replicate. Because markdown may not be the same across all platforms, and a simple copy/paste can be error prone across pla

[2020-12-09 06:40] shoebham opened #1577 "Broken Link in Recursive Methods of Ruby Programming"
The second link
`Watch this Video on Recursion by Joshua Cheek but only until minute 17:36! (don’t want to give away the project…)`
in the assignment section of the chapter is broken , after clicking the [link ](http://vimeo.com/24716767)it takes to a page that says
![image](https://user-images.githubusercontent.com/25881429/101594067-12dc0500-3a17-11eb-897b-db0eb93ef05c.png)

Link to the chapter:

[2020-12-09 07:04] shoebham commented on #1577
Closing this because I know realised someone else posted the same issue 8 hours ago.

[2020-12-09 07:04] #1577 closed

[2020-12-09 12:06] thebluedev commented on #908
@LE-HU  The dark reader extension is Extremely good! I have been using it for quite a few years now , it makes any site go into dark mode seamlessly!

also would like to point out that Dark reader is available on all browsers and not only mozilla Firefox

[2020-12-09 14:14] I3uckwheat commented on #908
Hey guys, this is for adding an actual dark mode to the Odin site itself, not to discuss dark reader.

[2020-12-09 17:47] twalton83 commented on #1576
I'm interested in this project.

[2020-12-09 22:48] I3uckwheat commented on #1576
@twalton83 Good luck, homeslice!

[2020-12-10 17:23] #1553 closed

[2020-12-18 23:49] gogvale opened #1596 "PWA Title"
Could you please implement the website's title?

Here's how it looks after installing:

![image](https://user-images.githubusercontent.com/23729423/102673316-4296b580-4159-11eb-8239-2ed755fd3c43.png)
![image](https://user-images.githubusercontent.com/23729423/102673339-5cd09380-4159-11eb-87f0-757c0261e656.png)

[2020-12-19 03:46] brooksquil commented on #1510
I'd love to give this a try.

[2020-12-19 03:51] brooksquil commented on #908
I would love to take a whack at this!

[2020-12-19 12:12] OmarMoataz commented on #1509
Hi, I'd like to take this if that's okay.

[2020-12-19 13:35] KevinMulhern commented on #908
Hey @brooksquil, this could potentially be a big piece of work. Are you in our discord? it would be worth having a chat about the approach.

[2020-12-19 14:49] marvingay commented on #1509
@OmarMoataz  You're welcome to. If you have any questions or concerns, don't hesitate to leave a comment here. I'll go ahead and assign it to you.

[2020-12-19 14:50] marvingay commented on #1510
@brooksquil You're welcome to. If you have any questions or concerns, don't hesitate to leave a comment here. I'll go ahead and assign it to you.

[2020-12-21 01:34] brooksquil commented on #908
I just got on discord. I know it's a big chunk of work but I have done a
lot of react component styling on a project at my first consulting firm and
on contract with the same client after I went to work on a Ruby app. I have
also done research on how to go about this and while it looks challenging,
it also looks like this ticket has been sitting around for a while so I
have no need to rush through

[2021-01-02 15:45] buondevid opened #1614 "Projects solutions at the end of the lessons don't show 10 most recent submissions."
I've noticed that the projects "Solutions" section, at the end of the page, doesn't actually show the **10 most recent submissions**, e.g.:
- [Google Homepage](https://www.theodinproject.com/courses/foundations/lessons/html-css)
- [Rock, Paper and Scissors](https://www.theodinproject.com/courses/foundations/lessons/rock-paper-scissors)
- [Etch-a-Sketch](https://www.theodinproject.com/courses/found

[2021-01-02 15:54] I3uckwheat commented on #1614
There is work being done on this

[2021-01-02 17:55] derahn commented on #1560
Hello @CatQueenCodes I'd also love to be of help....I'd view all of the links you shared and see what I can do..hope I'm not too late

[2021-01-02 18:00] CatQueenCodes commented on #1560
@derahn This issue is resolved and closed! Feel free to check the open issues or create your own issue or pull request if you can think of anything you'd like to add or change in the curriculum. :)

[2021-01-02 20:48] derahn commented on #1560
@CatQueenCodes thanks.. I'd pay attention

[2021-01-04 04:19] sher-s7 opened #1616 "Displaying wrong image when hovering over JavaScript section"
![odin](https://user-images.githubusercontent.com/37381007/103500719-e949aa00-4e19-11eb-9c83-cd9d5dae26ff.gif)

When the JavaScript section is hovered over, it displays an off-center Odin logo which I'm guessing shouldn't be there.
You can see when I hover over the HTML & CSS section, it displays it's image fine.

[2021-01-04 04:22] twalton83 commented on #1616
Thank you for pointing this out, this is being addressed here #1613

[2021-01-04 04:22] #1616 closed

[2021-01-05 04:52] BoxenOfDonuts commented on #1596
I can grab this.

Name: The Odin Project
Short Name: TOP?

The short name will probably turn into "The Odin Proj..." on mobile if its not reduced, but I'm not really in love with it being TOP either.

[2021-01-07 22:46] BoxenOfDonuts commented on #1596
This should be resolved with PR 1637

https://github.com/TheOdinProject/theodinproject/pull/1637

[2021-01-08 20:47] gogvale commented on #1596
It's working, thank you!!

Closing the issue

[2021-01-08 20:47] #1596 closed

[2021-01-09 00:16] KevinMulhern commented on #1614
This has been resolved

[2021-01-09 00:16] #1614 closed

[2021-01-10 18:18] DoviMaj commented on #1002
i feel a previous lesson would be very helpful too

[2021-01-10 18:57] DoviMaj opened #1639 "Feature: Previous lesson button"
I think it would be really helpful to have a button to go back to the previous lesson. From the discussions in the Discord channel, and this issue https://github.com/TheOdinProject/theodinproject/issues/1002 it seems to be a feature that has demand for and worth implementing. it will help students navigate through lessons, and not needing to open the whole course to find the previous lesson.

[2021-01-10 23:38] I3uckwheat commented on #1639
Duplicate of #1002 closing.

[2021-01-10 23:38] #1639 closed

[2021-01-10 23:42] DoviMaj commented on #1639
@I3uckwheat ? i was told to open a new issue since the previous one was closed

[2021-01-10 23:45] I3uckwheat commented on #1639
@DoviMaj All the context is in the previous issue, no need to make a new one.

[2021-01-10 23:47] DoviMaj commented on #1639
but the previous one is closed @I3uckwheat :thinking:

[2021-01-10 23:52] DoviMaj commented on #1639
I only wanted to know if this is something that is wanted and can be implemented... if so then I could take a look at it and try it or someone else could pick it up. don't get how a closed issue will help us here

[2021-01-10 23:56] I3uckwheat commented on #1639
@DoviMaj You could comment on the old issue. Duplicates split the discussion.

As stated in the old issue as well by @KevinMulhern, there was a study done and the previous lesson button was proven ineffective. We also discussed this on discord: https://discord.com/channels/505093832157691914/540903304046182425/767752006601277510

[2021-01-10 23:57] I3uckwheat commented on #1639
This also doesn't seem like a good use of our time to worry about and maintain at this point.

[2021-01-11 00:03] DoviMaj commented on #1639
well there was interest in the button both in the issue mentioned, you also said it would be useful https://discord.com/channels/505093832157691914/540903304046182425/767757658195230771 and yesterday on the channel https://discord.com/channels/505093832157691914/540903304046182425/797891254616195073, but if u think its a waste of time il shut up

[2021-01-11 00:07] I3uckwheat commented on #1639
@DoviMaj Yes, I did at the time. However, realizing there was a study done on this already in the past that has proven it's not useful.

[2021-01-11 00:09] DoviMaj commented on #1639
only because a button is less used than others means it's not useful?

[2021-01-11 00:13] I3uckwheat commented on #1639
@DoviMaj Adding clutter and more things to maintain on the website is not worth the time if a very low percentage of users find that useful.

[2021-01-11 00:16] twalton83 commented on #1639
I did like the idea, @DoviMaj, but as I am a newer maintainer and didn't know the complete history behind the prior conversations about this feature, I agree that if a study has been done and it was proven to just not be worth it, our time is better spent implementing things with more importance, like new curriculum.

[2021-01-11 00:36] DoviMaj commented on #1639
ok. thanks for the clarifications guys. @I3uckwheat ++ @twalton83 ++ u are the real MVP

[2021-01-13 17:13] twalton83 opened #1652 "MD Previewer does not persist styling for multi-line code blocks"
![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/22967723/104485525-7362e280-557f-11eb-999e-b600a6406413.gif)

- currently these code blocks do not persist their styling on [the markdown previewer](https://theodinproject.com/lessons/preview) if one swaps between the content and preview tab multiple times

[2021-01-13 21:49] #1576 closed

[2021-01-16 03:14] marvingay commented on #1652
@KevinMulhern Is Prism's `highlightAll()` expensive, performance wise?

This occurs because the convertedContent doesn't change on tab switches. We can either paint on each request to Preview if performance is a non-issue or add a piece of state and handlers to manage whether or not we should paint independent of the content.

[2021-01-17 23:56] KevinMulhern commented on #1652
Hey @marvingay, nice work tracking down the issue.

 I _think_ its ok performance wise. It's pretty light weight. Firing it off on the preview tab switch sounds like a good approach to me 👍

[2021-01-18 01:06] marvingay commented on #1510
@brooksquil Did we happen to give this a try?

[2021-01-18 01:06] marvingay commented on #1509
@OmarMoataz  Did we happen to give this a try?

[2021-01-20 02:11] DoviMaj commented on #1504
i can give it a try

[2021-01-20 19:25] CatQueenCodes opened #1666 "Auto-resizing of student project submissions overflow is off."
![Screen Shot 2021-01-20 at 2 20 08 PM](https://user-images.githubusercontent.com/59713017/105224180-d974da00-5b2a-11eb-8452-635e9c451cce.png)

It seems to happen when I have it around half screen window size, if I keep making the screen smaller eventually it does wrap around. It only happens with the person who submitted it's line since it has more content than the other lines.

Not a major issue

[2021-01-21 05:49] aayushmau5 commented on #1666
@CatQueenCodes I would like to work on this issue.

[2021-01-21 10:59] aayushmau5 commented on #1666
![demo](https://user-images.githubusercontent.com/54525741/105341964-bcf9a000-5c05-11eb-8d96-e8808a41bcde.png)

Is this better?

[2021-01-21 15:34] CatQueenCodes commented on #1666
We think it looks a bit odd having it as the only item needing 2lines/ having the eye on a seperate line. Would it be possible to try and have it so the buttons+icon shrink to fit

[2021-01-21 15:50] aayushmau5 commented on #1666
Working on it.

[2021-01-21 17:11] aayushmau5 commented on #1666
Here are some of the things i tried:

After setting the font size to 15px.
![first](https://user-images.githubusercontent.com/54525741/105385568-83428c80-5c39-11eb-9684-586793ea261a.png)
After adding `work-break`
![second](https://user-images.githubusercontent.com/54525741/105385575-850c5000-5c39-11eb-8d4b-2ab6b4606bc3.png)

[2021-01-21 22:08] rankoliang commented on #1666
![image](https://user-images.githubusercontent.com/37024941/105418112-9853f700-5c0a-11eb-842c-33d3ce11fef3.png)

Here's a solution I came up with. Also added color to the borders to emphasize that it's your own submission. I'm not sure how it would look when it comes to the project submissions in the dashboard though.

[2021-01-23 00:36] rankoliang commented on #1505
I can try to take on this one.

[2021-01-23 01:32] rankoliang opened #1667 "Whitespace issues when signed out"
![image](https://user-images.githubusercontent.com/37024941/105564546-b3009b80-5cf0-11eb-93df-31a55e8dd9b3.png)
![image](https://user-images.githubusercontent.com/37024941/105564561-bd229a00-5cf0-11eb-917f-b1faf1c7a065.png)

I found two whitespace issues on these modals when you are signed out. One of them occurs when you try to create a project and the other occurs when you attempt to flag a proj

[2021-01-23 01:38] marvingay commented on #1505
@rankoliang  I can assign this to you. We have other tests present if you need a point of reference.

[2021-01-23 15:54] brooksquil commented on #1510
I haven't worked on this yet, but if no one is clamoring to do it I still
would like to

On Sun, Jan 17, 2021 at 7:06 PM Marvin Gay <notifications@github.com> wrote:

[2021-01-23 21:57] rankoliang opened #1669 "Typo in Shopping Cart lesson url in production, but not locally"
The url of the shopping cart assignment is currently https://www.theodinproject.com/courses/javascript/lessons/shopping-chart when it should be
https://www.theodinproject.com/courses/javascript/lessons/shopping-cart. (chart instead of cart)

The routes seem to be working correctly on a local server, however.
![image](https://user-images.githubusercontent.com/37024941/105614985-121aea80-5d9b-11eb-9

[2021-01-23 22:07] marvingay commented on #1669
The misspelling was caught after this course's release and it was left in place as it would have been a bit of an inconvenience to switch in the advent of the project submissions feature, I believe.

The spelling error is trivial, really, but perhaps @KevinMulhern  can shed a more accurate light on this.

[2021-01-23 22:34] rankoliang commented on #1669
I believe I've figure out the issue. It's that the Lesson got assigned the original id of `Shopping Chart` when it got created. When the title was manually updated in the seed via the create_or_update_lesson method below, it kept the same incorrectly spelt id and builds the incorrectly spelt path names. https://github.com/TheOdinProject/theodinproject/blob/146065f9fbbe78753be663da98d41f4a08b9c36e/

[2021-01-25 05:09] DoviMaj commented on #1666
`*, *::before, *::after {
    box-sizing: border-box;
 }` from bootstrap is causing this. how to fix it? no idea

[2021-01-25 18:29] KevinMulhern commented on #1669
Nice catch @rankoliang 💪  thanks for reporting this.

The route path is derived from the title attribute of the lesson. Friendly id uses it to create a slug when the record is first created. I assumed it would update the slug automatically when we updated the title to correct the spelling mistake. But that doesn't seem to be working as expected.

I think that behaviour has changed in the newer ver

[2021-01-25 18:30] #1669 closed

[2021-01-25 20:16] KevinMulhern opened #1678 "Enable Puma preload_app"
### Description
From the Puma docs:

Since we are running more than one web worker we should enable this on production to see if it has a positive effect on memory consumption.

[2021-01-25 20:37] #1678 closed

[2021-01-26 05:25] akoenig1 commented on #1667
I think I have what it takes to handle this one if its still open

[2021-01-26 20:14] #1667 closed

[2021-01-26 22:20] DoviMaj opened #1682 "Acessibility improvements"
Lighthouse points to those improvements on several pages of the site:

 -  [ ] Background and foreground colors do not have a sufficient contrast ratio.
 -  [x] Image elements do not have [alt] attributes.
 -  [ ] Links do not have a discernible name.
 -  [ ] [aria-hidden="true"] elements contain focusable descendants.
 -  [ ] Lists do not contain only `<li>` elements and script supporting element

[2021-01-28 15:50] #1505 closed

[2021-01-29 06:41] MrRamoun opened #1684 "google authentication problem"
![](https://imgur.com/gaD5BJI.png)

[2021-01-30 01:39] KevinMulhern commented on #1684
Hi @MrRamoun, this is caused by the naked (without the www) `theodinproject.com` url, google oauth is expecting you to come from `www.theodinproject.com` url.

We are working on a fix for this issue. In the mean time you can use this url to sign in https://www.theodinproject.com/login

[2021-02-07 01:04] samuelmckean commented on #1504
I would love to give this a try if it's still available.

[2021-02-07 14:20] OmarMoataz commented on #1509
I can work on it this weekend. Sorry for the delay, been a bit busy.

[2021-02-07 22:55] BoxenOfDonuts opened #1696 "Dead link for memory game example in Memory Card lesson"
http://demo7.downloader.tech/ is dead

![image](https://user-images.githubusercontent.com/7082618/107161897-5692b280-6965-11eb-8f1d-b9ff775a1c0d.png)

[2021-02-09 15:16] domlupo commented on #1696
A workaround is anyone can copy and paste the code from [here](https://www.golangprograms.com/react-js-projects-for-beginners/memory-game-in-react-js.html). I checked a few other projects and it seems all demos are down. I sent an email to the website founder.

[2021-02-10 04:43] KevinMulhern opened #1710 "Update Slug when The a Resources Title is Changed"
### Description
We use a resources title to generate its slug (url path). But when we update the title on a lesson, section, course or paths title it does not also update the slug for that resource

### Steps to reproduce
1. Update a lesson title in the rails console
2. View that lesson in the browser
3. 💥  the path in the lesson url is not updated to use the new title.
4. Repeat for sections, cou

[2021-02-15 17:09] akoenig1 commented on #1710
Hey I'd love to take a pass at this one if there are no other takers!

[2021-02-16 13:43] KevinMulhern commented on #1710
It's all yours @akoenig1

[2021-02-28 03:30] #1710 closed

[2021-03-02 11:23] DoviMaj commented on #1666
Can someone assign this to me? @aayushmau5 let me take it

[2021-03-03 11:02] RJK-1 opened #1738 "Broken link on Common Data Structures & Algorithms (Ruby)"
Link in bullet points 3 of assignments not functional. A google search of the article in question doesn't bring any direct results. Page possibly removed.

Article in question - Gentle Introduction to Algorithms for Web Developers

https://www.theodinproject.com/lessons/common-data-structures-and-algorithms

[2021-03-03 11:04] #1738 closed

[2021-03-03 11:04] RJK-1 commented on #1738
Wrong section

[2021-03-04 00:49] KevinMulhern opened #1742 "Chore: Remove Sinatra from the README"
Sinatra was removed from the curriculum last year.

[2021-03-05 17:09] #1742 closed

[2021-03-06 23:56] DoviMaj commented on #1666
May be closed

[2021-03-07 00:22] #1666 closed

[2021-03-07 11:33] Northrain-cmd commented on #1504
I am working on it.  Any good repos I can look at in terms of React forms testing? I'm still not sure what exactly should I test

[2021-03-07 13:30] I3uckwheat commented on #1504
Make sure you guys comment on the issues, ask before you start working on things.

Because this is a learner's course, sometimes people take things and take a while to finish, please don't take that work from them.

[2021-03-07 13:30] I3uckwheat commented on #1504
This isn't a assigned to @DoviMaj as he commented first.

[2021-03-07 13:32] DoviMaj commented on #1504
*is

[2021-03-07 13:47] Northrain-cmd commented on #1504
Ok, no problem, I just figured it wasn't officially assigned so I could try it too. If somebody gets stuck I'll be ready to help

[2021-03-07 14:14] I3uckwheat commented on #1504
@Northrain-cmd
I understand, it's tough to keep up with everything when we're as busy as we are :)

[2021-03-08 20:50] CouchofTomato opened #1755 "Update FAQs"
The FAQs need to be updated to reflect recent changes to our courses.

The section on which technologies we use still mentions we enrol students in the rails track. This is no longer relevant since we enrol everyone into foundations. It also still references a front end path that no longer exists

We also need to remove the why ruby on rails question and answer as we no longer only offer that as a

[2021-03-17 17:48] elios11 opened #1778 "Error message when successfully logging with GitHub"
There's an error message that appears when you log-in to TOP with GitHub, apparently it logs normally, so it's just a message and not an error.
![image](https://user-images.githubusercontent.com/5899944/111513568-b41dda00-872f-11eb-8ff4-ccef6dd51361.png)

[2021-03-17 18:05] CouchofTomato commented on #1778
Thanks. This sometimes happens and logging in again solves it. It's a third party auth system so not much we can do.

[2021-03-18 03:19] KevinMulhern commented on #1778
Looks like this was caused by users logging in with https://theodinproject.com The Github Oauth callback url was expecting https://theodinproject.com

I've updated the callback url, it should work as expected now.

[2021-03-18 03:19] #1778 closed

[2021-03-29 16:21] CatQueenCodes opened #1815 "Update discord invite link"
Currently our Discord community invite link lands users on the #rules channel. Due to the recent change to use Discord's membership screening feature (where users are exposed to the rules before agreeing to join), it's more sensible to have them land on the #faq channel upon joining. The new invite code (which can be appended  to the base discord invite link already there) is: fbFCkYabZB

Update t

[2021-03-29 16:44] fernie-cpu commented on #1815
All I have to do is change the link? I can do that

[2021-03-29 16:46] CatQueenCodes commented on #1815
@fernie-cpu you are assigned!

[2021-03-29 21:10] #1815 closed

[2021-03-29 21:11] #1503 closed

[2021-03-30 20:08] #1504 closed

[2021-03-31 12:02] U-C-S opened #1820 "Homepage's NodeJS course link not working"
link: https://www.theodinproject.com/courses/nodejs
On opening the above link, it's showing: Looks like you're lost, Odinite! (Error page)

But the other link that's accessed from 'All Paths/Full Stack JavaScript' is working normally
Working link: https://www.theodinproject.com/paths/full-stack-javascript/courses/nodejs

[2021-03-31 12:23] U-C-S commented on #1820
https://github.com/TheOdinProject/theodinproject/blob/05f7857f0d1f19c37aa024bfe1d6c60d19c6a370/config/routes/old_route_redirects.rb#L22

Is this the root cause?
Changing the redirect to **/paths/full-stack-javascript/courses/nodejs** might be the fix here

[2021-04-08 17:28] ZachBaird commented on #1820
@U-C-S I'll give it a go locally, stay tuned!

[2021-04-08 19:19] U-C-S commented on #1820
Thanks. Just my first-steps in open-source contributions

I might have tested it myself locally, but I have no idea about setting up environment for Ruby.

[2021-04-08 22:44] programmurr commented on #1755
Hey, I can have a go at this if that's alright. Haven't contributed yet so it's a good one to get started with.

[2021-04-08 23:42] ZachBaird commented on #1755
@programmurr Go for it! I'll assign to you.

[2021-04-09 01:09] #1820 closed

[2021-04-09 22:39] programmurr commented on #1755
Hey, I'm following the [Run TOP Locally](https://github.com/TheOdinProject/theodinproject/wiki/Running-The-Odin-Project-Locally) instructions and just ran the rspec tests, and there's one test failing which I attached in a screenshot. Is it safe to go ahead with seeding the DB or does this need resolved?
Everything installed fine with no errors, as far as I can tell. I have rspec installed using `

[2021-04-10 13:10] ZachBaird commented on #1755
@programmurr That's fine for now, this failing test cropped up in my code too but doesn't seem to be impacting everyone. Just make sure this is the only failing test when you're ready to push changes (assuming your code-change causes some tests to fail).

[2021-04-10 15:42] KevinMulhern commented on #1755
Thanks for reporting @programmurr, we need to add installing Redis to the setup instructions by the looks of it 😅

[2021-04-11 00:40] KevinMulhern opened #1832 "Bug: Clicking on All Paths Nav Link Makes the Community Nav Link Active"
### Steps to Reproduce
1. Click the "All Paths" nav link.
2. The community nav link is also active (highlighted in black)💥

### Expected Behaviour
 1. Click the "All Paths" nav link.
2. Only the All Paths nav link is active

### Additional Information

Screen shot:
![Screenshot 2021-04-11 at 01 30 31](https://user-images.githubusercontent.com/7963776/114288338-cc4ef380-9a66-11eb-8d19-e7f88b98bfe3.

[2021-04-12 17:08] #1755 closed

[2021-04-13 08:37] CouchofTomato opened #1840 "Link to lesson on admin flags page is broken"
### Description
We updated the url structure of the app recently so every lesson needs to accessed through its path and course. However we forgot to update the lesson link on the admin project submission flag page.

### Steps to Reproduce
1. Sign up as a new user
2. Open the rails console or database and set the admin attribute to true for the user you created.
3. Go to the google home page projec

[2021-04-15 19:34] KevinMulhern opened #1844 "Chore: Fix ActionText::ContentHelper and ActionText::TagHelper Depreciation Warning on Boot"
### Description
We get the following depreciation warning when booting the app:
![Screenshot 2021-04-15 at 20 31 03](https://user-images.githubusercontent.com/7963776/114927758-c15edf00-9e29-11eb-8745-b303c33342e5.png)

### Acceptance Criteria
We shouldn't get any depreciation warnings when booting the app.

### Additional Information
We aren't using ActionText::ContentHelper or ActionText::TagHel

[2021-04-15 19:36] KevinMulhern opened #1845 "Chore: Upgrade the App to Ruby 2.7.1"
### Description
The change to kwargs means we should upgrade to this version of Ruby 2.7 first to be safe.

### Acceptance Criteria
The app is running on Ruby 2.7.1 without any deprecation warnings.

[2021-04-15 21:16] KevinMulhern opened #1848 "Chore: Bump React Hook Form"
### Description
We use react hook form for the project submission forms on lessons. There have been some pretty major breaking changes to the react hook form resolvers package which is making this difficult to bump.

### Acceptance Criteria
The app is using the latest version of React Hook Form.

[2021-04-17 01:49] BrianWisniewski commented on #1832
I would be happy to try this out. Can't guarantee I'll figure it out but it's worth a shot!

[2021-04-17 21:54] rankoliang commented on #1844
After some digging, I found that the issue occurs when requiring `"rails/all"` in application.rb:
https://github.com/TheOdinProject/theodinproject/blob/b83eb11811196a849032001f2412657d41db3b85/config/application.rb#L3

`"rails/all"` imports all of the individual rails frameworks as shown in this link:
https://guides.rubyonrails.org/initialization.html#railties-lib-rails-all-rb

The deprecation war

[2021-04-18 05:35] rankoliang commented on #1844
I've narrowed down the problem even further and I've found out that the real issue is that when `ActionMailer` is loaded, `ActionText` also loads it helpers (https://github.com/rails/rails/blob/c431432f93a35530cd0544192b93dabda51f2bf7/actiontext/lib/action_text/engine.rb#L47-L51). If this is loaded too early, it will cause the deprecation warning.

This happens in the file
https://github.com/TheOd

[2021-04-19 20:56] KevinMulhern commented on #1844
Thanks for digging into this @rankoliang, brilliant work getting to the bottom of it 💪

I think the second solution is the way to go. Theres nothing wrong with the first either other than it needs more code changes. We can make a note of removing it when the Rails bump is shipped in the future.

[2021-04-19 21:08] KevinMulhern opened #1856 "Fix: Spamming Lesson Completion Button Is Causing Race Conditions"
### Description
We are seeing quite a few record not unique exceptions being raised in the lesson completions endpoint. After investigation this seems to be caused by multiple quick clicks on the complete button. It doesn't have any negative impact on the user experience but it is making quite a bit of noise in sentry.

### Steps to Reproduce
1. Go to a course page
2. Open the network tab of your

[2021-04-19 21:17] KevinMulhern opened #1857 "Fix: Broken Path Courses Url Should Redirect to Path Page"
### Description
previously we had a route to a paths courses, for example `/paths/full-stack-ruby-on-rails/courses`. This has been depreciated as the path page displays all the courses for that path, an example of the new route: `/paths/full-stack-ruby-on-rails`.

### Steps to Reproduce
1. Enter the old path courses url into your browsers address bar: https://www.theodinproject.com/paths/full-stac

[2021-04-19 21:58] fernie-cpu commented on #1857
Me. Can I?

[2021-04-19 23:00] KevinMulhern commented on #1857
Thanks @fernie-cpu, I've assigned it to you.

[2021-04-20 02:17] Nathan-Galipeau commented on #1840
Has this been taken care of yet?

[2021-04-20 17:07] KevinMulhern commented on #1840
Hi @Nathan-Galipeau, it hasn't. Would you like to take it on? 😄

[2021-04-20 17:33] Nathan-Galipeau commented on #1840
@KevinMulhern On second thought, I'm still in foundations, and I don't have Ruby installed yet, so I'm assuming that I won't be able to complete step 2 in regard to the ordered list. I apologize for the ignorance.

[2021-04-20 20:26] #1857 closed

[2021-04-20 21:09] #1856 closed

[2021-04-20 21:51] KevinMulhern commented on #1832
Hi @BrianWisniewski, sorry mate I missed your comment on this. Do you still want to work on this one? I'll assign to you if you do.

[2021-04-21 15:44] BrianWisniewski commented on #1832
I would still like to do this but I probably can't do it until this weekend if that's ok with you. If it's a priority someone else is welcome to work on it.

[2021-04-21 16:54] KevinMulhern commented on #1832
No thats fine, theres no rush on this one @BrianWisniewski 😄

[2021-04-22 19:50] #1844 closed

[2021-04-22 20:03] KevinMulhern opened #1863 "Chore: System Tests for Switching Paths"
### Description
System test coverage for the switching paths feature

### Acceptance Criteria
- [ ] Switching Paths on the paths index page
- [ ] Switching Paths on the path show page
- [ ] Choosing a path button (like the one on the last page of foundations)

[2021-04-22 20:06] KevinMulhern opened #1864 "Chore: System Tests for Signing Up"
### Description
System test coverage for users signing up.

### Acceptance Criteria
- [x] Signing up with email and password
- [x] Validations on sign up page
- [x] Signing up with Github
- [x] Signing up with Google

[2021-04-22 20:09] KevinMulhern opened #1865 "Chore: System Tests for Completing Lessons"
### Description
System test coverage for the completing lessons feature.

### Acceptance Criteria
- [ ] Marking a lesson complete on the lesson page
- [ ] Marking a lesson incomplete on the lesson page
- [ ] Marking a lesson complete on the course page
- [ ] Marking a lesson incomplete on the course page

[2021-04-22 20:10] KevinMulhern opened #1866 "Chore: System Tests For Lesson Navigation"
### Description
System test coverage for lesson navigation on the lesson page

### Acceptance Criteria
- [ ] Next Lesson Button
- [ ] The Next Lesson button on a lesson which is at the end of a section should redirect the student to the first lesson of the next section.
- [ ] Last Lesson of A course should not have a next lesson button
- [ ] View Course button
- [ ]  Choose Path button

[2021-04-22 20:12] KevinMulhern opened #1867 "Chore: System Tests for Student Submissions"
### Description
System test coverage for the student submissions feature

### Acceptance Criteria
- [x] Submitting a submission
- [x] Editing a Submission
- [x] Deleting a Submission
- [x] Reporting a Submission
- [x] Voting on a Submission

[2021-04-22 20:14] KevinMulhern opened #1868 "Chore System Tests For Signing In"
### Description
System test coverage for users signing in.

### Acceptance Criteria
- [ ] Sign in with email and password
- [ ] Failed Sign in
- [ ] Validations
- [ ] Sign in with Github
- [ ] Sign in with Google

[2021-04-26 07:18] Tenacious-Qi commented on #1840
My first time contributing to the main site! Thanks for the beautifully outlined steps to reproduce. Not sure if it should have been assigned to me first. If so, please let me know and I'll request it be assigned to me first next time. Either way, the link seems to be working properly now.

[2021-04-26 09:40] #1863 closed

[2021-04-26 13:23] Shyam-Sundar-Bharathi commented on #1832
@KevinMulhern I'd like to work on this. I believe I can fix it. I see the issue is already assigned to someone else. Can I still try?

[2021-04-27 16:58] #1840 closed

[2021-04-27 16:58] #1832 closed

[2021-04-27 17:00] #1867 closed

[2021-04-27 20:23] KevinMulhern opened #1883 "Chore: Rename student_id foreign key in lesson completions table to user_id."
### Description:
We are using `user_id` everywhere else and should be consistent.

[2021-04-27 21:37] KevinMulhern opened #1884 "Feature: Add resolved_by_id attribute to Flags"
### Description
We should be tracking who resolved flags for auditing purposes.

### Acceptance Criteria
1. Sign up for a new account
2. Use the rails console to set the `admin` attribute for that user as true
3. Go to the html and css project in the foundations course and flag one of the sample project submissions.
4. Find that flag in the admin dashboard: localhost:3000/admin/flags
5. Dismiss th

[2021-04-27 21:44] KevinMulhern opened #1885 "Chore: Removing a Project Submission in Admin Flag Page Should not Also remove the Flag"
### Description
We should soft delete the project submission linked to the flag instead.

### Acceptance Criteria
1. Sign up for a new account
2. Use the rails console to set the admin attribute for that user as true
3. Go to the html and css project in the foundations course and flag one of the sample project submissions.
4. Find that flag in the admin dashboard: localhost:3000/admin/flags
5. Rem

[2021-04-27 22:08] KevinMulhern opened #1886 "Chore: Pull Request and Issue Templates"
### Issue Template:
Feature request
- Whats the use case or what problem would it solve?

Bug report
- steps to reproduce
- expected behaviour
- browser version

### PR Template
- Because - what is the purpose of the PR? does it resolve an issue?
- this commit, what have you done in the PR to solve the problem?
- checklist for what should have done before submitting the pr:
   -Read our contributi

[2021-04-27 22:12] KevinMulhern commented on #1682
Hey @DoviMaj, I'm doing a bit of issue clean up this evening. Would there be anyway to make this one more actionable?

[2021-04-27 23:25] BrianWisniewski commented on #1883
I can get this done. Just to be clear, any instance of  `student_id` is to be replaced by `user_id`, correct?

[2021-04-27 23:27] KevinMulhern commented on #1883
Yep, spot on @BrianWisniewski 👍

[2021-04-28 06:04] Tenacious-Qi commented on #1884
Hi there, I'd be happy to do this.

[2021-04-28 15:23] DoviMaj commented on #1682
**Background and foreground colors do not have a sufficient contrast ratio:**
Would need some redesign since it follows the logo colors. it fails on a lot of items on the website, we were waiting for Ada's input I think.

The rest of them would involve figuring out what the error is and fixing them, I'm open to suggestions on how to make this issue more actionable. @KevinMulhern

[2021-04-28 16:16] #1865 closed

[2021-04-28 17:16] KevinMulhern commented on #1884
It's all yours, thanks @Tenacious-Qi 😄

[2021-04-28 17:18] KevinMulhern opened #1893 "Chore: System Tests for Editing and Deleting User Account"
### Description
System test coverage for editing and deleting user accounts.

### Acceptance Criteria
- [ ] Editing Profile Details
- [ ] Editing Learning Goal
- [ ] Deleting Account

[2021-04-28 17:24] KevinMulhern opened #1900 "Chore: System Tests for Dashboard Course Buttons"
### Description
System test coverage for the dashboard course buttons.

### Acceptance Criteria
- [ ] Button should be "Start" and take the student to the course when the course is not started
- [ ] Button should be "Resume" and take the student to the lesson after the last lesson they have completed for that course when the course is started.
- [ ] Button should be "Open" and take the student to

[2021-04-28 19:40] KevinMulhern commented on #1868
This is blocked by https://github.com/TheOdinProject/theodinproject/issues/1864 since both of these stories will need oauth test setup in place.

[2021-04-28 21:55] KevinMulhern commented on #1682
@adachiu can we get your input on the contrast issue for this please?

@DoviMaj did lighthouse flag a lot of issues for the others? if there aren't too many it would be worth listing them out in their own issue. Otherwise we could make separate issues for them with instructions on how to see them with lighthouse. What do you think?

[2021-04-28 22:45] BrianWisniewski commented on #1883
@KevinMulhern I replaced every instance of `student_id` with `user_id` across the repo but I am getting 13 errors, many of which are MissingAttributeErrors, cant write unknown attribute "student_id". Do you know what might be causing the tests to still look for the `student_id` attribute, even though there is no longer any instance of `student_id`?

[2021-04-28 23:03] KevinMulhern commented on #1883
Hey @BrianWisniewski, did you create a migration to rename the student_id column to user_id in the database?

[2021-04-28 23:04] #1884 closed

[2021-05-02 22:17] DoviMaj commented on #1682
@KevinMulhern there weren't a lot of flags for the other issues, the contrast one was by far the most flagged one.

Should I open an issue for each one of them?

[2021-05-03 04:50] bokonist opened #1904 "HTTPS instead of HTTP in the working with APIs lesson's example snippet"
https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/working-with-apis

In the page it says to try:
http://api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=1111111111

Which won't work even with a valid API key because it's not HTTPS.

[2021-05-03 04:51] twalton83 commented on #1904
Their own documentation uses http. https://openweathermap.org/history

[2021-05-03 05:09] bokonist commented on #1904
That's strange,

`http://api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=MY_KEY ` is not working for me but

`https://api.openweathermap.org/data/2.5/weather?q=London,uk&APPID=MY_KEY ` works.

Their current weather api doc mentions neither https nor http:
`https://openweathermap.org/current`

[2021-05-03 05:20] twalton83 commented on #1904
I’ll close this because it’s something else- the only difference when called with https is that https is secured.

[2021-05-03 05:20] #1904 closed

[2021-05-03 16:35] #1864 closed

[2021-05-05 17:00] K-Sohal opened #1912 "Incorrect bullet point formatting. Foundation -> How does the web work? -> Learning outcomes"
https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/how-does-the-web-work

[2021-05-06 03:22] #1883 closed

[2021-05-07 12:15] #1866 closed

[2021-05-08 10:13] KevinMulhern opened #1914 "Chore: System Tests for Admin Flag Flows"
### Description
System test coverage for admins dealing with flags.

### Acceptance Criteria
- [ ] Dismissing a flag
- [ ] Removing the submission
- [ ] Banning a user

[2021-05-08 21:01] KevinMulhern opened #1918 "Feature: Change Title on Paths Index Page to 'All Paths'"
### Description
Feedback from @adachiu - The title should be the same as the wording in the nav.

### Acceptance Criteria
1. Go to the All Paths page
2. The title should be "All Paths" instead of "Learning Paths"

[2021-05-08 21:06] KevinMulhern opened #1919 "Chore: Add Tailwind to the App"
### Description
We have decided to use Tailwind for our CSS going forward.

### Acceptance Criteria
Tailwind is included in the app and ready to be used.

[2021-05-08 21:21] EphemSpirit commented on #1918
I can take care of this if that's cool (The name I use on discord doens't match my github username so just in case, it's Freya)

[2021-05-08 21:28] EphemSpirit commented on #1918
I can take care of this one, it's Freya btw

[2021-05-08 22:53] #1918 closed

[2021-05-10 20:21] #1914 closed

[2021-05-12 04:16] Tenacious-Qi commented on #1885
I'd be happy to give this one a try.

[2021-05-12 19:22] Tenacious-Qi commented on #1885
This PR addresses issue #1885

[2021-05-12 21:46] KevinMulhern commented on #1868
^ The other story has been merged so this is unblocked.

[2021-05-13 08:56] #1893 closed

[2021-05-16 14:27] #1900 closed

[2021-05-17 20:05] KevinMulhern opened #1951 "The master branch has been renamed to main for this repo"
If you have a local copy of this repo run `git branch -m master main` to rename your master branch locally.

[2021-05-17 20:53] KevinMulhern opened #1953 "Chore: System Tests for Course Badge Progress Indicators"
### Description
System test coverage for course badge progress indicators.

### Acceptance Criteria
- [ ] When a course has not been started it shows no progress
- [ ] When a course has some progress, it shows that progress percentage
- [ ] when a course is completed it shows 100%.

### Additional Details
Capybara has a hover method that can be used to reveal the percentage in the badges https://w

[2021-05-18 00:03] #1885 closed

[2021-05-18 00:33] KevinMulhern opened #1954 "Feature: Redirect Back to Lesson Page After Logging In"
### Description
Just a quality of life feature,  if a user was on a lesson page and then logs in we should redirect them back to that lesson page instead of making them click back to the lesson through the dashboard.

### Acceptance Criteria
1. Visit a lesson page while logged out
2. Scroll down to the complete button , a log in button should be displayed instead - click it
3. Log in
4. You should

[2021-05-18 21:43] #1868 closed

[2021-05-18 22:11] #1886 closed

[2021-05-19 17:38] OmarMoataz commented on #1954
I'd like to take this if that's okay.

[2021-05-19 23:07] KevinMulhern commented on #1954
It's all your's @OmarMoataz :)

[2021-05-20 02:40] #1953 closed

[2021-05-21 09:07] CouchofTomato opened #1965 "Chore: Add stimulusjs"
Description

We have decided to use Stimulusjs for handling some javascript going forward.

Acceptance Criteria

- Stimulusjs is included in the app and ready to be used.

[2021-05-24 22:01] #1965 closed

[2021-05-24 22:01] #1919 closed

[2021-05-29 00:53] KevinMulhern commented on #908
Hey @brooksquil, hopefully you haven't done too much with this. We recently decided to convert the site to use Tailwind. We're starting to look at converting everything over. We're putting this story on hold until thats done.

[2021-06-03 03:01] Blakelist7 commented on #1845
Hey,
@KevinMulhern Mind guiding me how to Upgrade? Always had in mind how, we upgrade the App from one version to another. Thought this will be the perfect task for it.

[2021-06-03 16:56] KevinMulhern commented on #1845
Hey @Blakelist7, it should be a pretty straight forward upgrade since we don't have a ton of service objects and we keep our gems fairly up to date with Dependabot.

1. First thing to do is make sure ruby 2.7.1 is installed locally.
2. Then switch the version in the .ruby-version file in the root directory of the app.
3. Run bundle install
4. Run the test suite and fix any failing tests and deprec

[2021-06-04 08:27] Blakelist7 commented on #1845
@KevinMulhern Could you help me with this
`An error occurred while loading rails_helper.
Failure/Error: ActiveRecord::Migration[6.0].maintain_test_schema!

ActiveRecord::ConnectionNotEstablished:
  could not connect to server: Connection refused
  	Is the server running on host "localhost" (127.0.0.1) and accepting
  	TCP/IP connections on port 5432?
# ./spec/rails_helper.rb:12:in `<top (required)

[2021-06-04 08:46] Blakelist7 commented on #1845
@KevinMulhern To run the test suite I have to execute `rspec` command?

[2021-06-04 12:33] Blakelist7 commented on #1845
@KevinMulhern Thanks for guiding me.
I have completed the above steps but could you tell me why CI tests are failing?

[2021-06-04 12:58] KevinMulhern commented on #1845
Hey @Blakelist7, it looks like Circle doesn't recognise the docker image you're requesting. Circle have a list of all available images here: https://circleci.com/docs/2.0/docker-image-tags.json

I think this `ruby:2.7.1-stretch-node-browsers-legacy` needs to change to `ruby:2.7.1-node` in the Circle config file to get it working.

[2021-06-04 21:22] #1845 closed

[2021-06-06 14:14] agentlemanthief opened #1999 "Typo"
### Description
Typo on following page:

https://www.theodinproject.com/paths/full-stack-ruby-on-rails/courses/ruby-on-rails/lessons/your-first-rails-application-ruby-on-rails

"First, open GitHub.com in your browser and sign in (if you aren’t already). Next, look for your profile picture in the upper right-hand corner, click the “+” symbol next to it, and then click New repository. Give the repos

[2021-06-06 14:19] twalton83 commented on #1999
Feel free to click the "improve this lesson" button at the bottom of the page to fix this typo :)

[2021-06-06 14:27] agentlemanthief commented on #1999
Thanks! I've given it a go!

[2021-06-08 14:19] fortypercenttitanium commented on #1510
Seeing as this hasn't been done yet, I'd like to offer to take it over.

[2021-06-08 14:22] CouchofTomato commented on #1510
@brooksquil

Hey Brooke, can you let us know if you're still wanting to take this one on please?

[2021-06-08 14:22] brooksquil commented on #1510
Of course sorry

On Tue, Jun 8, 2021 at 9:19 AM Alex Younger ***@***.***>
wrote:

[2021-06-08 14:32] CouchofTomato commented on #1510
@brooksquil Thanks for coming back so quickly. We need to close this one within the next two weeks.

Is this something you can do or should we hand it over to someone else?

[2021-06-08 23:02] gkikola opened #2017 "Blockquotes are not visually distinguishable from surrounding text"
### Description

On the site's pages, blockquote elements are not styled to look any different from a normal paragraph. This could lead to readers being confused or misled, as they might interpret a quote as being stated by the Odin Project contributors themselves rather than as being from an external source (see below for an example).

#### Steps to Reproduce

This can be seen on the [Factory Fun

[2021-06-10 20:27] CouchofTomato opened #2018 "Feature: Notify users when one of their projects has a broken link"
#### Description
Flag notifications so users are notified when one of their projects has a broken link

#### Acceptance Criteria:

1. Create a project submission with a broken link
2. Create a flag on a project submission
3. Log in to admin page
4. Visit flag
5. Click button to notify project submission owner of broken link
6. User should receive notification

[2021-06-10 20:29] CouchofTomato opened #2019 "Feature: Broken link notification message copy"
#### Description
The proposed wording for the broken link notification message

#### Additional Information:

### Action Required

Your project submission in [lesson](link_to_lesson) was flagged because it has a broken link. We need you to fix it within 7 days from \<insert date\> otherwise the project will be removed from the project submissions list.

Your assistance is appreciated.

The Odin Pr

[2021-06-10 20:39] CouchofTomato opened #2020 "Feature: Removing broken links that haven't been updated"
#### Description
After a project submission has been flagged, links that haven't been updated need to be removed.

#### Acceptance Criteria:

1. User receives a broken link notification for one of their projects
2. They haven't updated it in 3 days
3. The project is removed

#### Additional Information:

1. Background job to handle automatic project deletion if the link hasn't been updated
2. When

[2021-06-12 19:41] CEOehis commented on #1510
Hi @CouchofTomato I'd like to take this up if @brooksquil is no longer available to based on the deadline.

[2021-06-12 19:56] brooksquil commented on #1510
So sorry please have someone take this over.

On Sat, Jun 12, 2021 at 2:41 PM Celestine Ekoh-Ordan <
***@***.***> wrote:

[2021-06-12 19:56] brooksquil commented on #908
Thanks for letting me know

On Fri, May 28, 2021 at 7:54 PM Kevin Mulhern ***@***.***>
wrote:

[2021-06-12 20:04] I3uckwheat commented on #1510
@CEOehis Hey, we'll give this to @fortypercenttitanium if he wants it because he asked first :)

@fortypercenttitanium, you still want this?

[2021-06-12 20:04] fortypercenttitanium commented on #1510
@I3uckwheat Yes I can get it done within a few days.

[2021-06-12 20:04] I3uckwheat commented on #1510
@fortypercenttitanium Great, this is assigned to you :)

[2021-06-14 17:14] KevinMulhern commented on #2019
Looks really good @CouchofTomato, what do you think about adding a little more personable language with an explanation as to why we remove them?

I think it might be received a bit better and answer any questions about why it will be removed.

Hey **username**, heads up your project submission for **lesson name** was flagged because it has a broken link. We aim to keep the submission lists useful

[2021-06-16 00:00] Leninner opened #2032 "The link is no longer functional"
### Description

On the way to JavaScript when learning from prototypes, it takes us to a link that is no longer functional: https://web.archive.org/web/20200513181548/https://javascriptissexy.com/javascript-prototype-in- plain-detailed-language /
#### Steps to Reproduce

#### Expected Behaviour

 #### Additional Information

[2021-06-16 00:01] twalton83 commented on #2032
As the link shows, they are temporarily offline.

[2021-06-16 00:01] #2032 closed

[2021-06-21 14:59] #1510 closed

[2021-06-30 21:08] KevinMulhern opened #2057 "Feature: Allow the Create Points Endpoint Accept a Number of Points Value"
#### Description
As a user of the points api, I want to be able to tell the api how many points I want to award someone instead of it only incrementing by one each time.

#### Acceptance Criteria:
For example:
1. Send a request to the create points endpoint with an extra param: `value=2`
2. It should increment the points total for someone by 2
3. Send a request to the create points  endpoint with

[2021-07-02 13:31] cojohen commented on #2017
I will work on this

[2021-07-02 16:17] OmarMoataz commented on #891
Is someone working on this feature or can I take it?

[2021-07-04 00:58] KevinMulhern commented on #891
I think this _might_ have been taken care of in a unrelated refactor @OmarMoataz, we're no longer eager loading lessons in the users controller by the looks of it https://github.com/TheOdinProject/theodinproject/blob/main/app/controllers/users_controller.rb

Looks like this one can be closed, thanks for bringing it to our attention 😄

[2021-07-04 00:58] #891 closed

[2021-07-04 00:59] #1954 closed

[2021-07-04 21:45] OmarMoataz commented on #891
No worries.

[2021-07-04 23:52] #1652 closed

[2021-07-08 18:51] #2057 closed

[2021-07-09 18:03] rankoliang commented on #1848
Hey, I can help out with this issue.

[2021-07-12 23:58] ZachBaird commented on #1848
@rankoliang Go for it! Are you ok with this task being assigned to you?

[2021-07-12 23:58] ZachBaird commented on #2017
@cojohen Great! Are you fine with this task being assigned to you?

[2021-07-13 00:28] cojohen commented on #2017
Yes. Thanks

On Mon, Jul 12, 2021, 18:59 Zach Baird ***@***.***> wrote:

[2021-07-13 01:36] rankoliang commented on #1848
Yup! I'll get started on it shortly.

[2021-07-13 19:39] #2017 closed

[2021-07-15 22:58] #1848 closed

[2021-07-20 22:58] bilalmaleq opened #2094 "Broken Link on Foundations > Project: Google Homepage"
### Description

The "Project: Git Basics" under the "[Setting Up Your Project’s GitHub Repository (optional)](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/html-css#setting-up-your-projects-github-repository-optional)" section leads to a broken page on the "Project: Google Homepage"

#### Steps to Reproduce

1. Navigate to https://www.theodinproject.com/paths/founda

[2021-07-21 03:15] ZachBaird opened #2095 "Chore: Create CSS class for upcoming knowledge-check answer links."
#### Description
Following a super old task Briggs spun up for identifying lessons w/out knowledge checks, some tasks have been groomed out in [Curriculum](https://github.com/theodinproject/curriculum) to add missing learning outcomes and knowledge checks to The Odin Project by course. A suggestion was made to have Knowledge Checks be linkable to the content that answers the check so the user can

[2021-07-21 11:02] cojohen commented on #2095
I can work on this.

On Tue, Jul 20, 2021, 22:15 Zach Baird ***@***.***> wrote:

[2021-07-21 13:55] ZachBaird commented on #2095
Sounds good, I'll assign it to you @cojohen

[2021-07-26 21:14] CouchofTomato opened #2107 "feat(notifications): service object to create flag notifications for dead links"
### Description

The current main reason for project submissions getting flagged is because of dead links. Because eventually there will be several possible reasons for a project getting flagged we will need a service object to handle each use case.

### Acceptance Criteria:

Create a service object to create a flag notification for a dead link

This will need to:

- [ ] set the url and message fo

[2021-07-29 22:16] KevinMulhern opened #2109 "Feature: Reset Progress"
#### Description
Allow students to reset all of their progress without having to un-complete each lesson individually.

#### Acceptance Criteria:
1. Create a new account
2. Complete some lessons in various courses
3. Visit the settings page
4. Click a "Reset my progress" link above the "Delete my account" link at the bottom of the page
5. A JS alert should appear asking if the user is sure - click

[2021-07-29 23:36] #2095 closed

[2021-07-29 23:36] #1951 closed

[2021-08-10 20:12] refaelsh opened #2140 "If found a typo."
Look here please guys: https://www.theodinproject.com/paths/full-stack-javascript/courses/javascript/lessons/hooks.
The second paragraph end with the following sentence:
[code]
There is a dot missing and the end of the sentence.

[2021-08-10 20:37] twalton83 commented on #2140
Feel free to make the PR to fix this.

[2021-08-28 14:47] #2109 closed

[2021-09-04 21:36] UnmadeBed opened #2185 "Broken link found"
### Description
Found a broken link under the 'Additional Resources' section of the 'Foundations: Introduction to the Front End' [page](https://www.theodinproject.com/paths/foundations/courses/foundations/lessons/introduction-to-the-front-end).

#### Steps to Reproduce

[2021-09-07 03:25] nguyenlekhtn opened #2195 "Incorrect codes in Ruby's PATTERN MATCHING lessons"
### Description
In Pattern Matching lesson, there is a code sample
[code]

I believe the line
[code]
should be changed to
[code]

####  Reason

As I understand,
[code]
only looking at the last element of the data array. This led to the code prints `nil` to console instead of `italian` as the lesson says