[2014-02-13 07:35] sarahbkim opened #13 "Dev env set up process not clear"
As a new contributor to the site, it may be nice to have an easy-to-follow set up guide. It's especially confusing how to connect curriculum data, Git API key to make `rake curriculum:update_content` work.

This =>

[code]

Both application.yml and curriculum.rake were updated by with GitHub API Key...

[2014-03-13 22:15] #13 closed, assigned to nobody

[2014-06-06 02:34] alexZielonko opened #90 "localtunnel gem yanked"
"This project is currently down. Please use Ngrok. It is hoped Localtunnel and Ngrok will eventually be merged._"

https://github.com/progrium/localtunnel

https://github.com/inconshreveable/ngrok

[2014-07-11 03:22] #90 closed, assigned to nobody

[2014-07-11 03:24] eriktrautman opened #95 "email confirmation link 404"
Looks like if you're on a specific lesson page and click the "resend confirmation email" link (or whatever it's called) it 404's because it tries to generate the /confirm_email link gets appended to the course name, e.g. `http://theodinproject.com/ruby-on-rails/confirm_email` and there's a routing error.

[2014-08-01 21:08] eriktrautman opened #101 ""Uncaught ReferenceError: Swiftype is not defined on homepage""
Likely some sloppy javascript after the Swiftype installation.  Prevents the Facebook button from loading.

[2014-08-02 00:54] danielpclark opened #102 "ourse List >> Ruby on Rails >> Advanced Forms and Active Record >> 4: Advanced Forms"
[code]

should have these minor changes

[code]

Also notice the letter C is missing from Course List in the hierarchy within the drop down menu at the top.  It seems to be moved off of the visible page area towards the left.

From page: http://www.theodinproject.com/ruby-on-rails/advanced-forms

[2014-08-10 00:39] #102 closed, assigned to nobody

[2014-08-10 00:40] #101 closed, assigned to nobody

[2014-10-09 16:10] riahtire opened #105 "Link missing"
There's one link missing in [getting_involved.md](https://github.com/TheOdinProject/theodinproject/blob/master/getting_involved.md#learning-about-agile), at line 39.

    1. Watch this [video intro to SCRUM].

[2014-11-14 23:54] vimalkurup opened #107 "Content not getting displayed in Chrome browser"
The content of the page is not properly getting displayed in Chrome Browser regardless of logged in or not. The content gets displayed for a fraction of second and hides. The version of the browser is '38.0.2125.122'. AdBlocker is disabled. When inspected with dev tools, I can seen that a 'display: none' is added to the div with class 'row' inside the div with class 'container'. <div class="row" s

[2015-01-11 16:20] purezen opened #112 "Refactoring code"
Hi guys,
I have attempted to improve the contacts controller. Please review.
Ref: https://github.com/TheOdinProject/theodinproject/pull/111

[2015-03-07 20:25] onebree opened #120 "Disqus widget does not link up with my disqus account"
It seems like the disqus widget provided throughout the site links to the user's Odin account. While this is all fine and dandy for some, I do have a disqus account and would like the option to log into it. I have no clue if this is feasible from Odin's end, but it would be helpful.

[2015-03-13 00:44] jonmast opened #121 "There should be a way to resume from last lesson."
When I visit the homepage I have to navigate to the courses page then click the course I'm currently doing and then click on the lesson. It would be convenient to have some sort of resume progress link on the homepage so I could just go directly there. Could potentially store the last visited lesson in a cookie or maybe use the successor to the last completed lesson.

[2015-04-13 13:58] marcuscosinus opened #125 "Link is not working"
On the page
http://www.theodinproject.com/javascript-and-jquery/javascript-basics
the "Javascript 101 from learn.jquery.com" link is dead.

[2015-04-19 02:59] eriktrautman opened #127 "Unable to sign in on Mobile due to screen element sizes"
Hey, when trying to log in to the Odin project on mobile I found that the Github sign in link takes up the whole page and the alternate sign in box is inaccessible. I am using chrome on a galaxy s5 running Android 5.0.

[2015-05-04 17:44] eriktrautman opened #128 "Twitter button doesn't include the link or hashtag"
Clicking the "Tweet" button at the bottom of lessons currently auto-populates the tweet with a really lame description and doesn't include the link to the lesson!.  Ideally, pull together a more interesting blurb (including @theodinproject and/or a useful hashtag like #learntocode ) and definitely include the link to the lesson.  Just be sure to leave room (e.g. 20 chars) at the end so people can

[2015-06-27 03:42] Cgipson06 opened #131 "Discus Widget not displaying comments when navigating via the bubble bar"
I noticed that the Discus comments associated with the lessons are not displayed when navigating by the bubble nav bar, (  .lc-progress-wrapper  ).  If I look back at the previous lesson by clicking the bubble nav bar, , and return to the original page by clicking the nav bar again, all comments will be gone.  I found the comment will load again by navigating from the main nav page, or altering th

[2015-07-03 21:04] eriktrautman opened #132 "Not able to log in on Android"
Via email:
Just a heads up, the websites login page isnt working from an android cell phone. The only option available, is to login with my github account, but it isnt linked yet. Its trying to have me make a new account for the odin project, or login, but it then loops me back to the same login with github page.

[2015-07-14 18:27] BradleyJohnson opened #133 "Contribution standard setup bundler issue"
Following the standard setup directions (step 5) yields

[code]

Bundler is available in all other directories on my system. Any thoughts?

[2015-07-19 17:03] avinassh opened #135 "How seeds.rb is generated from curriculum repo?"
I am just trying to understand how this whole thing works. if I understand correctly, the main data exists in curriculum repo and using that `seeds.rb` is generated. And this will be used to load the initial data.

but...how this `seeds.rb` is generated and gets updated as curriculum gets updated?

[2015-09-24 03:25] mattshaffer11 opened #140 "Link is Down"
The first extra credit link is down on this [page](http://www.theodinproject.com/web-development-101/ruby-on-rails).

Thanks!

[2015-09-25 20:31] chaudhary27 commented on #135
this may be helpful --> http://www.colinrubbert.com/blog/2015/9/4/seeding-the-lightning

[2015-09-28 19:19] jhgilbert commented on #140
I'm not set up to contribute, but here's the correct link for anyone who's ready to go: https://www.railstutorial.org/book/toy_app

[2015-10-31 13:18] KevinMulhern commented on #140
This has been fixed, thanks guys

[2015-10-31 13:45] mattshaffer11 commented on #140
:+1: thanks man.

[2015-10-31 13:45] #140 closed

[2016-01-07 16:45] eriktrautman opened #142 "Forgotten Password errors"
Several emails recently like: "I forgot my password and when I attempt to recover it, it keeps saying something went wrong."  Seems to have happened after the `bundle update` on the repo's gems, so something there is probably the issue.  Tests don't seem to be covering it since the suite was all green on the relaunch.

[2016-01-18 18:30] dfmoreto commented on #125
I clicked on link and it's working correctly

[2016-02-12 16:24] #135 closed

[2016-02-12 16:25] #133 closed

[2016-02-12 16:25] #132 closed

[2016-02-12 16:26] KevinMulhern commented on #125
This is curriculum related

[2016-02-12 16:26] #125 closed

[2016-02-12 16:27] KevinMulhern commented on #112
This was merged :)

[2016-02-12 16:27] #112 closed

[2016-02-12 16:27] KevinMulhern commented on #105
Looks like this was fixed :)

[2016-02-12 16:27] #105 closed

[2016-02-12 16:31] KevinMulhern commented on #121
Late reply to your suggestion @jonmast, but I really like this idea. I will add it to our Trello board.

[2016-02-12 16:31] #121 closed

[2016-02-16 03:36] jk47 opened #147 "Looking to Contribute"
Can I get added to the slack channel?

[2016-02-16 10:26] KevinMulhern commented on #147
Hey @jk47, did you register on this page? https://slackin-theodinproject.herokuapp.com/

[2016-02-16 10:28] KevinMulhern commented on #147
I can add you manually if that isn't working, so just let me know :)

[2016-02-16 13:54] jk47 commented on #147
That worked. Thanks! Maybe I missed it somewhere else, but do you think adding your link above to [this](http://www.theodinproject.com/contributing) page would be easier for people to join the slack channel?

[2016-02-16 15:03] KevinMulhern commented on #147
Good idea, I will get it added.

[2016-02-16 15:03] #147 closed

[2016-02-19 14:33] KevinMulhern commented on #107
This seems like it was a bit of a one off issue due to no one else reporting it, due to this I think this issue should be closed.

[2016-02-19 14:33] #107 closed

[2016-02-19 15:29] KevinMulhern commented on #95
@eriktrautman has this been fixed or is it still an issue?

[2016-02-19 17:07] AbbyJonesDev commented on #95
It is fixed!

[2016-02-20 10:10] KevinMulhern commented on #95
Hi @AbbyJonesDev, thanks you :)

[2016-02-20 10:10] #95 closed

[2016-02-26 18:33] muzfuz opened #148 "Investigate if Splash Screens are Still Needed"
This looks like it was removed in 2013.

https://github.com/TheOdinProject/theodinproject/commits/upgrade_to_ruby_2.3/spec/models/splash_email_spec.rb

[2016-02-28 21:13] herminiotorres commented on #142
@eriktrautman I suggest you can recreate the steps you tried and generated this error?
with images or step by step or some other way?

[2016-02-28 21:17] KevinMulhern commented on #142
@herminiotorres we got this issue from someone emailing in. Erik is just letting us know that we are getting these issues reported here.

[2016-02-28 21:33] muzfuz commented on #142
Have we been able to replicate this?

[2016-02-28 21:56] KevinMulhern commented on #142
It should have been flagged in new relic as an error, but I haven't been able to find any.

[2016-02-29 02:56] eriktrautman commented on #142
No emails like that in a long time so it may have worked out during intervening commits.  Never replicated it.

[2016-02-29 02:56] #142 closed

[2016-02-29 03:15] herminiotorres opened #151 "What do you think changing the figaro by dotenv?"
We have a `env` sample file with the keys to test all in development and test environment.

About it, could be able to have environment variables for development and testing for services. So if everyone who can contribute not need to create these variables of the services, e.g. `disqus`, `github`, `sendgrid`...

[2016-02-29 03:34] irishmac473 opened #153 "Two broken links in HTML & CSS basics"
In Web Development 101/ The Front End/ HTML & CSS basics the links for OverAPI's HTML Cheat Sheet & OverAPI's CSS Cheat Sheet are broken. They take you to overapi.com/css/ and overapi.com/html/. If you remove the final back slash from each link they work.

[2016-02-29 03:40] irishmac473 commented on #153
Sorry, noob mistake. I submitted this issue in the wrong place.

[2016-02-29 03:40] #153 closed

[2016-02-29 08:33] muzfuz commented on #151
Honestly I don't feel like theres a huge difference between these two, so I'm not sure it justifies the time spent for everyone to change this.

Also, we need every developer to create their own `disqus` and `github` tokens - we don't have a generalised setup for this.  So either way, you are still storing your own ENV vars.

[2016-02-29 09:58] herminiotorres commented on #151
Well, if you had a generic data, could reduce the complexity of someone help, because maybe not everyone knows how to create these keys

[2016-03-01 03:43] herminiotorres commented on #151
What do you think?

[2016-03-01 06:36] muzfuz commented on #151
I don't think it's worth the effort personally.  It requires changing not just the gem config but also figuring out a new way of talking to GitHub OAuth - and I'm not actually sure that there's a secure way of doing that if we abstract all this stuff out.  So I would not go in this direction right now.

If you really care about the issue though, then please go ahead and start a new branch with thi

[2016-03-04 17:05] #127 closed

[2016-03-04 17:05] KevinMulhern commented on #127
I couldn't recreate this, it is quite old so it may have been a one off.

[2016-03-05 00:51] KevinMulhern commented on #148
Looks like we can remove what's left of it, gets my vote.

[2016-03-05 03:07] eriktrautman opened #154 "Styling: Reducing the H1 size on mobiles."
This came via the form on the bottom of the site.  Think it's a problem?  We've had some complaints before about the mobile-unfriendliness of our navbar and headers.
***************
New feedback suggestion for The Odin Project!

User < not logged in > was on /home and said:

pls, fix the size of "div .headline h1" for mobiles using css3. media screen (max width 768px) { font-size:18px }

[2016-03-05 03:34] KevinMulhern commented on #128
This has been done :smile:

[2016-03-05 03:34] #128 closed

[2016-03-13 19:02] KevinMulhern commented on #131
disqus has now been removed, thanks for opening this.

[2016-03-13 19:02] #131 closed

[2016-03-13 19:02] KevinMulhern commented on #120
disqus has now been removed, thanks for opening this.

[2016-03-13 19:02] #120 closed

[2016-04-10 21:15] #151 closed

[2016-04-10 21:15] KevinMulhern commented on #148
Was this removed @muzfuz?

[2016-04-18 04:56] C-Whitlock commented on #154
What are the thoughts on converting over to em over px? That should fix the sizing issue and increase mobile friendliness.

[2016-04-18 10:45] KevinMulhern commented on #154
Hey @C-Whitlock, we will be ensuring everything is mobile friendly in our impending re-design 😄

[2016-04-19 22:25] cdouglass opened #160 "Devise should not require email confirmation for Omniauth users"
Current behavior: After a certain amount of time, users who created their accounts through GitHub are blocked from logging in, with a message "You have to confirm your account before continuing."
Screenshot:
![image](https://cloud.githubusercontent.com/assets/8453868/14657385/77a2a6b4-0642-11e6-831f-c4d62c956caf.png)

Desired behavior: Omniauth should be sufficient confirmation by itself, so these

[2016-04-19 23:46] eriktrautman commented on #160
Github doesn't guarantee emails will be present if users log in with it so we do need to make sure we have a guaranteed email for each user.

[2016-04-20 07:00] cdouglass commented on #160
It does seem to be a usability problem since we've been getting complaints about this (or at least I think this is what they're referring to). Maybe the email requesting confirmation needs to be clearer somehow, or we could reconsider the need for a guaranteed email.

[2016-05-10 10:47] KevinMulhern commented on #160
After spending a bit more time looking into this, the screen shot above is normal behaviour. We really need to talk to someone who can't log in with github to find out what they are doing and what's happening when they try to login.

I am going to close this issue for now.

[2016-05-10 10:47] #160 closed

[2016-05-10 10:48] #148 closed

[2016-05-16 12:50] #154 closed

[2016-05-21 14:16] TopOneOfTopOne opened #165 "Content is being fetched even when there has been no changes to it."
The rake tasks in `lib/curriculum.rake` will pull content from https://github.com/TheOdinProject/curriculum even when the content does not change.

You can test this simply by running two consecutive `rake curriculum:update_content` logically the second call should not update any content because the content has not changed.

I am sure this bug is simple but I am too dumb to figure this out XD

[2016-05-22 09:01] TopOneOfTopOne opened #166 "Showing a non existent user blows up website"
If you call something like this `GET /users/show/12321313` i.e. non existent user id. You will get this error in production server `We're sorry, but something went wrong.` Clearly there is an issue.

Upon further investigation it comes down to `redirect_to :back` in users controller. There is no referrer url i.e. `request.env["HTTP_REFERER"]` returns nil so the above line of code raises an excepti

[2016-05-22 11:50] KevinMulhern commented on #166
I agree with your proposed solution @TopOneOfTopOne. Yeah make separate issues for each individual bug. That will allow us to tackle them  separately.

[2016-06-01 01:32] eriktrautman opened #169 "? Erroneous email confirm link ?"
From email noon PT 5/31/16:
---

Hello,

I came across a problem when trying to confirm my email from the welcome email. It directs me to the correct link but times out with the error notification in the subject line. I had to add "www." to get it working.
---

[2016-06-01 10:58] KevinMulhern commented on #169
That's an odd one, theres nothing in new relic and we haven't heard of any errors like this before. It's possible it's a one off but we should investigate none the less.

**Action to be taken**
Try and recreate this error in development

[2016-06-21 23:20] eriktrautman opened #173 "Facebook API calls deprecated -- slight upgrade needed to API version"
I believe this is around the Facebook login features we're using and is hopefully just a quick one.

***

Hi Erik,
The Odin Project has been making recent API calls to Graph API v2.0, which will reach the end of the 2-year deprecation window on Monday, August 8, 2016. Please migrate all calls to v2.1 or higher in order to avoid potential broken experiences.

We recommend using our new Graph API Up

[2016-06-23 18:02] klimpaparazzi commented on #160
I had the same issue. After clicking on the link and submitting my email I used, I got a notice that the email doesn't exist. I had to go back to my mail box and search for the original email when I signed up with the TOP, and confirm that link. Then it worked like a charm and I was able to log into TOP with the github account.

[2016-06-27 18:34] eriktrautman opened #176 "Trouble changing email address"
Problem via email with changing email address.  The error he mentions is a standard `we're sorry but something went wrong`.  Hopefully there is enough here to try and reproduce the issue!

It sounds like this occurs when someone:
1. Signs up using Github
2. Changes their email on Github (may or may not be relevant)
3. Attempts to change their email on Odin using the account page on our site.
4. Re

[2016-07-04 14:03] #173 closed

[2016-07-05 16:08] KevinMulhern opened #179 "Upgrade to Rails 5"
With Rails 5 being officially released we should upgrade, thankfully we are already running Rails 4.2 and Ruby 2.3 so the upgrade process should be relatively straight forward.

http://edgeguides.rubyonrails.org/upgrading_ruby_on_rails.html#upgrading-from-rails-4-2-to-rails-5-0

**Notes**
Because rails 5 supports left outer joins out of the box we should change the `by_latest_completion` method on

[2016-07-05 16:11] KevinMulhern commented on #176
We first need to reproduce in development, with all of the issues being reported lately about the auth system it would be a good idea to have a proper look at refactoring and fixing any bugs with it.

[2016-07-05 16:16] KevinMulhern opened #180 "Improve chat link system"
It has been noted by a few users that the chat button looks like an advert, coming up with a new design for it that makes it look less like a call to action button would be great.

We should also think about implementing a small lesson that tasks the user with signing up to the chat.

[2016-07-07 14:55] nextLane opened #183 ""Didn't receive instructions or need them again?" doesnot work"
I signed in using my Github account however my account was not confirmed, so I selected "Didn't receive instructions or need them again?", entered my email ID with which I have my github account but I did not get any email regarding confirmation.

[2016-07-07 16:43] KevinMulhern commented on #183
Hi @nextLane, thanks for bring this to our attention. There have been a lot of errors reported about github login recently. It is something we are working on fixing at the moment. In the meantime you can use the traditional login method. Sorry for any inconvenience.

[2016-07-08 07:33] KevinMulhern opened #184 "Remove forum option from users drop down in the navbar"
This page no longer exists so we need to remove the link to it.
<img width="1440" alt="screen shot 2016-07-08 at 08 32 31" src="https://cloud.githubusercontent.com/assets/7963776/16680469/8fae7930-44e6-11e6-9c34-f0568c3ed587.png">

[2016-07-09 10:39] #184 closed

[2016-07-09 22:36] #166 closed

[2016-08-28 04:06] KevinMulhern commented on #165
I've been testing this, it does it in development for some reason but not in production. I've confirmed that the content being imported is the same as the content already on the lesson.

[2016-08-28 04:31] KevinMulhern opened #196 "Set up test coverage and code smell detector tools"
Step one of refactoring the code base is setting up some measurement tools to help us assess our progress.

[2016-08-28 05:30] #196 closed

[2016-08-28 15:56] KevinMulhern opened #198 "Acceptance tests for Lessons"
These will be tests for lesson show page,

* marking a lesson as complete
* The next lesson button
* The previous lesson button

[2016-08-28 15:57] KevinMulhern commented on #198
User story for marking a lesson as complete:

As a logged in user
When I mark a lesson as complete
Then my progress should be saved

[2016-08-28 15:58] KevinMulhern commented on #198
User story for Progress bar

As a logged in user
when I have some lessons completed
Then the progress bar should show this

[2016-08-28 15:59] KevinMulhern commented on #198
User story for next lesson

As a logged in user
when I click the next lesson button
Then it should take me to the next lesson in the course

[2016-08-28 15:59] KevinMulhern commented on #198
User story for previous lesson

As a logged in user
when I click the previous lesson button
Then it should take me to the previous lesson in the course

[2016-08-28 16:19] KevinMulhern opened #199 "Acceptance Tests for course Index"
These tests will be for the lesson index page,

* projects are styled differently
* when all lessons have been completed
* marking a lesson as complete
* the percent completed indicator

[2016-08-28 16:20] KevinMulhern commented on #199
User story for projects being styled differently

As a user
When I visit a course page
Then there should be some projects

[2016-08-28 16:21] KevinMulhern commented on #199
User story for when all lessons have been completed

As a logged in user
When I complete all lessons in a course
Then It should display course completed header

[2016-08-28 16:22] KevinMulhern commented on #199
User story for marking a lesson as complete

As a logged in user
When I mark a lesson as complete on a course page
Then my progress should be saved

[2016-08-28 16:23] KevinMulhern commented on #199
User story for percent completed indicator

As a logged in User
When I have some completed lessons
Then the percent completed indicator should reflect that

[2016-08-28 16:26] KevinMulhern opened #200 "Unit tests for static pages controller"
There are currently no unit tests for this controller which is having a negative impact on our test coverage. We should create some standard tests for this controller.

[2016-08-28 16:28] KevinMulhern opened #201 "Refactor suggestion controller action on static pages"
*Important* The tests for this controller should be done before working on this ticket https://github.com/TheOdinProject/theodinproject/issues/200

The suggestion action currently has a few code smells, it should be refactored to make it more maintainable.

[2016-08-28 16:30] JeromeLC commented on #201
Dude. Shut the hell up with this god damn emails every 2 seconds. I've
muted the thread and am still annoyed by this constantly. Please remove.me
fro.thia list. It was been way too annoying the last few weeks. Thanks man
On Sun, Aug 28, 2016 at 12:28 PM Kevin Mulhern <notifications@github.com>
wrote:

[2016-08-28 16:42] KevinMulhern commented on #201
First don't be so rude!

second

 Reply to this email directly, view it on GitHub

It says right there in your email that your subscribed to this thread, that's not my responsibility or fault. Unsubscribe if you don't want to receive emails. You might want to try and read the entire email before blasting your mouth off, the unsubscribe link is right there at the bottom of it.

[2016-08-28 16:51] KevinMulhern opened #202 "Create unit tests for the site map controller"
Currently, this controller does not have any unit tests, which is negatively impacting our test coverage. We should create some standard controller tests for this.

[2016-08-28 16:53] KevinMulhern opened #203 "Refactor Index method on site maps controller"
The index method on this controller currently has some code smells and is pretty messy. We should refactor it to make it more maintainable
https://github.com/TheOdinProject/theodinproject/blob/master/app/controllers/sitemap_controller.rb

[2016-08-28 16:58] #165 closed

[2016-08-29 16:19] KevinMulhern opened #204 "Changing over to gitter for chat"
We are moving over to gitter because of the message limitations on slack. To facilitate this the following changes need to be made:

The new gitter chat: https://gitter.im/TheOdinProject/theodinproject

 - [x] rename all ruby and css classes and methods with slack to chat, to make them more generic
 - [x] change the slack links to the appropriate gitter links in the chat_link_helper class
 - [x] R

[2016-09-12 20:58] KevinMulhern commented on #204
https://github.com/TheOdinProject/theodinproject/pull/207

[2016-09-22 23:40] #204 closed

[2016-10-02 21:50] KevinMulhern commented on #199
Completed by @arun1595 https://github.com/TheOdinProject/theodinproject/pull/213

[2016-10-02 21:50] #199 closed

[2016-10-03 10:10] poctek commented on #203
Can I take this?

[2016-10-03 11:16] KevinMulhern commented on #203
Hey @poctek, yeah its all yours 😄
Thanks you for helping

[2016-10-03 13:00] KevinMulhern commented on #203
There isn't much to do to this one now that I look at it again. The `@static_pages' array value can be moved to its own private method and `@frequently_updated_pages` should be removed as we don't use the forum url anymore.

A bit of refactoring in the view will be needed to remove the @frequently_updated_pages` instance variable. And thats should be it.

I'll work on getting a unit test made for

[2016-10-03 13:13] poctek commented on #203
Here's the PR: https://github.com/TheOdinProject/theodinproject/pull/214, can also work on the tests

[2016-10-03 13:46] KevinMulhern commented on #203
Thanks @poctek, that looks great. If you want to make a unit test for it here's the open issue for it https://github.com/TheOdinProject/theodinproject/issues/202

[2016-10-03 14:15] #203 closed

[2016-10-03 14:42] KevinMulhern commented on #180
The buttons will be removed when we remove the study groups page

[2016-10-03 14:42] #180 closed

[2016-10-03 18:56] KevinMulhern commented on #200
This is in progress

[2016-10-04 11:53] KevinMulhern commented on #202
This has been completed by @poctek https://github.com/TheOdinProject/theodinproject/pull/217

[2016-10-04 11:53] #202 closed

[2016-10-04 11:56] KevinMulhern commented on #183
We've had a few others reporting this same issue since this issues has been raised. In each case the email was in Junk.

I'm going to close this for now, but we will be improving the user features on the site in our next refactor cycle.

[2016-10-04 11:56] #183 closed

[2016-10-04 12:08] #201 closed

[2016-10-04 12:08] #200 closed

[2016-10-04 18:18] KevinMulhern opened #218 "Refactor Admin flash helper"
This helper currently has one method which has a lot of code smells, refactoring it will make it more maintainable. The unit test may need some work too.

https://github.com/TheOdinProject/theodinproject/blob/master/app/helpers/admin_flash_helper.rb

[2016-10-04 19:05] KevinMulhern opened #219 "Refactor Application Helper and add Unit Tests"
This helper currently has a few long methods which could use some refactoring. This also needs a unit test.

https://github.com/TheOdinProject/theodinproject/blob/master/app/helpers/application_helper.rb

[2016-10-04 19:06] KevinMulhern opened #220 "Refactor Bootstrap flash helper and add unit tests"
This helper currently has a very long messy method, this could use some cleaning up. It also needs a unit test.

https://github.com/TheOdinProject/theodinproject/blob/master/app/helpers/bootstrap_flash_helper.rb

[2016-10-04 19:18] KevinMulhern opened #221 "Refactor lessons helper and add unit tests"
This helper currently has some messy long and messy methods, they are in need of some refactoring. This also needs more unit tests.

https://github.com/TheOdinProject/theodinproject/blob/master/app/helpers/lessons_helper.rb

[2016-10-04 19:19] KevinMulhern opened #222 "Refactor users helper and add unit tests"
This helper currently has some large and messy methods, they need to be refactored. This also needs unit tests added.

https://github.com/TheOdinProject/theodinproject/blob/master/app/helpers/users_helper.rb

[2016-10-05 15:42] arun1595 opened #226 "Cuke scenarios for lesson completion in lessons show page"
As a learner
To keep track of my progress
I want to mark a lesson complete

[2016-10-05 16:20] KevinMulhern commented on #198
This has been completed by @arun1595

[2016-10-05 16:20] #198 closed

[2016-10-06 17:47] #222 closed

[2016-10-06 17:50] KevinMulhern opened #228 "Clean up rails_helper and spec_helper"
These files currently have a lot over unused code from the last rails upgrade. They need to be cleaned up and simplified.

[2016-10-06 17:50] KevinMulhern opened #229 "Add acceptance tests for lesson navigation edge cases"
There are a couple of edge cases with this feature that need to be covered in the acceptance tests:

* When the user is at the start of a course the previous button should be unusable
* When the user is at the end of the course the next button should be unusable

[2016-10-07 14:05] #220 closed

[2016-10-08 17:26] #221 closed

[2016-10-08 23:01] #228 closed

[2016-10-09 14:19] #218 closed

[2016-10-09 15:40] #219 closed

[2016-10-10 02:21] TomJRodrigues opened #235 "Typo on JS 101 Assignment"
"Complete the remainder of the dev tools **coures** from code school"

should be

"Complete the remainder of the dev tools **course** from code school"

[2016-10-10 09:15] KevinMulhern commented on #235
Thanks for identifying this @TomJRodrigues, we will get this fixed asap 😄

[2016-10-14 03:11] wuworkshop commented on #235
@KevinMulhern Mind if I submit a PR to fix this minor typo? Trying to get my Hacktoberfest tee. 😛

[2016-10-15 13:34] KevinMulhern commented on #235
Hey @wuworkshop It's al yours 😄
This will need to be fixed on our curriculum repo.

[2016-10-16 00:02] arun1595 opened #239 "Marking a lesson complete or incomplete in the lessons#show page doesn't update the progress bar"
Steps to reproduce:
1. Login
2. Go to `courses/introduction-to-web-development/`
3. Click on any of the lesson link in the course page
4. Make a note of the progress indicator at the top. Then, mark a lesson as complete.
5. You should find the progress indicator at the top not being updated.

The same behaviour is observed when you mark a lesson as incomplete. A browser refresh is required to see

[2016-10-16 00:30] #235 closed

[2016-10-16 17:06] iansowinski opened #241 "Repairing front-end"
***Things that are working badly:***
- [ ] white margin on the right side in desktop view
- [ ] right and left margins in mobile view
- [ ] sign-in forms and github button at login site is not responsive
- [ ] mobile hamburger menu button could look nicer (only shadow makes lines visible)
- [ ] "having a path", "building a portfolio" and "learning together" divs are not in the middle in mobile vie

[2016-10-17 10:53] KevinMulhern commented on #241
Hey @iansowinski, thanks for opening this 😄
We have been putting off major front end changes because we are in the process of re designing the site at the moment. The front end of the site will probably have to be completely rewritten to implement our new design so most of these problems will be fixed in that project.

[2016-10-17 12:05] iansowinski commented on #241
So I assume, issue can be closed 😄

[2016-10-17 13:50] KevinMulhern commented on #241
Yeah it can be closed, thank you again for putting it together though and please feel free to create more issues if you find anything 😄

[2016-10-17 20:09] #241 closed

[2016-10-17 21:15] KevinMulhern opened #244 "Add redirect for courses/curriculum"
We are currently getting a lot of errors with users trying to access a nonexistent route `courses/curriculum`

This was once a route in the site but was deleted some time ago, There must be some external links out there that are directing people to this route.

To fix this issue we should redirect the user to the `/courses` route. This can be done in [routes.rb file](https://github.com/TheOdinProj

[2016-10-17 21:20] KevinMulhern opened #245 "Remove title and title_url indexes from courses table"
These indexes are no longer being used now that we are using friendly id's to find courses. A new migration should be created to remove these indexes.

[2016-10-17 21:21] KevinMulhern opened #246 "Remove splash emails table from the database"
This table is no longer being used and therefore is safe to drop.

[2016-10-17 21:28] narekvardanjan commented on #244
I take this one.

[2016-10-17 21:30] KevinMulhern commented on #244
It's all yours @narekvardanjan 👍

[2016-10-17 22:56] iamjhu commented on #246
I'll take a stab at this. :)

[2016-10-17 23:18] iamjhu commented on #245
I'll tackle this one.

[2016-10-17 23:28] #239 closed

[2016-10-17 23:33] #246 closed

[2016-10-18 09:39] #245 closed

[2016-10-18 09:43] KevinMulhern opened #250 "Remove splash_email.js and forum.js from assets"
These two files are no longer used and therefor can be safely deleted.

The two files in question:
[splash_email.js](https://github.com/TheOdinProject/theodinproject/blob/master/app/assets/javascripts/splash_emails.js.coffee)
[forum.js](https://github.com/TheOdinProject/theodinproject/blob/master/app/assets/javascripts/forums.js.coffee)

[2016-10-18 09:47] KevinMulhern opened #251 "Remove splash email model"
This model is no longer being used and therefore is safe to delete.

Heres the file:
[splash_email.rb](https://github.com/TheOdinProject/theodinproject/blob/master/app/models/splash_email.rb)

[2016-10-18 09:50] KevinMulhern opened #253 "Remove index view for lessons"
This view is no longer being used and therefore is safe to delete

Heres the file
[index.html.erb](https://github.com/TheOdinProject/theodinproject/blob/master/app/views/lessons/index.html.erb)

[2016-10-18 10:04] amahoola commented on #253
I think I can do this :stuck_out_tongue_closed_eyes:

[2016-10-18 10:14] stevenkayter commented on #250
on it

[2016-10-18 10:14] stevenkayter commented on #251
on it

[2016-10-18 10:20] KevinMulhern commented on #251
Hey @stevenkayter sorry this has already been taken, just a few minutes ago.

[2016-10-18 10:21] KevinMulhern commented on #250
Hey @stevenkayter sorry this one was taken too 😄

[2016-10-18 10:28] stevenkayter commented on #250
I guess am not keen :D

[2016-10-18 10:30] Art4 commented on #251
@KevinMulhern Maybe this issue can be closed?

Btw: Great project. :+1: I just wanted to create some PRs but ended up on reading some interesting lessons. :smile:

[2016-10-18 10:31] KevinMulhern commented on #250
Theres a few more like this one I need to create issues for, keep an eye out for them 😛

[2016-10-18 10:31] #250 closed

[2016-10-18 10:32] KevinMulhern commented on #251
Hey @Art4 yeah I'm going to close it now 😄
Thanks for the kind words and your help with this one 👍

[2016-10-18 10:33] #251 closed

[2016-10-18 10:33] #253 closed

[2016-10-18 14:20] #244 closed

[2016-10-18 16:19] KevinMulhern opened #257 "Remove splash email spec"
This model has been removed, the spec should be deleted too.

Here is the file:
[slash_email_spec.rb](https://github.com/TheOdinProject/theodinproject/blob/master/spec/models/splash_email_spec.rb)

[2016-10-18 16:25] KevinMulhern commented on #257
This has been taken 👍

[2016-10-18 16:31] KevinMulhern opened #259 "Refactor Lesson completions controller and spec"
**Note**
This is quite a involved issue and will require a decent understanding of Ruby and Rails.

This controller currently has a lot of code smells and is in need of a clean up.

* The controller has a lot of nil checks which should be removed
* remove duplication
* general clean up and extract logic out into methods

The spec is currently using factory girl which is slowing down our test suite

[2016-10-18 16:32] #257 closed

[2016-10-18 16:40] KevinMulhern opened #260 "Refactoring Ad model unit test"
The tests for this model are currently only covering one method, the only methods in the model need to be covered too.

* Replace factory girl for ad and replace with a subject initializing a new ad
* write test for `self.ve_banner`
* write test for `self.ve_box`

[2016-10-18 16:50] KevinMulhern opened #261 "Refactor AdminFlash model spec"
The spec for this model are currently quite messy, a clean up will make them easier to work with.

* Replace initialized instances with mocks and stubs
* Test the validations with shoulda matchers
* Only test what the two methods return
* Remove the three tests at the bottom which are basically testing what Rails does.

[2016-10-18 16:53] KevinMulhern opened #262 "Refactor Lesson completions model spec"
This spec needs to be cleaned up to follow best practices.

* Replace factory girl with mocks and stubs
* Test validations and associations with shoulda matchers
* Remove test for "when lesson and student are duplicated"

[2016-10-18 16:56] KevinMulhern opened #263 "Refactor Sections model spec"
This model spec needs to be cleaned up to follow best practices.

* Replace factory girl with mocks and stubs
* test associations and validations with shoulda matchers
* Remove test for duplicate positions

[2016-10-18 19:26] #226 closed

[2016-10-19 00:54] iamjhu commented on #262
I'll take a stab at this. By change, may we make this a Hacktoberfest PR? 😄

[2016-10-19 09:14] KevinMulhern commented on #262
Hey @iamjhu yeah no problem, It's all yours 👍
I'll add the hacktoberfest label

[2016-10-19 16:49] #262 closed

[2016-10-19 20:26] #229 closed

[2016-10-19 22:30] iamjhu commented on #263
I can take this one, Kevin.

I can hardcode the course id into the course double and added in the necessary tests for the validations and associations.

However, I'm not exactly sure how to approach the `let(:attrs)  { FactoryGirl.attributes_for(:section) }` though. Any suggestions?

[2016-10-19 22:32] arun1595 commented on #263
@iamjhu You can replace `FactoryGirl.attributes_for(:section)` with a hash containing the required attributes and their values.

[2016-10-19 22:35] iamjhu commented on #263
That's what I was thinking but for whatever reason thought all that hardcoding wasn't the most efficient way to approach it, but then again, I'm probably over thinking it! 😝

[2016-10-19 22:50] KevinMulhern commented on #263
It's all yours @iamjhu 😄

[2016-10-19 22:56] iamjhu commented on #263
Can we... tag this as.. 🎃 👻  hacktoberfest? 😺

[2016-10-19 22:57] KevinMulhern commented on #263
Of course 😄

[2016-10-20 21:25] #259 closed

[2016-10-20 22:23] #263 closed

[2016-10-20 22:55] #260 closed

[2016-10-21 22:53] #261 closed

[2016-10-22 03:20] arun1595 opened #277 "Cuke test for user creating an account with email"
In order to use TheOdinProject effectively
As a traditional user
I want to create an account using email

[2016-10-22 03:22] arun1595 opened #278 "Cuke test for signing up through github"
In order to use TOP effectively
As a busy citizen
I want to signup through github

[2016-10-22 03:23] arun1595 opened #279 "Cuke test for logging in through email"
In order to learn and track my progress
As a traditional netizen
I want to login through email

[2016-10-22 03:24] arun1595 opened #280 "Cuke test for logging in through github"
In order to learn and track my progress
As a busy netizen
I want to login through github

[2016-10-22 03:28] arun1595 opened #281 "Cuke test for user editing his/her profile"
In order to update my information
As a learner
I want to be able to edit my profile

[2016-10-23 13:06] Evans-Munatsa commented on #281
l'm in for the assignment, and l also need more info.  Please let me know as soon as possible

[2016-10-23 20:29] KevinMulhern commented on #281
Hey @evanburkey, have you written any cucumber tests before? 😄

[2016-10-23 23:00] evanburkey commented on #281
@KevinMulhern I'm pretty sure you meant @Evans-Munatsa not me :laughing:

[2016-10-23 23:07] KevinMulhern commented on #281
@evanburkey yip sorry 😄
@Evans-Munatsa see above please 👍

[2016-10-23 23:18] Evans-Munatsa commented on #281
@KevinMulhern yes l have written cucumber tests before

[2016-10-24 01:19] arun1595 commented on #281
@Evans-Munatsa Cool. Work on it and submit a PR :)

[2016-10-24 09:32] KevinMulhern commented on #281
Its all yours @Evans-Munatsa let us know if you need for information about anything

[2016-10-24 14:21] jacob-on-github opened #283 "Project: HTML/CSS - View in browser links are misleading/broken"
Working on the project at: http://www.theodinproject.com/courses/web-development-101/lessons/html-css, I noticed that most of the "View in browser" links do not work.

It seems like most of the ones that don't work are GitHub repos in which "htmlpreview.github.io" is not functioning correctly. Maybe the documentation/method for how to share your solution needs to be updated?

[2016-10-24 14:26] KevinMulhern commented on #283
Hey @jacob-on-github, this must be something broken on the htmlpreview.github side. The latest solutions previews are broken too and this is the first report of this problem. Which makes me think this problem has only started in the past day or two.

We will give it a couple of days to see if this problem resolves itself and take it from there if it doesn't.

Thanks for reporting this 😄

[2016-10-25 17:18] jacob-on-github commented on #283
Just to note: This looks it is working again.

[2016-10-25 17:18] #283 closed

[2016-10-27 17:48] jhack32 commented on #179
#287

[2016-10-28 18:46] arun1595 opened #289 "Studygroup url in the welcome email tries to redirect to the course show page"
Steps to reproduce:

1. Create a new account
2. The `letter_opener` gem should open the welcome email. Click on the link 'theodinproject.com/studygroup'
3. You should be redirected to http://localhost:3000/courses/studygroup instead of http://localhost:3000/studygroups

This is probably due to the priority of routes defined in `routes.rb`

[2016-10-28 20:03] arun1595 opened #291 "What a web developer does lesson url in the welcome email is broken"
To reproduce:

1. Sign up for a new account
2. Click the link 'What a Web Developer Does' in the welcome email

[2016-10-29 14:31] #277 closed

[2016-10-29 14:31] #278 closed

[2016-10-29 14:31] #289 closed

[2016-10-29 15:54] KevinMulhern opened #293 "Bug with flash messages after signing up/in with omniauth"
Steps to reproduce:
1. Sign up with github
2. dont confirm email
3. log out and log back in

Three flash messages appear, 2 about confirming the users email.

Fix:
Remove the bottom confirm email flash and position the thanks for signing in with github flash

<img width="1073" alt="screen shot 2016-10-29 at 16 49 55" src="https://cloud.githubusercontent.com/assets/7963776/19831023/4bf240f8-9df8-11

[2016-10-29 16:17] #280 closed

[2016-10-29 16:44] KevinMulhern commented on #281
Hey @Evans-Munatsa have you started this?

[2016-10-29 16:58] KevinMulhern opened #295 "Cukes for linking omniauth scenarios."
cukes for scenarios in this [controller] (https://github.com/TheOdinProject/theodinproject/blob/master/app/controllers/omniauth_callbacks_controller.rb)

User Stories:
Scenario: A logged-in user who has already linked his/her auth account tries clicking the "link your auth account" button in the profile page
This case can be removed as the button is hidden so this scenario should never be used.

S

[2016-10-29 17:51] arun1595 opened #296 "Cuke tests for user logging out"
As a user
I want to be able to logout from my account

[2016-10-29 21:38] KevinMulhern commented on #279
@arun1595 what do you think about scrapping this? we already implicitly test this with the login helper you created.

[2016-10-29 21:39] arun1595 commented on #279
@KevinMulhern Yeah, you're right. I am closing this as we already have a scenario which tests this.

[2016-10-29 21:39] #279 closed

[2016-10-29 23:02] #296 closed

[2016-10-29 23:06] KevinMulhern opened #299 "Cuke to ensure a user can delete their account"
Given I am logged in
When I click the cancel my account link
My account should be deleted

[2016-10-29 23:10] arun1595 commented on #291
Fixed in #292

[2016-10-29 23:10] #291 closed

[2016-10-29 23:46] #299 closed

[2016-10-30 00:02] #295 closed

[2016-10-30 17:33] Evans-Munatsa commented on #281
yes l have started, l'm have started but just having trouble pushing because of my remote branch, and l have also notice when l run the cucumber command that some of the tests are failing

[2016-10-30 18:21] Evans-Munatsa commented on #281
hey guys l can't push its giving me this error

remote: Permission to TheOdinProject/theodinproject.git denied to Evans-Munatsa.
fatal: unable to access 'https://github.com/TheOdinProject/theodinproject.git/': The requested URL returned error: 403

[2016-10-30 18:27] arun1595 commented on #281
You can't push to the OdinProject repository unless you have write access. You should fork the repo and clone it locally, make some changes, push the code to your fork and then submit a Pull Request.

If you don't understand what I mean, please watch [this](https://www.youtube.com/watch?v=mENDYhfxH-o) video.

Thanks!

[2016-10-30 20:22] KevinMulhern opened #301 "Refactor Omniauth callbacks controller"
This controller currently has a very large conditional statement which is hard to understand and change. This logic would be much better in service objects.

[2016-10-30 22:41] #293 closed

[2016-10-30 22:55] KevinMulhern commented on #281
Hey @Evans-Munatsa please follow Arun's suggestion to push create a PR. Which tests are failing? everything is green on master.

[2016-10-31 02:21] KevinMulhern opened #304 "Omniuath Users cannot update their details in account page"
Steps to reproduce
1. Log in with a github account
2. Go to account page
3. Sumbit the form

This issue is caused by omniauth users not having a password and a password being required for the update form to submit.

This is probably related this issue https://github.com/TheOdinProject/theodinproject/issues/176

**This  is blocked until cukes for the edit page are completed**

[2016-10-31 02:35] KevinMulhern commented on #169
We can't replicate this in development and it hasn't been reported since so I think it's safe to close this.

[2016-10-31 02:35] #169 closed

[2016-10-31 15:32] #301 closed

[2016-11-01 22:19] KevinMulhern opened #307 "Cucumber test for reset password feature"
As a User who has forgotten their password
When I request to change my password
Then my password should be changed

[2016-11-01 22:25] KevinMulhern opened #308 "Cucumber test for users who have not confirmed their email address after the 2 day grace period"
Given I am a User who has a unconfirmed account over 2 days old
When I try to sign in
Then I should be denied and shown a message telling me to confirm my account

[2016-11-01 22:30] KevinMulhern opened #309 "Cucumber test for resending confirmation instructions"
This feature is on the login page

Given I am a user
when I request for the confirmation instructions to be resent
Then I will receive an confirmation instructions email

[2016-11-01 22:34] KevinMulhern opened #310 "Refactor Application controller"
This controller currently has some very long methods which can be refactored to make them cleaner and more maintainable.

[2016-11-04 23:45] #310 closed

[2016-11-06 01:16] #308 closed

[2016-11-06 03:17] KevinMulhern opened #316 "Refactor Registrations controller"
This controller currently has no tests and overrides a few devise methods which may not be needed.

[2016-11-06 04:17] #309 closed

[2016-11-06 13:42] #307 closed

[2016-11-06 23:08] arun1595 opened #320 "Refactor UsersController"
This controller currently has some very messy code and defensive programming techniques throughout.

* clean up the controller code
* Add a decorator for the user
* add unit tests

[2016-11-06 23:09] arun1595 opened #321 "Extract social helper methods into a decorator"
Blocked, until a decorator is made for the users controller.

[2016-11-06 23:09] arun1595 opened #322 "Refactor UserMailer"
The code for this mailer is currently very messy, we should tidy it up and add a unit test for it.

[2016-11-06 23:11] arun1595 opened #323 "Refactor and add tests for contact mailer"
This mailer currently is very messy, we should clean up the code and add a unit test for it.

[2016-11-06 23:16] arun1595 opened #324 "Refactor and clean up tests for the curriculum update rake task"
The multithreading section of this rake task has never been used and is therefore safe to delete. Ensure the unit test covers everything.

[2016-11-06 23:25] KevinMulhern opened #325 "Refactor User Model"
This model currently has a lot of messy code, we should tidy it up and ensure the unit test covers everything.

[2016-11-09 22:53] KevinMulhern opened #327 "Remove 'Email me' button from the users show page"
This feature is no longer used so this button should be removed.

[2016-11-09 22:55] #323 closed

[2016-11-09 22:56] #322 closed

[2016-11-09 23:51] #327 closed

[2016-11-11 00:27] #325 closed

[2016-11-11 22:08] #320 closed

[2016-11-11 22:48] #321 closed

[2016-11-11 23:31] #304 closed

[2016-11-11 23:32] #176 closed

[2016-11-12 00:25] #324 closed

[2016-11-14 00:13] #179 closed

[2016-11-15 02:02] eriktrautman opened #340 "Confirmation Tokens not quite right..."
Hello,

I seem to be encountering the same problem of not getting the correct token for the confirmation email. It sends me the same error from both this new email that I set up and [redacted]

Is there any way of fixing this problem/getting my email confirmed to save progress on the site?

I have uploaded a screenshot of the problem.

Thanks,

Lucas
![capture](https://cloud.githubusercontent.com/

[2016-11-15 02:02] eriktrautman commented on #340
Another email:

[code]

[2016-11-15 11:26] KevinMulhern commented on #340
This has been resolved 🎉

[2016-11-15 11:26] #340 closed

[2016-11-15 13:17] KevinMulhern opened #341 "Add GA tracking for previous and next lesson buttons on lesson pages"
We need some statistics on how often these buttons are used for the redesign.

Add the tracking code to this file, examples of other elements being tracked can also be found in the file.

https://github.com/TheOdinProject/theodinproject/blob/master/app/assets/javascripts/analytics.js.erb

[2016-11-15 13:23] KevinMulhern opened #342 "Add GA tracking to chat links"
It would be nice to find out how effective the chat links on the site are at getting people into the gitter chat.

The two links to be tracked:
* the chat link in the navbar
* the chat button in the lesson pages

Tracking code goes in this file, please use the tracking code already there as an example of how to add tracking to an element
https://github.com/TheOdinProject/theodinproject/blob/master

[2016-11-15 14:11] #341 closed

[2016-11-15 16:12] #342 closed

[2016-11-16 11:53] arun1595 opened #347 "Remove the studygroups page"

[2016-11-16 12:16] #347 closed

[2016-11-16 17:03] eriktrautman opened #349 "Confirmation token not recognized when using Github for account creation"
We do occasionally have issues with people signing up using Github not being able to do the complete signup.  Not sure if this one is a symptom of a larger issue after the Rails 5 upgrade so wanted to flag it.  Sometimes it's just weird things like email mismatches.

His account can be found using his gmail email timothy.fung.04

From the recent email chain:

Hi Erik,

I have attached a screenshot

[2016-11-16 17:14] KevinMulhern commented on #349
I suspect this is fallout from the rails 5 upgrade, I manually confirmed this account.

[2016-11-16 18:29] eriktrautman commented on #349
We may have something ongoing... just got another email (from the .org email rhahn@claytonps) that says:

Each time I click on the link in the email to verify my account it tells me that the "confirmation token is invalid".
--
Thank You,

[2016-11-16 21:35] KevinMulhern commented on #349
Hmm I am looking into these accounts, those ones were created long before the upgrade. Devise had to be upgraded too. It seems like the old tokens are now invalid. I've been monitoring the creation of new users and they are fine. I'll manually confirm each of these cases as they come in.

[2016-11-18 17:02] arun1595 opened #351 "Fix rubocop issues in controllers"

[2016-11-18 19:09] #351 closed

[2016-11-18 19:47] KevinMulhern commented on #349
Theres been no reports of this in the past 2 days, I'll leave it open for another week just incase though.

[2016-11-18 19:51] #281 closed

[2016-11-19 02:40] arun1595 opened #354 "Fix rubocop issues in models"

[2016-11-19 02:45] arun1595 opened #355 "Fix rubocop issues in step definitions"

[2016-11-19 14:27] arun1595 opened #357 "Fix rubocop issues in spec/**/*.rb"

[2016-11-21 18:56] #355 closed

[2016-11-21 18:56] #354 closed

[2016-11-22 01:29] #357 closed

[2016-11-22 18:47] arun1595 opened #360 "Create a projects model"
**Associations:**
A lesson has one project - optional
A user has many projects

**Fields:**
github repo link
live preview - optional

Add AR validation to make sure the project url is safe.

[2016-11-22 18:50] KevinMulhern commented on #349
No reports of this since, I think its safe to close 🎉

[2016-11-22 18:51] #349 closed

[2016-11-22 18:53] arun1595 opened #361 "Create a controller for projects"
**Actions**:
- create
- update
- destroy

[2016-12-03 20:35] #360 closed

[2016-12-20 04:14] arun1595 opened #366 "Display all project submissions and 10 most recent submissions of a project"
Create actions in the `ProjectsController` to
- Display all project submissions
- 10 most recent submissions of a project

[2016-12-20 15:16] #361 closed

[2016-12-20 16:33] #366 closed

[2016-12-20 16:39] arun1595 opened #368 "Create an admin role to allow updation and deletion of project submissions"

[2016-12-28 00:03] arun1595 opened #372 "Create a form for uploading projects"

[2016-12-30 02:05] #368 closed

[2017-01-09 05:57] arun1595 opened #376 "Add cuke tests for project submission feature"

[2017-01-09 06:00] arun1595 opened #377 "Create a helper method to check if a project accepts submissions"
Projects which don't accept submissions:

- [Installations](http://www.theodinproject.com/courses/web-development-101/lessons/installations)
- [Git Basics](http://www.theodinproject.com/courses/web-development-101/lessons/practicing-git-basics)
- [Building your resume](http://www.theodinproject.com/courses/getting-hired-as-a-web-developer/lessons/building-your-resume)

[2017-01-09 06:02] arun1595 opened #378 "Create a helper for checking if a project accepts a live preview"
The projects in the ruby lesson don't have a live preview. We need a helper to check if a project has a live preview or not.

Projects which can't have a live preview:
- Ruby projects in `Ruby Programming`
- Ruby project in `Web Development 101`

[2017-01-19 00:03] arun1595 opened #379 "Add a view to display all the submissions of a project"

[2017-01-19 00:04] arun1595 opened #380 "Add a component to display the 10 recent submissions of a project"

[2017-01-29 08:53] OlehSliusar opened #382 "Advice for the root page"
It would be better for logged in users to have [this page](http://www.theodinproject.com/courses) as the home page instead of [this page](http://www.theodinproject.com/home). Because from current home page I can't even go directly to my profile, and it would be great to see my progress on the curriculum every time I visit www.theodinproject.com

[2017-01-29 09:02] OlehSliusar opened #383 "Showing course completion"
What about to show course completion on http://www.theodinproject.com/courses page? Something like [this](http://image.prntscr.com/image/27fc0b2deb7e4b2eb46d7f1b9bafeb00.png)

[2017-01-29 09:11] OlehSliusar opened #384 "Subtle design improvement"
[See a screenshot](http://image.prntscr.com/image/79930dd89da14173bcd505151640e3f7.png). Maybe move it to bottom a bit?

[2017-01-29 14:26] KevinMulhern commented on #382
Hey @OlehSliusar, did you see the link to the redesign I posted in gitter the other day?
https://marvelapp.com/1gii457/screen/24177849

We will be doing something very similar to what you suggested 😄 logged in users home page will be a dash board that will allow them to see their progress and jump back into their last lesson

[2017-01-29 14:28] KevinMulhern commented on #383
Hey @OlehSliusar This is something that might be part of the redesign. We just have a few more mock ups to finish and then we will show them to the TOP community for feedback and suggestions 😄

[2017-01-29 14:38] KevinMulhern commented on #384
@OlehSliusar this will be part of the redesign too. Thanks for opening these issues, but I think it might be misplacing effort, time and resources to make any improvements to the current design when the new design is so close to being implemented. All of these improvements will probably be implemented with the new design or changed to something else entirely.

Keep an eye out for when we release t

[2017-01-29 16:10] #384 closed

[2017-01-29 16:11] #383 closed

[2017-01-29 16:11] #382 closed

[2017-01-29 22:39] SoteroX commented on #379
do you mean display all the submission the user submitted to the user? or let users view every submissions submitted

[2017-01-29 22:42] KevinMulhern commented on #379
Hey @soterox, this is for displaying all submission for a particular project. It will be a new page that the user can access though the project lesson page.

[2017-02-20 06:30] hugoroger commented on #349
It's 2017 and I just tried signing up but can't! Definitely wasted a lot of time trying to work around this. Why is your application trying to verify my Github password when I am already signed in, logged in and even typing here?

[2017-02-20 10:35] KevinMulhern commented on #349
@hugoroger sorry for the trouble you have been having, I can help you with this issue. I've sent you a private message on gitter 😄

[2017-03-11 05:47] Demo318 opened #390 "Add tick-boxes for assignment steps in lessons."
Oftentimes, the assignment has 1 to 5 steps, each of which might take a significant amount of time. I don't always do these in one sitting. It would be super if I could check them off as I go so when I return later, I can recall which sections of the assignment I had completed more easily. Thanks!

[2017-03-12 19:33] KevinMulhern commented on #390
Hey @Demo318 thanks for opening this issue, I agree that this would be a awesome feature to have 😄

Implementing it, presents a technical challenge though. Currently the content for each lesson is pulled in from our curriculum repo as markdown files. That included the assignments. I'll add this to our development backlog.

[2017-03-17 04:04] mindovermiles262 opened #397 "Mobile Lesson-navbar"
The course lesson navbar is unclickable on mobile. Text in parent directories is blue like a link, but user can't click to go back.

Using iPhone 5SE, iOS 10.2.1
Mobile Chrome (v57.0.2987.100)
and Mobile Safari (v602.4.6)

[2017-03-21 19:32] mindovermiles262 commented on #397
Course Lesson Navbar is also unclickable on desktop computer when top navbar displays dropdown icon

![2017-03-21-122719_1920x1080_scrot](https://cloud.githubusercontent.com/assets/14863257/24166956/51c6096a-0e32-11e7-9942-beeec5f276e6.png)

![2017-03-21-122726_1920x1080_scrot](https://cloud.githubusercontent.com/assets/14863257/24166957/51cc30b0-0e32-11e7-9f06-cfe9f65bab80.png)

[2017-03-22 08:25] KevinMulhern commented on #397
Hey @mindovermiles262, thanks for opening this 😄

The course bread crumb navigation component isn't in the new design 🎉 so we might be able to get away with ignoring this for now.

If the redesign takes longer than expected it would be worth fixing though.

[2017-04-03 19:58] KevinMulhern opened #400 "Redesign: FAQ Page"
This task is to implement a redesigned faq page as shown in the mock up images below. This is our current faq page and where you can find the content for the faq http://www.theodinproject.com/faq

### Working on this task

- [x] If you want to work on this task, please claim it by commenting below
- [x] Branch off the redesign branch
- [x] Check out our [styleguide](https://staging-odin-project.he

[2017-04-03 20:04] KevinMulhern opened #401 "Redesign: Contribution Page"
This task is to implement a redesigned contributing page as shown in the mock up images below. This is our current contributing page and where you can find the content for the page http://www.theodinproject.com/contributing

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] Check out our [styleguide](htt

[2017-04-03 20:11] KevinMulhern opened #402 "Redesign: About Page"
This task is to implement a redesigned about page as shown in the mock up images below. This is our current about page and where you can find the content for the page http://www.theodinproject.com/about

### Working on this task

- [x] If you want to work on this task, please claim it by commenting below
- [x] Branch off the redesign branch
- [x] Check out our [styleguide](https://staging-odin-pro

[2017-04-03 20:14] KevinMulhern opened #403 "Redesign: Success Stories page"
This task is to implement a new success stories page as shown in the mock up images below. We are working on gathering content for this page, in the meantime fake lorem ipsum content can be used to get the page built

### Working on this task

- [x] If you want to work on this task, please claim it by commenting below
- [x] Branch off the redesign branch
- [x] Check out our [styleguide](https://st

[2017-04-03 21:10] gionaufal commented on #403
I would like to do this one!

[2017-04-03 21:29] arun1595 commented on #403
@gionaufal Go ahead :) Follow the instructions mentioned in the issue description to get started.

Feel free to join the [Contributing](https://gitter.im/TheOdinProject/Contributing) chatroom if you have any questions.

[2017-04-04 00:17] wanyamaman commented on #401
I'd like to work on this one

[2017-04-04 01:32] karenfreemansmith commented on #402
I'd like to do this one.

[2017-04-04 01:47] arun1595 commented on #402
@karenfreemansmith   Awesome :) It's all yours. Follow the instructions mentioned in the issue description to get started with the task.

If you have any questions, talk with us in the [Contributing](https://gitter.im/TheOdinProject/Contributing) chatroom

[2017-04-04 01:48] arun1595 commented on #401
@wanyamaman  :+1:

It's all yours. Follow the instructions mentioned in the issue description to get started.

Contact us in the [Contributing](https://gitter.im/TheOdinProject/Contributing) chatroom if you've any questions

[2017-04-04 08:14] KevinMulhern commented on #400
@arun1595 is working on this 😄

[2017-04-06 19:21] KevinMulhern opened #406 "Redesign: Course page"
This task is to implement the redesign for our course show page as shown in the mock up images below. For reference this is the current course show page for the rails course http://www.theodinproject.com/courses/ruby-on-rails

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] Check out our [styleguide](h

[2017-04-06 19:23] arun1595 commented on #406
@KevinMulhern I'll work on this too as I go on with the courses index page :)

[2017-04-06 19:23] KevinMulhern opened #407 "Redesign: Login Page"
This task is to implement a redesigned login page as shown in the mock up images below. For reference this is our current login page http://www.theodinproject.com/login

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] Check out our [styleguide](https://staging-odin-project.herokuapp.com/styleguide)
- [

[2017-04-06 19:31] KevinMulhern opened #408 "Redesign: Lesson Page"
This task is to implement a redesigned lesson page as shown in the mock up images below. For reference this is our current lesson page http://www.theodinproject.com/courses/ruby-on-rails/lessons/sinatra-basics

**Important**
Please ignore the solutions component at the bottom of the mock up. We will create another issue for implementing that feature when we merge in the backend work for it in the

[2017-04-06 19:36] KevinMulhern opened #409 "Redesign: Curriculum page"
This task is to implement a redesigned curriculum page as shown in the mock up images below. This is our current curriculum page for reference http://www.theodinproject.com/courses?ref=home

### Working on this task

- [x] If you want to work on this task, please claim it by commenting below
- [x] Branch off the redesign branch
- [x] Check out our [styleguide](https://staging-odin-project.herokuap

[2017-04-06 19:36] KevinMulhern commented on #409
@arun1595 is working on this

[2017-04-06 19:39] iansowinski commented on #408
I would love to tak it

[2017-04-06 20:21] KevinMulhern commented on #408
Its all yours @iansowinski 😄

[2017-04-07 11:37] 105ron commented on #407
Can I be responsible for this?

[2017-04-07 12:03] KevinMulhern commented on #407
Its all yours @105ron san

[2017-04-07 12:12] Mark3z commented on #407
HI @105ron, I'm here to help if you will ever need it :)

[2017-04-08 05:58] karenfreemansmith commented on #402
I'm seeing differences in the existing text and the mockup... particularly the timeline with the lorem ipsum. Should I be styling the existing text, or replacing it with the text from the mockup?

[2017-04-08 10:43] 105ron commented on #407
@Mark3z I'm beyond help but maybe post in the pair programming room and we can work together on it? I'm only available on weekends though..

[2017-04-08 19:15] gionaufal commented on #403
@arun1595 and @KevinMulhern, one small doubt: today, in the redesign branch, this page is a partial being rendered in Home. Does it need to continue only in this partial, or will this partial be presented as a standalone page also?

Thanks!

[2017-04-08 19:25] arun1595 commented on #403
@gionaufal I think you shouldn't modify the existing partial(rendered in home page) and instead, create a new one for 'Success Stories' page.

/cc @KevinMulhern

[2017-04-08 19:26] gionaufal commented on #403
@arun1595 got it! thanks for clarifying

[2017-04-09 18:20] KevinMulhern commented on #403
@gionaufal this will be brand new page, it doesn't currently exist on the site. That means you'll have to do a few extra things to get it working.

* A new `success_stories` action needs to go into the `StaticPagesController`
* A new route for the success stories page needs to be added to `routes.rb`
* A new `success_stories.html.erb` view needs to be added to the `static_pages` folder within the

[2017-04-09 18:24] KevinMulhern commented on #402
Sorry for the late reply @karenfreemansmith, we will be updating the copy on these pages so I think its best to use lorem ipsum with it,

[2017-04-09 20:56] gionaufal commented on #403
Thanks @KevinMulhern! I was doing exactly these things =). Will open the pull request soon.

[2017-04-09 21:11] karenfreemansmith commented on #402
Ok, thanks!

[2017-04-10 20:05] #403 closed

[2017-04-10 20:19] iansowinski commented on #408
I'll comment here for the sake of documentation :)

I see two UX problems as far - one is the lack of "previous lesson button" - it used to be on the left from "mark lesson complete", the second one is the lack of path to current lesson - it can be pain it the ass for some users. Also I'm not sure what to do with the header ("sinatra basis") - now it is rendered based on markdown, should I keep it

[2017-04-10 20:23] iansowinski commented on #408
Also - there used to be great feature of octocat icon redirecting to the lessons file on github - it made it easy to contribute.

[2017-04-10 21:02] KevinMulhern commented on #408
Hey @iansowinski, thanks for providing us with this feedback 😄 I'll do what I can to justify some of the decisions we made.

1. For the previous button, we used google anaylitics event tracking to see how often the previous button was clicked. It was one of the lowest clicked components we are tracking on the site. A small sample of just the clicks this week is 5031 clicks for the next lesson butt

[2017-04-10 21:11] adachiu commented on #408
@iansowinski Thanks for the feedback!
1. What Kevin said. However, we could replace "view course" with "previous lesson" and put "view course in the center, replacing "Mark lesson completed"
@KevinMulhern what if we merge the "mark lesson completed" button with the "add solution" ? So for example, once the user adds their solution, the lesson auto-marks as completed. That way, we save a step. Let

[2017-04-10 21:21] KevinMulhern commented on #408
@adachiu that could work on project pages, standard lesson pages won't have solutions though so we will have to keep mark lesson as completed on those pages.

I'm a little reluctant about having adding a solution as a requirement to mark the lesson as complete as we get a lot of students at the moment who don't submit a solution but mark the lesson as complete. I assume a lot of those people aren'

[2017-04-11 07:13] iansowinski commented on #408
@KevinMulhern is right about solutions - for example I never posted mine :P

Maybe we will just make course icon clickable instead of adding extra button to view course?

I think contributing button is extra important though.

[2017-04-13 15:34] factsfinder commented on #409
I'm working on this.

[2017-04-13 21:14] KevinMulhern commented on #409
Hi @factsfinder, this one has already been taken I'm afraid. I commented a little further up that @arun1595 is working on it 😄

There will be more complete page redesigns and smaller tweak tasks being put up here over the next few weeks.

Thanks for showing being interested in contributing.

[2017-04-13 21:21] factsfinder commented on #409
Oops. My bad. OK then I will check for other tasks. Thank you @KevinMulhern

[2017-04-16 04:30] adachiu opened #413 "Redesign Fix: Underline link on home page"
This task is to update the link decoration on the home page's Success Stories section for “Read more success stories”

1.  Font-family should be OpenSans
2. Text-decoration should be underline

It should look like this screenshot:
<img width="1439" alt="screen shot 2017-04-15 at 9 20 36 pm" src="https://cloud.githubusercontent.com/assets/13413986/25068733/63e1da58-2222-11e7-946c-53effb99aae7.png">

[2017-04-16 04:39] adachiu opened #414 "Redesign Fix: Alignment for How It Works"
This task is to horizontally align the **Learn, Build, Connect** text on the home page.

The screenshot below shows the current misalignment issue.
<img width="1095" alt="screen shot 2017-04-15 at 9 33 35 pm" src="https://cloud.githubusercontent.com/assets/13413986/25068767/5ba0e5ae-2223-11e7-8dce-8739c8bf4929.png">

### Working on this task

- [ ] If you want to work on this task, please claim it

[2017-04-16 06:03] adachiu opened #415 "Redesign Fix: Footer link change"
This task is to edit the links in the footer.

1. Remove the links "Legal" and "Press" from the footer
2. Add a footer link called "Success Stories" that links to the `/success_stories` page
3. Change the "Blog" link to point to https://medium.com/the-odin-project

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign br

[2017-04-16 06:27] adachiu opened #416 "Redesign Fix: Update Global H1, H2, H3"
This task is to update H1, H2, H3

1. The current global font-weight for H1 is 500. Change it to 300.
2. The current global font-weight for H2 is 500. Change it to 700.
3. Update the H2 and H3 color to `#4a4a4a`
4. Change H3 to font-size 1.5em (28px) so there's differentiation between H2 and H3 sizes.

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting

[2017-04-16 07:24] adachiu commented on #400
@arun1595 I have some feedback based on https://staging-odin-project.herokuapp.com/faq?ref=homenav

1. We don't need the media query for (min-width: 1200px) because the 1140px length looks way too long; too much space between the question and the `+` sign.
2. The H5 for questions should be font-size 24px and `color: rgba(74, 74, 74, 0.7);`
3. The `+` icon could be increased to double its size beca

[2017-04-16 08:12] arun1595 commented on #400
@adachiu Thanks for the detailed feedback :+1:

I'll make the suggested changes :)

[2017-04-16 08:15] adachiu opened #417 "Redesign: Buttons font-family to OpenSans"
This task requires updating the navigation buttons and CTA buttons to font-family OpenSans. Currently, the body tag has different font families. Change the body tag font-family to OpenSans.

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] When you are submitting your pull request for this task please e

[2017-04-16 09:04] adachiu opened #418 "Redesign: Success Stories page"
The tasks involve updating the spacing so that we maintain consistency to match the other pages.

1. Remove `margin-top` from class `.success-stories-sign-up`
2. Add `margin-bottom: 6em;` to `.success-stories-container`
3. Increase the padding between the "Sign Up" button and the footer. Match it to the spacing between the `.success-stories-container` and the "Start learning for free now" text.
4.

[2017-04-16 09:07] adachiu opened #419 "Redesign: 404"
I will create an image for these pages, but it's lower in priority at the moment. I'll keep you updated @arun1595

**Edit**
The image has been created and I am working on this

[2017-04-16 13:30] mbabaian commented on #415
I'll work on this one.

[2017-04-17 22:27] KevinMulhern commented on #390
This is on our dev backlog 😄 thanks for opening it @Demo318

[2017-04-17 22:27] #390 closed

[2017-04-18 01:30] adachiu opened #422 "Redesign Fix: Home page header image"
This task is to update the home page header image. There is also a gradient background for the header. Refer to Zeplin for more information. https://zpl.io/14j8Nn (comment your email address to be added to the Zeplin project to gain access)

SVG File:
[home-isometric.svg.zip](https://github.com/TheOdinProject/theodinproject/files/927000/home-isometric.svg.zip)

<img width="1083" alt="screen shot 2

[2017-04-18 01:37] adachiu opened #423 "Redesign Fix: Home page course section"
This task involves updating the home page's courses section.

Refer to https://zpl.io/14j8Nn (comment your email address to get added to the Zeplin project to gain access to assets and design details).

Updated version:
<img width="1079" alt="screen shot 2017-04-17 at 6 33 39 pm" src="https://cloud.githubusercontent.com/assets/13413986/25110917/6e578ac0-239c-11e7-9a89-3ae110e7a397.png">

Current o

[2017-04-18 19:19] cakleimeier commented on #415
I'd like to give this a try.

[2017-04-18 20:46] adachiu commented on #415
@cakleimeier all yours!

[2017-04-18 22:40] mbabaian commented on #417
I'll take this one if it's still available

[2017-04-19 19:47] sdg123 commented on #423
I'd like to work on this!
My email address is sgonsal@ncsu.edu

[2017-04-19 19:51] adachiu commented on #423
@sdg123 great! adding you to Zeplin now

[2017-04-19 19:51] arun1595 commented on #423
@sdg123 Thanks! You should've got an invitation email to access the Zeplin project. Do check you inbox.

[2017-04-20 05:32] sdg123 commented on #413
I'd like to work on this!

[2017-04-20 07:57] KevinMulhern commented on #413
It all yours 😄  thanks @sdg123

[2017-04-20 17:12] rdavid1099 commented on #416
I will take care of this for you guys.

[2017-04-20 17:22] arun1595 commented on #416
@rdavid1099 Thanks! It is yours :)

[2017-04-21 11:47] #409 closed

[2017-04-21 11:49] KevinMulhern commented on #408
Hey @iansowinski, just checking in 😄
Have you made much progress with this one? let us know if you need any help with anything.

[2017-04-21 11:49] #402 closed

[2017-04-21 11:50] #400 closed

[2017-04-21 11:51] KevinMulhern commented on #401
Hey @wanyamaman, just checkin in 😄
Have you made much progress with this one? let us know if you need any assistance with anything.

[2017-04-21 17:48] wanyamaman commented on #401
Hey @KevinMulhern, sorry I've been extremely busy over the past two weeks but I will wrap it up this weekend. Thanks for checking up on me :+1:

[2017-04-23 20:01] KevinMulhern commented on #415
Resolved by @cakleimeier 😄

[2017-04-23 20:01] #415 closed

[2017-04-23 20:15] arun1595 commented on #416
Resolved by https://github.com/TheOdinProject/theodinproject/pull/428

[2017-04-23 20:15] #416 closed

[2017-04-23 20:24] faisal3389 commented on #417
Hi,
I want to work on this issue.

[2017-04-23 20:31] KevinMulhern commented on #417
Hi @faisal3389, sorry this one should have been closed. It was resolved in a unrelated PR 😬
We have other open issues you can work on though, thank you for wanting to contribute 😄

[2017-04-23 20:31] #417 closed

[2017-04-23 20:31] arun1595 commented on #417
@faisal3389 Kevin's right. Can you help us fix [this](https://github.com/TheOdinProject/theodinproject/issues/414) issue?

[2017-04-23 20:36] faisal3389 commented on #417
Okay, I'll try to resolve the alignment issue.
This is my first time trying to contribute to Open source community. I'll
do my best

On Mon, Apr 24, 2017 at 2:01 AM, Arun Kumar <notifications@github.com>
wrote:

[2017-04-23 20:37] arun1595 commented on #417
@faisal3389 Awesome, thanks!

[2017-04-23 20:37] KevinMulhern commented on #417
Thanks @faisal3389, if you need any assistance with anything be sure to let us know 😄

[2017-04-23 20:38] arun1595 commented on #414
@faisal3389 is working on this.

[2017-04-24 06:59] faisal3389 commented on #414
Submitted the pull request

[2017-04-24 07:41] faisal3389 commented on #414
@arun1595 @adachiu @KevinMulhern I'm getting the following error

All checks have failed
1 failing check
continuous-integration/travis-ci/pr — The Travis CI build failed

![image](https://cloud.githubusercontent.com/assets/16716470/25326767/36ab2b42-28ef-11e7-929d-98dc04f684bd.png)

can you help me resolve this. I'm not getting what the issue is.

[2017-04-24 09:47] iansowinski commented on #408
@KevinMulhern I'm doing it in slow peace if it's not a problem for you guys :)

[2017-04-24 10:28] KevinMulhern commented on #408
No problem 😄 take your time.

[2017-04-24 10:29] KevinMulhern commented on #414
@faisal3389 Yeah thats nothing to worry about, a lot of the integration tests are broken in the redesign branch because of the changes being made to the structure of the pages. We will fix these after the redesign is done.

[2017-04-24 18:06] rdavid1099 commented on #418
@adachiu I'll work on this issue.

[2017-04-24 18:24] arun1595 commented on #418
@rdavid1099 Thanks! Please go ahead :)

[2017-04-25 07:16] #423 closed

[2017-04-25 09:22] adachiu opened #437 "Redesign Fix: badge section of home page"
Tasks include adjusting the spacing and size of the badges on the home page.
Refer to https://zpl.io/14j8Nn to see the mock up with design details. To access Zeplin, comment your email in this issue in order to be invited to view the link.

This is how the update would look like:
<img width="1025" alt="screen shot 2017-04-25 at 2 20 02 am" src="https://cloud.githubusercontent.com/assets/13413986/2

[2017-04-25 21:54] arun1595 commented on #401
Resolved in https://github.com/TheOdinProject/theodinproject/issues/432 by @wanyamaman

[2017-04-25 21:54] #401 closed

[2017-04-25 21:55] arun1595 commented on #414
Resolved in https://github.com/TheOdinProject/theodinproject/pull/434 by @faisal3389

[2017-04-25 21:55] #414 closed

[2017-04-26 01:00] arun1595 commented on #418
Resolved in https://github.com/TheOdinProject/theodinproject/pull/435 by @rdavid1099

[2017-04-26 01:00] #418 closed

[2017-04-26 23:06] eating247 commented on #437
I'd like to work on this! ttwang.303@gmail.com

[2017-04-26 23:38] adachiu commented on #437
@eating247 great! Invited you to access Zeplin.

[2017-04-27 00:16] arun1595 commented on #437
@eating247 is working on this.

[2017-04-27 13:02] codyloyd commented on #422
I'm on it.

[2017-04-27 15:16] codyloyd commented on #413
@sdg123 have you made any progress on this yet?

[2017-04-27 15:20] codyloyd commented on #437
@adachiu the spacing between the badges is flexible based on the browser resolution... would you like it fixed?  Also, how would you like the layout to break down on smaller screens?

(tagging @eating247 so she sees the convo...)

[2017-04-27 15:24] sdg123 commented on #413
Hey, I haven't.
Busy with school work, if anyone else wants to pick it up, feel free to do so.
I'll continue contributing from May 8th.

[2017-04-27 15:30] codyloyd commented on #413
alright... I'll do it.

[2017-04-27 15:31] adachiu commented on #437
There would need to be media queries for the badge spacing. The mobile mock
up is going up to zeplin today.

On Thu, Apr 27, 2017 at 8:20 AM Cody Loyd <notifications@github.com> wrote:

[2017-04-27 15:40] codyloyd commented on #437
good news about the mobile mockup 💃

[2017-04-27 20:37] codyloyd commented on #422
done

[2017-04-27 20:37] #422 closed

[2017-04-27 20:37] codyloyd commented on #413
done

[2017-04-27 20:37] #413 closed

[2017-04-28 01:31] codyloyd opened #446 "Redesign: Settings Page"
This task is to implement the design for user settings page and to add in-place editing feature for updating the user profile.

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] Check out our [styleguide](https://staging-odin-project.herokuapp.com/styleguide)
- [ ] When you are submitting your pull reque

[2017-04-28 01:33] codyloyd commented on #446
I intend to do this one.. but want to do something else first, so I decided to go ahead and create an issue in case anyone else wants to jump in on it, and also for a place to put some notes.

[2017-04-28 01:35] codyloyd commented on #446
This idea was mentioned by Arun, and I think it's a fine idea.

https://github.com/bernat/best_in_place

I might give some thought to implementing it myself without jQuery... but there isn't a ton of reason not to just use that gem.

[2017-04-28 01:38] codyloyd commented on #446
@KevinMulhern, @arun1595, what's the backend for this page?  Is there already a controller/route for it?

[2017-04-28 06:14] adachiu commented on #437
@eating247 There are some updates reflected on the home page desktop view to match the mobile view. I'm closing this issue, and will add new issues to address the updates.

[2017-04-28 06:15] #437 closed

[2017-04-28 06:49] eating247 commented on #437
Got it!

On Fri, Apr 28, 2017 at 2:15 AM, Ada Chiu <notifications@github.com> wrote:

[2017-04-28 06:50] adachiu commented on #437
Keep an eye out for the upcoming issues! I'm creating them now. Thanks!

On Thu, Apr 27, 2017 at 11:49 PM Tingting Wang <notifications@github.com>
wrote:

[2017-04-28 07:21] adachiu opened #447 "Redesign: Mobile view Footer"
This task includes creating a media query for the footer in mobile view (320px width). Comment your email to get access to the Zeplin file for full design details https://zpl.io/14dBXX

**Please refer to the Zeplin file's details for spacing between objects.**

This is the footer in desktop view (1440px width)
<img width="1142" alt="screen shot 2017-04-28 at 12 09 29 am" src="https://cloud.githubu

[2017-04-28 07:33] adachiu opened #448 "Redesign: Mobile view Success Stories (Home page)"
This task involves creating mobile media queries (320px width) for the `Success Stories` section on the home page. Also, limit the `success stories posts` to 2 only for the mobile view. This is because we don't want the scrolling to be too long on mobile.

Comment your email to get access to the Zeplin file for full design details https://zpl.io/14dBXX
**Please refer to the Zeplin file's details f

[2017-04-28 07:40] KevinMulhern commented on #446
I believe this page is generated by devise, Here it is on live https://www.theodinproject.com/users/edit

I think the controller for this page needs to be generated for us to customize it, let me look getting the backend for it sorted out over the weekend.

[2017-04-28 07:49] adachiu opened #449 "Redesign: Mobile view Courses (Home page)"
This task involves creating mobile media queries (320px width) for the `Courses` section on the home page.

Comment your email to get access to the Zeplin file for full design details https://zpl.io/14dBXX
**Please refer to the Zeplin file's details for _spacing, sizing and typography_!!!!** 😄

This is the 📱  mobile view you'll be creating:

<img width="160" alt="screen shot 2017-04-28 at 12 35 48

[2017-04-28 08:02] adachiu opened #450 "Redesign: Courses section on Home page"
This task involves updating the `Courses` section on the home page (1440px width).

Comment your email to get access to the Zeplin file for full design details https://zpl.io/14j8Nn
**Please refer to the Zeplin file's design details for _assets, spacing, sizing and typography_!!!!** 👍

<img width="719" alt="screen shot 2017-04-28 at 12 43 06 am" src="https://cloud.githubusercontent.com/assets/1341

[2017-04-28 08:11] adachiu opened #451 "Redesign: Clean up How It Works section on Home page"
This task involves cleaning/updating the spacing and typography sizing for the `How It Works` section on the home page (1440px width media query).

Comment your email to get access to the Zeplin file for full design details https://zpl.io/14j8Nn
**Please refer to the Zeplin file's details for _spacing, sizing and typography_!!!!** 🔍

<img width="1077" alt="screen shot 2017-04-28 at 1 05 28 am" src

[2017-04-28 08:15] adachiu opened #452 "Redesign: Mobile view How It Works (Home page)"
This task involves creating mobile media queries (320px width) for the `How It Works` section on the home page.

Comment your email to get access to the Zeplin file for full design details https://zpl.io/14dBXX
**Please refer to the Zeplin file's details for _spacing, sizing and typography_!!!!** 🔍

This is the 📱  mobile view you'll be creating:

<img width="240" alt="screen shot 2017-04-28 at 1 1

[2017-04-28 08:26] adachiu opened #453 "Redesign: Mobile view Sign Up section (Home page)"
This task involves creating/updating mobile media queries (320px width) for the `sign up` section on the home page.

Comment your email to get access to the Zeplin file for full design details https://zpl.io/14dBXX
**Please refer to the Zeplin file's details for _spacing, sizing and typography_!!!!** 🔍

This is the 📱  mobile view you'll be creating:

<img width="320" alt="screen shot 2017-04-28 at

[2017-04-28 08:34] adachiu opened #454 "Redesign: Update the Odin logo on every page"
This task is to update the Odin logo on every page of the site.

Comment your email to get access to the Zeplin file to get the Odin logo asset https://zpl.io/14j8Nn

The logo with the ✨  **golden helmet** ✨  is the updated one to use.
<img width="975" alt="screen shot 2017-04-28 at 1 31 08 am" src="https://cloud.githubusercontent.com/assets/13413986/25520860/630e106c-2bb2-11e7-97f7-287720cefb09.p

[2017-04-28 08:56] adachiu opened #455 "Redesign: Mobile view Navigation Bar"
This task involves creating the mobile media queries (320px width) for the navigation bar. The navbar will stick to the top of the viewport.

Comment your email to get access to the Zeplin file for full design details https://zpl.io/14dBXX
Please refer to the Zeplin file's details for spacing, sizing and typography!!!! 🔍

This is the 📱 mobile view you'll be creating for the nav bar:

<img width="3

[2017-04-28 09:05] adachiu opened #456 "Redesign: Mobile view navigation bar drop down menu"
This task involves creating the drop down menu for the mobile view navigation bar. A separate issue will be created for the laptop 1440px media query view for this.

Comment your email to get access to the Zeplin file for full design details https://zpl.io/Z1WxUH5
Please refer to the Zeplin file's details for spacing, sizing and typography!!!! 🔍

1. Drop down menu fills the entire viewport

<img w

[2017-04-28 09:46] erencataltepe opened #457 "Wrong URL"
Hi,

I think the url of last additional resource "About.com Agile Development Entry" is wrong.
Section: Web 101 > How Are Websites Actually Built in the Real World?

[2017-04-28 10:18] codyloyd commented on #457
this issue is more appropriate for the curriculum repo https://github.com/TheOdinProject/curriculum/issues

Can you give the broken link, and are you able to find the correct one?

[2017-04-28 10:18] #457 closed

[2017-04-28 10:20] codyloyd commented on #446
ah ok.. yeah devise can generate the controllers/views so that we can do what we like.

[2017-04-28 10:30] erencataltepe commented on #457
I'll, thanks for info

[2017-04-28 12:30] codyloyd commented on #447
on it...
@adachiu do you have any preference for how the footer breaks down on medium sized screens?  How do you feel about the current implementation?

[2017-04-28 13:02] codyloyd commented on #454
💥

[2017-04-28 13:02] #454 closed

[2017-04-28 14:24] codyloyd commented on #447
@adachiu Here's what I've got right now.  3 screenshots are fullscreen, 'tablet view (< 768px)' and 'mobile view (< 480px)'

let me know what you think.
![learn web development for free using ruby on rails the odin project - chromium_006](https://cloud.githubusercontent.com/assets/18574792/25532877/69b39972-2bf4-11e7-897f-44f5775f91b9.png)

![learn web development for free using ruby on rails the

[2017-04-28 16:09] codyloyd commented on #455
@adachiu backdrop filter doesn't work in most browsers :(

http://caniuse.com/#feat=css-backdrop-filter

A couple of options are use a box shadow to make it 'fade' like so:
![2_013](https://cloud.githubusercontent.com/assets/18574792/25537185/234b9f02-2c03-11e7-8ac8-2fb4a18a2b09.png)

OR: keep it solid and add a shadow to make it 'layered' above the page not unlike material design (haven't impleme

[2017-04-28 16:30] adachiu commented on #455
Try this:
https://jordanhollinger.com/2014/01/29/css-gaussian-blur-behind-a-translucent-box/

Last alternative:
Solid with shadow. This change will affect the other issue that's about the
drop down menu too.

On Fri, Apr 28, 2017 at 9:09 AM Cody Loyd <notifications@github.com> wrote:

[2017-04-28 16:33] adachiu commented on #447
I have a mock up and will add to Zeplin for you. I was originally going to
add another issue for it, but I'll add that here since you're already doing
it. Expect it later today.

On Fri, Apr 28, 2017 at 7:24 AM Cody Loyd <notifications@github.com> wrote:

[2017-04-28 16:41] codyloyd commented on #455
ah.. the trick in that link only works for static backgrounds :(

I'm gonna do a little more research, but fall back to solid with shadow if I don't find anything.

[2017-04-28 18:22] arun1595 commented on #450
I am working on this.

[2017-04-28 18:25] codyloyd commented on #450
@arun1595 you might as well claim #449 as well and do it all at once.

[2017-04-28 18:27] arun1595 commented on #449
I am on it.

[2017-04-28 20:48] codyloyd commented on #456
working on this

[2017-04-29 11:40] codyloyd commented on #455
done!

[2017-04-29 11:40] #455 closed

[2017-04-29 11:40] #452 closed

[2017-04-29 11:41] #451 closed

[2017-04-29 11:43] #453 closed

[2017-04-29 14:10] #456 closed

[2017-04-30 04:31] adachiu opened #467 "Redesign: Global H1 consistency"
This task is to make the global H1 (36px into REMS) titles for each page.

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] When you are submitting your pull request for this task please ensure the base branch you want to merge into is the redesign branch

[2017-04-30 04:45] adachiu opened #468 "Home page copy update"
This task involves updating the copy “Stop wasting time...  Here's what you need to know.” in the homepage.
The current copy is too vague and we'll need to be a bit more specific about what The Odin Project is.

We could emphasize:
- Open Source
- Curriculum for Front-End, Back-End, and Full-Stack
- Job-ready portfolio

Tagging @KevinMulhern to continue discussion.

### Working on this task

- [ ]

[2017-04-30 05:59] adachiu opened #469 "Redesign: Navbar logo size and spacing media queries"
This task involves updating the media queries for the navbar.

1. Logo size 67 x 87 px at media query 1024px width screen and up
2. `.logo-text` needs to be aligned horizontally with the logo and menu bar in all media query views. It's currently slightly off.
3. Media query `.navbar` padding:
- 320 px width screen: `padding: 0 20px;`
- 768 px width screen: `padding: 0 33px;` (The menu icon needs t

[2017-04-30 06:03] adachiu opened #470 "Update blog link"
Make the `Blog` link in footer to open in a new tab.

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] When you are submitting your pull request for this task please ensure the base branch you want to merge into is the redesign branch

[2017-04-30 06:05] adachiu opened #471 "Content for Success Stories"
Get content for success stories. @KevinMulhern

[2017-04-30 06:56] adachiu opened #472 "Redesign: How It Works section (Home page)"
Update the How It Works section on the home page.

1. Change `.how-it-works-title` `margin-bottom` to  70px
2. `.how-it-works` have `padding-top: 100px;` for screen widths 1024px and up
3. Reword the text under "How It Works" title so that the paragraph's last line doesn't have only 2 words. It looks very unbalanced right now.
4.  Remove `min-height` from `.how-it-works-tiles`
5. The sub titles “L

[2017-04-30 07:28] adachiu opened #473 "Redesign: Favicon"
This task is to update the favicon (use the social avatar png).

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] When you are submitting your pull request for this task please ensure the base branch you want to merge into is the redesign branch

[2017-04-30 08:16] adachiu commented on #447
@codyloyd Is the logo horizontally aligned with the logo text? It looks like a couple px off.

Here's the tablet mock up. We don't need the logo at the bottom for this view since the navbar is fixed. https://zpl.io/Z1pmHap

[2017-04-30 08:23] adachiu opened #474 "Redesign: Success Stories section (Home page)"
Tasks for the Success Stories section on the home page include the following:

`.success-stories-title` padding-top to 70px

Mobile view of  “Success Stories”
- Move avatar to above the name
 - Center alignment for avatar, name and text.
- Bold the name
- Limit mobile view stories to show only 2 stories.

### Working on this task

- [ ] If you want to work on this task, please claim it by commenti

[2017-04-30 08:26] adachiu opened #475 "Typography classes"
Investigate using classes for typography based on https://zpl.io/ZQIHmt

Use media queries for mobile typography. (Not too many need media queries. Mostly just H1 and H2) @KevinMulhern

[2017-04-30 12:57] codyloyd commented on #469
on it

[2017-04-30 13:51] KevinMulhern opened #477 "Change odin logo in contact section of about page to provided gif"
This task is to replace the Odin-logo image in the contact section of the [about page](https://staging-odin-project.herokuapp.com/about) with the `odin-wink.gif` which can be found under the assets for the about page.

This is the section in question:
<img width="1102" alt="screen shot 2017-04-30 at 14 48 02" src="https://cloud.githubusercontent.com/assets/7963776/25564882/6c81e0b6-2db4-11e7-9562-

[2017-04-30 14:38] codyloyd commented on #447
awesome.  Will get this done this afternoon.

[2017-04-30 14:40] codyloyd commented on #475
this is a good idea... I've been considering doing it, but was too lazy.  Should be easy enough.  Kev: when you get it done we should put up new issues to convert existing pages to those classes.

[2017-04-30 17:11] Toughee commented on #473
Hello. I can help with this issue.  Would you like the image to look like this?

![transparent](https://cloud.githubusercontent.com/assets/21093554/25566423/347bf43a-2d8d-11e7-9504-c7cd9953e8df.png)

[2017-04-30 17:31] KevinMulhern commented on #473
thats the old logo @Toughee, this is the new one. it may need resized for the favicon format
![image](https://cloud.githubusercontent.com/assets/7963776/25566563/29ac1df0-2dd3-11e7-92aa-7493e6bbe752.png)

[2017-04-30 18:17] codyloyd commented on #477
I don't see the gif in zeplin... am I missing something, or has it not been added yet?

[2017-04-30 18:23] codyloyd commented on #469
@adachiu The alignment of the logo text looks ok to me... which makes me wonder if there's some browser compatibility issue going on here (maybe it looks good on my machine, but nowhere else lol).  If that's not the case then we just have different opinions on the correct alignment, and I'm more than happy to adjust it however you like.

Can you screenshot the error and let me know if you want the

[2017-04-30 18:26] adachiu commented on #473
@Toughee Here you go! I used https://realfavicongenerator.net to create this:
[favicons.zip](https://github.com/TheOdinProject/theodinproject/files/966893/favicons.zip)

Instructions:
<img width="1147" alt="screen shot 2017-04-30 at 11 24 45 am" src="https://cloud.githubusercontent.com/assets/13413986/25566900/bed43d5e-2d97-11e7-8bd6-7ec785946fa1.png">

[code]

[2017-04-30 18:38] KevinMulhern commented on #477
I've added it to the app in the redesign branch, it should be under `assets/images/about_page/odin-wink.gif`

[2017-04-30 19:30] KevinMulhern opened #478 "Create a component for the bottom cta"
This task involves creating a rails partial for the bottom cta section that is on most pages.

[2017-04-30 19:31] KevinMulhern commented on #478
I'm currently working on this one

[2017-04-30 19:33] KevinMulhern opened #479 "Content for the history of Odin on the about page"
This needs byte sized text for the history of Odin. I will post the content in here soon.

[2017-04-30 21:56] codyloyd commented on #469
nevermind... I saw it.  I was looking at the wrong thing.  Should be fixed in the latest PR

[2017-04-30 22:02] adachiu commented on #469
@codyloyd
Just make sure the top and bottom spacing are even 😄
To illustrate what I mean:
<img width="651" alt="screen shot 2017-04-30 at 2 55 59 pm" src="https://cloud.githubusercontent.com/assets/13413986/25568346/8e4e45bc-2db5-11e7-96b2-c26be03bc187.png">

[2017-04-30 22:14] adachiu opened #482 "Redesign: Hero background gradient (Home page)"
- Merge isometric image and H1 title into hero div
- Apply background gradient into hero div and increase the opacity a bit (it is currently too light to tell)

https://zpl.io/14j8Nn (Comment your email address to access Zeplin mock up)
The following gradient values are taken from the Zeplin file.
[code]

### Working on this task

- [ ] If you want to work on this task, please claim it by commenti

[2017-04-30 22:32] adachiu opened #483 "Redesign: Clean up layout (Curriculum page)"
Tagging @arun1595 because you're already working on adding the background

- Remove text under Curriculum title
- Add background to bottom of page
- Badge padding to match course-card padding (currently badge is bleeding through course-card padding
- Add padding (10px) between card title and lesson number
- Remove subtitle for course cards

[2017-05-01 02:54] codyloyd commented on #482
the gradient is already there and has no opacity.. but I think the reason it is hard to tell is because the area that is covered by the gradient is too long, so the shift is too gradual I think I can make it look nicer by moving the color stops.. I'll work on it and post a screenshot or two

[2017-05-01 03:00] codyloyd commented on #482
it's subtle.. but I think it's better.  I just moved the 'transition point' a bit higher.
![1_020](https://cloud.githubusercontent.com/assets/18574792/25570964/f47b3fcc-2def-11e7-8111-f73b8f654e84.png)

original for comparison:
![1_021](https://cloud.githubusercontent.com/assets/18574792/25570974/19da880e-2df0-11e7-83d6-e86d2d418c64.png)

let me know what you think.  I can tweak further if you lik

[2017-05-01 11:26] KevinMulhern commented on #482
It looks way better to me @codyloyd 😄 LGTM 👍

[2017-05-01 12:28] codyloyd commented on #482
cool I'll do the PR then

[2017-05-01 12:35] codyloyd commented on #469
fixes were merged.  Closing the issue

[2017-05-01 12:35] #469 closed

[2017-05-01 12:35] #447 closed

[2017-05-01 13:12] codyloyd commented on #477
Cool?
![1_024](https://cloud.githubusercontent.com/assets/18574792/25580300/8651911c-2e45-11e7-916c-0704012e1d81.png)

![1_025](https://cloud.githubusercontent.com/assets/18574792/25580306/96c9930a-2e45-11e7-9b86-7763d4a8a072.png)

![1_026](https://cloud.githubusercontent.com/assets/18574792/25580338/da5bb364-2e45-11e7-900e-ef81f7938cba.png)

[2017-05-01 14:07] KevinMulhern commented on #477
LGTM 👍
Paging @adachiu 😄

[2017-05-01 14:20] #482 closed

[2017-05-01 15:37] KevinMulhern commented on #472
👍 LGTM

[2017-05-01 15:44] #470 closed

[2017-05-01 16:01] adachiu commented on #477
@codyloyd @KevinMulhern Let's have the grey chat box removed so the text is just on white background. It should look cleaner 😄
Everything else is 👌

[2017-05-01 16:05] KevinMulhern opened #490 "Redesign: Create a card class that can be used for all cards"
Currently there are some inconsistencies with the cards in different pages, creating one card class that can be applied all cards on the site would be beneficial.

The card styles on the [curriculum page](https://staging-odin-project.herokuapp.com/courses?ref=homenav) are what all cards should look like. Whoever picks this up should use those styles for this new generic card class. Don't forget ab

[2017-05-01 16:15] KevinMulhern opened #491 "Redesign: Contributing page tweaks"
- Remove the instructions and notes text under the cards

**Why you Should get Involved section**
- Change “Why you should get involved” to “Benefits of Contributing” and section needs background color (light grey)
- Add padding between SVG and the text 30px, and padding between title and text 20px

**Hall of Fame section**
- Mobile view: Reduce margin for “Hall of Fame” bottom text

---

- [ ] If

[2017-05-01 16:18] codyloyd commented on #477
do you mean only on smaller screens or in every context?

On Mon, May 1, 2017 at 11:01 AM, Ada Chiu <notifications@github.com> wrote:

[2017-05-01 16:20] adachiu commented on #477
Every context @codyloyd

[2017-05-01 17:14] codyloyd commented on #477
I like it.
![learn web development for free using ruby on rails the odin project - chromium_028](https://cloud.githubusercontent.com/assets/18574792/25586998/a372e044-2e67-11e7-87d5-506f520bcae8.png)

![1_029](https://cloud.githubusercontent.com/assets/18574792/25587015/b4c5a0ac-2e67-11e7-998a-702caadbe028.png)

[2017-05-01 18:01] KevinMulhern commented on #477
😍

[2017-05-01 18:58] adachiu commented on #477
Same! But add some padding! 👍

Desktop view: more padding between gif and text. Also lower the text side (including button) so it's horizontally aligned to the gif.

Mobile view: add padding between gif and text. Center vertical alignment of gif and text.

[2017-05-01 23:22] codyloyd commented on #477
ezpz 🗡

[2017-05-01 23:41] arun1595 commented on #477
@codyloyd Looks awesome :tada:

[2017-05-02 10:34] #472 closed

[2017-05-02 10:57] codyloyd commented on #477
hows that?
![3_030](https://cloud.githubusercontent.com/assets/18574792/25615327/27cbe3d8-2efc-11e7-8224-38ec1db83ae4.png)

[2017-05-02 15:55] codyloyd commented on #474
except for padding the title this is a duplicate issue (#448).. I'll close this one as I have already fixed teh title

[2017-05-02 15:55] #474 closed

[2017-05-02 22:10] #477 closed

[2017-05-03 04:40] adachiu opened #495 "Redesign: Mobile navigation full height overlay"
The current mobile view menu dropdown covers about 75% of the screen height. This task involves making the mobile view menu dropdown to fill the screen.

Maybe with `height: 100vh;` for mobile view?

Example of full height mobile view menu dropdown: http://talklife.co/

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] When you a

[2017-05-03 07:10] #376 closed

[2017-05-03 07:10] #377 closed

[2017-05-03 07:11] #378 closed

[2017-05-03 07:11] #380 closed

[2017-05-03 07:14] arun1595 commented on #407
@105ron How is the login page coming along? :wink:

[2017-05-03 08:00] #372 closed

[2017-05-03 10:50] codyloyd commented on #467
merged... closing issue

[2017-05-03 10:50] #467 closed

[2017-05-03 10:52] codyloyd commented on #448
merged: closing

[2017-05-03 10:52] #448 closed

[2017-05-03 10:52] codyloyd commented on #449
nice work @arun1595: closing issue.

[2017-05-03 10:52] #449 closed

[2017-05-03 10:53] #450 closed

[2017-05-03 13:24] codyloyd commented on #495
working on this... trying to sort out an inconsistency with the way that `100vh` works.  Not sure what the issue is... but sometimes it overflows the screen.   If I set it to something smaller than 100vh it looks good on some screens, but on other's it's not long enough.

I tried another method to fill the screen, but that broke the animations.   If anyone has any ideas, that would be great, other

[2017-05-03 14:41] codyloyd commented on #495
got it~ 🌮

[2017-05-03 16:04] codyloyd commented on #446
@KevinMulhern did you generate the controller/view?

If not.. or if you aren't working on it I can go ahead and do so.

[2017-05-03 16:05] aneta-bielska commented on #490
Hi. Can I grab this one?

[2017-05-03 16:07] arun1595 commented on #490
@aneta-bielska It is yours. Let us know if you have any questions in the [Contributing](https://gitter.im/TheOdinProject/Contributing) channel

[2017-05-03 16:07] codyloyd commented on #490
go for it 😸
hit us up in the chatroom if you need help getting set up

[2017-05-03 16:38] KevinMulhern commented on #446
Hi @codyloyd I didn't 🙈 I've been super busy with work stuff. Its all yours 😄

[2017-05-03 16:49] codyloyd commented on #446
cool
I'll try to break stuff this afternoon.

[2017-05-03 16:53] #495 closed

[2017-05-03 17:04] codyloyd commented on #473
@Toughee hows it going on this?

[2017-05-03 19:24] codyloyd commented on #446
it's looking like I'm not going to have to do this... seems like it's been done... but we'll see.  I'm still poking around trying to get a feel for were all the pieces are.

[2017-05-03 20:21] Toughee commented on #473
It's done. I had to remove the transparancy for the image. I also added more favicons for iOS.

They're all in the public folder. Was thinking about putting them all in one folder, but I wasn't sure if you wanted that  (Image sourcing issues could have happened).

[2017-05-03 22:14] KevinMulhern commented on #473
Thank for the very extremely thorough job @Toughee 😄
Your contribution to this project is very much appreciated.

[2017-05-03 22:14] #473 closed

[2017-05-04 00:32] KevinMulhern commented on #408
Hey @iansowinski, haven't heard anything from you. Are you still working on this one?

[2017-05-04 02:34] codyloyd opened #500 "fix turbolinks issue for navbar logo"
After navigating away from the homepage the logo no longer transitions.  I strongly suspect it's a turbolinks issue.

Should be an easy fix.

[2017-05-04 07:54] adachiu commented on #483
@arun1595 I've updated this mock up to reflect the rest of the design review notes for this curriculum page https://zpl.io/G5zhP

- Removed right column (Learn and Projects). Added CTA button to link to course
- Sizing of card is resized
- Card shadow updated
- Refer to spacing on Zeplin

[2017-05-04 09:59] KevinMulhern commented on #483
@adachiu that looks lit :fire

[2017-05-04 10:28] #500 closed

[2017-05-04 12:08] #406 closed

[2017-05-04 15:50] codyloyd commented on #446
@KevinMulhern @arun1595 I've got the design of the page more or less done.. and now I need to figure out what's going on in the back.

I've already got the easy stuff like username and email editable.

how are we going to implement the 'learning goals' and 'notification settings'?  I suppose the goal can just be another column in the DB, but I don't know about notifications.

[2017-05-04 16:02] KevinMulhern commented on #446
I would leave notifications out for now, There will potentially be a lot of emails sent out with that feature. We would need to have a background worker set up to handle all of that traffic to make sure the performance of the main site doesn't suffer. I think this is something best tackled after the redesign 😄

As for the learning goals, yeah you can create a couple of new columns for those. We al

[2017-05-04 16:05] codyloyd commented on #446
aha nice.

[2017-05-04 22:36] KevinMulhern opened #505 "Redesign: Bug with full screen dropdown when scrolling on mobile"
Tested and identified on an iphone6

To replicate open the full screen drop down on the navbar and scroll, the menu items will resize, the bottom login option sometimes vanishes too.

If you need any more information please tag me in the comments 😄

[2017-05-04 22:38] KevinMulhern opened #506 "Redesign: Bug with floating gitter chat window"
The button icons at the top of the window are un-clickable and the menu items on the navbar are overlaying the window.

This problem seems to be caused by the z-index of the navbar.

**Screen shot of the top of the window**
<img width="661" alt="screen shot 2017-05-04 at 23 40 22" src="https://cloud.githubusercontent.com/assets/7963776/25727781/13db90de-3123-11e7-9ccf-84b41c768aa2.png">

[2017-05-05 06:31] lehcsirk commented on #491
I would like to work on this task.

[2017-05-05 10:31] codyloyd commented on #505
the staging server does not have the latest navbar code... I'm not positive it'll fix the problem, but could you go ahead and deploy it again when you get a chance?

[2017-05-05 10:37] codyloyd commented on #506
fixed

[2017-05-05 10:38] #506 closed

[2017-05-05 12:13] KevinMulhern commented on #505
👍 No problem

[2017-05-05 12:16] KevinMulhern commented on #491
Its all yours @lehcsirk 😄, let us know if you have any questions

[2017-05-05 12:41] codyloyd commented on #505
ok.. as it is now, the problem still exists, but it is less of an actual problem because it's not hiding one of the menu options, so it feels less glitchy.  The issue arises because the window height changes when you scroll in a mobile browser.  I am going to try to make the dropdown overflow the height a little bit.. I think that may fix the error.

if not it's gonna take some deeper thinking 🗡

[2017-05-05 13:08] codyloyd commented on #505
I'm not sure this can be fixed with plain CSS.  I have a hack in mind where we use JS to throw a plain white div up under the menu when it's invoked, but I'm not super sure how well it'll work.

[2017-05-05 15:42] KevinMulhern commented on #505
No problem @codyloyd, it functions a lot better now 😄
The menu items look a bit close together but thats less of a problem than the one before as you said. Thanks for looking into this man.

[2017-05-07 16:07] arun1595 commented on #483
Closed by https://github.com/TheOdinProject/theodinproject/pull/508

[2017-05-07 16:07] #483 closed

[2017-05-07 19:09] KevinMulhern commented on #408
Hey @iansowinski, sorry because I haven't heard from you in the past two weeks I have to assume this is not going to be done 😞 . I'm going to close the issue and create a new one so it can be picked up by someone else.

[2017-05-07 19:09] #408 closed

[2017-05-07 19:10] KevinMulhern opened #509 "Redesign: Lesson page"
This task is to implement a redesigned lesson page as shown in the mock up images below. For reference this is our current lesson page http://www.theodinproject.com/courses/ruby-on-rails/lessons/sinatra-basics

**Important**
Please ignore the solutions component at the bottom of the mock up. We will create another issue for implementing that feature when we merge in the backend work for it in the

[2017-05-07 19:29] KevinMulhern opened #510 "Redesign: Dashboard"
This task is to implement a dashboard page as shown in the mock up images below. You can use the users show controller action and view for this page.

**Important**
Please ignore the solutions component at the bottom of the mock up. We will create another issue for implementing that feature when we merge in the backend work for it in the next few weeks.

### Working on this task

- [ ] If you want

[2017-05-07 19:33] arun1595 commented on #510
I'm working on this.

[2017-05-08 13:16] codyloyd commented on #510
I was using the users show controller and view for the user settings page..........

[2017-05-08 21:59] faraazahmad opened #512 "Add option to sign-up/sign-in through a Google account"
There's hardly any person to find without a Google account. Also, most newcomers may not have a Github account already. Signing-up the old fashioned way is mundane. So, if there was a way to sign-up using a Google account, it would arguably be the path of least resistance, and hence more people will actually sign-up.

There's a ruby gem for authentication with Google. [This](https://github.com/goo

[2017-05-08 22:41] codyloyd commented on #512
this is a good idea and would be relatively simple to implement.  I approve.

if we're in agreement here then @adachiu will want to build in the google sign in button to the mockups....

[2017-05-09 10:40] codyloyd commented on #446
@adachiu I'm making progress and have had to deviate from the mockup a bit.  The password settings require 3 inputs as in the following screenshot, as such, I thought it best to put them on their own card.

Shall I continue this way?  How do you want me to style it?

![1_034](https://cloud.githubusercontent.com/assets/18574792/25847048/0b2c3fec-347a-11e7-8747-425b103ea26a.png)

[2017-05-10 08:17] #490 closed

[2017-05-10 10:30] faraazahmad commented on #407
Is a Google button also needed?
 [#512](https://github.com/TheOdinProject/theodinproject/issues/512)

[2017-05-10 10:56] KevinMulhern commented on #407
That can be added later @faraazahmad 😄

[2017-05-10 11:16] faraazahmad commented on #407
Sure 😅

[2017-05-10 18:17] adachiu commented on #512
That's a nice to have @faraazahmad ! We'll need to finish with our main priorities first, but we'll definitely get back to this.

[2017-05-10 18:18] arun1595 commented on #512
Agree with @adachiu.

@faraazahmad Thanks!

[2017-05-10 20:11] faraazahmad commented on #512
Great👍

[2017-05-11 00:40] codyloyd commented on #505
OK.... I've been working on this for an hour with no luck. I think it is legitimately a browser bug 😢

could be wrong (this is often the case!)

[2017-05-11 07:12] KevinMulhern commented on #505
👍 no worries, thanks for looking into it Cody 😄 its a really weird bug. I'll ask a friend about this, he has probably encountered it before.

[2017-05-11 14:25] codyloyd commented on #379
do we still need this issue?

[2017-05-11 19:33] adachiu commented on #379
Probably not since we are having a full page for viewing all submissions to a lesson.

[2017-05-11 21:37] KevinMulhern commented on #379
👍 I'll get the backend done for it and put an issue up for the front end styling

[2017-05-11 21:42] KevinMulhern commented on #475
@codyloyd since you seem to be looking for issues to close 😛 do you want to take this one? I haven't started it yet and I'm sure you'll do a better job than me with it 😄.

[2017-05-11 21:43] #397 closed

[2017-05-11 21:46] KevinMulhern commented on #468
If anyone has any ideas for this please post them in here 😄

[2017-05-11 22:13] codyloyd commented on #475
lol I'll look at it tomorrow

[2017-05-11 22:15] codyloyd commented on #468
"I am ODIN you can trust me."

https://www.lingscars.com/

[2017-05-11 22:24] KevinMulhern commented on #468
😂 perfect 🚗

[2017-05-12 09:03] KevinMulhern commented on #446
We can go over this page in the next review with @adachiu 😄

[2017-05-12 09:03] #446 closed

[2017-05-13 10:26] KevinMulhern opened #519 "Redesign: Create a user avatar and drop down on the navbar for logged in users"
When a user is logged in the right hand side of the nav links should contain a clickable user avatar. When the avatar is clicked it should display a drop down menu as shown in the screen shot below.

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] Check out our [styleguide](https://staging-odin-project

[2017-05-14 14:52] codyloyd commented on #475
I propose that if we convert the rest of the pages to using the typography classes we should get rid of the 'global' styling for headings... just make them all default to the normal 'body' styling (16px normal weight etc.)  Then whoever is styling can use whatever text element is semantically appropriate in the context (i.e. h1 for big titles, h2 for subheaders etc.)

[2017-05-14 20:54] KevinMulhern commented on #475
My concern is if we need specific classes for the heading styles, people working on the site will need to know about them. I think that might lead to some confusion with new people working on the site.

I think a part of the problem with inconsistencies with the headings on the site was all the different people working on different pages and implementing their own styles.

 We could maybe do a cle

[2017-05-14 21:18] codyloyd commented on #475
Well... That was something else I had considered... But people would still have to know which heading tag to use, and would still end up doing their own styles.  I was thinking that my proposal would be easier to keep track of and look up (because they're all in the "typography" file) but I could be all wrong. Maybe we just need some clear documentation for whatever we choose.

[2017-05-14 21:30] adachiu commented on #475
I think Cody has a good point about keeping classes in typography file. If
we ever needed to change something, we could go into typography to fix it
all. This would be more organized and efficient for future contributors.

There's just a few invidual instances for mobile media queries on some
typography classes (Kevin, one example is the "em" sizing for FAQ mobile
view)

Thoughts?

On Sun, May 14,

[2017-05-14 23:09] KevinMulhern commented on #475
Sounds good 👍 I'm happy to proceed with the typography classes. Lets :shipit:

[2017-05-14 23:24] KevinMulhern commented on #475
Sorry just had another thought 🙈 if we had the typography all under a commented typography section in the global stylesheet would that make it easier to look up?

I'm thinking from a development perspective, having to add a class to a heading tag adds an extra unexpected step and bloats the html a bit more than necessary imo. I think you're right @codyloyd it needs clear documentation. This is som

[2017-05-14 23:30] codyloyd commented on #475
I'll document it on the style guide.

[2017-05-14 23:33] adachiu commented on #475
Clear documentation and commented typography section in global style sheet
makes sense to avoid HTML bloat. 😆Speed matters. I trust your expert
analysis of this 😄

On Sun, May 14, 2017 at 4:24 PM Kevin Mulhern <notifications@github.com>
wrote:

[2017-05-15 10:30] codyloyd commented on #475
alright.. I got a plan then.

I'll make the h_n_ tags uniform like the normal font-weight and color seen here: https://zpl.io/ZQIHmt
then I'll make a few classes to get the 'bold' font and/or change the color.

Then I'll document it all on the styleguide page.  Let's see if I can get that done today 🗡

[2017-05-15 12:45] #478 closed

[2017-05-15 12:46] KevinMulhern commented on #491
Hey @lehcsirk, did you get a chance to work on this?

[2017-05-15 12:51] KevinMulhern commented on #471
I need to come up with a few questions to ask Odin alumni and reach out to the ones I know.

I'm putting this one off until other hight priority items are done.

[2017-05-15 15:53] codyloyd commented on #475
:tada:

[2017-05-15 15:53] #475 closed

[2017-05-15 16:00] #407 closed

[2017-05-17 21:59] KevinMulhern opened #521 "Redesign: Contribution page tweaks"
- Remove the instructions and notes text under the cards

**Why you Should get Involved section**
- Change “Why you should get involved” to “Benefits of Contributing” and section needs background color (light grey)
- Add padding between SVG and the text 30px, and padding between title and text 20px

**Hall of Fame section**
- Mobile view: Reduce margin for “Hall of Fame” bottom text

---

- [x] If

[2017-05-17 22:00] KevinMulhern commented on #491
Two weeks of no communication for such a small ticket, I have to assume this has been abandoned. Please do not pick things up if you do not intend to work on them @lehcsirk. Someone else could have done this in the mean time.

[2017-05-17 22:00] #491 closed

[2017-05-17 22:38] KevinMulhern opened #522 "Redesign: Backend for the all submissions page"
This includes setting up the controllers and route for a page that will display all of the project submissions for a lesson.

[2017-05-17 22:38] KevinMulhern commented on #522
I'm working on this

[2017-05-17 22:42] mindovermiles262 commented on #521
I can do this

[2017-05-17 22:44] KevinMulhern commented on #521
Thanks @mindovermiles262, its all yours 😄 if you have any questions, don't hesitate to let us know.

[2017-05-18 17:49] ifiguer commented on #509
I'd like to help with this

[2017-05-18 20:15] KevinMulhern commented on #509
Hi @ifiguer, its all yours. If you have any questions about it, please don't hesitate to let us know 😄

[2017-05-19 04:29] mindovermiles262 commented on #521
There is a gradient that starts at "Why You Should Get Involved" that runs through "Got Questions?"

[2017-05-19 10:05] KevinMulhern commented on #521
Hey @mindovermiles262, yeah its pretty much the same as the about page. Heres a screen shot of the mock up. Sorry I should have included this in the description
![contribution](https://cloud.githubusercontent.com/assets/7963776/26243244/123f0984-3c83-11e7-9e58-9b92dc133ba8.png)

[2017-05-19 16:00] mindovermiles262 commented on #521
#523

[2017-05-19 20:41] SalMac86 commented on #519
I'll work on this.

[2017-05-19 21:07] arun1595 commented on #519
@SalMac86 It is yours. Let us know if you need any help with the issue. Thanks!

[2017-05-19 21:08] arun1595 commented on #519
@KevinMulhern

How about displaying the dropdown on hovering the avatar?

[2017-05-20 04:41] adachiu commented on #519
@arun1595 That is a good idea. Hover to display the dropdown under avatar.

[2017-05-20 05:20] SalMac86 commented on #519
I'll look at both. Are there any known cases of hover failing where a
contingency click would be advisable?

On May 19, 2017 9:41 PM, "Ada Chiu" <notifications@github.com> wrote:

@arun1595 <https://github.com/arun1595> That is a good idea. Hover to
display the dropdown under avatar.

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://gith

[2017-05-20 14:59] KevinMulhern commented on #519
@SalMac86 yeah on mobile 😄, it will have to be a click to make it work on touch screens. Thank you for picking this one up.

[2017-05-20 18:34] KevinMulhern opened #525 "Redesign: all submissions page"
This task is to implement an all projects submissions for a project page as shown in the mock up images below.

**Important**
* Please ignore the pagination at the bottom of the page, just display all submissions in the list on one page. We will be implementing lazy loading later.

* The backend needs to be implemented for the vote functionality. Just hard code a vote count for now.

### Working o

[2017-05-20 18:36] KevinMulhern opened #526 "Redesign: Sign Up page"
This task is to implement a redesigned sign up page as shown in the mock up images below.

**Important**
Please ignore the solutions component at the bottom of the mock up. We will create another issue for implementing that feature when we merge in the backend work for it in the next few weeks.

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
-

[2017-05-20 18:36] KevinMulhern commented on #526
@105ron is working on this

[2017-05-21 03:32] adachiu opened #529 "Redesign: Add badge for Web Development 101 on Curriculum page"
This task is to update the badge for the "Web Development 101" card on the curriculum page.

[badge-webdev101.svg.zip](https://github.com/TheOdinProject/theodinproject/files/1016618/badge-webdev101.svg.zip)

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] Check out our [styleguide](https://staging-odin

[2017-05-21 03:48] 105ron commented on #529
I'll do this @adachiu.

[2017-05-21 19:56] codyloyd commented on #529
nice work Rhys.

closing the issue

[2017-05-21 19:56] #529 closed

[2017-05-21 21:32] #522 closed

[2017-05-21 21:53] brianhays opened #533 "README.md links to 404 page"
Line 13 of the README currently links to a 404 page

Details:
The link in the following sends you to https://github.com/TheOdinProject/theodinproject/blob/master/theodinproject.com (instead of theodinproject.com)

[2017-05-21 22:05] brianhays commented on #533
submitted PR to fix the link

[2017-05-21 22:07] codyloyd commented on #533
thanks! 🎉

[2017-05-22 16:05] #533 closed

[2017-05-22 16:05] #526 closed

[2017-05-22 16:13] KevinMulhern opened #538 "Redesign: Backend for voting on projects"
This will include the controller actions and routes for voting on projects.

[2017-05-22 16:13] KevinMulhern commented on #538
I'm working on this

[2017-05-22 16:15] codyloyd commented on #538
🎉

[2017-05-22 16:28] codyloyd commented on #525
on it.

[2017-05-22 19:33] codyloyd opened #539 "Create 'Contributors' file"
Edit the CONTRIBUTORS.md file to include the names of all significant contributors to the project listed in categories (Ruby on Rails, main site backend, etc. etc. etc.)

The file itself is being created in a separate PR, what we need is for someone to fill it out.

Do we have any criteria for making the contribution list?  How are we going to maintain it?

[2017-05-22 20:51] KevinMulhern commented on #539
I suppose the best criteria for now is any past and present mods as well as outside contributors who helped significantly. Maintaining it shouldn't be too difficult. There will probably be a few names to go it every so often.

[2017-05-22 23:58] ifiguer commented on #509
How should the headers be styled. I'm asking because all headers look the same in the mockup but actual lessons have h1, h2, h3 and so on.

[2017-05-23 07:58] KevinMulhern commented on #509
Hi @ifiguer, good question 😄

The lesson content is using all different types of headings. We will need to go through them all and make them consistent.

Using the mock up as an example:

The course name "Ruby on Rails" should be a h1
The lesson name "Sinatra Basics" should be a h2
all the headings within the lessons should be h3's eg "overview", "Points to Ponder etc"

[2017-05-23 08:01] KevinMulhern commented on #509
I'll change [this lesson](https://www.theodinproject.com/courses/web-development-101/lessons/how-does-the-web-work) today to follow that format to give you a lesson to work with.

I'll comment again when thats done.

[2017-05-23 12:27] KevinMulhern opened #542 "Rethink Terms of service"
Currently we require the user to click a terms of service checkbox when they sign up. This is fine with normal email and password sign up but gets complicated when the user signs up with github omniauth. To get around this at the moment we redirect the user to an extra verification page when they sign up using github. This is a convoluted and not a very user friendly experience though.

After doin

[2017-05-23 12:28] KevinMulhern commented on #542
@adachiu @codyloyd @arun1595 @105ron do you guys have any thoughts on this?

[2017-05-23 12:45] codyloyd commented on #542
I think that sounds like a good solution.

[2017-05-23 12:48] codyloyd commented on #539
this is the file: https://github.com/TheOdinProject/theodinproject/blob/redesign/CONTRIBUTORS.md

[2017-05-23 19:35] KevinMulhern commented on #509
Hi @ifiguer, I updated that lesson 😄 you just need to run the curriculum update rake task to pull in the latest changes for the lesson content for it to display on your local machine. Let me know if you need anything else.

[2017-05-24 17:11] KevinMulhern opened #545 "Redesign: Update the course descriptions"
This task is to update the descriptions of the courses on the [course index page](https://staging-odin-project.herokuapp.com/courses?ref=homenav)

The descriptions are currently quite long winded and don't look very good on mobile. It would be better if the descriptions were shorter, ideally limited to 2 - 3 lines.

The descriptions are in the `db/seed.rb` file so will need to be updated from ther

[2017-05-24 17:18] KevinMulhern opened #546 "Redesign: Success stories tweaks"
There are a bunch of small issues with the [success stories page](https://staging-odin-project.herokuapp.com/success_stories), this task is to fix them:

* Remove completed course text from the success stories card
* Bold the persons name in the success stories card
* Include job title beside name, not bold
* 10px for margin bottom for the name section
* On Mobile view, avatar at top and centered

[2017-05-24 17:26] KevinMulhern opened #547 "Redesign: Course page improvment"
This task is to update the sections on the [course show page](https://staging-odin-project.herokuapp.com/courses/web-development-101) to use the `card-main` css class we use on all other pages that contain cards on the site.

### Working on this task

- [x] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] Check out our [styleguide](ht

[2017-05-24 17:41] KevinMulhern opened #548 "Redesign: Make flash messages visible again"
Currently on the sign up page and sign in page the flash messages are invisible. This makes working with them a pain.

This task is to make them visible again, if you inspect the page after trying to sign up/in you can see they are there. I suspect that they just need styling.

We haven't designed how these will look with the new aesthetics of the site so style them in what ever way you think is b

[2017-05-24 17:45] KevinMulhern opened #549 "Redesign: Help us come up with a new slogan for the home page"
Under the heading on the homepage we have the following text:

"Stop wasting time...  Here's what you need to know."

This is a bit 💩 so we want to replace it with something better. If you have any ideas on what we should replace it with, please comment it below 😄.

Please also vote on the comment you like best by reacting to it with a 👍

For a bit more context here is a screen shot of that sectio

[2017-05-24 17:51] KevinMulhern opened #550 "Redesign: Add a link to the terms of use page in the footer menu"
This task is to add a link to the [terms page](https://www.theodinproject.com/tou) on the footer menu.

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] When you are submitting your pull request for this task please ensure the base branch you want to merge into is the redesign branch

This is the menu o

[2017-05-24 18:03] lqze commented on #550
No problem, will take.

[2017-05-24 19:10] darienh commented on #546
I would like to work on this!

[2017-05-24 19:43] tomasvn commented on #549
Together with the Mighty Odin you will conquer the world of Web Developement.
The Mighty Odin will guide down on the path of Web Developement.

[2017-05-24 20:53] lqze commented on #550
Submitted pull request

[2017-05-24 21:07] RobPando commented on #505
@codyloyd did you try giving the body a overflow hidden when dropdown menu is open? not sure what the problem is I don't see it, the only thing I see is that the page scrolls when the menu is open, which in my opinion shouldn't happen. Cant work on this since I dont know what wrong. Maybe this was fixed @KevinMulhern ?, but it might get fixed by preventing scroll when dropdown is open.

[2017-05-24 21:53] KevinMulhern commented on #550
Thanks @lqze 😄

[2017-05-24 21:53] #550 closed

[2017-05-24 21:54] KevinMulhern commented on #546
Its all yours @darienh, thank you for helping us.

[2017-05-24 22:09] Demo318 commented on #549
Looking at this issue, I consider it's a spot to place TOP's Value Proposition - though briefly.

To the uninitiated, a value proposition is a statement that summarizes: 1) How your service is a fit for what the client wants to do, 2) how it adds value to what they want to do (adds gains), 3) how it makes what they're doing easier (alleviates pains).

As a user, I would say that TOP 1) Provides a

[2017-05-24 22:14] hd719 commented on #548
Hello @KevinMulhern can I work on this?

[2017-05-24 22:15] Demo318 commented on #545
Hi Kevin,

I'd like to take this on.

[2017-05-24 22:15] KevinMulhern commented on #548
Hi @hd719, its all yours man 😄 thank you for helping us.

[2017-05-24 22:23] KevinMulhern commented on #545
@Demo318 its all yours man 😄 thank you so much for helping us.

[2017-05-24 22:25] KevinMulhern commented on #549
Thank you guys 😄

[2017-05-24 22:38] KevinMulhern commented on #547
@darienh is working on this 🎉

[2017-05-24 22:57] hd719 commented on #548
Hey @KevinMulhern is it okay if I name this branch fix/Redesign-Flash-Messages?

-Thank you.

[2017-05-24 23:01] KevinMulhern opened #553 "Redesign: Remove path text from the homepage"
Currently we have text on the courses section of the [homepage](https://staging-odin-project.herokuapp.com/) which implies we have different learning paths to choose from. We will eventually have different learning paths, but not right now.

This task is to do the following:
* Change the title from **"Choose to learn from a path"** to **"Learn everything you need to know to become a web developer"

[2017-05-24 23:04] KevinMulhern commented on #548
Hey @hd719, yeah thats great branch naming right there 😄

You should be able to fork either or and switch to the redesign branch if your on master.

[2017-05-24 23:04] hd719 commented on #548
@KevinMulhern Yeah I think I got it

[code]

[2017-05-24 23:08] KevinMulhern commented on #548
No problem @hd719, thanks 👍

[2017-05-24 23:13] KevinMulhern opened #554 "Redesign: Styling remember me checkbox on the sign in page"
This task is to style the remember me checkbox on the [sign in page](https://staging-odin-project.herokuapp.com/login?ref=homenav) of the site so it looks like the checkbox in the mock up below.

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] Check out our [styleguide](https://staging-odin-project.her

[2017-05-24 23:34] KevinMulhern opened #555 "Redesign: Tweak styling on the sign up and sign in pages input boxes"
There are a couple of minor styling tweaks we need to do to the [sign up](https://staging-odin-project.herokuapp.com/sign_up?ref=homenav) and [sign in](https://staging-odin-project.herokuapp.com/login?ref=homenav) pages

Tasks:
* Change the color of the h1 to the same color as the rest of h1's on the site
* Remove the space between "Log" and "in" in the h1
* Increase the font size in the input box

[2017-05-24 23:48] KevinMulhern opened #556 "Redesign: Make the course cards on the curriculum page clickable"
To make the [curriculum page](https://staging-odin-project.herokuapp.com/courses?ref=homenav) a bit more user friendly we want to make clicking anywhere on a course card take the user to the course that card represents.

Task:
* Wrap each course card in a link that will take the user to the specific course for that card when clicked.

### Working on this task

- [x] If you want to work on this tas

[2017-05-24 23:56] KevinMulhern commented on #505
@RobPando it hasn't been fixed yet. You can see it best when you view the staging site on a mobile device.

The nav items lose the spacing between them when you scroll.

[2017-05-25 00:00] codyloyd commented on #505
Only if the browser is showing its bottom toolbar as well...

[2017-05-25 00:17] #379 closed

[2017-05-25 00:17] #468 closed

[2017-05-25 00:18] #539 closed

[2017-05-25 00:20] davidchappy commented on #549
The Odin Community is currently answering a few questions to help understand our typical site visitor. This will not only help shape our tagline but also provide valuable information for any further content changes or additions:
1. What caused you to be interested in TOP?
2. If you came to web dev from another field, what was it that motivated you to make that change?
3. What about TOP helps you m

[2017-05-25 02:14] cheukyin699 commented on #553
I'll do this @KevinMulhern

[2017-05-25 04:42] ayushkamadji commented on #554
Hi Kevin, I'd like to take this

[2017-05-25 08:32] mlendale commented on #556
Hi,
Is it ok that I take this one ?

[2017-05-25 09:30] KevinMulhern commented on #556
Hi @mlendale Its all yours 😄, thanks for helping us.

[2017-05-25 09:33] KevinMulhern commented on #554
Hi @ayushkamadji its all yours, thanks for helping us 😄

[2017-05-25 09:34] KevinMulhern commented on #553
Thanks @cheukyin699 😄

[2017-05-25 09:57] mlendale commented on #556
Just to be sure. When you say everywhere, you mean title and description right?

[2017-05-25 10:18] KevinMulhern commented on #556
@mlendale yeah, wrapping the entire card in a link tag should do the trick.

[2017-05-25 10:23] mlendale commented on #556
@KevinMulhern hmm actually, it doesn't. When doing that, only the title is. But, I'll find a workaround.

[2017-05-25 12:30] KevinMulhern commented on #556
It doesn't work with wrapping the card in a link? thats strange.

Just to clarify when the user hovers over any part of a course card it should be clickable and redirect them to the specific course page when they click it.

[2017-05-25 13:03] mlendale commented on #556
It works great without an inner anchor. But here there is the 'Open course' button.

[2017-05-25 13:14] KevinMulhern commented on #556
ah, of course 😄 thats whats messing with it.

Ok, lets scale this back a bit in that case. Lets just make the title on the card clickable for now.

[2017-05-25 13:18] mlendale commented on #556
Oh ok. Otherwise, I have just switched the inner anchor to a "fake button" with a span element...

[2017-05-25 13:21] KevinMulhern commented on #556
We might get rid of the button some time in the near future, we need to talk about this with @adachiu our designer to see if clicking on the title of the card is more intuitive to users.

For now, I think its best to keep the button there as it was and just make the title a link.

[2017-05-25 13:23] mlendale commented on #556
ok!

[2017-05-25 19:39] mysteryihs commented on #556
I managed to make the the title, button, and text clickable, but not the entire card. Do you think that's enough?

[2017-05-25 20:30] KevinMulhern commented on #556
Hi @mysteryihs, @mlendale has already submitted a PR which has been merged for this. Thanks anyway though 😄

[2017-05-25 20:30] KevinMulhern commented on #556
Solved with https://github.com/TheOdinProject/theodinproject/pull/559

[2017-05-25 20:31] #556 closed

[2017-05-25 21:21] KevinMulhern commented on #505
@RobPando That doesn't look like its fixed it :(

Heres how I am recreating it using an iphone 6s on chrome:

1. Go to the staging site
2. open the nav bar
3. scroll up and down

The nav items seem to loose the spacing between them and a gap appears at the bottom of the screen where you can see the page under the menu being scrolled through.

It works better on safari ios, the gap is still there b

[2017-05-26 03:09] Demo318 commented on #545
Hi @KevinMulhern I've submitted a PR with these updates. #560

[2017-05-26 06:52] RobPando commented on #505
@KevinMulhern I see now... the dropdown items also breaks completely when you put the phone on landscape, Ill look into it later. I didn't see that before, but at least that right whitespace is not there anymore. 😅

[2017-05-26 15:36] KevinMulhern commented on #509
Hi @ifiguer, any updates on this? sorry I really don't mean to put pressure on you. But this page is blocking several other things at the moment. Thats why it has been labeled with priority.

[2017-05-26 15:37] KevinMulhern commented on #519
Hi @SalMac86, just checking in 😄 have you made any progress on this one?

[2017-05-26 15:39] KevinMulhern commented on #553
Thank you for completing this @cheukyin699 🎉

[2017-05-26 15:39] #553 closed

[2017-05-26 19:02] SalMac86 commented on #519
So far, I've been focused on getting my device environment up and running.
I'm using Google Cloud Platform, at least trying to!

I was able to make a P.o.C. work locally, just need to get all the moving
pieces working in concert!

On May 26, 2017 8:37 AM, "Kevin Mulhern" <notifications@github.com> wrote:

[2017-05-26 22:24] ifiguer commented on #509
Yeah, sorry, didn't mean to take so long. Thanks for the reminder. I just made the pull request. One thing that is missing is the navigation on the left... I can keep trying but I don't think I'm getting anywhere, maybe someone else wants to give it a shot?

[2017-05-27 19:29] KevinMulhern commented on #554
Thanks for your work on this @ayushkamadji 🎉

[2017-05-27 19:29] #554 closed

[2017-05-27 19:30] KevinMulhern commented on #545
Thanks for all your work on this @Demo318 🎉

[2017-05-27 19:30] #545 closed

[2017-05-27 19:42] theXodus commented on #555
I would like to work on this please!

[2017-05-27 20:22] KevinMulhern commented on #555
Hey @theXodus, its all yours 😄 thank you for helping us.

[2017-05-28 07:38] Alastair7 commented on #549
Ideas :
Let us enhance the creativity inside you
We'll help you develop web applications with your very own Idea
Let us build websites that's Smarter, Creative and Craft an experience for you
Let us be the origin off your innovative journey.

[2017-05-29 00:21] #510 closed

[2017-05-29 00:21] #509 closed

[2017-05-29 00:22] #521 closed

[2017-05-29 04:17] mindovermiles262 commented on #549
Are you still taking feedback in your google doc?

[2017-05-29 12:36] davidchappy commented on #549
Absolutely. I was waiting to see if anyone had any other input before posting some of the suggested tagline. Please share!

[2017-05-30 18:05] Demo318 commented on #549
Does anyone have any interest to posting multiple tag lines?

If there were 10-15 good ones, either have them rotate based on a time frame or even use a random-number generator to pick one to show on page load?

Just a thought. I've seen it on other websites.

[2017-05-30 22:39] arun1595 opened #567 "Redesign: Signup CTA button should only be displayed if the user is not logged in"
Currently the Sign up CTA button is showed even if a user is logged in. There's another signup CTA at the bottom of the homepage. This task is aimed at displaying the CTAs only if a guest user is viewing the page.

![image](https://cloud.githubusercontent.com/assets/7039523/26607921/6c5ac2fa-45b6-11e7-9538-7e3d4da886a0.png)

### Working on this task

- [ ] If you want to work on this task, please

[2017-05-31 07:22] KevinMulhern commented on #546
Hey @darienh, just doing a weekly checkin. How are you getting on with this?

[2017-05-31 07:22] KevinMulhern commented on #547
Hey @darienh, just doing a weekly check in. How are you getting on with this?

[2017-05-31 07:23] KevinMulhern commented on #548
Hey @hd719, just doing a weekly check in. How are you getting on with this?

[2017-05-31 09:44] mysteryihs commented on #567
I'll take this one Arun

[2017-05-31 11:13] arun1595 commented on #567
@mysteryihs It is yours :smile:

[2017-05-31 12:11] hd719 commented on #548
Hey @KevinMulhern I am doing fine I'll be creating a PR for you to check later this week.

-Thank you.

[2017-05-31 12:14] KevinMulhern commented on #548
No problem, thanks 😄

[2017-05-31 20:37] Devimir commented on #549
Here's a couple I thought of.

Free Code Sorcery for the masses.

It's magic(it's code).

The code gods have spoken.

Move mountains with code.

Be a whiz too.

[2017-06-01 07:29] KevinMulhern opened #573 "Redesign: vertical alignment of course badge content on home page"
When on the [home page](https://staging-odin-project.herokuapp.com/) and on a mobile screen size, the course badge and name sit beside each other in the course tiles. Because some of the course names are quite long, this doesn't look right for some of the course tiles. The screen shot below shows this.

The task is to display the course name under the course badge in the course tiles. And to align

[2017-06-01 07:32] KevinMulhern opened #574 "Redesign: Gitter icon on footer takes the user to the wrong gitter room"
The gitter icon on the footer of the site currently takes the user to this gitter room: https://gitter.im/TheOdinProject

It should take the user to this room instead: https://gitter.im/TheOdinProject/theodinproject

This task is to change the url to the correct one.

### Working on this task

- [x] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign

[2017-06-01 12:23] arcanck commented on #574
I want to work on this, please.

[2017-06-01 12:27] davidchappy commented on #549
Here is the (publicly editable) Google Doc with the user research and tagline brainstorming. https://docs.google.com/document/d/1vuimQT7r75n8dgw2N_LD_TDmG50dlPd-8CNzPuPzAoY/edit#

For actual tag line suggestions/submissions (not just brainstorming), use the Suggested Taglines section on the first page. (for example: I have 8-10 lines of brainstorming right now, but only one suggested tagline). I'v

[2017-06-01 12:31] KevinMulhern commented on #574
Sure @arcanck, its all yours 😄 thanks for helping out.

[2017-06-01 12:32] davidchappy commented on #573
I can take this.

[2017-06-01 12:35] KevinMulhern commented on #573
Its all yours @davidchappy, thank you for picking this up 😄

[2017-06-01 14:14] hd719 commented on #548
Hey @KevinMulhern sorry for the bother, but I am having a real hard time finding html for the `Sign Up Page` that is repsonsible for displaying the following errors. If you can point me in the right direction that would be awesome.

`is invalid` and `too short (minimum 6 characters)`

![screen shot 2017-06-01 at 10 12 44 am](https://cloud.githubusercontent.com/assets/20329318/26683808/1167016c-46b

[2017-06-01 16:43] KevinMulhern commented on #548
Hey @hd719, those are generated by simple form. They are a bit out of scope of this ticket thought. I would leave those for now. I'm not even sure if we will be keeping them. We might generate the errors in javascript instead.

Just make the the flash messages which appear above the h1 visible, that will make these pages easier to work with until we design the user interactions and error validatio

[2017-06-01 17:11] KevinMulhern commented on #547
I completed this one https://github.com/TheOdinProject/theodinproject/pull/576

[2017-06-01 17:11] #547 closed

[2017-06-01 17:22] KevinMulhern commented on #546
No communication, So putting this back in for someone else to pick it up 👍

[2017-06-01 17:22] #546 closed

[2017-06-01 17:22] KevinMulhern opened #577 "Redesign: Success stories tweaks"
There are a bunch of small issues with the [success stories page](https://staging-odin-project.herokuapp.com/success_stories), this task is to fix them:

* Remove completed course text from the success stories card
* Bold the persons name in the success stories card
* Include job title beside name, not bold
* 10px for margin bottom for the name section
* On Mobile view, avatar at top and centered

[2017-06-01 20:41] #573 closed

[2017-06-02 00:36] hd719 commented on #548
Hey @KevinMulhern I am sorry for the bother, but for the sign up page I cannot find any flash messages.

I enter in the information that is needed in the forms and click submit, but the only errors that seem to show up are in the errors in the picture (below).

![screen shot 2017-06-01 at 8 35 52 pm](https://cloud.githubusercontent.com/assets/20329318/26706265/f577ffd6-4709-11e7-8110-3ffc52dda435.

[2017-06-02 10:08] KevinMulhern commented on #548
ah yeah I see @hd719, sorry about that I thought there were flash messages on that page as well. Can you just target the error messages and make them red on that page then please?

[2017-06-02 14:49] KevinMulhern commented on #519
Hey @SalMac86, its been another week 😄 so I'm checking in again. Have you made any progress? need any help with anything?

[2017-06-02 14:51] KevinMulhern opened #579 "Redesign: Remove the padding from FAQ accordion"
This task is to remove the 6em of padding from the Accordion on the [faq](https://staging-odin-project.herokuapp.com/faq?ref=homenav) page

### Working on this task

- [x] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] Check out our [styleguide](https://staging-odin-project.herokuapp.com/styleguide)
- [ ] When you are submitting you

[2017-06-02 16:13] okeharlyon commented on #549
Possible ideas

Your Career in Web Development is now
Its time to dive in to the world of Software Engineering

[2017-06-02 16:31] davidchappy commented on #549
Below are some of the best Headline/Subheading taglines submitted - feel free to give some feedback here or in the Google doc linked above.
Notice a couple objectives that we're trying for:
1. Focus on end goal (being a web developer) rather than just learning skills (unlike pretty much all the taglines on other learning websites). This is what most of our users care about.
2. Emphasis on complete

[2017-06-02 17:02] buoyantair commented on #579
I would like to try this, I'm not good at it but it doesn't hurt to try and learn. :)

[2017-06-02 17:16] buoyantair commented on #579
I think I worked it out, https://github.com/TheOdinProject/theodinproject/pull/580

[2017-06-02 17:28] buoyantair commented on #549
Here's by bit

# Build global solutions to global problems
## Lets make a change

[2017-06-02 17:36] leosoaivan commented on #577
You know what, I'm gonna jump on this. Worst thing that could happen is I learn something :).

[2017-06-03 06:26] arun1595 commented on #574
Closed via #582

[2017-06-03 06:26] #574 closed

[2017-06-04 07:25] arun1595 commented on #579
Fixed in #584

[2017-06-04 07:25] #579 closed

[2017-06-04 16:10] #567 closed

[2017-06-04 16:34] #538 closed

[2017-06-04 16:35] KevinMulhern commented on #555
Hey @theXodus, just doing a check in 😄
how have you been getting on with this? do you need any help with anything?

[2017-06-04 17:35] theXodus commented on #555
My bad, I recently got a job and haven't been able to work on anything... you can take me off this since I won't have the time to complete. Sorry about that.

[2017-06-04 17:35] KevinMulhern commented on #555
No problem, thanks for letting us know

[2017-06-04 20:56] arcanck commented on #555
Hi!
I want to work on it.

[2017-06-04 20:58] arun1595 commented on #555
@arcanck It is yours. Thanks for picking it up :smile:

[2017-06-05 01:40] leosoaivan commented on #577
For the mobile view, are we looking to have the elements stack vertically within each card?

[2017-06-05 02:04] KevinMulhern commented on #577
Yeah I think so @leosoaivan

[2017-06-05 02:26] leosoaivan commented on #577
I'm messing around Bootstrap for the stacking. Another question, though:

What does that refer to?

[2017-06-05 07:27] KevinMulhern commented on #577
These success stories will probably mostly come from people who have gotten jobs after Odin. so where the name is no, we will have something like this:

[2017-06-05 22:11] hd719 commented on #548
Hey @KevinMulhern just an update I will be aiming to fix this issue by this week, sorry for the delay.

-Thank you.

[2017-06-06 10:02] KevinMulhern opened #588 "Redesign: Help us come up with a new slogan for the home page"
Under the heading on the homepage we have the following text:

"Stop wasting time...  Here's what you need to know."

This is a bit 💩 so we want to replace it with something better. @davidchappy has spent sometime putting a few together. These are are in the comments below. Please vote on the heading you like best by reacting to it with a 👍

[2017-06-06 12:19] davidchappy commented on #588
Headline: Become a Web Developer for Free
Subheading: Join the world's only open source full stack training program.

[2017-06-06 12:19] davidchappy commented on #588
Headline: Want to Become a Web Developer?
Subheading: This is your complete free path for learning all you need to know.

[2017-06-06 12:19] davidchappy commented on #588
Headline: Ready to Become a Web Developer?
Subheading: Our free curriculum gives you a complete learning path. Our open source community will help you complete it.

[2017-06-06 12:19] davidchappy commented on #588
Headline: Your Career in Web Development is now (OR "starts here")
Subheading: Our full stack curriculum is free and supported by a passionate open source community. What are you waiting for?

[2017-06-06 12:30] #549 closed

[2017-06-06 12:51] UnkyKong commented on #588
Headline: Ready to Become a Web Developer?
Subheading: Our free curriculum gives you a complete learning path. Our open source community will help you complete it.👍🏻

[2017-06-06 13:02] davidchappy commented on #588
@UnkyKong thanks for the vote! Can you react with a thumbs up on my comment above instead of adding a new comment? Thanks.

[2017-06-06 19:51] KevinMulhern commented on #548
No worries @hd719, thanks for the update 😄

[2017-06-06 19:52] KevinMulhern commented on #519
Putting this in for help wanted again.

[2017-06-06 19:52] #519 closed

[2017-06-06 19:55] KevinMulhern opened #590 "Redesign: Create a user avatar and drop down on the navbar for logged in users"
When a user is logged in the right hand side of the nav links should contain a clickable user avatar. When the avatar is clicked it should display a drop down menu as shown in the screen shot below.

**Important**
This isn't a beginner issue, only pick it up if you think you can do it please.

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [

[2017-06-06 20:30] #588 closed

[2017-06-06 20:39] KevinMulhern opened #592 "Redesign: Remove text from course page"
This small task is to remove the text "Lessons" from the [course page](https://staging-odin-project.herokuapp.com/courses/web-development-101). This text is located right above the first section card in the course page as shown in the screenshot below.

### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] C

[2017-06-06 20:49] 105ron commented on #542
I missed this. Sounds like a good plan...

[2017-06-06 21:14] arcanck commented on #592
Hi!
I want to work on it.

[2017-06-07 07:21] #592 closed

[2017-06-07 07:21] #577 closed

[2017-06-07 07:21] #555 closed

[2017-06-07 08:04] 105ron commented on #590
Has PR? 😶

[2017-06-07 08:54] hosghf commented on #588
don't wast your time, become a fullstack web developer for free.

[2017-06-07 09:13] KevinMulhern commented on #590
I removed that label lol, I selected by accident 🙈

[2017-06-07 10:24] 105ron commented on #590
I could take this if no one else wants it. Is the mobile version any different?

[2017-06-07 17:53] KevinMulhern commented on #590
We haven't really designed the mobile version yet, this is something we will have to bring up at the next review. For now lets collapse the items in the drop down into the mobile drop down when its on mobile.

[2017-06-07 17:53] KevinMulhern commented on #590
Thanks for taking this one on @105ron 🎉

[2017-06-07 18:18] KevinMulhern opened #594 "Redesign: Add contact email to the contact us section of the about page"
This task is to add the following to the text in the contact us section on the [about page](https://staging-odin-project.herokuapp.com/about?ref=homenav)

This is what the text should look like when you're finished with this issue:
"Connect with our friendly community on gitter, a chat and networking platform or send us an email contact@theodinproject.com"

### Working on this task

- [ ] If you w

[2017-06-07 18:28] KevinMulhern opened #595 "Redesign: FAQ page tweaks"
This task is to change the text and remove some unneeded elements from the FAQ accordion on our [FAQ page](https://staging-odin-project.herokuapp.com/faq?ref=homenav)

Tasks
* Remove the first paragraph on the "What technologies does The Odin Project teach?" accordion item. The paragraph about the Intro to Web Development course.
* Change the last sentence of the "Is The Odin Project free" accordi

[2017-06-07 18:36] KevinMulhern opened #596 "Redesign: Add a terms of use link above the sign up buttons"
We need to protect ourselves by ensuring that users are aware that we have a standard terms of use that they agree to by signing up to the site.

This task is to add the following text above the sign up buttons on our [sign up page](https://staging-odin-project.herokuapp.com/sign_up?ref=homenav)

"By signing up, you agree to our terms of use"

Make this text a link to our terms of use page https:/

[2017-06-07 19:21] Rena-Ryumae commented on #594
Hi, @KevinMulhern

I have never been a part of an open source project before and I would like to get involved!

Can I take this??
Thanks!

[2017-06-07 19:42] KevinMulhern commented on #594
Hey @Rena-Ryumae, its all yours 😄 thank you for helping us.

[2017-06-07 23:15] arcanck commented on #596
I want to work on it.

[2017-06-08 04:43] mysteryihs commented on #595
Hey Kevin, I'll take this one, thanks!

[2017-06-08 07:28] KevinMulhern commented on #595
Thanks @mysteryihs 😄

[2017-06-08 07:29] KevinMulhern commented on #596
Its all yours @arcanck, thank you 😄

[2017-06-08 12:31] codyloyd commented on #595
@KevinMulhern I didn't look to see if @mysteryihs's PR finished off this issue, so I'll leave you to close it if it did.

[2017-06-10 09:39] #596 closed

[2017-06-10 09:39] #595 closed

[2017-06-11 06:44] #542 closed

[2017-06-13 06:46] #590 closed

[2017-06-14 16:46] KevinMulhern commented on #548
I think we should let someone else pick this up @hd719, thanks for your interest anyway.

[2017-06-14 16:50] #548 closed

[2017-06-14 17:23] hd719 commented on #548
Hey sorry for the delay, but I am almost finished with this.

[2017-06-14 21:03] KevinMulhern commented on #548
Sorry @hd719, its already been done. Working with the auth pages was getting unbearable in development without them. We couldn't wait any longer.

[2017-06-14 21:05] KevinMulhern commented on #594
Hey @Rena-Ryumae, just checking in 😄 how are you getting on with this? need any help?

[2017-06-17 17:43] #471 closed

[2017-06-18 11:10] KevinMulhern commented on #594
:|

[2017-06-18 11:36] KevinMulhern commented on #594
This has been done https://github.com/TheOdinProject/theodinproject/pull/609

Thanks for replying @Rena-Ryumae :|

[2017-06-18 11:36] #594 closed

[2017-06-29 17:45] davidchappy commented on #505
@KevinMulhern I'm working on this. Looks like at least part of the issue is [using 100vh in iOS](https://stackoverflow.com/questions/37112218/css3-100vh-not-constant-in-mobile-browser)

[2017-06-29 17:52] KevinMulhern opened #615 "Redesign: change styles of dropdown menu on avatar of logged in users"
This task is to change the styles of the dropdown menu that appears when you click the users avatar in the navbar.

Currently it is using the default bootstrap styles, we would like it to look like the cards we use throughout the site. See [the course cards on the curriculum page](https://staging-odin-project.herokuapp.com/courses?ref=homenav) for an idea of what the drop down should look like.

T

[2017-06-29 17:58] KevinMulhern opened #616 "Redesign: Terms of use page tweaks"
There are a couple of finishing touches we need to make to the [terms of use page](https://staging-odin-project.herokuapp.com/terms_of_use) on the site

* Apply `color: $primary;` to all headings on the site
* Remove the `StaticPagesController` class from the top level div and replace it with the `gradient` class instead.

### Working on this task

- [ ] If you want to work on this task, please cl

[2017-06-29 18:04] KevinMulhern opened #617 "Redesign: Dashboard tweaks"
Tweaks for the dashboard page, you need to be logged in to access the page. You will be redirected to it as soon as you login.

Tasks include:

* Change the avatar on the page to use the same one thats in the avatar on the navbar
* Make the avatar a circle
* Make the users name go on the line below "welcome back"
* Link to the settings page instead of displaying "Not specified" when a user doesn't

[2017-06-29 18:34] mindovermiles262 commented on #616
I got this

[2017-06-29 18:39] KevinMulhern commented on #616
Thanks @mindovermiles262 😄

[2017-06-29 22:16] davidchappy commented on #505
Just submitted a PR for this.

[Here's a working version](https://limitless-headland-70035.herokuapp.com/home) you can check out.

[2017-07-02 22:27] #525 closed

[2017-07-02 22:28] #505 closed

[2017-07-03 01:03] KevinMulhern opened #622 "Redesign : Settings page tweaks"
Tasks include

- alignment for name and email address
- Text colors and sizes
- Delete my account - red color
- add edit icon for each card
- Old password at the top of password section
- Remove the text below the input boxes for password section

[2017-07-03 01:03] KevinMulhern commented on #622
I'm working on this

[2017-07-03 04:33] renziver commented on #617
I want to work on this issue

[2017-07-03 11:22] arun1595 commented on #617
@renziver Cool, it is all yours. Thanks for taking up the issue :smile:

[2017-07-03 12:00] KevinMulhern opened #623 "Student Project Submission Feature: Seeds for fake projects in development and staging"
Create some fake projects in the seeds to make working with this feature easier on development and staging.

[2017-07-03 12:01] KevinMulhern opened #624 "Student Project Submission Feature: Add project component on the lesson page"
Component for adding a students project

[2017-07-03 12:04] KevinMulhern opened #625 "Redesign: Mock ups for request password and set new password pages"
Request password page https://www.theodinproject.com/users/password/new
New password page
<img width="1345" alt="image" src="https://user-images.githubusercontent.com/7963776/27792112-1cb3680c-5ff0-11e7-88d2-822227e5a5bc.png">

[2017-07-03 23:30] jcgalbano commented on #615
Greetings! Dibs on this issue. I'll start working on it asap

[2017-07-03 23:39] renziver commented on #617
<img width="1263" alt="screen shot 2017-07-04 at 7 27 03 am" src="https://user-images.githubusercontent.com/13497174/27810361-d302f032-608b-11e7-89a8-3e15b14d8a7a.png">

can anyone help me out why am I getting these errors whenever I click a link on the different steps in short courses?

[2017-07-04 09:28] KevinMulhern commented on #617
Hi @renziver, the lesson content needs to be imported from git.

1. First you have the set up a github api token, thats described [here](https://github.com/TheOdinProject/theodinproject/wiki/Linux-Installation-Guide) under the section titled "Get a Github API Token"

2. Next you have to import the lesson content with this command from your command line `rake curriculum:update_content`

[2017-07-04 09:29] KevinMulhern commented on #615
Thanks @jcgalbano, looking forward to your pull request 😄

[2017-07-05 00:57] jcgalbano commented on #615
Hello I would just like to hear your opinion about this before i make a pull request. Is this all right? Or did I misunderstood/overlooked something?

<img width="397" alt="screen shot 2017-07-05 at 8 55 48 am" src="https://user-images.githubusercontent.com/15366277/27845235-cf0c6d58-615f-11e7-9b9a-1d7a8fea8ea2.png">

[2017-07-05 07:15] CouchofTomato commented on #615
Hi @jcgalbano,

It'll be easier to review if you create the pull request. You can then commit any further changes afterwards.

[2017-07-05 09:52] KevinMulhern commented on #615
@jcgalbano I agree with @CouchofTomato it would be easier to review with a pull request. From the screen shot you've provided, it doesn't look quite right though. The outer edges of the card should be the same as what we've got for the course cards on [this page](https://staging-odin-project.herokuapp.com/courses?ref=homenav)

[2017-07-05 12:15] #616 closed

[2017-07-06 00:31] jcgalbano commented on #615
I see that's what you meant. I made a recent pull request and changed the outer edges of the dropdown, thanks!

[2017-07-06 12:18] #617 closed

[2017-07-06 14:41] codyloyd opened #629 "Redesign: User dropdown menu is not KB accessible."
see gif:
https://cl.ly/2L2w381f2s1a

:(

[2017-07-06 16:15] #615 closed

[2017-07-09 23:10] #629 closed

[2017-07-18 22:45] #623 closed

[2017-07-19 20:35] KevinMulhern opened #634 "Redesign: Navbar bugs"
There are currently a couple of serious bugs with the mobile navbar.

* The hamburger placement has gone crazy (screen shot from an iphone 6s
* The menu items on landscape mode are all messed up

**Hamburger menu placement messed up**
![2017-07-16 19 46 26](https://user-images.githubusercontent.com/7963776/28388292-27307d6a-6cca-11e7-8cb6-809b67aef0d9.png)

**Landscape mode madness**
![2017-07-19

[2017-07-19 20:41] mindovermiles262 commented on #634
I'll snatch this up and try to figure it out

[2017-07-19 20:41] KevinMulhern commented on #634
Thanks @mindovermiles262 🎉

[2017-07-19 21:08] mindovermiles262 commented on #634
Copy/Paste from July 16 Review Notes

**Navbar**
Remove outlines when clicked
- [x] Remove outline around avatar when clicked. < I think this is a bad idea
- [x] Remove outline on hamburger on mobile < ditto (http://a11yproject.com/posts/never-remove-css-outlines/ ….. https://www.tjvantoll.com/2013/01/28/stop-messing-with-the-browsers-default-focus-outline/)
- [ ] what we CAN do is globally style

[2017-07-20 04:16] mindovermiles262 commented on #634
It appears the Firefox issue is stemming from the following line 22 in app/assets/stylesheets/components/navbar.scss

`background-image: url("data:image/svg+xml;charset=utf8,<svg%20viewBox='0%200%2032%2032'%20xmlns='https://www.w3.org/2000/svg'><path%20stroke='#6abfc3'%20stroke-width='2'%20stroke-linecap='round'%20stroke-miterlimit='10'%20d='M4%208h24M4%2016h24M4%2024h24'/></svg>");`

Disabling th

[2017-07-20 10:03] KevinMulhern commented on #634
@mindovermiles262 after playing around with it on safari, including the vendor prefixes for flexbox in the `navbar` class put the hamburger back in position.

[2017-07-20 10:23] #479 closed

[2017-07-20 10:23] KevinMulhern opened #635 "Redesign: Minimum left to do until we can ship"
This is a stake in the ground so we can keep track of whats the minimum left to do before we can ship the redesign 🎉

### Overview
- [x] Refactor forms to use generic structure and styles, implement password pages, add validations to all forms
- [x] Get the curriculum path to a usable state
- [x] Complete any remaining clean up and mic tasks

---
### Forms
**Misc**
- [x] [Refactor the auth forms c

[2017-07-24 18:48] mindovermiles262 commented on #634
Reference to Previous Navbar PRs
#505 >> #619
#558

[2017-07-25 12:56] davidchappy commented on #634
@mindovermiles262 From our chat to today, while you're working on this, in navbar.js:
1. Please remove the console logs
2. Please refactor function to be called only if user agent is an iOS device.
Feel free to bump back to me if you run out of time!

[2017-07-26 18:21] KevinMulhern commented on #634
@mindovermiles262 I'm going to close this and create another issue for your current work on restructuring the nav.

[2017-07-26 18:21] #634 closed

[2017-07-26 18:25] KevinMulhern opened #642 "Redesign: Restructure the full screen navbar"
We've had to apply a lot of band aids to the full screen nav to fix bugs that have arisen. These have created more unforeseen bugs. We could apply more fixes and make the nav even more complicated. But we are not comfortable having to maintain that kind of code complexity in the nav in the long run.

The Goals of this ticket are as follow:
* Try another approach with implementing the nav that is l

[2017-07-26 18:49] KevinMulhern opened #643 "Redesign: Contributing Page tweaks"
Tweaks for the contributing page:

- [x] Remove last sentence from the intro text: "If you would like to join Odin as a maintainer, please reach out to us."
- [x] Update the view all contributors button to point to list of contributors on github
- [x] Vertically align images in benefit items with the title of the item
- [x] Change hall of fame to a three column grid on mobile
- [x] Fix bug with vi

[2017-07-26 18:56] KevinMulhern opened #644 "Redesign: Login Page Tweaks"
Tweaks for the login page:

* Change login form card column size to 6
* 320px screen size,  put remember me above forgot password and align forgot password right
* Reduce the size of the icons within the input fields on mobile view
* Remove Icon on mobile for github button and fix spacing
* Remove max width on buttons when on tablet view

[2017-07-26 19:13] KevinMulhern opened #645 "Redesign: Success Stories Page Tweaks"
This ticket involves a slight restructuring of the success story cards on the [success stories page](https://staging-odin-project.herokuapp.com/success_stories)

Essentially we now want each card to have two rows, the top row will contain the persons image, name and occupation. The second row will contain the main text of the success story.

To achieve this:

- [x] Divide the card into two rows
-

[2017-07-26 19:42] KevinMulhern opened #646 "Redesign: Dashboard Page Tweaks"
Tweaks for the [dashboard](https://staging-odin-project.herokuapp.com/dashboard)

We want to restructure the profile card at the top of the dashboard page to reduce its height. To do this we will align everything on the profile card horizontally.

- [x] remove the text "Welcome Back"
- [x] horizontally align the users name with the their avatar
- [x] remove the "Learning Goal" title
- [x] horizont

[2017-07-26 19:51] leosoaivan commented on #645
I think I can handle this!

[2017-07-26 19:58] KevinMulhern commented on #645
Thanks @leosoaivan 😄

[2017-07-27 11:28] davidchappy commented on #646
I can do this @KevinMulhern.

[2017-07-27 11:33] KevinMulhern commented on #646
Thanks @davidchappy 🎉

[2017-07-27 13:43] davidchappy commented on #646
You can check the changes here: https://limitless-headland-70035.herokuapp.com/dashboard

[2017-07-27 13:51] KevinMulhern commented on #646
That looks perfect @davidchappy 😍

[2017-07-28 07:28] #646 closed

[2017-07-28 09:25] #512 closed

[2017-07-30 23:47] #643 closed

[2017-07-30 23:50] KevinMulhern opened #656 "Redesign: Google Oauth"
We need to do some more leg work to integrate google oauth fully

**Questions that need answered**
- [x] Find out if @adachiu is happy with the design and color
- [x] Investigate if its worth adding [this functionality](https://github.com/omniauth/omniauth/wiki/Managing-Multiple-Providers) for multiple oauth providers.

Development tasks
- [x] Refactor the omniauth callbacks controller to extract

[2017-07-31 14:59] #622 closed

[2017-08-03 19:00] #642 closed

[2017-08-03 20:32] KevinMulhern opened #661 "Redesign: Overview of the Odin project section for the about page"
We are replacing the "Story of the Odin Project" section on the [about page](https://staging-odin-project.herokuapp.com/about) with a new redesign section shown in the mock up below.

This task is to implement the new section.

---
### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] Check out our [stylegui

[2017-08-03 20:38] KevinMulhern opened #662 "Redesign: Lesson page Nav"
This task is to implement a nav on the [lesson page](https://staging-odin-project.herokuapp.com/courses/web-development-101/lessons/how-this-course-will-work) as shown in the mock ups below.

The nav items should be populated with all the lesson content titles, which are all `h3` elements. You may need to look into making the `h3` titles anchors as well for the nav to work. If you have any trouble

[2017-08-03 20:42] KevinMulhern opened #663 "Redesign: Footer Social Links Hover State"
This task is to implement a black hover state on the social links in the footer as shown in the mock up below.

This will be trivial for most of the icons as they come from font awesome and are therefore a font. The gitter icon on the other hand is an svg as font awesome doesn't have a gitter icon.

Svg's can have hover states which change its color though.

---
### Working on this task

- [x] If

[2017-08-03 20:46] KevinMulhern opened #664 "Redesign: Hover State for User Drop Down in the Navbar"
This task is to implement a black hover state on the links in the user drop down on the navbar as shown in the mock up below. This includes both the text and the icon in each link.

The icons are svgs which makes it a little tricker to apply a hover state on them.

---
### Working on this task

- [x] If you want to work on this task, please claim it by commenting below
- [x] Branch off the redesig

[2017-08-03 20:50] KevinMulhern opened #665 "Redesign: Sign up Page Tweaks"
This is to fix some issues noticed at the last design review:

- [x]  Change google button background to blue: `#4d90fe`
- [x]  Make buttons the same width as the input fields
- [x]  Change to col-10 for medium width screens
- [x]  Margin bottom of 20 between github and google buttons
- [x]  Decrease padding between icon and text on omniauth buttons to 10px
- [x]  Hover state for forgot password l

[2017-08-03 20:51] KevinMulhern opened #666 "Redesign: Settings Page Tweaks"
Tasks include:

- Title margin bottom of 2em
- “Profile” and “Learning Goal” text color to have class .bold .grey
- “Delete my account” smaller - 13px
- Use regular red (#dd4b39) for delete text
- Change input boxes to be the same style as login input fields and the text inside (font)
- Hover color of black on the edit and close button

[2017-08-03 20:51] KevinMulhern commented on #666
I'm working on this

[2017-08-03 20:55] KevinMulhern opened #667 "Redesign: Dashboard tweaks"
This task is to fix some issues raised at the last review:

- Title “dashboard” should be capitalized "Dashboard"
- When the learning goal is too long it is overflowing from the profile card, contain it within the card
- Set a validation on the learning goal in the user model to ensure it doesn't go over 100 characters

---
### Working on this task

- [x] If you want to work on this task, please c

[2017-08-03 20:57] KevinMulhern opened #668 "Redesign: Button tweaks"
This task is to fix some issues raised at the last review with buttons on the site

- The cursor is not changing when you hover over a button, change this to a pointer on a button hover state.
- Convert omniauth buttons on the sign in and sign up page to use button component

---
### Working on this task

- [x] If you want to work on this task, please claim it by commenting below
- [x] Branch off

[2017-08-03 20:59] KevinMulhern opened #669 "Redesign: Course and lesson page tweaks"
Tasks include:

**Course Page**

- [x] % completed rectangle needs to have a lower visual hierarchy - no background, bold text, smaller font size
- [x] Incomplete text to be disabled check icon. Once completed, the disabled check (or box) would be colored green http://fontawesome.io/icon/check-circle/

**Lesson Page**

- [x] Title needs project included in it for project pages
- [x] Removed course

[2017-08-03 20:59] KevinMulhern commented on #669
I'm working on this

[2017-08-03 21:06] KevinMulhern commented on #644
Hey @arun1595, just checkin in 😄 any progress on this one?

[2017-08-03 21:06] KevinMulhern commented on #645
Hey @leosoaivan, just checking in 😄 any updated on this?

[2017-08-03 21:21] mindovermiles262 commented on #668
I can do this

[2017-08-03 21:33] KevinMulhern commented on #668
🎉 Thanks @mindovermiles262

[2017-08-03 22:35] davidchappy commented on #667
I can do this @KevinMulhern.

[2017-08-04 01:38] mindovermiles262 commented on #664
I will cover this one with #668

[2017-08-04 02:36] mindovermiles262 commented on #663
I will complete this one too while I'm at it

[2017-08-04 06:50] #668 closed

[2017-08-04 06:50] KevinMulhern commented on #667
Thanks @davidchappy 😄

[2017-08-04 06:50] #664 closed

[2017-08-04 06:51] #663 closed

[2017-08-04 08:47] KevinMulhern opened #671 "Redesign: Help us find problems with lesson content"
We have a lot of different kinds of lesson content throughout the site, We need help to find problems due to the amount of content we have.

I'm going to use this issue as a catch all for issues with lesson content that exists at the moment. If you find any issues with lesson content can you please comment about them on this issue, please include a screen shot of the problem as well 😄

**Issues to

[2017-08-06 16:53] KevinMulhern opened #675 "Redesign: Sign up Form Validations"
We already have error message that appear when the user submits the form and there are problems with one or more of the fields.

It would be awesome to have more helpful validations on the [sign up form]() though, so users can know if they have made a mistake before submitting the form.

This Task is to add the following validations to the sign up form:

- [ ] username must be a minimum of 4 chara

[2017-08-06 16:55] #665 closed

[2017-08-06 16:55] #644 closed

[2017-08-07 08:38] CouchofTomato commented on #675
Stand back. I got this

[2017-08-07 09:46] #661 closed

[2017-08-08 11:00] #667 closed

[2017-08-08 13:22] KevinMulhern opened #677 "Redesign: Fix Mobile Layout Issues with Overview of TOP Section"
This task is to fix mobile issues with the "Overview of the Odin Project" section of the [about page](https://staging-odin-project.herokuapp.com/about?ref=homenav)

**The stats cards**
On medium width
- [x]  make the first stat card "learners who signed up" full width.
- [x]  align the other two stats cards into two columns under the first stat card

On small width and below
- [x]  1 column for al

[2017-08-08 13:44] KevinMulhern opened #678 "Redesign: Content for the Overview of TOP Section of the About Page"
Tasks include

- [x] Amount of learners signed up
- [x] Amount of contributors to TOP
- [x] Year TOP was Born - 2013
- [x] Content for the origin of TOP
- [x] Content for the Open Source card

[2017-08-08 13:47] KevinMulhern opened #679 "Redesign: Fix javascript error with the user dropdown menu"
If you open the js console on the redesign branch or on [staging](https://staging-odin-project.herokuapp.com/) you will see a js error. This error seems to come from the user dropdown menu not being found when it isn't open.

The task for this issue is to fix this bug.

---
### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the re

[2017-08-09 11:57] KevinMulhern opened #680 "Redesign: Refactor the auth form component to make it more generic."
We will want to use the same form component across the site, removing `auth` from the name of the component will make it more generic.

This task is to refactor the `auth_form` component to use a more generic name and to update the sign in and sign up pages to use this new name for their forms. The classes used in the validations js file will also need to be updated.

[2017-08-09 15:27] #625 closed

[2017-08-10 15:54] CouchofTomato commented on #679
The error comes from the navbar.js file when var userDropdown = document.querySelector('.dropdown') returns null. I had a look and can't find the dropdown selector anywhere. Was it required in a previous iteration of the user dropdown before it was refactored perhaps?

I tried commenting out the offending line and the dropdown still seems to work but just wondered if you had any idea what that dro

[2017-08-10 17:02] KevinMulhern commented on #679
Thanks for taking a look at this one @CouchofTomato, @mindovermiles262 was working in this area recently so he might have a better idea. I'll take a look at it tonight. If you can't find the class after doing a global search for it, it's probably safe to remove though.

[2017-08-10 19:38] KevinMulhern commented on #679
I've had a look at this, its only happening when the user is logged out. The dropdown isn't in the navbar when the user is logged out so it can't find it. I think wrapping the event listeners in a conditional statement to only run when the dropdown is not null should fix it.

[2017-08-10 19:38] #677 closed

[2017-08-10 19:39] #675 closed

[2017-08-10 19:40] #645 closed

[2017-08-11 08:40] CouchofTomato commented on #679
Bah, I should have read this first after debugging the issue this morning.

I've done a fix and will create a pull request

[2017-08-11 14:57] #680 closed

[2017-08-11 14:57] #679 closed

[2017-08-11 19:48] #666 closed

[2017-08-13 16:54] KevinMulhern opened #691 "Redesign: Add Link Omniauth Buttons to Settings Page"
The functionality is already in place for this in the backend, so this will be quick and simple to implement.

We just need to decide where to put it on the settings page.

**Blocked until we talk to @adachiu about this**

[2017-08-13 17:02] KevinMulhern opened #692 "Redesign: Validation On the Forgot Password Page"
Currently when you enter an email address that does not exist in our database on the [forgot password page](https://staging-odin-project.herokuapp.com/users/password) the page will just reload with no error displayed.

We want an error message to display in this scenario. This should be a quick and easy change to implement. We do the same thing on the sign up form, take a look at the view for the

[2017-08-13 17:07] KevinMulhern opened #693 "Redesign: Stop Users being able to Submit a Form if Errors Exist"
A User can still submit a form even if there are errors, this task is to disable the submit button of a form in our `form_validation.js` file if errors exist. We use [validatejs](https://validatejs.org/) for our javascript rendered errors so please check out the documentation for that first as it will probably outline how to do this in there somewhere.

---
### Working on this task

- [ ] If you w

[2017-08-14 00:45] mindovermiles262 commented on #692
I'll work on this

[2017-08-14 00:48] KevinMulhern commented on #692
Thanks @mindovermiles262 🎉

[2017-08-15 09:41] #692 closed

[2017-08-15 21:10] KevinMulhern commented on #662
Hey @arun1595, any progress on this?

[2017-08-15 21:48] CouchofTomato commented on #693
If anyone wants to work on this some good resources are

https://validatejs.org/ for the documentation
https://validatejs.org/examples.html an example of the form in action
https://github.com/ansman/validate.js/blob/master/examples.html the html and javascript (which is inline in the same file) for the example above. It shows how to cancel the submit and the steps you have to go through. It should

[2017-08-17 14:14] arun1595 commented on #662
@KevinMulhern Yeah, I am on it. I'll try to make some progress today. Will keep you posted :smile:

[2017-08-23 06:04] chari407 commented on #693
I am working on this...

[2017-08-23 11:49] KevinMulhern commented on #693
Hi @chari407, a majority of the work was done for this one. Sorry I should have updated this issue.

Theres a problem with the user settings form submitting though, would you like to take a look at that?

[2017-08-23 12:48] chari407 commented on #693
Hi @KevinMulhern , I shall surely get back to you on this. I shall check and will let you know for sure.

[2017-08-23 12:54] KevinMulhern commented on #693
Thanks @chari407 😄

[2017-08-23 14:34] KevinMulhern commented on #693
I'm going to open a new issue for this @CouchofTomato @chari407

[2017-08-23 14:34] #693 closed

[2017-08-23 14:39] KevinMulhern opened #701 "Redesign: Bug with Submitting User Settings Forms"
There is currently a problem on the user settings page when the user tries to submit a form. It redirects to the dashboard without updating the user. This is unexpected behaviour as it should not redirect at all.

This bug arose after [this pull request](https://github.com/TheOdinProject/theodinproject/pull/695) which disables the submit button if errors exist on form.

---
### Working on this tas

[2017-08-23 14:55] mindovermiles262 commented on #701
I can work on this this week

[2017-08-24 20:43] #701 closed

[2017-08-24 21:09] KevinMulhern opened #703 "Add a new FAQ item about certificates"
We are frequently asked if we provide certificates though our contact email. We should add an item to the FAQ explaining that we do not provide certificates, most employers won't be interested in what certificates a candidate has but what they can do and the student will be able to validate what they are able to do with the projects they will complete through out the course.

[2017-08-25 15:30] #669 closed

[2017-08-30 11:27] KevinMulhern opened #707 "Redesign: Style Course Badges"
This is a restyle of the course badges we use on the dashboard and [course](https://staging-odin-project.herokuapp.com/courses?ref=homenav) pages on the site.

1. The first step for this is to implement the new badge style by wrapping a badge in a div and giving it some padding and shadow, as shown in this mock up:

<img width="200" alt="screen shot 2017-08-30 at 12 08 58" src="https://user-images

[2017-08-30 11:31] #691 closed

[2017-08-30 11:48] KevinMulhern opened #708 "Redesign: Lesson buttons Style and Functionality"
This is the final styles we will use for the buttons at the bottom of a lesson page.

- [x] Style and make a component for the bottom buttons
- [x] Implement Different state functionality for the lesson completion button
- [x] Change the next lesson button to cta color if the lesson is completed

**Bottom Buttons Style**
![lesson-detail-5](https://user-images.githubusercontent.com/7963776/29870763

[2017-08-31 16:42] KevinMulhern opened #712 "Redesign: Make the Current Page Active on the Navbar"
This task involves making the link of the current page "active" when applicable. The style of an active link should just be the hover style for navbar links which is changing the color to black. Dont forget about the user dropdown when the user is logged in as well 😄

---
### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the rede

[2017-09-03 14:42] #678 closed

[2017-09-03 22:00] #708 closed

[2017-09-04 06:51] adachiu opened #720 "Redesign: Fix spacing for lesson title and sub title size"
This issue includes fixing the lesson page title

1. class`lesson-header__title accent` to be h3
Currently it is too big on the page: https://staging-odin-project.herokuapp.com/courses/web-development-101/lessons/gearing-up

2. Spacing between title and sub-title to be decreased to about 15px or `margin-bottom: 1.5rem;` just like the `lesson-function` card at the very bottom of the page
<img width

[2017-09-04 09:11] #712 closed

[2017-09-04 13:25] chari407 commented on #720
I shall work on this. Thank you.

[2017-09-04 13:46] KevinMulhern commented on #720
Thanks @chari407 😄  I look forward to your pull request.

[2017-09-04 23:48] arun1595 commented on #662
@KevinMulhern Ah, it has been a while since I made any progress on this issue. Just letting you know, I am on it :)

[2017-09-06 16:50] #707 closed

[2017-09-06 16:58] KevinMulhern opened #723 "Redesign: Allow a User to Sign up and Login with any Omniauth Provider"
Currently if a user signs up with google and tries to login sign up/ login afterwards with github it will display an error page. This is due to the user email already existing on our system and it invalidates the unique constraint on the email field when a user tries to login with a omniauth provider that has the same email address.

This has the potential to be quite a serious bug once we ship th

[2017-09-06 16:59] KevinMulhern opened #724 "Redesign: Change Course buttons on Dashboard to "Resume" if Course has been Started"
Currently the course buttons on the dashboard page will include the text "Start" even if the user has already started the course.

It would be a nice feature to change the text to "Resume" and for the button to link to the next lesson on the course the user has to complete.

This will require a service object in ruby to determine if a user has started a course and if what lesson they are on in tha

[2017-09-07 07:08] adachiu opened #727 "Redesign: Dashboard badge spacing"
The title is too close to the badge. Let's use the same layout as this [page](https://staging-odin-project.herokuapp.com/courses) where the lesson number is right underneath the title. This would save horizontal space between the badge and the cta button.

**Issues to fix**
- [ ] Move lesson number to right under the title
- [ ] Add vertical spacing between title and lesson 10px

[2017-09-07 07:23] adachiu opened #728 "Redesign: Title spacing on Course detail page"
On course detail pages like this [one](https://staging-odin-project.herokuapp.com/courses/web-development-101), the h1 title is too close to the badge. Let's space it out with margin top 20px. Also update same spacing on media queries for this title under a badge.

**Issues to fix**
- [ ] Add margin top 20px to title
- [ ] Change margin bottom to 4rem
- [ ] Make sure media queries of the title mai

[2017-09-07 10:10] KevinMulhern opened #729 "Redesign: Feature Flag around the Solutions component on the Lesson Page"
The project submission feature will not be ready by the time the redesign is ready to ship. We should add a feature flag that will allow us to easily work on this in development and turn it off in production.

[2017-09-07 12:17] davidchappy commented on #671
@KevinMulhern Here's the process I'm following for proofing lesson content if anyone wants to do something similar:
1. Claim a section (I've got [Rails](https://staging-odin-project.herokuapp.com/courses/ruby-on-rails)).
2. Have a [spell checker](https://chrome.google.com/webstore/detail/spell-checker-for-chrome/jfpdnkkdgghlpdgldicfgnnnkhdfhocg?hl=en) on.
3. Skim content, focusing on grammar/spell

[2017-09-07 13:38] chari407 commented on #720
Why is it that when i start the local host and open the same page as the link provided above, I see that the design varies in both of them??

[2017-09-07 16:08] KevinMulhern commented on #720
Hey @chari407, you'll have to switch to the redesign branch

First fetch all the remote branches
`git fetch --all`

Then switch to the redesign branch
`git checkout redesign`

[2017-09-07 16:09] KevinMulhern commented on #671
I'm on Web Development 101

[2017-09-07 19:17] #729 closed

[2017-09-07 19:19] KevinMulhern opened #731 "Redesign: Make Section Headings Anchor Links"
This task is to turn the headings of sections on the [course page]() anchor links. This will allow us to link to specific sections in lesson content and beyond.

---
### Working on this task

- [ ] If you want to work on this task, please claim it by commenting below
- [ ] Branch off the redesign branch
- [ ] Check out our [styleguide](https://staging-odin-project.herokuapp.com/styleguide)
- [ ] W

[2017-09-07 21:19] I3uckwheat opened #732 "CodeCademy Learn Ruby Broken"
It works alright until the "Re-factor Factory" portion. At this point it becomes impossible to solve. Codecademy will not allow correct code to pass and a person has to run it multiple times to see the solution. Sometimes the solution is the same as what was already typed.

[2017-09-07 23:10] KevinMulhern commented on #732
Thanks for reporting this @I3uckwheat. Lets wait and see if more people get the same problem before we take any further action.

[2017-09-08 00:47] vaughnanton commented on #727
Working on it

[2017-09-08 02:39] vaughnanton commented on #728
On it

[2017-09-08 11:24] chari407 commented on #720
Thank you @KevinMulhern

[2017-09-08 14:06] mindovermiles262 commented on #731
I'll do this.

@KevinMulhern  > The link is broken but I assume this is just adding ID tags to the section headings inside each course? So that we can use url searching for the course sections

[2017-09-08 16:39] KevinMulhern commented on #731
I think @davidchappy might have picked this up @mindovermiles262

[2017-09-08 22:24] davidchappy commented on #731
@mindovermiles262 can take it, no problem, thanks @KevinMulhern

[2017-09-09 17:03] KevinMulhern commented on #731
Thanks @davidchappy

[2017-09-10 00:58] #724 closed

[2017-09-10 00:58] #723 closed

[2017-09-10 02:54] KevinMulhern commented on #720
Hey @chari407 have you made any progress on this one? or do you need any help with anything?

[2017-09-10 03:46] chari407 commented on #720
Thank you @KevinMulhern. But I have actually corrected the spacing. I just have a merge conflict. I shall let you know  if I need any help. I shall get back to you once it is done.

[2017-09-10 23:33] #731 closed

[2017-09-10 23:46] #727 closed

[2017-09-14 09:25] KevinMulhern commented on #728
I've got this

[2017-09-15 04:56] chari407 commented on #720
Hi @KevinMulhern .. I am no long working on this. Sorry for the trouble caused. I do not want to delay it further.

[2017-09-15 09:52] KevinMulhern commented on #720
Thanks for letting us know @chari407

[2017-09-15 09:56] 105ron commented on #720
Maybe I could step in and do it this weekend?

[2017-09-15 09:58] KevinMulhern commented on #720
Thanks @105ron 😄

[2017-09-15 21:21] KevinMulhern commented on #732
No other reports on this, but I'll keep an eye on it. Thanks again for reporting it @I3uckwheat

[2017-09-15 21:21] #732 closed

[2017-09-15 21:23] KevinMulhern opened #744 "Redesign: Help us to decide how we should show a course has been completed"
We thought we would do a bit of a/b testing on this feature. We have two different designs for this at the moment, these are shown in the comments below.

Vote on the one you like best by reacting to the comment that contains it with a 👍

[2017-09-15 21:23] KevinMulhern commented on #744
<img width="734" alt="screen-shot-2017-09-14-at-3 21 58-pm" src="https://user-images.githubusercontent.com/7963776/30504028-875a96ae-9a64-11e7-8f6c-87b1d7cf0414.png">

[2017-09-15 21:23] KevinMulhern commented on #744
<img width="882" alt="screen shot 2017-09-15 at 22 19 32" src="https://user-images.githubusercontent.com/7963776/30504036-8d52c068-9a64-11e7-8256-c97ed0d0ab74.png">

[2017-09-15 21:25] JonathanYiv commented on #744
The first one by far

[2017-09-15 21:27] Deetss commented on #744
The first one looks way better

[2017-09-15 21:31] KevinMulhern commented on #744
@JonathanYiv @Deetss can you react to it with a 👍 please 😄

[2017-09-15 22:21] AchillesTurtle commented on #744
First one :+1:

[2017-09-16 03:48] I3uckwheat commented on #744
I concurr, the first one is much more attractive

[2017-09-16 17:12] KevinMulhern commented on #744
Thanks everyone, this was pretty conclusive 😄

[2017-09-16 17:13] #744 closed

[2017-09-16 17:58] JonathanYiv commented on #671
I got Introduction to Web Development.
One question: What is seeds.rb?

[2017-09-16 18:05] KevinMulhern commented on #671
Hey @JonathanYiv, intro to web dev won't be included in the re-designed site. We decided it was best to get users into the thick of the action sooner in web dev 101.

`Seeds.rb` is where the courses, sections and lessons are created in the db. After running the seed file the content for lessons are imported from github.

[2017-09-16 18:10] JonathanYiv commented on #671
Ah, I see, so he was referring to that to ensure the description also is free of error. Thanks.

and wow, a whole section gone

[2017-09-16 18:31] JonathanYiv commented on #671
Also got HTML5 and CSS3

[2017-09-16 19:40] JonathanYiv commented on #671
The Javascript section had links that were dead since 2015.. yikes

[2017-09-17 04:59] 105ron commented on #728
@KevinMulhern how are you going with this?

[2017-09-17 19:34] KevinMulhern commented on #728
@105ron yeah I just did in this one https://github.com/TheOdinProject/theodinproject/pull/748

[2017-09-17 19:44] #728 closed

[2017-09-18 10:32] #720 closed

[2017-09-22 06:52] adachiu opened #754 "Redesign: Badge update"
On the dashboard, curriculum and lesson pages, the hover state of the badge shows the interior circle badge. We want to replace that svg with a borderless circle badge.

Keep in mind that we want to maintain the current badge style if the course has not been started yet. In other words, if the course has no progress indicator, then the badge will look the way it is now, like this:
<img width="237"

[2017-09-22 07:13] KevinMulhern commented on #754
I've got this

[2017-09-23 10:24] kawaqui opened #755 "time feature - Estimated time for every course"
It will be good to have an estimated time required to complete every step or part.

[2017-09-23 13:32] codyloyd commented on #755
we've discussed this feature quite a lot actually... our decision is that it is likely do to more harm than good.   Because of the very flexible nature of our program the time to complete a lesson can be wildly different for each person.  Having estimated times can cause people to feel bad about their progress, or rush through a lesson to meet a time goal and miss something important.

[2017-09-23 16:08] #755 closed

[2017-09-28 11:21] #754 closed

[2017-09-28 11:23] KevinMulhern opened #757 "Redesign: Viking Advert"
Code up the viking advert at the bottom of a lesson page

https://app.zeplin.io/project/58bbdbec2bc49549b37cfe0a/screen/59cca1e21c1734e3d2f94905

[2017-09-28 11:23] KevinMulhern commented on #757
I'm on this

[2017-09-28 13:36] JonathanYiv commented on #671
Would you like me to parse WD101 to help reduce your load?

[2017-09-28 14:29] KevinMulhern commented on #671
Hey @JonathanYiv, If you don't mind I would be very grateful 😄

[2017-09-28 19:26] JonathanYiv commented on #671
Done. What do you mean by "Format h4s?"

[2017-09-29 09:32] KevinMulhern commented on #671
ahh don't worry about that part, we need a proper plan for what we are going to do with the lesson content typography and hierarchy. @adachiu is working on that. Just do what you did with the javascript course 😄

[2017-09-29 14:00] #757 closed

[2017-09-29 14:01] KevinMulhern commented on #671
I'm going to close this and make a more appropriate issue for it the typography.

[2017-09-29 14:01] #671 closed

[2017-09-29 14:04] KevinMulhern opened #760 "Redesign: Identify any Issues with Lesson Content Typography"
We haven't properly reviewed the typography and visual hierarchy of the content on lesson pages yet. As this is the page users will spend most time on it would be worth having a proper look at this before we ship.